.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ffffff;
  justify-self: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #c8c7c1;
}
.rootselected {
  background: #7444bcb3;
  border-width: 0px;
}
.rootselectedLine {
  border-color: var(--token-55cSeNPovQFh);
}
.rootdisable {
  background: var(--token-7kGpohB21SKn);
}
.rootstyle2_line {
  border-width: 0px;
}
.rootstyle2_grayBackgerand {
  background: var(--token-Y4frplZPI0IJ);
  border-style: none;
}
.rootsize_mini {
  padding: 4px;
}
.rootchoise {
  background: var(--token-RfhqiwT2YAVo);
  border-radius: 50px;
  border-color: var(--token-ODBUExjR6VEF);
}
.rooticon {
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.rootstyle3_circle {
  padding-right: var(--token-B5WvIYiqPJW-);
  padding-left: var(--token-B5WvIYiqPJW-);
  border-radius: 10rem;
}
.rootcolor_light_selected {
  background: var(--token-xZSjH46lB6C3);
}
.rootstyle2_lineligt_selected {
  background: var(--token-lIvc0WM5-V4N);
  border-width: 1px;
  border-color: var(--token-55cSeNPovQFh);
}
.rootchoise_selected {
  background: var(--token-qvl81LxkOSoe);
  border-width: 1px;
  border-style: solid;
}
.rootstyle2_lineligt_icon {
  box-shadow: none;
  border-color: var(--token-Y4frplZPI0IJ);
}
.rootstyle2_grayBackgerand_color_light_selected {
  background: var(--token-IlR0iqdnKI_m);
}
.text {
  position: absolute;
  width: 100px;
  height: auto;
  max-width: 100%;
  background: var(--token-SX03PBUzWAqr);
  color: var(--token-R_Rsn0nP9oIv);
  text-align: center;
  box-shadow: 0px 4px 16px 0px #ffffff;
  left: -38px;
  top: 4px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
  font-size: 8px;
  font-weight: 700;
  flex-shrink: 0;
  display: none;
  padding: 2px;
}
.textcomingSoon {
  display: block;
}
.texticon {
  left: 0px;
  top: 0px;
}
.svg__fC0D {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox {
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
}
.slotTargetChildren {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  white-space: pre;
}
.slotTargetChildrenselected {
  color: var(--token-jgohepLVeKvh);
}
.slotTargetChildrensize_mini {
  font-size: 12px;
}
.slotTargetChildrencolor_light_selected {
  color: var(--token-SX03PBUzWAqr);
}
.slotTargetChildrenstyle2_lineligt_selected {
  color: #535353;
}
.slotTargetChildrenchoise_selected {
  color: var(--token-R_Rsn0nP9oIv);
}
.slotTargetChildrenstyle2_grayBackgerand_color_light_selected {
  color: var(--token-dqshVX6SoHxS);
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-47ovROB-Xr2C);
  width: 20px;
  height: 20px;
  align-self: flex-start;
  flex-shrink: 0;
  display: none;
}
.svgpair {
  display: block;
}
