.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootdark {
  background: #0f0f0f;
}
.rootdark > * {
  grid-column: 4;
}
.freeBox__aduac {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 8px;
  margin: 0px 0px 16px;
}
@media (max-width: 640px) {
  .freeBox__aduac {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.embedHtml__rhICy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml__oh58:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oiLid {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px 16px;
}
.freeBoxdark__oiLido7WO5 {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__rdAul {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  padding: 0px 8px;
}
.img {
  object-fit: fill;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: fill;
}
.text__ojFkT {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-BIuTS8zmWD0f);
  white-space: pre-wrap;
  min-height: 0;
  padding: 8px 8px 0px 16px;
}
.textdark__ojFkTo7WO5 {
  color: var(--token-BIuTS8zmWD0f);
}
.freeBox__q8Yu1 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  background: #ffffff;
  display: none;
  padding: 0px 16px;
}
.freeBoxdark__q8Yu1O7WO5 {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox___4UjF0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-SX03PBUzWAqr);
  border-radius: 8px;
  padding: 0px;
}
.text__tIv0U {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  color: var(--token-jgohepLVeKvh);
  padding: 8px;
}
.textdark__tIv0UO7WO5 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__nvnkN {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 16px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__nvnkN {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 12px;
  }
}
.freeBox__wBedM {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
.freeBoxdark__wBedMo7WO5 {
  background: var(--token-w7oYmzqeGvkw);
}
.text__oas3M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.textdark__oas3Mo7WO5 {
  color: #ffffff;
}
.text__spUu5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: 500;
  min-width: 0;
}
.textdark__spUu5O7WO5 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__zJudz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.dateOfBirthBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___43DiE {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px;
}
.text__wbUJa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  min-width: 0;
}
.textdark__wbUJaO7WO5 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox___6CuU {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.lastTimeBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__nYz3Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  color: var(--token-DFwge94Hey3F);
  padding-top: 2px;
  min-width: 0;
}
.textdark__nYz3Qo7WO5 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox___49BnM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px;
}
.text__naoVt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  min-width: 0;
}
.textdark__naoVtO7WO5 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__vmKxn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.lastTimeBox3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qpfJr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__g6Vq5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 8px;
}
.text__iTRqe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  min-width: 0;
}
.textdark__iTRqeO7WO5 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__znoYo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.lastTimeBox2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__tkulK {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 0px;
  margin: 0px;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px;
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__yIw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__yIw {
    max-width: 100%;
  }
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__gu5Ot {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__qe24J {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.getUserInfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__x3LcX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__fg5J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.pickers:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___2O0J {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox___2O0J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2O0J > :global(.__wab_flex-container) > *,
.freeBox___2O0J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2O0J > :global(.__wab_flex-container) > picture > img,
.freeBox___2O0J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__gqIyk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__uxszV {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__k3YL1 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__kqh1U {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__owU6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.pickers2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__af8Y7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__af8Y7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__af8Y7 > :global(.__wab_flex-container) > *,
.freeBox__af8Y7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__af8Y7 > :global(.__wab_flex-container) > picture > img,
.freeBox__af8Y7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__vOQ6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__oV8NH {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__pEi23 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text___7Mgi7 {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__rnd5N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.freeBox__puGw5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__woo76 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  text-decoration-line: underline;
  color: var(--token-DFwge94Hey3F);
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
}
.datePickers2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #000000;
  height: 250px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__yLj8E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-left: 16px;
  min-width: 0;
}
.svg__hsD64 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lE6Tb {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__yu63C {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__xW3D {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.dialog4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__hPdI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.freeBox__t3Rdj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.datePickers3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #000000;
  height: 250px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__uzYEx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-left: 16px;
  min-width: 0;
}
.svg__ijBNz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__f6WMp {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__e9Rhy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__kLyCw {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
