.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.rootpostType_video {
  padding: 16px 16px 8px;
}
.rootpostType_image {
  max-width: 100em;
}
.text__nhmSs {
  width: 100%;
  height: auto;
  max-width: 100%;
  outline-style: none;
  box-shadow: none;
  outline-color: var(--token--AiIiH6B786R);
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  padding: 4px 16px;
}
.text__rkw2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  color: var(--token-ODBUExjR6VEF);
  position: relative;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__eUk9V {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxpostType_video__eUk9VpFlEv {
  display: flex;
}
.firstFreamOfVideo {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  display: none !important;
  border-radius: 8px;
}
.firstFreamOfVideo > picture > img {
  object-fit: cover;
}
.firstFreamOfVideopostType_video {
  display: block !important;
}
.freeBox__r7DUg {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  display: none;
  padding: 8px;
}
.freeBoxpostType_image__r7DUg2TCWu {
  display: flex;
}
.image {
  object-fit: cover;
  max-width: 100%;
  display: none !important;
  border-radius: 8px;
}
.image > picture > img {
  object-fit: cover;
}
.imagepostType_image {
  display: block !important;
}
.freeBox__fbVqi {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.freeBoxpostType_voise__fbVqiVlsyu {
  display: flex;
}
.freeBox__jhH8 {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBoxpostType_voise__jhH8Vlsyu {
  display: flex;
}
.freeBox__kj9Wr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 31px 8px 8px;
}
.freeBox__lcehn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: var(--token-3dazbAYR1ZtY);
  flex-shrink: 0;
  border-radius: 50%;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 31px;
  color: var(--token--AiIiH6B786R);
  flex-shrink: 0;
}
