.dialog3:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.pcls_1PCLAvG9ExMY {
  background: var(--token-Le07ngBUPl2h);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  z-index: 1000;
  outline: none;
}
@media (max-width: 640px) {
  .pcls_Drp69ItlDbPm {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
  }
}
.button3:global(.__wab_instance) {
  display: none;
}
.svg__apoxf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__upx3Z {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: rgb(255, 255, 255);
  width: auto;
  max-width: 600px;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 600px;
  max-height: 100%;
  overflow: auto;
  align-self: center;
  z-index: 1;
  right: auto;
  bottom: auto;
  border-radius: 8px;
  padding: var(--token-B5WvIYiqPJW-);
  border: 1px solid #e2e8f0;
}
@media (max-width: 640px) {
  .dialogContent:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
    border-radius: 16px 16px 0px 0px;
  }
}
.dialogTitle__pDxSr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6Y6Yw {
  display: none;
}
.freeBox__h7SWx {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  padding: var(--token-O5TjkXII_aat);
}
.freeBox__hbHmY {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 8px;
  row-gap: var(--token-uOLZE7OyOW-J);
  padding-bottom: var(--token-uOLZE7OyOW-J);
  padding-top: 0px;
  min-width: 0;
}
.freeBox__mgQm3 {
  animation: none;
  width: 100px;
  height: 6px;
  max-width: 100%;
  background: var(--token-y50Rafqey4Ec);
  flex-shrink: 0;
  display: none;
  border-radius: 100px;
  padding: 2px;
}
.dialogTitle__qhn0N:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  margin: 0px;
}
.h5 {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  min-width: 0;
}
.text__x5JtE {
  animation: none;
  font-size: var(--token-cunRwTCjQp3O);
  font-weight: 700;
  font-style: normal;
  color: var(--token-g4c3GPshSjp1);
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "Roboto", sans-serif;
}
.radio:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 0px;
  opacity: 0;
  flex-shrink: 0;
}
.freeBox__doG54 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--token-uOLZE7OyOW-J);
  row-gap: var(--token-s1TaIRhT4ThU);
  min-width: 0;
  padding: 0px;
}
.freeBox__dj26N {
  animation: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  max-width: 100%;
  max-height: 100%;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 42px;
  background: #f5f5f5;
  padding-left: var(--token-1KusGK5GePTh);
  font-size: var(--token-Wa5tmrNKVUYF);
  min-width: 0;
  flex-shrink: 0;
}
.svg__upiWq {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  position: absolute;
  left: var(--token-O5TjkXII_aat);
  top: var(--token-O5TjkXII_aat);
  color: var(--token--AiIiH6B786R);
  flex-shrink: 0;
}
.text__cvzTs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-IdKt2w2aRFZS);
  padding-right: var(--token-O5TjkXII_aat);
  line-height: 1.5;
  min-width: 0;
}
.text___3Hv7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-DFwge94Hey3F);
  padding-right: var(--token-O5TjkXII_aat);
  line-height: 1.5;
  font-weight: 500;
  min-width: 0;
}
.radioGroupLiom:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: auto;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: var(--token-1KusGK5GePTh);
  min-width: 0;
}
.svg__o4Xze {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yDfxd {
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
}
.svg__jPQb {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
