.root {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__jcaHo {
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0px;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-B5WvIYiqPJW-);
}
.freeBox__jlkcL {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 0px 70px 0px 0px;
}
.text__i6GdK {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  min-width: 0;
}
.text__aBdco {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__b6Q1G {
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: auto;
  width: 100%;
  flex-direction: row;
  display: flex;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.freeBox___2LX6W {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 4;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text___6Or0Y {
  width: 60px;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-cunRwTCjQp3O);
  font-weight: 900;
  color: var(--token--AiIiH6B786R);
  border-left-width: 1px;
  border-left-style: solid;
  flex-shrink: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__udBSs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.ariaRangeSlider:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--token-ODBUExjR6VEF);
  font-family: var(--token-2lDfJHYaD05G);
  font-size: var(--token-LMEbRDTg0Iix);
  line-height: var(--token-MZ4KWwVSoShs);
  min-width: 200px;
  row-gap: var(--token-IGCvYUvm1NWs);
}
.freeBox__mvuHw {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: flex-end;
  column-gap: var(--token-ZvaN7zB_BbvY);
  align-items: flex-start;
}
.text__noJuT {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 400;
  margin-bottom: -8px;
  margin-left: 2px;
  min-width: 0;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  display: none;
}
.ariaSliderOutput:global(.__wab_instance) {
  text-align: center;
  width: 100%;
  min-width: 0;
}
.text__btlKn {
  position: relative;
}
.freeBox___9DVrC {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-3VFsPoJwdkXP);
  padding-bottom: var(--token-3VFsPoJwdkXP);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-Y4frplZPI0IJ);
  height: var(--token-B5WvIYiqPJW-);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-B5WvIYiqPJW-);
  width: 100%;
  min-width: 0;
}
.sliderThumb__pFejx:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-F1vFjKNmAS8s);
  display: none;
}
.foreground {
  display: block;
  background: var(--token-4RAe7M2gInqR);
  height: var(--token-B5WvIYiqPJW-);
  border-radius: 100px;
}
.freeBox__bhgoj {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 0;
}
.slotTargetChildren {
  font-size: var(--token-ZuffvoxgS-gS);
  color: var(--token-R_Rsn0nP9oIv);
  text-align: center;
}
.svg___2UTb9 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox___3Rqoi {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  left: -8px;
  top: -28px;
  display: flex;
  flex-direction: row;
}
.text__eVDuM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 400;
  white-space: pre;
}
.freeBox___9Cyu {
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: -28px;
  right: 0px;
  bottom: 0;
  display: flex;
  flex-direction: row;
  min-height: 0;
}
.text__lwqDc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 400;
  white-space: pre;
}
.text__v5PS {
  position: absolute;
  width: 40px;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 16px;
  right: 0;
  text-align: center;
  background: var(--token-RvPI6LyeIPmd);
  color: var(--token-R_Rsn0nP9oIv);
  flex-shrink: 0;
  display: none;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-O5TjkXII_aat);
}
.text__dHga4 {
  position: absolute;
  width: 40px;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 16px;
  text-align: center;
  background: var(--token-RvPI6LyeIPmd);
  color: var(--token-R_Rsn0nP9oIv);
  flex-shrink: 0;
  display: none;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-O5TjkXII_aat);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__aO0Z8 {
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__oh7UM {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 400;
  white-space: pre;
  align-self: flex-start;
  position: relative;
  display: none;
}
.freeBox__wGtJj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-UJjVC8bVZisx);
  overflow: auto;
  min-width: 0;
  border-radius: 500px;
  padding: 0px;
}
.tabWeek2:global(.__wab_instance) {
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0px;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 5;
  position: relative;
  right: auto;
}
@media (max-width: 640px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__zjJik {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.text__c0TCm {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.backHandler:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
