.root {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  border-radius: 8px;
  padding: 8px;
}
.rootselected {
  background: var(--token-RfhqiwT2YAVo);
  border: 1px solid var(--token-SX03PBUzWAqr);
}
.text__cIwtp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #8f8f8f;
  min-width: 0;
}
.textselected__cIwtPpVhC {
  color: var(--token-SX03PBUzWAqr);
}
.text__eo2BK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.textselected__eo2BKpVhC {
  color: var(--token-SX03PBUzWAqr);
}
