.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  margin-bottom: 0px;
  flex-shrink: 0;
}
.svgclick {
  color: var(--token-ADrp2mfNmuLA);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
