.root {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  justify-self: flex-start;
  background: transparent;
  opacity: 1;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  transform: skew(0deg, 0deg);
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  -webkit-transition-property: background;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.rootclick {
  opacity: 1;
  background: #00000033;
  transform: skew(0deg, 0deg);
  height: 100%;
  min-height: 0;
}
@media (max-width: 640px) {
  .rootclick {
    height: 100%;
    min-height: 0;
  }
}
.freeBox__kd9A {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0px;
  max-width: 100%;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
.freeBoxclick__kd9A6HzP8 {
  left: auto;
  bottom: -2px;
  right: auto;
  z-index: 2000;
  justify-content: center;
  align-items: flex-end;
  height: auto;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBoxclick__kd9A6HzP8 {
    height: auto;
    padding: 0px;
  }
}
.freeBox__oeonh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  height: 0px;
  max-width: 100%;
  background: #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition-property: all;
  transition-duration: 0.6s;
  transform: translate3d(0px, 1000px, 0px);
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.6s;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__oeonh {
    width: 100%;
    min-width: 0;
  }
}
.freeBoxclick__oeonh6HzP8 {
  transform: translate3d(0%, 0px, 0px);
  height: auto;
  border-top-left-radius: var(--token-VmvIyNmCXbhh);
  border-top-right-radius: var(--token-VmvIyNmCXbhh);
  width: 60%;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBoxclick__oeonh6HzP8 {
    width: 100%;
    min-width: 0;
  }
}
.freeBoxdark2__oeonhAfN4I {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__nuZnL {
  display: block;
  position: relative;
  width: 100px;
  height: 10px;
  max-width: 100%;
  background: #0000001a;
  z-index: 8;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.freeBoxclick__nuZnL6HzP8 {
  display: none;
}
.freeBox__jFopY {
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 0px;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #ffffff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transform: translate3d(0px, 1000px, 0px);
  display: none;
  padding: 8px;
}
.freeBoxclick__jFopY6HzP8 {
  transform: none;
  height: 100%;
  background: none;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  min-width: 0;
  min-height: 0;
  display: flex;
}
@media (max-width: 640px) {
  .freeBoxclick__jFopY6HzP8 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
