.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: -1px;
  top: 0px;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__lk0Po {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 35px;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox__lk0Po > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__lk0Po > :global(.__wab_flex-container) > *,
.freeBox__lk0Po > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lk0Po > :global(.__wab_flex-container) > picture > img,
.freeBox__lk0Po
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg___38SB {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.text__pwMTd {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kx2XM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 70px 12px 12px;
}
.freeBox__kx2XM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kx2XM > :global(.__wab_flex-container) > *,
.freeBox__kx2XM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kx2XM > :global(.__wab_flex-container) > picture > img,
.freeBox__kx2XM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .freeBox__kx2XM {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 640px) {
  .freeBox__kx2XM > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 640px) {
  .freeBox__kx2XM > :global(.__wab_flex-container) > *,
  .freeBox__kx2XM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kx2XM > :global(.__wab_flex-container) > picture > img,
  .freeBox__kx2XM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox___3X5Jg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  border-radius: 8px;
  padding: 12px;
}
.freeBox___3X5Jg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___3X5Jg > :global(.__wab_flex-container) > *,
.freeBox___3X5Jg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3X5Jg > :global(.__wab_flex-container) > picture > img,
.freeBox___3X5Jg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__oLf3O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  min-width: 0;
}
.text__jgKlc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 13px;
  font-weight: 300;
  min-width: 0;
}
.freeBox___287Jm {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___287Jm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___287Jm > :global(.__wab_flex-container) > *,
.freeBox___287Jm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___287Jm > :global(.__wab_flex-container) > picture > img,
.freeBox___287Jm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__tWtFz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__hPoPr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hPoPr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__hPoPr > :global(.__wab_flex-container) > *,
.freeBox__hPoPr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hPoPr > :global(.__wab_flex-container) > picture > img,
.freeBox__hPoPr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__cpri5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cpri5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__cpri5 > :global(.__wab_flex-container) > *,
.freeBox__cpri5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cpri5 > :global(.__wab_flex-container) > picture > img,
.freeBox__cpri5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text___5QiXm {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
}
.freeBox__psDKc {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: #b3489b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.text__zvx9O {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  color: var(--token-R_Rsn0nP9oIv);
  font-size: 8px;
  min-width: 0;
  min-height: 0;
  padding: 2px 4px;
}
.freeBox__gmSiT {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.svg__zaolf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DUPkVtvXeJJo);
  height: 1em;
  flex-shrink: 0;
}
.text___9CtX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  min-width: 0;
}
.svg__zVZh {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 12px;
  min-width: 0;
}
@media (max-width: 640px) {
  .embedHtml:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__uhkhD {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 64px 12px 12px;
}
.freeBox__uhkhD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__uhkhD > :global(.__wab_flex-container) > *,
.freeBox__uhkhD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uhkhD > :global(.__wab_flex-container) > picture > img,
.freeBox__uhkhD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .freeBox__uhkhD {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 640px) {
  .freeBox__uhkhD > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 640px) {
  .freeBox__uhkhD > :global(.__wab_flex-container) > *,
  .freeBox__uhkhD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uhkhD > :global(.__wab_flex-container) > picture > img,
  .freeBox__uhkhD
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__zgUi9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__zgUi9 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zgUi9 > :global(.__wab_flex-container) > *,
.freeBox__zgUi9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zgUi9 > :global(.__wab_flex-container) > picture > img,
.freeBox__zgUi9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__rPsS {
  display: flex;
  width: 100%;
  height: 150px;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__lAmHm {
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__lsFhD {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__aasOz {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___3Hacn {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__rmagM {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__g33Cp {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__g33Cp > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-1KusGK5GePTh));
  height: calc(100% + var(--token-1KusGK5GePTh));
}
.freeBox__g33Cp > :global(.__wab_flex-container) > *,
.freeBox__g33Cp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g33Cp > :global(.__wab_flex-container) > picture > img,
.freeBox__g33Cp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-1KusGK5GePTh);
}
@media (max-width: 640px) {
  .freeBox__g33Cp > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 640px) {
  .freeBox__g33Cp > :global(.__wab_flex-container) > *,
  .freeBox__g33Cp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__g33Cp > :global(.__wab_flex-container) > picture > img,
  .freeBox__g33Cp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__wxpon {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__rDwC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-55cSeNPovQFh);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 50%;
}
@media (max-width: 640px) {
  .button2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__cuBe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5DIgs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-55cSeNPovQFh);
}
.text__y7Xfb {
  font-size: 16px;
}
.directDialog2:global(.__wab_instance) {
  max-width: 100%;
}
