.dialog3:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.pcls_EC19SQwcw0gC {
  background: var(--token-Le07ngBUPl2h);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  outline: none;
}
@media (max-width: 640px) {
  .pcls_bZzNkodALmFA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
  }
}
.button3:global(.__wab_instance) {
  display: none;
}
.svg__uoRku {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0KCe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: none;
  width: auto;
  max-width: 600px;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 600px;
  max-height: 100%;
  align-self: center;
  z-index: 1;
  right: auto;
  bottom: auto;
  border-radius: 8px;
  padding: 0px;
}
@media (max-width: 640px) {
  .dialogContent:global(.__wab_instance) {
    min-width: 85vw;
    max-width: 85vw;
    align-self: center;
    left: auto;
    top: auto;
    position: relative;
    right: auto;
    bottom: auto;
    background: none;
    border-radius: 16px;
    padding: 0px;
  }
}
.dialogContentfullpage:global(.__wab_instance) {
  min-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: var(--token-R_Rsn0nP9oIv);
  border-radius: 0px;
  padding: 0px;
}
.dialogTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__woh4D {
  display: none;
}
.freeBox__a5Xp6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-1KusGK5GePTh);
  min-width: 0;
  border-radius: var(--token-uOLZE7OyOW-J);
  padding: var(--token-B5WvIYiqPJW-);
}
.text__nMyeR {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-cunRwTCjQp3O);
  font-weight: 700;
  min-width: 0;
}
.text___0LcNi {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 400;
  color: #535353;
}
.load:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition-property: all;
  transition-duration: 1s;
  z-index: 3;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__rw4L9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-uOLZE7OyOW-J);
  min-width: 0;
  padding: 0px;
}
.freeBox__juwHw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-uOLZE7OyOW-J);
}
.text__xdOf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535353;
  font-weight: 500;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.freeBox__z84Qi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-O5TjkXII_aat);
}
.text__ycUFb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535353;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 500;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  opacity: 0.7;
  object-fit: cover;
  width: auto;
  left: 16px;
  border-radius: 999px;
}
@media (max-width: 640px) {
  .dialogClose:global(.__wab_instance) {
    display: none;
  }
}
.svg__ugxO0 {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  height: 1em;
}
