.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  border-radius: 8px;
  padding: 15px 10px;
  border: 1px solid #818181b5;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 5px;
}
.rootclick {
  border-width: 2px;
  border-color: #8254c6;
}
.text__mc1I3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: right;
  font-weight: 600;
  font-size: var(--token-2xQ-Ews6Hwx4);
}
@media (max-width: 640px) {
  .text__mc1I3 {
    width: auto;
  }
}
.textclick__mc1I3Rb9KL {
  width: auto;
}
.text__a63Et {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: flex-end;
  left: auto;
  top: auto;
  z-index: 1;
  text-decoration-line: line-through;
  padding-left: 5px;
}
.text__xfSxq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: var(--token-2xQ-Ews6Hwx4);
  left: auto;
  top: auto;
  z-index: 1;
  align-self: baseline;
}
.textclick__xfSxqRb9KL {
  text-align: left;
}
.freeBox {
  display: flex;
  position: sticky;
  width: 30px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 2px;
}
.text___68LQd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  min-width: 0;
}
