.footer {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  justify-self: flex-start;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.footer > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .footer {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
@media (max-width: 640px) {
  .footer > * {
    grid-column: 4;
  }
}
.footerfooter2_calendar > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .footerfooter2_calendar > * {
    grid-column: 4;
  }
}
.footerfooter2_self > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .footerfooter2_self > * {
    grid-column: 4;
  }
}
.footerfooter2_hamyar > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .footerfooter2_hamyar > * {
    grid-column: 4;
  }
}
.footerfooter2_bot > * {
  grid-column: 4;
}
.footerfooter2_reminder > * {
  grid-column: 4;
}
.footerhamyar > * {
  grid-column: 4;
}
.footerhamyar_footer2_hamyar > * {
  grid-column: 4;
}
.footerhamyar_footer2_reminder > * {
  grid-column: 4;
}
.freeBox__ijEra {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__ijEra {
    z-index: 10;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__vbOad {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 5px 5px #0000000d;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 10px 20px;
}
@media (max-width: 640px) {
  .freeBox__vbOad {
    padding-top: 5px;
    padding-bottom: 5px;
    column-gap: 8px;
    row-gap: 0px;
  }
}
.freeBox__i6PSp {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  display: none;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__i6PSp {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    cursor: pointer;
    flex-direction: column;
    column-gap: 0px;
    min-width: 0;
    border-radius: 50px;
    padding: 5px;
  }
}
.freeBoxfooter2_hamyar__i6PSPcU6G5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8254c61a;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBoxfooter2_hamyar__i6PSPcU6G5 {
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #8254c61a;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 50px;
    padding: 5px;
  }
}
.freeBoxhamyar__i6PSpiriP {
  display: flex;
}
.svg__ldrta {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AwpLXbw5AmtS);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__ldrta {
    width: 25px;
    height: 20px;
    flex-shrink: 0;
  }
}
.svgfooter2_hamyar__ldrtAcU6G5 {
  color: var(--token-SX03PBUzWAqr);
}
.text___0XkYn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___0XkYn {
    align-self: center;
    font-size: 12px;
  }
}
.textfooter2_hamyar___0XkYNcU6G5 {
  color: var(--token-_ZJXI4jrgWEl);
  font-weight: 700;
}
.freeBox__s1U6A {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__s1U6A {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    cursor: pointer;
    flex-direction: column;
    column-gap: 0px;
    min-width: 0;
    border-radius: 50px;
    padding: 5px;
  }
}
.freeBoxfooter2_calendar__s1U6A6MXal {
  background: #8254c61a;
}
@media (max-width: 640px) {
  .freeBoxfooter2_self__s1U6AtRqqb {
    background: none;
  }
}
.freeBoxhamyar__s1U6AiriP {
  display: none;
}
.svg__bb57K {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__bb57K {
    width: 25px;
    height: 20px;
    flex-shrink: 0;
  }
}
.svgfooter2_calendar__bb57K6MXal {
  color: var(--token-55cSeNPovQFh);
}
.text__tgp8U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__tgp8U {
    align-self: center;
    font-size: 12px;
  }
}
.textfooter2_calendar__tgp8U6MXal {
  color: var(--token-55cSeNPovQFh);
  font-weight: 700;
}
.freeBox__j5Log {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  align-self: center;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__j5Log {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    cursor: pointer;
    flex-direction: column;
    column-gap: 0px;
    min-width: 0;
    border-radius: 50px;
    padding: 5px;
  }
}
.freeBoxfooter2_hamyar__j5LogcU6G5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBoxfooter2_hamyar__j5LogcU6G5 {
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #8254c61a;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 50px;
    padding: 5px;
  }
}
.freeBoxfooter2_reminder__j5LogqKid7 {
  background: #8254c61a;
}
@media (max-width: 640px) {
  .freeBoxhamyar_footer2_hamyar__j5LogIriPCU6G5 {
    background: none;
  }
}
.svg__i4AIi {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AwpLXbw5AmtS);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__i4AIi {
    width: 25px;
    height: 20px;
    flex-shrink: 0;
  }
}
.svgfooter2_hamyar__i4AIicU6G5 {
  color: var(--token-AwpLXbw5AmtS);
}
.svgfooter2_reminder__i4AIiqKid7 {
  color: var(--token-qvl81LxkOSoe);
}
.text__lgqVo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__lgqVo {
    align-self: center;
    font-size: 12px;
  }
}
.textfooter2_hamyar__lgqVocU6G5 {
  color: var(--token-AwpLXbw5AmtS);
  font-weight: 400;
}
.textfooter2_reminder__lgqVoqKid7 {
  font-weight: 700;
  color: var(--token-qvl81LxkOSoe);
}
.freeBox__eSfbJ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__eSfbJ {
    background: none;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    cursor: pointer;
    flex-direction: column;
    column-gap: 0px;
    min-width: 0;
    border-radius: 50px;
    padding: 5px;
  }
}
.freeBoxfooter2_calendar__eSfbJ6MXal {
  background: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBoxfooter2_self__eSfbJtRqqb {
    background: none;
  }
}
.freeBoxfooter2_bot__eSfbJ9Lw3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8254c61a;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBoxfooter2_bot__eSfbJ9Lw3 {
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #8254c61a;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    min-width: 0;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__h7Klx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-AwpLXbw5AmtS);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__h7Klx {
    width: 25px;
    height: 20px;
    flex-shrink: 0;
  }
}
.svgfooter2_calendar__h7Klx6MXal {
  color: var(--token-AwpLXbw5AmtS);
  width: 25px;
  height: 25px;
  max-width: 100%;
  flex-shrink: 0;
}
.svgfooter2_bot__h7Klx9Lw3 {
  color: var(--token-SX03PBUzWAqr);
}
.text__egDub {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__egDub {
    align-self: center;
    font-size: 12px;
    width: 100%;
    height: auto;
    max-width: 100%;
    color: var(--token-y50Rafqey4Ec);
    text-align: center;
    min-width: 0;
  }
}
.textfooter2_calendar__egDub6MXal {
  color: var(--token-y50Rafqey4Ec);
  font-weight: 400;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  min-width: 0;
}
.textfooter2_bot__egDub9Lw3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-55cSeNPovQFh);
  text-align: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .textfooter2_bot__egDub9Lw3 {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 12px;
    color: var(--token-55cSeNPovQFh);
    text-align: center;
    font-weight: 700;
    min-width: 0;
  }
}
.freeBox__aa3ND {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__aa3ND {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
  }
}
.freeBoxfooter2_self__aa3NDtRqqb {
  background: #8254c61a;
}
.svg__lj8T3 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__lj8T3 {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text__zvQAq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-TpmbTrq5hCAj);
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__zvQAq {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.textfooter2_self__zvQAqtRqqb {
  color: var(--token-55cSeNPovQFh);
  font-weight: 700;
}
