.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f7;
  grid-row-gap: 20px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__sqPeN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #7444bc1a;
  margin-top: 24px;
  box-shadow: 0px 4px 10px 0px #0000001a;
  z-index: 2;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #7444bc26;
}
.freeBox__sqPeN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__sqPeN > :global(.__wab_flex-container) > *,
.freeBox__sqPeN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sqPeN > :global(.__wab_flex-container) > picture > img,
.freeBox__sqPeN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 5px;
}
@media (max-width: 640px) {
  .freeBox__sqPeN {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px 0px #0000001a;
    background: #7444bc1a;
    border: 1px solid #7444bc26;
  }
}
@media (max-width: 640px) {
  .freeBox__sqPeN > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (max-width: 640px) {
  .freeBox__sqPeN > :global(.__wab_flex-container) > *,
  .freeBox__sqPeN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__sqPeN > :global(.__wab_flex-container) > picture > img,
  .freeBox__sqPeN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.text__u4Xvm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__u4Xvm {
    font-size: 18px;
  }
}
.text__cVuPl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__cVuPl {
    font-size: 13px;
  }
}
.freeBox__wwFPi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 2;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__wwFPi {
    margin-top: 0px;
    align-items: center;
    justify-content: center;
  }
}
.freeBox__fs7Iu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #0000001f;
  z-index: 2;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox__fs7Iu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__fs7Iu > :global(.__wab_flex-container) > *,
.freeBox__fs7Iu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fs7Iu > :global(.__wab_flex-container) > picture > img,
.freeBox__fs7Iu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (max-width: 640px) {
  .freeBox__fs7Iu {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px 0px #0000001a;
  }
}
@media (max-width: 640px) {
  .freeBox__fs7Iu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (max-width: 640px) {
  .freeBox__fs7Iu > :global(.__wab_flex-container) > *,
  .freeBox__fs7Iu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fs7Iu > :global(.__wab_flex-container) > picture > img,
  .freeBox__fs7Iu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.freeBox__ufh1Z {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  display: none;
  padding: 8px 8px 0px;
}
@media (max-width: 640px) {
  .freeBox__ufh1Z {
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    display: none;
  }
}
.svg__ix1FM {
  object-fit: cover;
  max-width: 100%;
  color: #00c371;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__ix1FM {
    color: var(--token-4RAe7M2gInqR);
  }
}
.svg__eddtw {
  object-fit: cover;
  max-width: 100%;
  color: #00c371;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__vuErL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (max-width: 640px) {
  .freeBox__vuErL {
    justify-content: center;
    align-items: center;
    padding-top: 8px;
  }
}
.freeBox___60Gba {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 12px;
  padding: 0px;
}
.freeBox__nmThf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__nmThf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__nmThf > :global(.__wab_flex-container) > *,
.freeBox__nmThf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nmThf > :global(.__wab_flex-container) > picture > img,
.freeBox__nmThf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (max-width: 640px) {
  .freeBox__nmThf > :global(.__wab_flex-container) {
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__nmThf > :global(.__wab_flex-container) > *,
  .freeBox__nmThf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nmThf > :global(.__wab_flex-container) > picture > img,
  .freeBox__nmThf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
    margin-top: 0px;
  }
}
.text__d86Cv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-55cSeNPovQFh);
  font-weight: 700;
  font-size: 14px;
  align-self: flex-start;
  padding-top: 0px;
  min-width: 0;
}
.text__fyuNt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-hb610yGAurc2);
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
.text__umNr2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-hb610yGAurc2);
  font-weight: 400;
  font-size: 14px;
  min-width: 0;
}
.foodbox:global(.__wab_instance) {
  position: relative;
}
.freeBox___6K9Wb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 12px;
  padding: 0px;
}
.freeBox__inQdQ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__inQdQ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__inQdQ > :global(.__wab_flex-container) > *,
.freeBox__inQdQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__inQdQ > :global(.__wab_flex-container) > picture > img,
.freeBox__inQdQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (max-width: 640px) {
  .freeBox__inQdQ > :global(.__wab_flex-container) {
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__inQdQ > :global(.__wab_flex-container) > *,
  .freeBox__inQdQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__inQdQ > :global(.__wab_flex-container) > picture > img,
  .freeBox__inQdQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
    margin-top: 0px;
  }
}
.text___9PToh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-55cSeNPovQFh);
  font-weight: 700;
  font-size: 12px;
  align-self: flex-start;
  padding-top: 0px;
  min-width: 0;
}
.text__uI6KM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-hb610yGAurc2);
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__uI6KM {
    font-size: 14px;
    font-weight: 700;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 148px;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  flex-shrink: 0;
}
.modal__modal :global(.ant-modal-content) {
  background: #f7f7f7;
  outline: none;
  border-radius: 0px;
}
@media (max-width: 640px) {
  .modal:global(.__wab_instance) {
    top: -8px;
  }
}
.freeBox__wSTr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__r8Aa9 {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  max-width: 100%;
  padding: 8px;
}
.freeBox__r8Aa9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__r8Aa9 > :global(.__wab_flex-container) > *,
.freeBox__r8Aa9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r8Aa9 > :global(.__wab_flex-container) > picture > img,
.freeBox__r8Aa9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
@media (max-width: 640px) {
  .freeBox__r8Aa9 {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 640px) {
  .freeBox__r8Aa9 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__lWtp7 {
  font-size: 16px;
  font-weight: 700;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox___6D7Rw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  overflow: auto;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox___6D7Rw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox___6D7Rw > :global(.__wab_flex-container) > *,
.freeBox___6D7Rw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6D7Rw > :global(.__wab_flex-container) > picture > img,
.freeBox___6D7Rw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox___6Cza9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.img__ayrAu {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  flex-shrink: 0;
}
.img__ayrAu > picture > img {
  object-fit: cover;
}
.freeBox__kuNex {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.text__glAi3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.text__t1Yjs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  text-align: right;
  min-width: 0;
}
.freeBox___5Rc1A {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___5Rc1A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___5Rc1A > :global(.__wab_flex-container) > *,
.freeBox___5Rc1A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Rc1A > :global(.__wab_flex-container) > picture > img,
.freeBox___5Rc1A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.tick:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__r0KVz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__r0KVz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__r0KVz > :global(.__wab_flex-container) > *,
.freeBox__r0KVz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r0KVz > :global(.__wab_flex-container) > picture > img,
.freeBox__r0KVz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (max-width: 640px) {
  .freeBox__r0KVz {
    height: 100px;
    flex-shrink: 0;
  }
}
.freeBox__oOb4I {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oOb4I > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__oOb4I > :global(.__wab_flex-container) > *,
.freeBox__oOb4I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oOb4I > :global(.__wab_flex-container) > picture > img,
.freeBox__oOb4I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__uTezX {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: #535353;
  min-width: 0;
}
.text__f2Kfg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: var(--token-55cSeNPovQFh);
  text-decoration-line: underline;
  min-width: 0;
}
.freeBox__yGkNi {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: #f7f7f7;
  min-width: 0;
  padding: 8px;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 65%;
}
@media (max-width: 640px) {
  .button4:global(.__wab_instance) {
    width: 85%;
  }
}
.svg__hOiHp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___8ZTjB {
  font-weight: 700;
  font-size: 16px;
}
.svg__zVstd {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 148px;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  flex-shrink: 0;
}
.modal2__modal :global(.ant-modal-content) {
  background: #f7f7f7;
  outline: none;
  border-radius: 0px;
}
@media (max-width: 640px) {
  .modal2:global(.__wab_instance) {
    top: -8px;
    right: 0;
    left: 0;
  }
}
.freeBox__rqDhX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__rqDhX {
    padding: 0px;
  }
}
.freeBox___9Tdc {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100vh;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
.freeBox___9Tdc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___9Tdc > :global(.__wab_flex-container) > *,
.freeBox___9Tdc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Tdc > :global(.__wab_flex-container) > picture > img,
.freeBox___9Tdc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 640px) {
  .freeBox___9Tdc {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .freeBox___9Tdc > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__ru8Pd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #00c3711a;
  margin-top: calc(0px + 20px) !important;
  box-shadow: 0px 4px 10px 0px #0000001a;
  z-index: 2;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid #7444bc26;
}
.freeBox__ru8Pd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__ru8Pd > :global(.__wab_flex-container) > *,
.freeBox__ru8Pd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ru8Pd > :global(.__wab_flex-container) > picture > img,
.freeBox__ru8Pd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 0px;
}
@media (max-width: 640px) {
  .freeBox__ru8Pd {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 10px 0px #0000001a;
    background: #7444bc1a;
    margin-top: calc(0px + 20px) !important;
    border: 1px solid #7444bc26;
  }
}
@media (max-width: 640px) {
  .freeBox__ru8Pd > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (max-width: 640px) {
  .freeBox__ru8Pd > :global(.__wab_flex-container) > *,
  .freeBox__ru8Pd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ru8Pd > :global(.__wab_flex-container) > picture > img,
  .freeBox__ru8Pd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.text__vJwZw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 13px;
  min-width: 0;
}
.freeBox__tisQ2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox__tisQ2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__tisQ2 > :global(.__wab_flex-container) > *,
.freeBox__tisQ2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tisQ2 > :global(.__wab_flex-container) > picture > img,
.freeBox__tisQ2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (max-width: 640px) {
  .freeBox__tisQ2 {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  }
}
.freeBox__sSwYn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ckKt4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
}
@media (max-width: 640px) {
  .text__ckKt4 {
    font-weight: 700;
  }
}
.freeBox__m2Np5 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__m2Np5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__m2Np5 > :global(.__wab_flex-container) > *,
.freeBox__m2Np5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m2Np5 > :global(.__wab_flex-container) > picture > img,
.freeBox__m2Np5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__yDv5M {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--token-WxvvgatuPYoJ);
  font-weight: 400;
}
.text__lsqS3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}
.freeBox__f2I1L {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 15px;
}
.rangeSlider:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.rangeSlider__slider:global(.ant-slider) :global(.ant-slider-track) {
  background: var(--token-55cSeNPovQFh);
  outline: none;
}
.rangeSlider__slider:global(.ant-slider) :global(.ant-slider-handle)::after {
  outline: none;
  border: 3px solid #7444bc80;
}
.sliderMark:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xtOn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__xtOn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__xtOn > :global(.__wab_flex-container) > *,
.freeBox__xtOn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xtOn > :global(.__wab_flex-container) > picture > img,
.freeBox__xtOn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (max-width: 640px) {
  .freeBox__xtOn {
    padding: 0px;
  }
}
.freeBox__nyLx {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  overflow: auto;
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox__nyLx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__nyLx > :global(.__wab_flex-container) > *,
.freeBox__nyLx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nyLx > :global(.__wab_flex-container) > picture > img,
.freeBox__nyLx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (max-width: 640px) {
  .freeBox__nyLx {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  }
}
.freeBox__tTmpc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__x0BgO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__x0BgO {
    font-weight: 700;
  }
}
.freeBox__fsZIb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__fsZIb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__fsZIb > :global(.__wab_flex-container) > *,
.freeBox__fsZIb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fsZIb > :global(.__wab_flex-container) > picture > img,
.freeBox__fsZIb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.input2:global(.__wab_instance) {
  width: 30%;
  max-width: 100%;
  object-fit: cover;
  color: var(--token-55cSeNPovQFh);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 640px) {
  .input2:global(.__wab_instance) {
    width: 80%;
  }
}
.freeBox__xOxgN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  overflow: auto;
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox__xOxgN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__xOxgN > :global(.__wab_flex-container) > *,
.freeBox__xOxgN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xOxgN > :global(.__wab_flex-container) > picture > img,
.freeBox__xOxgN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (max-width: 640px) {
  .freeBox__xOxgN {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  }
}
.freeBox__gkA45 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__cPqPv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__cPqPv {
    font-weight: 700;
  }
}
.freeBox__s9JR3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__s9JR3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__s9JR3 > :global(.__wab_flex-container) > *,
.freeBox__s9JR3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s9JR3 > :global(.__wab_flex-container) > picture > img,
.freeBox__s9JR3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text__zob36 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 14px;
  color: var(--token-WxvvgatuPYoJ);
  font-weight: 400;
}
.input3:global(.__wab_instance) {
  width: 30%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  font-size: 18px;
  color: var(--token-55cSeNPovQFh);
  font-weight: 700;
}
@media (max-width: 640px) {
  .input3:global(.__wab_instance) {
    width: 80%;
  }
}
.freeBox__mDsvr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox__mDsvr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__mDsvr > :global(.__wab_flex-container) > *,
.freeBox__mDsvr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mDsvr > :global(.__wab_flex-container) > picture > img,
.freeBox__mDsvr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 640px) {
  .freeBox__mDsvr {
    padding: 0px;
  }
}
.freeBox__qkf6K {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  overflow: auto;
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox__qkf6K > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__qkf6K > :global(.__wab_flex-container) > *,
.freeBox__qkf6K > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qkf6K > :global(.__wab_flex-container) > picture > img,
.freeBox__qkf6K
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (max-width: 640px) {
  .freeBox__qkf6K {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  }
}
.text___2Q3Mp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.freeBox___65CV {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  min-width: 0;
  padding: 8px;
}
.freeBox__agco {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #fcfcfc;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  border-radius: 12px;
  padding: 8px 8px 0px;
  border-width: 1px;
}
.img__bXhlo {
  object-fit: cover;
  max-width: 100%;
}
.img__bXhlo > picture > img {
  object-fit: cover;
}
.text__fhExW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  min-width: 0;
}
.text__gobsJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 10px;
  min-width: 0;
}
.freeBox___9Gbo9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___9Gbo9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___9Gbo9 > :global(.__wab_flex-container) > *,
.freeBox___9Gbo9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Gbo9 > :global(.__wab_flex-container) > picture > img,
.freeBox___9Gbo9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 640px) {
  .freeBox___9Gbo9 {
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 640px) {
  .freeBox___9Gbo9 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__bd2UI {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__bd2UI > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__bd2UI > :global(.__wab_flex-container) > *,
.freeBox__bd2UI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bd2UI > :global(.__wab_flex-container) > picture > img,
.freeBox__bd2UI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__vwi8Q {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-55cSeNPovQFh);
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__vwi8Q {
    align-self: auto;
  }
}
.text__xTf8 {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .text__xTf8 {
    font-size: 20px;
  }
}
.svg__gfTgZ {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.freeBox___5B5HI {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  overflow: auto;
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox___5B5HI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox___5B5HI > :global(.__wab_flex-container) > *,
.freeBox___5B5HI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5B5HI > :global(.__wab_flex-container) > picture > img,
.freeBox___5B5HI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (max-width: 640px) {
  .freeBox___5B5HI {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  }
}
.freeBox__cZvZu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.text__yb8Jq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.kabed:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.radio___3Kqqv:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___92X8P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__f7XY:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__d6Q4D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nExyZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___1QNzs {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.diabet:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.radio__ubPTw:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__w77AJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.radio__cpLo4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___1PZ2K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__qO5Nu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__v3H6X {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__z27 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__aNCcH {
  display: flex;
  position: sticky;
  width: 90%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
  background: var(--token-55cSeNPovQFh);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: flex-start;
  border-radius: 0px 0px 20px 20px;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__aNCcH {
    width: 90%;
    left: 0%;
    top: 332px;
  }
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 40px;
  height: 40px;
  transition-property: all;
  transition-duration: 1s;
  filter: contrast(200%);
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__eEx1I {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
.freeBox__qTzrp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 10px 0px #0000001f;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
  margin: 0px;
}
.freeBox__qTzrp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__qTzrp > :global(.__wab_flex-container) > *,
.freeBox__qTzrp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qTzrp > :global(.__wab_flex-container) > picture > img,
.freeBox__qTzrp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (max-width: 640px) {
  .freeBox__qTzrp {
    margin-bottom: 50px;
  }
}
.freeBox__oaMby {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.freeBox__eg6B7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.img__bjn8K {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.img__bjn8K > picture > img {
  object-fit: cover;
}
.freeBox__euqVx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 10px 0px 0px;
}
.text__utlsh {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__utlsh {
    font-size: 14px;
  }
}
.text__z7JlE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: right;
  min-width: 0;
}
.svg__hrx36 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  height: 1em;
}
.freeBox__lqEhT {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__lqEhT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__lqEhT > :global(.__wab_flex-container) > *,
.freeBox__lqEhT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lqEhT > :global(.__wab_flex-container) > picture > img,
.freeBox__lqEhT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__k9O3X {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-55cSeNPovQFh);
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__k9O3X {
    align-self: auto;
    opacity: 0.5;
  }
}
.text__wHeHo {
  position: relative;
  width: 20px;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .text__wHeHo {
    font-size: 20px;
  }
}
.svg___1Yn2Y {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg___1Yn2Y {
    opacity: 0.5;
  }
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: calc(10px + 5px) !important;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  min-width: 0;
}
@media (max-width: 640px) {
  .button2:global(.__wab_instance) {
    margin-top: calc(10px + 5px) !important;
  }
}
.svg__ziDp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cCbA0 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
  color: var(--token-55cSeNPovQFh);
}
.slideinModal:global(.__wab_instance) {
  max-width: 100%;
  left: 0px;
  top: auto;
  z-index: 10;
  position: fixed;
  right: 0%;
  bottom: 0;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .slideinModal:global(.__wab_instance) {
    width: 100%;
    right: 0%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__j486Q {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__j486Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__j486Q > :global(.__wab_flex-container) > *,
.freeBox__j486Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j486Q > :global(.__wab_flex-container) > picture > img,
.freeBox__j486Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.text__lm2K {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.text___59Dtf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.freeBox__nCLc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__nCLc {
    align-items: center;
    justify-content: center;
    height: 100px;
  }
}
.input4:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: var(--token-55cSeNPovQFh);
  min-width: 0;
  border: 1px solid var(--token-55cSeNPovQFh);
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__k30Aa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___1XpDm {
  font-weight: 700;
  font-size: 16px;
}
.svg__iiEbc {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.weeknow:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.previousWeek:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.foodinfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.modal3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  height: 552px;
  order: 0;
  justify-self: center;
  right: 0;
  bottom: 0;
  margin: 0px;
}
.pcls_DJz3v7v7F5NR {
  background: #ffffff00;
  outline: none;
}
@media (max-width: 640px) {
  .modal3:global(.__wab_instance) {
    top: auto;
    right: 0;
    bottom: 0;
    height: 559px;
    padding-right: 20px;
    padding-left: 20px;
    left: 0;
    text-align: center;
    margin: 0px;
  }
}
.freeBox__vh0Kg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__bVlaY {
  text-align: justify;
}
@media (max-width: 640px) {
  .text__bVlaY {
    text-align: justify;
    width: 100%;
    font-size: 12px;
    min-width: 0;
  }
}
.text__hybns {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
