.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
  border-width: 2px;
}
.rootseen {
  background: #f4f4f4;
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___5FqYh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox___5FqYh {
    padding: 0px;
  }
}
.freeBoxseen___5FqYhofXyw {
  justify-content: center;
  align-items: center;
}
.img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img {
    width: 25px;
    max-height: 100%;
    height: 25px;
    flex-shrink: 0;
  }
}
.imgseen {
  opacity: 0.8;
}
@media (max-width: 640px) {
  .imgseen {
    opacity: 0.6;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
.freeBox__lpV3T {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 12px;
}
@media (max-width: 640px) {
  .freeBox__lpV3T {
    padding-left: 0px;
  }
}
.freeBox__d92Y7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__nFhjh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-hCgNygAysIbb);
  min-width: 0;
}
@media (max-width: 640px) {
  .text__nFhjh {
    font-size: var(--token-2xQ-Ews6Hwx4);
  }
}
.textseen__nFhjhofXyw {
  color: #535353b3;
  font-size: var(--token-tjteaUKFnUfH);
}
@media (max-width: 640px) {
  .textseen__nFhjhofXyw {
    font-size: var(--token-2xQ-Ews6Hwx4);
  }
}
.text___6Tjo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 30%;
  font-weight: 500;
  font-size: var(--token-BlA-iDkaAWvO);
  min-width: 0;
}
@media (max-width: 640px) {
  .text___6Tjo {
    font-size: 10px;
    text-align: left;
  }
}
.textseen___6TjoOfXyw {
  color: #535353b3;
}
.text__v0Ba {
  text-align: right;
  font-size: 16px;
}
@media (max-width: 640px) {
  .text__v0Ba {
    font-size: 14px;
  }
}
.freeBox__cebvZ {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  max-width: 100%;
  background: var(--token-55cSeNPovQFh);
  left: 4px;
  top: 4px;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__cebvZ {
    width: 10px;
    height: 10px;
    top: 8px;
    left: 8px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.freeBoxseen__cebvZofXyw {
  background: var(--token-2aHIw8xI62Xi);
  display: none;
}
