.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f59e;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transform: scale3d(1, 0, 1);
  position: relative;
  row-gap: 8px;
  transform-style: preserve-3d;
  min-width: 0;
  -webkit-transition-property: transform;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 0.3s;
  border-radius: 8px;
  padding: 0px;
}
.root * {
  transform-style: preserve-3d;
}
.rootopen {
  height: 100%;
  transform: skew(0deg, 0deg);
  transform-style: preserve-3d;
  min-height: 0;
  padding: 4px;
}
.rootopen * {
  transform-style: preserve-3d;
}
.textInput__z69Ui:global(.__wab_instance) {
  max-width: 100%;
}
.svg__auG1N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput__pap2F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.reveal__gPkg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button__ePPyh:global(.__wab_instance) {
  max-width: 100%;
}
.svg__odoiv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9UJ5P {
  color: var(--token-55cSeNPovQFh);
  font-size: 12px;
  padding: 4px 8px;
}
.svg__zJTey {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox___9Bdgo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 150px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  row-gap: 4px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px 8px 8px;
}
.freeBox__h4YpV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__qF1JU {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  max-width: 100%;
  background: linear-gradient(145deg, #7345b6 0%, #c34991 93%) 0% 0% / 100% 100%
    repeat;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.text__aVuJf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
