.root {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 2px 5px 2px #00000033;
  row-gap: 10px;
  min-width: 0;
  border-radius: 16px;
  padding: 12px;
}
.rootunnamedGroupOfVariants__1 {
  background: #d2e0ff;
  box-shadow: 0px 2px 5px 2px #00000033;
  row-gap: 8px;
  column-gap: 0px;
}
.rootunnamedGroupOfVariants__2 {
  background: var(--token-OcmIk9oDogWZ);
}
.rootunnamedGroupOfVariants__3 {
  background: #e3ffeb;
}
.rootunnamedGroupOfVariants__4 {
  background: var(--token-arm2L2XW_xJ6);
}
.rootunnamedGroupOfVariants__5 {
  background: #e7d7ff;
}
.rootunnamedGroupOfVariants__6 {
  background: #d2e0ff;
  row-gap: 8px;
  column-gap: 0px;
}
.rootunnamedGroupOfVariants__7 {
  height: 100%;
  width: 100%;
  justify-self: flex-start;
  background: #e7d7ff;
  min-width: 0;
  min-height: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.slotTargetChildrenunnamedGroupOfVariants__1 {
  font-size: 18px;
  color: var(--token-0xHMxyAHbOos);
}
.slotTargetChildrenunnamedGroupOfVariants__2 {
  color: #ff5959;
}
.slotTargetChildrenunnamedGroupOfVariants__3 {
  color: var(--token-mjj-ONNCZx4S);
}
.slotTargetChildrenunnamedGroupOfVariants__4 {
  color: var(--token-EueuB3d74YKA);
}
.slotTargetChildrenunnamedGroupOfVariants__5 {
  color: var(--token-55cSeNPovQFh);
}
.slotTargetChildrenunnamedGroupOfVariants__6 {
  font-size: 16px;
  color: var(--token-0xHMxyAHbOos);
}
.slotTargetChildrenunnamedGroupOfVariants__7 {
  color: var(--token-55cSeNPovQFh);
}
