.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-AupbASVTnAsv);
  padding-top: 70px;
  padding-bottom: 100px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_newView_newView > * {
  grid-column: 4;
}
.rootsetting > * {
  grid-column: 4;
}
.rootsubItem > * {
  grid-column: 4;
}
.rootglobal_newView_newView_subItem > * {
  grid-column: 4;
}
.rootedit > * {
  grid-column: 4;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .main {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.mainsetting {
  display: none;
}
.mainsubItem {
  display: none;
}
.mainedit {
  display: none;
}
.mainPagePregnancy:global(.__wab_instance) {
  max-width: 100%;
}
.section__jlfOv {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  height: auto;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__jlfOv > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section__jlfOv > * {
    grid-column: 4;
  }
}
.mainHeader:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .mainHeader:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__fjnux {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ms9Sv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 16px;
  padding: 0px 0px 0px 8px;
}
.svg__scrJg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__jLk9U {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #919191;
  white-space: pre;
  min-height: 0;
  padding: 8px 8px 0px 16px;
}
.freeBox__fTwpz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  column-gap: 8px;
  border-radius: 100px;
  padding: 8px;
  border: 1px solid var(--token-SX03PBUzWAqr);
}
.text__g7Glx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  display: none;
}
.svg__eZlFs {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-qvl81LxkOSoe);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.section___7Bu3P {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___7Bu3P > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section___7Bu3P > * {
    grid-column: 4;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.reveal__vrRyL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.revealsetting__vrRyLztgwk:global(.__wab_instance) {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: flex;
}
.revealsubItem__vrRyL9ErvH:global(.__wab_instance) {
  display: none;
}
.settingCycle4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.reveal__t750E:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.revealsetting__t750Eztgwk:global(.__wab_instance) {
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.revealsubItem__t750E9ErvH:global(.__wab_instance) {
  display: flex;
}
.revealedit__t750EJdhbO:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
@media (max-width: 640px) {
  .revealedit__t750EJdhbO:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.editProfile2:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .editProfile2edit:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.backHandler:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
