.root {
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-1KusGK5GePTh);
}
.userPage:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.userPagepage_reports:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.userPagepage_tabPage:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.userPageuser:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.userPageuser_page_reports:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.userPageuser_page_tabPage:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.reports:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.reportspage_reports:global(.__wab_instance) {
  flex-shrink: 0;
}
.reportspage_tabPage:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.reportsuser:global(.__wab_instance) {
  flex-shrink: 0;
  display: none;
}
.reportsuser_page_reports:global(.__wab_instance) {
  flex-shrink: 0;
}
.tabPage:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
  display: none;
}
.tabPagepage_tabPage:global(.__wab_instance) {
  flex-shrink: 0;
  display: flex;
}
.tabPageuser:global(.__wab_instance) {
  flex-shrink: 0;
}
.tabPageuser_page_tabPage:global(.__wab_instance) {
  flex-shrink: 0;
}
