.frame49 {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 0;
  min-height: 0;
  border-radius: 24px;
  padding: var(--token-uOLZE7OyOW-J);
}
@media (max-width: 640px) {
  .frame49 {
    row-gap: 15px;
    column-gap: 0px;
  }
}
.frame25 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 64px;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 0;
}
.text__kcCUf {
  display: block;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame48 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox__k6Rkn {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.svg__gNpDz {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  transform: scale(1.0000000000000038, 1.0000000000000038)
    rotate(0.0000049783130603797145deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  border-width: 1px;
}
.frame50 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox__tErMr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__tErMr {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.freeBox__wifYz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  border-radius: var(--token-1KusGK5GePTh);
  padding: 8px;
  border-width: 0px;
  border-style: solid;
}
@media (max-width: 640px) {
  .freeBox__wifYz {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__hrBlc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-height: 100px;
  min-width: 0;
  padding: 0px;
}
.freeBox__addyD {
  display: flex;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: flex-end;
  row-gap: 0px;
  align-content: stretch;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  min-height: 0;
  padding: 0px;
}
.text__awLjF {
  width: 30px;
  height: 30px;
  max-width: 100%;
  background: #f4f4f4;
  text-align: center;
  color: var(--token-ODBUExjR6VEF);
  font-weight: 700;
  padding-top: 5px;
  flex-shrink: 0;
  border-radius: 50px;
}
.freeBox__iAp7X {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1px;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: var(--token-38wfsm-OP2Vm);
  margin-bottom: var(--token-38wfsm-OP2Vm);
  min-height: 0;
  padding: var(--token-38wfsm-OP2Vm) 0px;
  border-left: 3px dashed #e1e1e1;
}
.freeBox__a367 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__a367 {
    height: 64px;
  }
}
.text__xo0F {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  text-align: right;
  font-size: var(--token-cunRwTCjQp3O);
  min-width: 0;
}
.freeBox__wNvsi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  border-radius: 25px;
  padding: var(--token-B5WvIYiqPJW-);
  border-width: 0px;
  border-style: solid;
}
@media (max-width: 640px) {
  .freeBox__wNvsi {
    overflow: auto;
  }
}
.text___45GcK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.title:global(.__wab_instance) {
  max-width: 100%;
}
.svg__rEa5L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput__wGdBm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__x1ASi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bQ0WL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.text:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.svg__zV1Oe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 64px;
}
.svg__k2TA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__tErOc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.image2:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.svg__sepZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__c51Ct {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pge0S {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-EmQk5DERlmjM);
  width: 25px;
  height: 25px;
}
.svg__prIgE {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.text__bufxw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.action:global(.__wab_instance) {
  max-width: 100%;
}
.svg___3Q9Pk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg___92POj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__oc81O {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  border-radius: 25px;
  padding: var(--token-B5WvIYiqPJW-);
  border-width: 0px;
  border-style: solid;
}
@media (max-width: 640px) {
  .freeBox__oc81O {
    overflow: auto;
  }
}
.radioGroupLiom:global(.__wab_instance) {
  position: relative;
}
.text__bztOm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.title2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__p36K5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput__uiqqU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__trCJw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dXjyp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.text2:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.svg__a02W7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 64px;
}
.svg___92BtQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xxN7Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.image3:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.svg__iTrzm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__gwaQ9 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__wZn6I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.action2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__pUwRh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__t3Yw3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__unNoa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 25px;
  padding: 8px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__eJj1R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 9px;
  column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 105px;
  height: 87px;
  flex-shrink: 0;
  border-radius: var(--token-B5WvIYiqPJW-);
}
.img > picture > img {
  object-fit: cover;
}
.text__muHj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__exQh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  max-width: 100%;
  left: auto;
  top: auto;
  flex-shrink: 0;
  padding: 8px;
}
.svg__fzM5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-fn6i10-y5r1L);
  width: 35px;
  height: 35px;
  align-self: flex-end;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
