.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root {
    padding: 0px;
  }
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__rkdPv {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: -1px;
  top: 0px;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__rkdPv > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section__rkdPv {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
@media (max-width: 640px) {
  .section__rkdPv > * {
    grid-column: 4;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__xeihy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg__ngYMs {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.text__oVaVj {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.freeBox__alRj {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  flex-wrap: nowrap;
  margin-top: 66px;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__alRj {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 6px;
  }
}
.radioGrop___8LPnk:global(.__wab_instance) {
  max-width: 100%;
}
.text___56Am3 {
  font-size: 14px;
  font-weight: 500;
}
.radioGrop__eIwjH:global(.__wab_instance) {
  max-width: 100%;
}
.svg__g1UzQ {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-G-IZ_XhVdlqp);
  width: 20px;
  height: 20px;
}
.text__kibkG {
  font-size: 14px;
  font-weight: 500;
  padding-right: 14px;
}
@media (max-width: 640px) {
  .text__kibkG {
    padding-right: 8px;
  }
}
.reveal__h8R34:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .reveal__h8R34:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.getData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___8Sdx2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 8px 0px 0px;
}
.freeBox__xytiG {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__sB861 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 58px 8px 8px;
}
.section___7KJ1Z {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 10;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section___7KJ1Z > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section___7KJ1Z > * {
    grid-column: 4;
  }
}
.freeBox__jt0B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__jt0B {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 0px;
  }
}
.freeBox__nTeV {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__seD7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: var(--token-uOLZE7OyOW-J);
  row-gap: 8px;
  min-width: 0;
}
.freeBox__wonpd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5Mtfv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px -4px 16px 0px #0000001a;
  left: auto;
  top: auto;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px 8px 8px;
  border: 1px solid var(--token-55cSeNPovQFh);
}
@media (max-width: 640px) {
  .freeBox___5Mtfv {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-bottom: 8px;
  }
}
.freeBox__rCh63 {
  display: block;
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: var(--token-mIWA40Rvp-L3);
  left: 8px;
  top: -170px;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px 8px 2px;
}
@media (max-width: 640px) {
  .freeBox__rCh63 {
    display: block;
  }
}
.text__nPclF {
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
.freeBox___3VcJz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  padding: 0px;
}
.freeBox__wtSqa {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
.freeBox__s1Ah {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-self: auto;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__yzPt4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--token-G-IZ_XhVdlqp);
  text-align: justify;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-size: 12px;
  min-width: 0;
}
.text__iaTf6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: justify;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: auto;
}
.freeBox__c71K {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__dwnaM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-G-IZ_XhVdlqp);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
.freeBox___5CXeS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__pTtlf {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__ksHgM {
  display: flex;
  position: sticky;
  width: auto;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  margin: 0px;
}
.text__dCl1W {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__vDwhH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 4px;
  margin: 0px;
}
.button8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__u56H1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nu2W0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg___2YByS {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.button11:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__roQyN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rqO2I {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg__lUvwG {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.button9:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
  display: none;
  margin: 0px;
}
.svg__lNb1L {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__gzP4Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__gzP4Q {
    white-space: pre;
  }
}
.svg__zJt5V {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.p {
  text-align: center;
  font-size: 14px;
  color: var(--token-EmQk5DERlmjM);
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding-bottom: 8px;
  display: none;
}
@media (max-width: 640px) {
  .p {
    padding-bottom: 8px;
  }
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___6Xjn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 16px 16px 0px;
}
.freeBox__op10N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
}
.subscription3:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__uQkAs {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #7444bc33;
  left: auto;
  top: auto;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px 8px 2px;
}
@media (max-width: 640px) {
  .freeBox__uQkAs {
    top: auto;
    left: auto;
    display: block;
  }
}
.text__ujvLg {
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .text__ujvLg {
    font-size: 12px;
  }
}
.freeBox__rPgl0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.button14:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__jyewq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zbSa4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg__yTvNp {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.button10:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
  align-self: center;
  display: none;
  margin: 0px;
}
.svg__bxZj6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jhHn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__jhHn {
    white-space: pre;
  }
}
.svg__l6L {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.freeBox__shf7J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
}
.freeBox__nrq7J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button13:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
}
@media (max-width: 640px) {
  .button13:global(.__wab_instance) {
    height: 30px;
    align-self: center;
    width: auto;
  }
}
.svg__n9Vtm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qv1E5 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__wqUvw {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__o6Tze {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 60px 0px 80px;
}
@media (max-width: 640px) {
  .freeBox__o6Tze {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__uj4W7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__uj4W7 {
    padding-bottom: 0px;
  }
}
.img__hB3Fp {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 250px;
  min-width: 0;
}
.img__hB3Fp > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__hB3Fp {
    max-height: 130px;
  }
}
.text__qQcwz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  color: var(--token-kjnzcds1FoVY);
  padding-top: 8px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__qQcwz {
    text-align: right;
    font-size: 16px;
    padding: 14px 14px 8px;
  }
}
.freeBox__z5RUx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 30%;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: auto;
  padding: 16px;
}
.freeBox__hquaq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__focsI {
  text-align: justify;
}
.text__t2ImB {
  text-align: right;
  color: var(--token-kjnzcds1FoVY);
  font-size: 16px;
}
.freeBox__wwiV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__wwiV {
    padding: 0px 14px;
  }
}
.freeBox___14BbX {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #12121214;
  row-gap: 12px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 0px;
}
.freeBox__ejubq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.collapseMother:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 14px;
  min-width: 0;
  padding: 0px;
  margin: -16px 0px 0px;
}
.pcls_hvmy82ZTWdx2 {
  outline: none;
  padding: 0px;
  margin: 0px;
}
.freeBox___0Jg9T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__bWe9O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: center;
  min-width: 0;
}
.freeBox__w5Gtk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__vczdR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__bwmlW {
  width: auto;
}
.text__r87P1 {
  padding-right: 8px;
  padding-left: 4px;
  font-size: 13px;
  color: var(--token-55cSeNPovQFh);
  align-self: flex-end;
}
.text__bIQmr {
  text-align: right;
  font-size: 12px;
  padding-right: 4px;
}
@media (max-width: 640px) {
  .text__bIQmr {
    text-align: right;
    margin-right: 0px;
  }
}
.svg__hkZvq {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.svg___9Zk9G {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.freeBox__iFkN3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.radioGrop__atbaS:global(.__wab_instance) {
  max-width: 100%;
  width: 20%;
}
@media (max-width: 640px) {
  .radioGrop__atbaS:global(.__wab_instance) {
    width: auto;
  }
}
.text__gtCl {
  font-size: 12px;
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 4px;
}
@media (max-width: 640px) {
  .text__gtCl {
    padding-right: 8px;
    padding-left: 8px;
  }
}
.img__pdE6F {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  height: 15px;
  margin: -20px 0px 0px;
}
.img__pdE6F > picture > img {
  object-fit: cover;
}
.img__goDhq {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__goDhq > picture > img {
  object-fit: cover;
}
.shopDialog:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cZpog {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.mobileDialog:global(.__wab_instance) {
  max-width: 100%;
}
.reveal__jeHcn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__abn3Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__abn3Y {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.freeBox__vggly {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__ar7Ua {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__l36Bo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  min-width: 0;
}
.text___2Masy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__lSnmv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  border-radius: 8px;
  padding: 12px;
}
.text__ijDd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
}
.text__rcAxU {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-G-IZ_XhVdlqp);
}
.freeBox__nnEqz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 24px;
}
.svg___3AjMm {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-G-IZ_XhVdlqp);
  flex-shrink: 0;
}
.text___9DUn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-G-IZ_XhVdlqp);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.info:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0px;
}
@media (max-width: 640px) {
  .info:global(.__wab_instance) {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__kvpCn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__kd5Xq {
  text-align: right;
  font-size: 16px;
  font-weight: 700;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__j1R7C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ot4Yy {
  font-weight: 700;
}
.svg__clHqu {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__g60U {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  right: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__kj6Mu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: absolute;
  left: 8px;
  top: -51px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__kj6Mu {
    top: -41px;
    padding: 0px;
  }
}
.svg__kSsUu {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 50px;
}
