.root {
  display: flex;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: none;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 8px;
  flex-direction: row;
  position: relative;
  justify-self: flex-start;
  border-radius: 50%;
  border: 1px solid var(--token-rGxK1TpZE_rW);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 3px);
  width: calc(100% + 3px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 3px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-fn6i10-y5r1L);
  font-size: 12px;
  left: auto;
  top: auto;
  white-space: pre;
  padding-top: 0px;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 20px;
  height: 20px;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.svgislikecomment {
  color: var(--token-4RAe7M2gInqR);
}
