.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox__sOUz9 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
  padding: 0px;
}
.freeBoxsteps__1__sOUz9G63Bg {
  display: none;
}
.freeBox__csAne {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__nV2Rp {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.freeBox__cx5T8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.button__vtbm6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__o4Bzd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zdrPb {
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.svg___3YHeg {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button__cjWDv:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___3LQaA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__nCxWv {
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.svg__ej3Tc {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__vmbsv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
  padding: 0px;
}
.freeBoxsteps__0__vmbsVyKl9X {
  display: none;
}
.text___9Rd2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.fragmentSelect__k7Rz4:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 45px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__uu73Y {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.button__guCn0:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__u9L6S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bi90 {
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.svg__bEl {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
