.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: var(--token-R_Rsn0nP9oIv);
  height: auto;
  padding: 8px;
}
.rootpostType_image {
  padding-bottom: 0px;
}
.rootpostType_video {
  justify-self: flex-start;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__mSgmd {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
  height: auto;
  padding: 8px;
}
.freeBoxpostType_video__mSgmdb8Ka2 {
  height: 100%;
  flex-shrink: 1;
  width: 100%;
  max-height: 100%;
  min-width: 0;
  min-height: 0;
}
.lineClompTitle:global(.__wab_instance) {
  max-width: 100%;
}
.text__k4IhG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  white-space: pre;
  min-width: 0;
}
.lineClompText:global(.__wab_instance) {
  max-width: 100%;
}
.text__dQgT6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  color: var(--token-ODBUExjR6VEF);
  position: relative;
  min-width: 0;
  padding: 0px 16px;
}
.image3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.image3postType_voise {
  display: none;
}
.image3postType_video {
  display: none;
}
.image3postType_jastText {
  display: none;
}
.image3postType_file {
  display: none;
}
.img {
  object-fit: cover;
  max-width: 50%;
  max-height: 50%;
  border-radius: 8px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__tY1Vc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 50%;
  max-height: 50%;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBoxpostType_image__tY1VcE9Bu9 {
  height: 0px;
  flex-shrink: 0;
  display: none;
}
.freeBoxpostType_voise__tY1VcIzGaB {
  display: none;
}
.freeBoxpostType_video__tY1Vcb8Ka2 {
  width: auto;
  max-width: 50%;
  max-height: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.freeBoxpostType_jastText__tY1VcRsaB {
  display: none;
}
.freeBoxpostType_file__tY1VcdfNf {
  display: none;
}
.htmlVideo:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
.htmlVideopostType_video:global(.__wab_instance) {
  left: auto;
  top: auto;
  height: auto;
  max-width: 50%;
  max-height: 50%;
}
.freeBox__xSmK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBoxpostType_image__xSmKe9Bu9 {
  height: 0px;
  flex-shrink: 0;
  display: none;
}
.freeBoxpostType_voise__xSmKizGaB {
  display: flex;
}
.freeBoxpostType_video__xSmKb8Ka2 {
  display: none;
}
.freeBoxpostType_jastText__xSmKRsaB {
  display: none;
}
.freeBoxpostType_file__xSmKdfNf {
  display: none;
}
.audioPlayer:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__lWGnw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Y4frplZPI0IJ);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBoxpostType_image__lWGnwE9Bu9 {
  height: auto;
}
.freeBoxpostType_jastText__lWGnwRsaB {
  display: none;
}
.text__kKwnd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-fn6i10-y5r1L);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  white-space: pre;
}
