.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  border-radius: 8px;
  padding: 8px 16px 8px 8px;
}
.root:hover {
  background: var(--token-7kGpohB21SKn);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
}
