.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  grid-row-gap: var(--token-uOLZE7OyOW-J);
  padding-top: 4rem;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootselect2 > * {
  grid-column: 4;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oZzbY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-uOLZE7OyOW-J);
  min-width: 0;
  padding: var(--token-B5WvIYiqPJW-) var(--token-uOLZE7OyOW-J) 0px;
}
@media (max-width: 640px) {
  .freeBox__oZzbY {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.tabWeek2:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.text__fpTlg {
  padding-right: var(--token-1KusGK5GePTh);
  padding-left: var(--token-1KusGK5GePTh);
  font-size: var(--token-Wa5tmrNKVUYF);
  white-space: pre;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__iq61 {
  background: var(--token-R_Rsn0nP9oIv);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-1KusGK5GePTh);
}
.freeBox___8YfJm {
  background: var(--token-R_Rsn0nP9oIv);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-1KusGK5GePTh);
}
.freeBox__hwdQ {
  background: var(--token-R_Rsn0nP9oIv);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-B5WvIYiqPJW-);
}
@media (max-width: 640px) {
  .freeBox__hwdQ {
    padding: 5px;
  }
}
.text__up5T8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-KlrAoGIT1za7);
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.text___4K5Go {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-qlDkklux5JrT);
  min-width: 0;
}
.freeBox__tzqNf {
  background: var(--token-R_Rsn0nP9oIv);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-B5WvIYiqPJW-);
}
.freeBoxselect2__tzqNf3VVTl {
  display: none;
}
.text__w5Ao {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  min-width: 0;
}
.freeBox___7Nw4H {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__r1Upj {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  column-gap: var(--token-uOLZE7OyOW-J);
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__yhj1N {
  animation: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border-radius: 500px;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__yhj1N {
    animation: none;
  }
}
.menuIcon__mdbsm:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__gxmVs {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__vspEj {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__pkOvm {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-kjnzcds1FoVY);
  text-align: right;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__pkOvm {
    animation: none;
  }
}
.text__snMvK {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.svg__pojZn {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-AwpLXbw5AmtS);
  flex-shrink: 0;
}
.freeBox__osJl0 {
  background: var(--token-R_Rsn0nP9oIv);
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
  display: none;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-B5WvIYiqPJW-);
}
.freeBoxselect2__osJl03VVTl {
  display: flex;
}
.freeBox__qJuSr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 1px;
  min-width: 0;
  padding: 0px;
}
.svg__hz5ST {
  object-fit: cover;
  max-width: 100%;
  height: 25px;
  width: 25px;
  flex-shrink: 0;
}
.text__xy9Bp {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  align-self: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__dVwd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___03OhY {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-uOLZE7OyOW-J);
  min-width: 0;
  padding: 8px 0px 0px;
}
.freeBox___4G5O6 {
  animation: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-AupbASVTnAsv);
  min-height: 0;
  border-radius: 500px;
  padding: var(--token-O5TjkXII_aat);
}
@media (max-width: 640px) {
  .freeBox___4G5O6 {
    animation: none;
  }
}
.menuIcon__trQFl:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__xP5Yb {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___9Qjo4 {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___1Ow1T {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__yiaZq {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-kjnzcds1FoVY);
  text-align: right;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__yiaZq {
    animation: none;
  }
}
.text__aX8Mn {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.text__sfndX {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-OuIr9F3wieyv);
  color: var(--token-sD0iOLam3c1_);
  text-align: right;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__sfndX {
    animation: none;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
.freeBox___0GcKm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg__zt8N {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.text__gozm4 {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
