.root {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  padding: 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.rootmain {
  display: flex;
  flex-direction: row;
}
.rootmain > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootmain > :global(.__wab_flex-container) > *,
.rootmain > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootmain > :global(.__wab_flex-container) > picture > img,
.rootmain
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.rootactive_main {
  background: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: #8c8c8c;
  flex-shrink: 0;
}
.svgmain {
  color: #8c8c8c;
}
.svgactive {
  color: #8c8c8c;
}
.svgactive_main {
  color: #8c8c8c;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #8c8c8c;
  min-width: 0;
}
.textmain {
  color: #8c8c8c;
}
