.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root {
    padding: 0px;
  }
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section__hlw7Y {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: -1px;
  top: 0px;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__hlw7Y > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section__hlw7Y {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
@media (max-width: 640px) {
  .section__hlw7Y > * {
    grid-column: 4;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__yLcJ9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg__uBjQ1 {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.text__afh5Z {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.freeBox__xsTah {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  flex-wrap: nowrap;
  margin-top: 66px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__xsTah {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 6px;
  }
}
.radioGrop__ufvgm:global(.__wab_instance) {
  max-width: 100%;
}
.text__ub2De {
  font-size: 14px;
  font-weight: 500;
}
.svg__dE2Ni {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.radioGrop__jHfZx:global(.__wab_instance) {
  max-width: 100%;
}
.svg__kbRk0 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-G-IZ_XhVdlqp);
  width: 20px;
  height: 20px;
}
.text___7Egz3 {
  font-size: 14px;
  font-weight: 500;
  padding-right: 14px;
}
@media (max-width: 640px) {
  .text___7Egz3 {
    padding-right: 8px;
  }
}
.svg__xnY17 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.reveal__gdcrx:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .reveal__gdcrx:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.getData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zUBrg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 8px 0px 0px;
}
.freeBox__vGaeM {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__ofWr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  padding: 58px 8px 8px;
}
.section__exaY7 {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 10;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__exaY7 > * {
  grid-column: 4;
}
.freeBox___7XFkS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox___7XFkS {
    padding: 0px;
  }
}
.freeBox__jwCtO {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 16px;
}
.freeBox__rm8Uw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: var(--token-uOLZE7OyOW-J);
  row-gap: 8px;
  min-width: 0;
}
.freeBox__uB9O2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___7Qw43 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px -4px 16px 0px #0000001a;
  left: auto;
  top: auto;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px 8px;
  border: 1px solid #d2d2d2;
}
.freeBox___62Ysq {
  display: block;
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #7444bc33;
  left: 8px;
  top: -170px;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px 8px 2px;
}
@media (max-width: 640px) {
  .freeBox___62Ysq {
    display: block;
  }
}
.text__i89Tq {
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
.freeBox__wfTim {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.text__nhjm9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: justify;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: auto;
  min-width: 0;
}
.freeBox__hXpAh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___2Dhl8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: line-through;
  text-overflow: clip;
  min-width: 0;
}
.text___8ZIyy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__urqIp {
  display: flex;
  position: sticky;
  width: 40px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}
.text__alu5K {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__acAZy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
}
.freeBox__xbsVz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button12:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
}
@media (max-width: 640px) {
  .button12:global(.__wab_instance) {
    height: 30px;
    align-self: center;
    width: auto;
  }
}
.svg__kxtMn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ehuQm {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__rjlz2 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__hitW0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 4px;
  margin: 0px;
}
.button8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__bQqha {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mjQdy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg___5DxXh {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.button9:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
  display: none;
  margin: 0px;
}
.svg__z0JUm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oqWiy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__oqWiy {
    white-space: pre;
  }
}
.svg__yuFqx {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.p {
  text-align: center;
  font-size: 14px;
  color: var(--token-EmQk5DERlmjM);
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding-bottom: 8px;
}
@media (max-width: 640px) {
  .p {
    padding-bottom: 8px;
  }
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__eeiRi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 16px 16px 0px;
}
.freeBox__aoZu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Gne_lZD4DyXd);
  margin-bottom: var(--token-uOLZE7OyOW-J);
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-B5WvIYiqPJW-) var(--token-uOLZE7OyOW-J);
  border: 1px solid var(--token-G-IZ_XhVdlqp);
}
.text___7DyrD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 400;
  font-size: var(--token-cunRwTCjQp3O);
  text-align: right;
  min-width: 0;
}
.svg__jk84 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox__xjZyJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
}
.subscription3:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___7Rznw {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #7444bc33;
  left: auto;
  top: auto;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px 8px 2px;
}
@media (max-width: 640px) {
  .freeBox___7Rznw {
    top: auto;
    left: auto;
    display: block;
  }
}
.text__vneO9 {
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .text__vneO9 {
    font-size: 12px;
  }
}
.freeBox__weRwe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.button14:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___4BtZw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__n7Er9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg__gwTbF {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.button10:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
  align-self: center;
  display: none;
  margin: 0px;
}
.svg__t81N9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jWmyY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__jWmyY {
    white-space: pre;
  }
}
.svg__fdeE {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.freeBox__w1B4V {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
}
.freeBox__zHm3X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button13:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
}
@media (max-width: 640px) {
  .button13:global(.__wab_instance) {
    height: 30px;
    align-self: center;
    width: auto;
  }
}
.svg__vgAna {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ksWn9 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__bYqx {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__gf9Nm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 8px 0px;
}
@media (max-width: 640px) {
  .freeBox__gf9Nm {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__u2M5M {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  row-gap: 8px;
  min-width: 0;
  padding: 0px 0px 8px;
}
.img__vKrv {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 250px;
  min-width: 0;
}
.img__vKrv > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__vKrv {
    max-height: 130px;
  }
}
.text__lluQq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  color: var(--token-kjnzcds1FoVY);
  padding-top: 8px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__lluQq {
    text-align: center;
  }
}
.freeBox__ugHiK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__c84PF {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #e0e0e0;
}
.freeBox__e0Wqm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.svg__jpK1 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__tvOdf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  color: var(--token-kjnzcds1FoVY);
  min-width: 0;
}
.ul__zqkb {
  display: flex;
  width: 100%;
  list-style-type: none;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.li__ypGpP {
  display: flex;
  flex-direction: column;
}
.freeBox__qcQrj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__iCzTc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 100;
  align-self: center;
  padding-top: 4px;
  min-width: 0;
}
.svg__iiaO {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-DFwge94Hey3F);
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__iiaO {
    display: block;
  }
}
.svg___68Hzw {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-DFwge94Hey3F);
  flex-shrink: 0;
}
.embedHtml__s7MOb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.ul__ztybY {
  display: flex;
  width: 100%;
  list-style-type: none;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.li__spI8H {
  display: flex;
  flex-direction: column;
}
.freeBox__k0VSc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__m6PbU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 100;
  align-self: center;
  padding-top: 4px;
  min-width: 0;
}
.svg__alxL6 {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-DFwge94Hey3F);
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__alxL6 {
    display: block;
  }
}
.svg___0ZhYi {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-DFwge94Hey3F);
  flex-shrink: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 30%;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: auto;
  padding: 16px;
}
.freeBox__jGyPb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__wf7MX {
  text-align: justify;
}
.text__xUfZ3 {
  text-align: right;
  color: var(--token-kjnzcds1FoVY);
  font-size: 16px;
}
.freeBox__wvtzn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 200px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  row-gap: 12px;
  min-width: 0;
  flex-shrink: 0;
  padding: 16px;
}
@media (max-width: 640px) {
  .freeBox__wvtzn {
    height: 200px;
    flex-shrink: 0;
  }
}
.freeBox__i1DH {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__neu21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  color: var(--token-kjnzcds1FoVY);
  min-width: 0;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zyTzf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.freeBox__kdyi8 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.star:global(.__wab_instance) {
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.freeBox__gjtvL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__hxyvq {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  min-width: 0;
}
.text__vUhXl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.freeBox__pkOYm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  row-gap: 12px;
  min-width: 0;
  padding: 16px 8px;
}
.freeBox__nmKiv {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___3JvTq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  color: var(--token-kjnzcds1FoVY);
  min-width: 0;
}
.freeBox___6YPir {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.ul___3JJrw {
  display: flex;
  width: 100%;
  padding-left: 0px;
  padding-right: 32px;
  color: var(--token-DFwge94Hey3F);
  row-gap: 12px;
  min-width: 0;
}
.li__r05 {
  display: list-item;
}
.freeBox__dvxYz {
  display: flex;
  flex-direction: column;
}
.text__yCFh {
  text-align: right;
  font-weight: 700;
  color: var(--token-kjnzcds1FoVY);
}
.text___7Vl3E {
  text-align: right;
  font-size: 14px;
  color: var(--token-64O07uLgKimi);
}
.freeBox__diiUf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  row-gap: 12px;
  min-width: 0;
  padding: 16px 0px;
}
.freeBox__abn9W {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__suykh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  align-self: center;
  color: var(--token-kjnzcds1FoVY);
  padding-right: 8px;
  min-width: 0;
}
.freeBox__sknCg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.collapseMother:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 14px;
  min-width: 0;
  padding: 0px;
  margin: -16px 0px 0px;
}
.pcls_6gHfjq6Nj9km {
  outline: none;
  padding: 0px;
  margin: 0px;
}
.freeBox__v0443 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__fd2Xz {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  padding-bottom: 4px;
  min-width: 0;
}
.img__xhAvu {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: none;
  height: 15px;
  transform-style: preserve-3d;
  flex-shrink: 0;
  margin: 0px;
}
.img__xhAvu > picture > img {
  object-fit: cover;
}
.img__xhAvu * {
  transform-style: preserve-3d;
}
.img__mRCxi {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: 0px;
  height: 25px;
  flex-shrink: 0;
}
.img__mRCxi > picture > img {
  object-fit: cover;
}
.text__aqd5C {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  min-width: 0;
}
.img__eBsyD {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scale3d(-1, 1, 1);
  height: 15px;
  transform-style: preserve-3d;
  margin: -20px 0px 0px;
}
.img__eBsyD > picture > img {
  object-fit: cover;
}
.img__eBsyD * {
  transform-style: preserve-3d;
}
.img___4R17Y {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img___4R17Y > picture > img {
  object-fit: cover;
}
.freeBox___5BtHg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 300px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  row-gap: 12px;
  min-width: 0;
  flex-shrink: 0;
  padding: 16px 0px;
}
.text__uAv5H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-G-IZ_XhVdlqp);
  font-size: 16px;
  min-width: 0;
}
.shopDialog:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cngxS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.mobileDialog:global(.__wab_instance) {
  max-width: 100%;
}
.reveal__vrEdM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__yMcLj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__yMcLj {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.freeBox__f3Jan {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__s0QZi {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__zljXr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  min-width: 0;
}
.text__xXff {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  min-width: 0;
}
.embedHtml__xjCy8:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__m7Xwk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  border-radius: 8px;
  padding: 12px;
}
.text__wyCVb {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
}
.text__d0Z6M {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-G-IZ_XhVdlqp);
}
.freeBox__h9Bb9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 24px;
}
.svg__g1Fm6 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-G-IZ_XhVdlqp);
  flex-shrink: 0;
}
.text__gCeYl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-G-IZ_XhVdlqp);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
