.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  position: relative;
  background:
    linear-gradient(var(--token-IdKt2w2aRFZS), var(--token-IdKt2w2aRFZS)),
    var(--token-R_Rsn0nP9oIv);
  border-radius: 50%;
  padding: 0px;
  border: 2px solid var(--token-IFDRLVnOGObf);
}
.img {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 50%;
}
.img > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
