.root {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  position: relative;
  border-radius: 50px;
  padding: 0px;
  border-width: 1px;
}
@media (max-width: 640px) {
  .root {
    animation: none;
  }
}
.freeBox__cIMgF {
  animation: none;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__cIMgF {
    animation: none;
  }
}
.freeBox__fvhYh {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  padding: 0px var(--token-O5TjkXII_aat) 0px 0px;
}
@media (max-width: 640px) {
  .freeBox__fvhYh {
    animation: none;
  }
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__cSlIz {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 25px;
}
@media (max-width: 640px) {
  .svg__cSlIz {
    animation: none;
  }
}
.text__yvOe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.textaction_red__yvOeWe6Q {
  color: var(--token-4RAe7M2gInqR);
}
.buttonLiom4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
}
@media (max-width: 640px) {
  .buttonLiom4:global(.__wab_instance) {
    animation: none;
  }
}
.svg__pB9Fy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__izlpC {
  animation: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  display: none;
}
.svg__xXrFq {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-0jflij2Drauk);
  margin: 4px;
}
@media (max-width: 640px) {
  .svg__xXrFq {
    animation: none;
  }
}
.svg__u9K3L {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
