.root {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f5;
  position: relative;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  justify-self: flex-end;
}
.top3 {
  width: auto;
  height: auto;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  flex-direction: row;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  background: #ffffff;
  z-index: 1;
  right: 0;
  padding: 24px;
}
.top3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.top3 > :global(.__wab_flex-container) > *,
.top3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.top3 > :global(.__wab_flex-container) > picture > img,
.top3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #222b45;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.text__xLjSj {
  display: block;
  font-size: 18px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.266px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: right;
  align-self: auto;
  font-weight: 700;
  min-width: 0;
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__xkAyc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 80px 0px;
}
.freeBox__xkAyc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xkAyc > :global(.__wab_flex-container) > *,
.freeBox__xkAyc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xkAyc > :global(.__wab_flex-container) > picture > img,
.freeBox__xkAyc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__hahJj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hahJj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hahJj > :global(.__wab_flex-container) > *,
.freeBox__hahJj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hahJj > :global(.__wab_flex-container) > picture > img,
.freeBox__hahJj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___6ROFz {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 20px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__zwip0 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__cjo21 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__cjo21 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__cjo21 > :global(.__wab_flex-container) > *,
.freeBox__cjo21 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cjo21 > :global(.__wab_flex-container) > picture > img,
.freeBox__cjo21
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__r5At4 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 20px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__j9Oyk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__hVuSn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hVuSn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hVuSn > :global(.__wab_flex-container) > *,
.freeBox__hVuSn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hVuSn > :global(.__wab_flex-container) > picture > img,
.freeBox__hVuSn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__p0JV {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 20px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__rqziw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__qjvaa {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__qjvaa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__qjvaa > :global(.__wab_flex-container) > *,
.freeBox__qjvaa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qjvaa > :global(.__wab_flex-container) > picture > img,
.freeBox__qjvaa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__g0So1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 20px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__eRvWc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__vcSt7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vcSt7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vcSt7 > :global(.__wab_flex-container) > *,
.freeBox__vcSt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vcSt7 > :global(.__wab_flex-container) > picture > img,
.freeBox__vcSt7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__bbp6E {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 20px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__ibvVb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___9AwXk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  right: auto;
  min-width: 0;
  padding: 80px 0px;
}
.freeBox___9AwXk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9AwXk > :global(.__wab_flex-container) > *,
.freeBox___9AwXk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9AwXk > :global(.__wab_flex-container) > picture > img,
.freeBox___9AwXk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___8ItEf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  min-width: 0;
}
.freeBox___9Hbb4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.textArea3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___47OiX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.radioGroup3:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  row-gap: 4px;
  padding: 8px;
}
.freeBox__oAJu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.radioGroup4:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox__sKbFm {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox___9Qi7N {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  background: #f3f3f3;
  justify-self: flex-start;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox___9Qi7N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___9Qi7N > :global(.__wab_flex-container) > *,
.freeBox___9Qi7N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Qi7N > :global(.__wab_flex-container) > picture > img,
.freeBox___9Qi7N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oinxL {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__nYuzq {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___5WTRd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ugfji {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
