.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__jLmE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__jLmE {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__sX5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 40%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
      ellipse 100% 115% at 50% 35%,
      #a580dd 0%,
      #a580dd 58%,
      #56b9ff00 59%
    )
    0% 0% / 100% 100% repeat;
  overflow: hidden;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__sX5 {
    padding-right: 0px;
  }
}
.img {
  object-fit: fill;
  max-width: 100%;
  width: 300px;
  height: auto;
  position: relative;
  left: auto;
  top: auto;
  margin-top: 150px;
}
.img > picture > img {
  object-fit: fill;
}
@media (max-width: 640px) {
  .img {
    margin-top: 180px;
  }
}
.freeBox__pqIQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 35%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  min-width: 0;
  padding: 8px;
}
.text__jutxo {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  min-width: 0;
}
.text__ymWG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  margin-top: 16px;
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  min-width: 0;
}
