.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.getInfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.verticalIdentity2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  margin-left: 5px;
  background: #f8f8f8;
  row-gap: 16px;
  min-width: 0;
  padding: 100px 16px;
}
@media (max-width: 640px) {
  .verticalIdentity2 {
    width: 100%;
    left: auto;
    top: auto;
    min-width: 0;
    margin: 0px;
  }
}
.verticalForNameInput2 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.verticalForNameInput3 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height: 25px;
  row-gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.verticalForNameInput4 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  row-gap: 8px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0px;
}
.verticalForNameInput5 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.verticalForNameInput6 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height: 25px;
  row-gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.verticalForNameInput7 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  row-gap: 8px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 0px;
}
.verticalForNameInput8 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.verticalForNameInput9 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height: 25px;
  row-gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.freeBox___0EtMm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  min-width: 0;
  padding: 8px;
}
.verticalForNameInput10 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.verticalForNameInput11 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.verticalForNameInput12 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.verticalForNameInput13 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height: 25px;
  row-gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.freeBox__hSsX {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  min-width: 0;
  padding: 8px;
}
.verticalForNameInput14 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.verticalForNameInput15 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.verticalForNameInput16 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.verticalForNameInput17 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  height: 25px;
  row-gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.freeBox__aWq34 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.verticalForNameInput18 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.verticalForNameInput19 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.verticalForNameInput20 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  row-gap: 16px;
  min-width: 0;
  padding: 16px;
}
.verticalForNameInput21 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  height: 25px;
  row-gap: 8px;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.verticalForNameInput22 {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 20px;
  row-gap: 8px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 50px;
  padding: 0px;
}
.verticalIdentity {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  margin-left: 5px;
  background: #f8f8f8;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 100px 16px;
}
@media (max-width: 640px) {
  .verticalIdentity {
    width: 100%;
    left: auto;
    top: auto;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    margin: 0px;
  }
}
.verticalForNameInput {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text___1ZF {
  position: relative;
  width: 30px;
  height: 30px;
  max-width: 100%;
  text-align: right;
  padding-top: 3px;
  padding-right: 3px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.nameInput:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__bGwtC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xkTjE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.antdInput3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.verticalForDateInput {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  row-gap: 8px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.text__eoDI {
  position: relative;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__xsOn3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 10px;
  border-width: 1px;
}
.text___6Ku25 {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  font-size: 16px;
  width: 100%;
  min-width: 0;
}
.svg__nwVtZ {
  object-fit: cover;
  max-width: 100%;
  color: #1d1b1e;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.verticalForSelection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px;
}
.text__cQlUp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.horizontalForButton {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 0;
  column-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.selectionChoise___73Iet:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.selectionChoise__cxSIw:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__oqz89 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.horizontalForButton2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  z-index: 0;
  column-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.selectionChoise___9Uwvi:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.text__oKvjq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.horizontalForButton3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 0;
  column-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.selectionChoise__jR45V:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .selectionChoise__jR45V:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.verticalForProbabilityOfGettingPregnant {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__hatS {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-R_Rsn0nP9oIv);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___7M62A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  width: 100%;
  height: 100%;
  column-gap: 12px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.svg__pUwQ0 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.text__motmB {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 18px;
  position: relative;
  font-weight: 700;
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
}
.switchbest:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__tyElq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 8px;
}
.text__eiRnp {
  position: relative;
  max-width: 100%;
  text-align: center;
  color: var(--token-fn6i10-y5r1L);
  font-size: 14px;
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
}
.verticalForMenstrualCycle {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  width: 100%;
  height: 100%;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__rx2NG {
  position: relative;
  width: 1378px;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  padding-right: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.numberOfDaysOfBleeding2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 15px 8px 8px;
}
.text__cwQod {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.numberOfDaysOfBleeding3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.nameInput2:global(.__wab_instance) {
  max-width: 100%;
  z-index: 0;
  height: auto;
}
.svg__ttv61 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cxUn3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.text__wDth2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  color: var(--token-ODBUExjR6VEF);
  padding-right: 0px;
  text-align: right;
  min-height: 25px;
  min-width: 0;
}
.freeBox__mUqvm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.text__oy5N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__rjiiy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  border-radius: 8px;
}
.nameInput3:global(.__wab_instance) {
  max-width: 100%;
  z-index: 0;
}
.svg__eWjtE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wxvvU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.text__oDdNq {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  font-size: 16px;
  text-align: right;
  min-height: 25px;
  min-width: 0;
}
.text__i3Mle {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-right: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__btqIo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.text__y1Mb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__hLcw7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
}
.nameInput4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__plHui {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__clLbg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.text__pTt43 {
  position: relative;
  height: 100%;
  max-width: 100%;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: var(--token-ODBUExjR6VEF);
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  width: 100%;
  min-height: 25px;
  min-width: 0;
}
.heightAndWeight {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 12px;
  min-width: 0;
}
.freeBox__vJkCe {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  position: relative;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
}
.text__jbkw9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: none;
  font-size: 18px;
  color: var(--token-ODBUExjR6VEF);
  padding-right: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__yzgBs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.text__g49Mf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
.svg__innD9 {
  object-fit: cover;
  max-width: 100%;
  color: #1d1b1e;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.weight {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  position: relative;
  width: 100%;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
}
.text__pqmYb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: none;
  font-size: 18px;
  color: var(--token-ODBUExjR6VEF);
  padding-right: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.weight2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.text__eQTeL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
.svg__zZkBo {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #1d1b1e;
  flex-shrink: 0;
}
.section__qOrM {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section__qOrM > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section__qOrM > * {
    grid-column: 4;
  }
}
.freeBox__c3Zf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 8px 16px;
}
@media (max-width: 640px) {
  .freeBox__c3Zf {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.button19:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg___7YQk6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___90Nh {
  font-size: 18px;
  font-weight: 700;
}
.svg__lbx4R {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.section__tMaqk {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__tMaqk > * {
  grid-column: 4;
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__nQHcD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg__aEFb {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.text__a128L {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.dialogNumberOfDaysOfBleeding:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__h3XMm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text__hk3Tv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  min-width: 0;
}
.pickersForNumberOfDaysOfBleeding:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__hocLo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dfX7 {
  color: #ededec;
  font-weight: 700;
  font-size: 18px;
}
.svg__qg3So {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.dialogDateOfBrith:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__qaM1P {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__mBaGd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
.freeBox___4BcOj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.datePickersBirthDay:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #535353;
  display: flex;
  flex-direction: row;
  height: 233px;
  width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.freeBox__qu2Yw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  min-width: 0;
  padding: 8px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 70%;
}
.svg__vcMam {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xQyR6 {
  color: #ededec;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}
.svg__faieC {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox___7Yxuu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 50%;
  padding: 8px;
}
.text__vIiMk {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  color: var(--token-55cSeNPovQFh);
  font-weight: 500;
  text-align: center;
  font-size: 18px;
}
.dialogForPeriodCycleLength:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
.freeBox__nig0M {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.text__kwF35 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__b5OWu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 300px;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.pickersForPeriodCycleLength:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button9:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__iJpIk {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__grC3F {
  font-weight: 700;
  font-size: 18px;
}
.svg__uGtDl {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.dialogForHeight:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___8ZXfJ {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__kgfog {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.pickersForHeight:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button12:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__jgfnG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qZmxA {
  color: #ededec;
  font-weight: 700;
  font-size: 18px;
}
.svg__mjWFo {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.dialogForWeight:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__el43A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox___0GRzj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.pickersForWeight:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button15:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__zmNs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bobOu {
  font-size: 18px;
}
.svg___3Gfeb {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.dialogForTheDateOfTheFirstDayOfYourLastPeriod:global(.__wab_instance):global(
    .__wab_instance
  ) {
  max-width: 100%;
}
.freeBox__lXIr {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__w5NiJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.pickersForTheDateOfTheFirstDayOfYourLastPeriod:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button18:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__uuP8C {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fcKYw {
  font-size: 18px;
}
.svg___84WyU {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.backHandler:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
