.butWithNote {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-self: flex-start;
  background: none;
  padding: 0px;
}
.butBox {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  width: 60px;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 8px;
}
.butBoxselect {
  background: linear-gradient(#8254c61a, #8254c61a), var(--token-R_Rsn0nP9oIv);
  border-radius: 8px;
  border: 1px solid #7444bc;
}
.svg__klQw5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: var(--token-DVOPg3wGxQIJ);
  height: var(--token-DVOPg3wGxQIJ);
  flex-shrink: 0;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  text-align: center;
}
