.frame49 {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 564px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 0;
  border-radius: 24px;
  padding: var(--token-uOLZE7OyOW-J);
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.frame25 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 64px;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 0;
}
.text__xRbve {
  display: block;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame48 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox___4E8Fo {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.svg__gEcqU {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  transform: scale(1.0000000000000038, 1.0000000000000038)
    rotate(0.0000049783130603797145deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  border-width: 1px;
}
.frame51 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox__k0Lyg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 12px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__k0Lyg {
    overflow: auto;
  }
}
.freeBox__dwBqu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__f6P8G {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  border-radius: 8px;
}
@media (max-width: 640px) {
  .freeBox__f6P8G {
    width: auto;
  }
}
.text__pjbpc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  white-space: pre;
  padding: 8px;
}
@media (max-width: 640px) {
  .text__pjbpc {
    width: auto;
    white-space: pre;
  }
}
.freeBox__ygFuJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__cKfxt {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-1KusGK5GePTh);
  grid-column-gap: var(--token-1KusGK5GePTh);
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__cKfxt {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.frame22 {
  background: none;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  row-gap: 56px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 12px;
  padding: var(--token-1KusGK5GePTh);
}
@media (max-width: 640px) {
  .frame22 {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    column-gap: 0px;
  }
}
.frame21 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
}
.freeBox__b8CtS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
}
.text__yaN7K {
  display: block;
  font-size: var(--token-cunRwTCjQp3O);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  text-align: right;
  white-space: pre;
}
.text__jQcU {
  font-size: var(--token-cunRwTCjQp3O);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: var(--token-R_Rsn0nP9oIv);
  background: var(--token-qvl81LxkOSoe);
  margin-bottom: 0px;
  display: none;
  border-radius: 8px;
  padding: 4px 6px;
}
.text__kE66O {
  font-size: var(--token-Wa5tmrNKVUYF);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  position: relative;
  width: 100%;
  text-align: right;
  min-width: 0;
  display: none;
}
.frame28 {
  width: auto;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 4px;
  align-items: flex-end;
  justify-content: flex-end;
  min-height: 0;
}
.text___4Sqp1 {
  display: block;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  user-select: text;
  white-space: pre;
}
.vuesaxLinearArrowRight {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearArrowRight2 {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__o6Bu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
}
.freeBox__nt6Cl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__ju5SW {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-1KusGK5GePTh);
  grid-column-gap: var(--token-1KusGK5GePTh);
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__ju5SW {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.frame23 {
  background: none;
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  column-gap: 56px;
  align-items: flex-start;
  justify-content: space-between;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  border-radius: 12px;
  padding: var(--token-1KusGK5GePTh);
}
@media (max-width: 640px) {
  .frame23 {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    column-gap: 0px;
  }
}
