.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.verticalIdentity {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  z-index: 1;
  margin-left: 5px;
  background: #f8f8f8;
  min-width: 0;
  padding: 100px 16px;
}
@media (max-width: 640px) {
  .verticalIdentity {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.verticalForNameInput {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__z2Vt {
  position: relative;
  width: 30px;
  height: 30px;
  max-width: 100%;
  text-align: right;
  padding-top: 3px;
  padding-right: 3px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.nameInput:global(.__wab_instance) {
  max-width: 100%;
  z-index: 4;
}
.svg__k5G2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xIaVv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  display: none;
}
.antdInput3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.verticalForIdInput {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px 8px 8px 9px;
}
.text___53Vhi {
  position: relative;
  height: 50px;
  max-width: 100%;
  font-size: 18px;
  text-align: right;
  padding-top: 23px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  flex-shrink: 0;
}
.idInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__jIjn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__ehFla {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.verticalForDateInput {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.text__af68V {
  position: relative;
  height: 50px;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  flex-shrink: 0;
  padding: 23px 0px 0px;
}
.freeBox__jK8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.text___8WE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.modalForDateOfBirth:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg___8Ygdc {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #1d1b1e;
}
.text___3Qdk2 {
  font-size: 16px;
  text-align: right;
  font-weight: 700;
  margin-top: 1px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.freeBox__t3OP2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.datePickers4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 300px;
  display: flex;
  flex-direction: row;
  color: #000000;
  font-weight: 700;
  height: 289px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.freeBox___1X4K9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  padding-right: 0px;
  background: #ffffff;
  min-width: 0;
}
.freeBox___1X4K9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___1X4K9 > :global(.__wab_flex-container) > *,
.freeBox___1X4K9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1X4K9 > :global(.__wab_flex-container) > picture > img,
.freeBox___1X4K9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__jQJv7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__fbz6J {
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ededec;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__zqvKk {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button3__xr1QY:global(.__wab_instance):global(.__wab_instance) {
  width: auto;
}
.svg__bclSl {
  position: relative;
  height: 1em;
}
.text__qJigw {
  padding-left: 0px;
  color: #8254c6;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.svg__r5Bdt {
  position: relative;
  height: 1em;
}
.verticalForSelection {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.text__cGqYj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.horizontalForButton {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.selectionChoise__f1GNw:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.selectionChoise__ob42H:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.text__dL2Ka {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.text__f5Ovx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.horizontalForButton2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.selectionChoise__sSjP:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.text___7ChhP {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.text__zlDnL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.horizontalForButton3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.selectionChoise___5XjO:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.text__ffiFm {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.verticalForProbabilityOfGettingPregnant {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  width: 100%;
  height: 100%;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
  min-height: 0;
}
.freeBox__dYr8N {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.freeBox__nFiv {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__nFiv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 17px);
  width: calc(100% + 17px);
}
.freeBox__nFiv > :global(.__wab_flex-container) > *,
.freeBox__nFiv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nFiv > :global(.__wab_flex-container) > picture > img,
.freeBox__nFiv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 17px;
}
.svg__lW4M {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.text__x4Ezn {
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 18px;
  position: relative;
  font-weight: 700;
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
}
.switchbest:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__kqKzh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  padding: 8px;
}
.text___0Q61M {
  position: relative;
  max-width: 100%;
  text-align: center;
  color: var(--token-fn6i10-y5r1L);
  font-size: 14px;
  white-space: pre-wrap;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
}
.verticalForMenstrualCycle {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.text__ka4AS {
  position: relative;
  width: 1378px;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  padding-right: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.freeBox__kWgc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 15px 8px 8px;
}
.text__k37BQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__hchdI {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.text__lsJfk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.modal:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__diJn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  width: 10px;
  height: 10px;
}
.text__ibRzb {
  height: auto;
  font-size: 18px;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.freeBox__eIgvJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
}
.freeBox__eIgvJ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - var(--token-IGCvYUvm1NWs));
  height: calc(100% + var(--token-IGCvYUvm1NWs));
}
.freeBox__eIgvJ > :global(.__wab_flex-container) > *,
.freeBox__eIgvJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eIgvJ > :global(.__wab_flex-container) > picture > img,
.freeBox__eIgvJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-IGCvYUvm1NWs);
}
.pickers:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___7DfVn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__k0G87 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wmjQk {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__vbhzh {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__rribl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gmUae {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox___9PFte {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.text__jxvgb {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 23px;
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.modal5:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__oy9Cb {
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  height: 10px;
  color: var(--token-ODBUExjR6VEF);
}
.text__lyACm {
  font-style: italic;
  width: 100%;
  color: var(--token-ODBUExjR6VEF);
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__weOYv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 300px;
  min-width: 0;
}
.freeBox__weOYv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-IGCvYUvm1NWs));
  height: calc(100% + var(--token-IGCvYUvm1NWs));
}
.freeBox__weOYv > :global(.__wab_flex-container) > *,
.freeBox__weOYv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__weOYv > :global(.__wab_flex-container) > picture > img,
.freeBox__weOYv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-IGCvYUvm1NWs);
}
.pickers5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__q8Bhi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ocEnl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__dT8EZ {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__vwRuB {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.text___03Fx9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-right: 16px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__xSZgy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zr4Gx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__xNeYo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.text__cL78D {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.heightAndWeight {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 0;
}
.freeBox__kzzDw {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
.text__oBGcV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: none;
  font-size: 18px;
  color: var(--token-ODBUExjR6VEF);
  padding-right: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__gzQ2U {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.text__ha2B1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.modal4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.svg__jv8Gn {
  object-fit: cover;
  max-width: 100%;
  color: #1d1b1e;
  height: 30px;
}
.freeBox___40AjS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 300px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.pickers3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__dbQS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__hBTpR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__d4TbH {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__ycpY {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.weight {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
}
.text___3YH8O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  background: none;
  font-size: 18px;
  color: var(--token-ODBUExjR6VEF);
  padding-right: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.weight2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  border-width: 1px;
}
.text__i1Bra {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  color: var(--token-ODBUExjR6VEF);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 8px;
}
.modal2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.svg__m9D1 {
  object-fit: cover;
  max-width: 100%;
  height: 30px;
  width: 30px;
  color: #1d1b1e;
}
.freeBox__oh2Gv {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  width: 300px;
}
.freeBox__oh2Gv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - var(--token-IGCvYUvm1NWs));
  height: calc(100% + var(--token-IGCvYUvm1NWs));
}
.freeBox__oh2Gv > :global(.__wab_flex-container) > *,
.freeBox__oh2Gv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oh2Gv > :global(.__wab_flex-container) > picture > img,
.freeBox__oh2Gv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-IGCvYUvm1NWs);
}
.pickers2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rUSp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__xyQj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__uwlj {
  font-size: 16px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__mIJiC {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
