.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-R_Rsn0nP9oIv);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-i_KeTXgXb5hw);
  width: var(--token-i_KeTXgXb5hw);
  border-radius: 99px;
  border: 1px solid var(--token-0xHMxyAHbOos);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-0xHMxyAHbOos);
  outline-offset: 1px;
}
