.root {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 0px;
}
.section__lfvhk {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__lfvhk > * {
  grid-column: 4;
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  z-index: 100;
  min-width: 0;
}
@media (max-width: 640px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__ks1Rm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg__su2Qq {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
}
.text___2QpYt {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__vRa8B {
  background: var(--token-R_Rsn0nP9oIv);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-1KusGK5GePTh);
}
.text__bf9Au {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bPuYh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  min-width: 0;
  padding: 0px;
}
.freeBox___8HTe5 {
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  background: var(--token-R_Rsn0nP9oIv);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-1KusGK5GePTh);
  min-height: 80vh;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-O5TjkXII_aat);
}
.freeBox__qq1Eb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  background: #ffffff;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  border-radius: 6px 6px 0px 0px;
  padding: 8px;
  border-style: solid;
}
.text__oCdM6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.text__wfGj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.text__dz3Iz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.text__mSbJ7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.freeBox__gsd4G {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.text__p8STy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-G-IZ_XhVdlqp);
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  padding-right: var(--token-O5TjkXII_aat);
  padding-left: var(--token-O5TjkXII_aat);
  min-width: 0;
}
.text__tNbHq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-IdKt2w2aRFZS);
  font-weight: 700;
  min-width: 0;
}
.freeBox__lSi0O {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  border-top-style: solid;
  border-top-width: 1px;
  row-gap: 2px;
  min-width: 0;
  padding: var(--token-B5WvIYiqPJW-) var(--token-O5TjkXII_aat);
}
.text__obQDa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  opacity: 0.08;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  object-position: 40% 50%;
  filter: none;
  right: 0;
  margin: 1.5rem;
}
.img > picture > img {
  object-fit: cover;
  object-position: 40% 50%;
}
.freeBox__qhz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  box-shadow: none;
  row-gap: var(--token-1KusGK5GePTh);
  min-width: 0;
  padding: 0px var(--token-O5TjkXII_aat);
}
.freeBox__q8SM5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-top-style: solid;
  border-top-width: 1px;
  row-gap: 2px;
  min-width: 0;
  padding: var(--token-B5WvIYiqPJW-) 0px;
}
.freeBox__ph6O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__o5Jhi {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__quJ7T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  min-width: 0;
  display: none;
}
.freeBox__frDvg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 4px;
  border-bottom: 1px solid var(--token-RfhqiwT2YAVo);
}
.freeBox__nfNrr {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4px;
  padding: 0px;
}
.svg__htof1 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text__c4GlJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.freeBox__iVsO1 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0px;
  padding: 8px;
}
.text___6XGk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.text__pByoY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.freeBox__mvOdw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-top-style: solid;
  border-top-width: 1px;
  row-gap: 2px;
  min-width: 0;
  padding: var(--token-B5WvIYiqPJW-) 0px;
}
.freeBox__oadp8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__y4Eko {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__p3Yxr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  min-width: 0;
}
.fragmentChart:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  display: flex;
  min-width: 0;
  min-height: 0;
}
.freeBox__luy5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 2px;
  border-top-width: 1px;
  border-top-style: solid;
  min-width: 0;
  padding: var(--token-B5WvIYiqPJW-) 0px;
}
.freeBox__nOsbV {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ov0Ob {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.freeBox__kdbTh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.text__vusUv {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  align-self: center;
}
.freeBox__h1YDy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-O5TjkXII_aat);
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox___8Vdte {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.svg__fuirq {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.svg__dPjsK {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-IdKt2w2aRFZS);
  flex-shrink: 0;
}
.svg___2Wq53 {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-_Tqr-iwbEpLO);
  flex-shrink: 0;
}
.text__ypRgQ {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 14px;
  text-align: center;
}
.freeBox__jcXgd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
  padding: var(--token-1KusGK5GePTh) 0px 0px;
}
.freeBox__jgQtP {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: var(--token-38wfsm-OP2Vm);
  padding: 0px;
}
.svg__sDdXh {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-IdKt2w2aRFZS);
  flex-shrink: 0;
}
.text__rxpGf {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}
.freeBox__dSy7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-38wfsm-OP2Vm);
  padding: 0px;
}
.svg__yknln {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-qvl81LxkOSoe);
  flex-shrink: 0;
}
.text__ovozw {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}
.section__z7VFb {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  column-gap: var(--token-1KusGK5GePTh);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: var(--token-B5WvIYiqPJW-);
}
.section__z7VFb > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section__z7VFb > * {
    grid-column: 4;
  }
}
.freeBox__wzHJx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-1KusGK5GePTh);
  background: none;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  min-width: 0;
  padding: 0px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__g1DZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rof2Z {
  font-weight: 700;
}
.svg__kAaNa {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___2A1Bn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__oJm8E {
  color: var(--token-qvl81LxkOSoe);
  font-weight: 700;
}
.svg__xvrU {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
