.dialog3:global(.__wab_instance) {
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  max-width: 100%;
  object-fit: cover;
  position: relative;
  -webkit-backdrop-filter: blur(10px);
}
.pcls_VPHfFWDwQfXS {
  background: var(--token-Le07ngBUPl2h);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  outline: none;
}
@media (max-width: 640px) {
  .pcls_g0tKyxWWtH8Y {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    outline: none;
  }
}
.button3:global(.__wab_instance) {
  display: none;
}
.svg__ghP9T {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__tXkVb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.dialogContent:global(.__wab_instance) {
  box-shadow: 0px 4px 16px 0px #00000033;
  background: rgb(255, 255, 255);
  width: auto;
  max-width: 600px;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 600px;
  max-height: 100%;
  overflow: auto;
  align-self: center;
  z-index: 1;
  right: auto;
  bottom: auto;
  border-radius: 8px;
  padding: var(--token-B5WvIYiqPJW-);
  border: 1px solid #e2e8f0;
}
@media (max-width: 640px) {
  .dialogContent:global(.__wab_instance) {
    width: 100%;
    min-width: 100vw;
    max-width: 100vw;
    border-radius: 16px 16px 0px 0px;
  }
}
.dialogContentfullpage:global(.__wab_instance) {
  min-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background: var(--token-R_Rsn0nP9oIv);
  border-radius: 0px;
  padding: 0px;
}
.dialogTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__vdzx0 {
  display: none;
}
.freeBox___1ZQj {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background: #ffffff00;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  border-radius: 50px;
  padding: var(--token-O5TjkXII_aat);
}
.freeBox___87G53 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.svg__cdXGj {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  color: var(--token-4RAe7M2gInqR);
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__yRhG {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__bJwJr {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-JDv1HFq3SNmi);
  color: var(--token-gQVGO0B0wQBM);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.text__yZbEn {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 400;
  font-style: normal;
  color: var(--token-d0xmvBfBUlz_);
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 20px;
}
.freeBox___7H2Ck {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  padding: 0px 20px;
}
.button4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  z-index: 5;
  min-width: 0;
}
.svg__vjKx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hBorb {
  animation: none;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg___1IhRz {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 150%;
  color: var(--token-jgohepLVeKvh);
}
.freeBox___4TstK {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff00;
  z-index: 200;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  min-height: 0;
  border-radius: 50px;
  padding: var(--token-O5TjkXII_aat);
}
.freeBox__wReF2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.svg__jaixl {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  color: var(--token-4RAe7M2gInqR);
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___7FPs {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__rH9Jl {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-JDv1HFq3SNmi);
  color: var(--token-4RAe7M2gInqR);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.text__vxRfA {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-d0xmvBfBUlz_);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 20px;
}
.text__iYl0B {
  animation: none;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
.freeBox__x6Dcx {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 40px;
  min-width: 0;
  padding: 0px 20px;
}
.buttonLiom8:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__s5B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__ds6J9 {
  animation: none;
  font-size: var(--token-Wa5tmrNKVUYF);
  padding-left: 0px;
  font-weight: 700;
  padding-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__dlO4W {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-jgohepLVeKvh);
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  transform: none;
}
.dialogClose:global(.__wab_instance) {
  position: absolute;
  top: 16px;
  opacity: 0.7;
  object-fit: cover;
  width: auto;
  left: 16px;
  border-radius: 999px;
}
@media (max-width: 640px) {
  .dialogClose:global(.__wab_instance) {
    display: none;
  }
}
.svg__yE0Nr {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  height: 1em;
}
