.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px 8px 8px 16px;
}
.freeBox__tlDKw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 35px;
  max-width: 100%;
  padding: 0px 0px 0px 8px;
}
.freeBox__tlDKw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tlDKw > :global(.__wab_flex-container) > *,
.freeBox__tlDKw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tlDKw > :global(.__wab_flex-container) > picture > img,
.freeBox__tlDKw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__lyXjc {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DFwge94Hey3F);
  height: 1em;
}
.text__xj0O6 {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-BIuTS8zmWD0f);
  white-space: pre-wrap;
  min-height: 0;
  padding: 8px 8px 0px 16px;
}
.freeBox__t17Fm {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__t17Fm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__t17Fm > :global(.__wab_flex-container) > *,
.freeBox__t17Fm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t17Fm > :global(.__wab_flex-container) > picture > img,
.freeBox__t17Fm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.drawer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.drawer__drawer :global(.ant-drawer-title) {
  outline: none;
  padding: 0px;
  margin: 0px;
}
.drawer__drawer :global(.ant-drawer-header) {
  outline: none;
  padding: 0px;
}
.freeBox__b3Xdd {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
