.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root {
    padding: 0px 12px;
  }
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .reveal:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.getData:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__kvUph {
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px 0px 8px;
}
.freeBox___8WkeH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__rXbMq {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  border-radius: 8px;
  padding: 12px;
}
.freeBox__ot2IW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__chlpe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-bottom: 0px;
  font-size: var(--token-cunRwTCjQp3O);
  font-weight: 700;
  align-self: center;
  color: var(--token-kjnzcds1FoVY);
  min-width: 0;
}
.ul {
  display: flex;
  width: 100%;
  list-style-type: none;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.li {
  display: flex;
  flex-direction: column;
}
.freeBox__dvQdr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__tk1Zj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 100;
  align-self: center;
  padding-top: 4px;
  min-width: 0;
}
.svg__tzF4Z {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  color: var(--token-DFwge94Hey3F);
  flex-shrink: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 30%;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: auto;
  padding: 16px;
}
.freeBox__na4MY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__hGmWl {
  text-align: justify;
}
.text__zyctI {
  text-align: right;
  color: var(--token-kjnzcds1FoVY);
  font-size: 16px;
}
.freeBox__sgouN {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  min-width: 0;
  padding: 0px var(--token-1KusGK5GePTh) var(--token-B5WvIYiqPJW-);
}
.freeBox___0FMq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  left: auto;
  top: auto;
  row-gap: 0px;
  box-shadow: 0px -4px 16px 0px #0000001a;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid var(--token-qvl81LxkOSoe);
}
.freeBox___1TgU0 {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  background: #7444bc33;
  left: 0px;
  top: 0px;
  z-index: 1;
  border-radius: 8px 0px;
  padding: 3px 8px 2px;
}
@media (max-width: 640px) {
  .freeBox___1TgU0 {
    display: block;
  }
}
.text___1S9Ll {
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-moKolTKrMXup);
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
.freeBox__qttM {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: var(--token-O5TjkXII_aat) var(--token-O5TjkXII_aat) 0px;
}
.freeBox__i24Au {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  column-gap: var(--token-O5TjkXII_aat);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: var(--token-uOLZE7OyOW-J) var(--token-O5TjkXII_aat)
    var(--token-O5TjkXII_aat);
}
.text___65Bvz {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-cunRwTCjQp3O);
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: justify;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__oEpu {
  display: flex;
  position: sticky;
  width: auto;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
}
.text__bvbnH {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-moKolTKrMXup);
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  align-self: center;
  min-width: 0;
  padding: var(--token-38wfsm-OP2Vm) var(--token-38wfsm-OP2Vm)
    var(--token-VjHVHKRQhLFo);
}
.freeBox___3DLj2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: var(--token-O5TjkXII_aat) 0px;
}
.text__jocVm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-moKolTKrMXup);
  font-weight: 400;
  font-style: normal;
  color: var(--token-DFwge94Hey3F);
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: line-through;
  text-overflow: clip;
}
.freeBox__x95Br {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.text__uWzCr {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text___1J9Vf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 500;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__pp4U3 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-cunRwTCjQp3O);
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__rgbRa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
}
.freeBox__bbWmc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button12:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
}
@media (max-width: 640px) {
  .button12:global(.__wab_instance) {
    height: 30px;
    align-self: center;
    width: auto;
  }
}
.svg__f9OJ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__k2Ku8 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__zmSmy {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__x6Fp0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px var(--token-B5WvIYiqPJW-) var(--token-O5TjkXII_aat);
  margin: 0px;
}
.button8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__pyHb7 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__cLDg0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg__lNue2 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.button9:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
  display: none;
  margin: 0px;
}
.svg__b8CPy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__zobOo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__zobOo {
    white-space: pre;
  }
}
.svg__bi9M5 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.p {
  text-align: center;
  font-size: 14px;
  color: var(--token-EmQk5DERlmjM);
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding-bottom: 8px;
}
@media (max-width: 640px) {
  .p {
    padding-bottom: 8px;
  }
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__thLn1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.freeBox___0TDr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: var(--token-B5WvIYiqPJW-);
}
.freeBox__jhDsW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Gne_lZD4DyXd);
  margin-bottom: var(--token-uOLZE7OyOW-J);
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-B5WvIYiqPJW-) var(--token-O5TjkXII_aat);
  border: 1px solid var(--token-G-IZ_XhVdlqp);
}
.text__skeQr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  text-align: right;
  min-width: 0;
}
.svg__nzLzQ {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.subscription3:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__cusIj {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #7444bc33;
  left: auto;
  top: auto;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px 8px 2px;
}
@media (max-width: 640px) {
  .freeBox__cusIj {
    top: auto;
    left: auto;
    display: block;
  }
}
.text__w9B6U {
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .text__w9B6U {
    font-size: 12px;
  }
}
.freeBox__atBln {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.button14:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__wqq6G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__qhTvT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg__fpL2P {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.button10:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
  align-self: center;
  display: none;
  margin: 0px;
}
.svg__rxMzo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___1TJz2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___1TJz2 {
    white-space: pre;
  }
}
.svg__z0OZk {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.freeBox__h2Tmf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 10px;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
}
.freeBox__p6Bgg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
  border-width: 2px;
  border-style: solid;
}
.input5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button13:global(.__wab_instance) {
  max-width: 100%;
  width: 30%;
}
@media (max-width: 640px) {
  .button13:global(.__wab_instance) {
    height: 30px;
    align-self: center;
    width: auto;
  }
}
.svg__jjVyE {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__j03Ak {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__q7Fsl {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
