.frame11 {
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-B5WvIYiqPJW-);
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  min-height: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-1KusGK5GePTh);
}
@media (max-width: 640px) {
  .frame11 {
    align-items: center;
    justify-content: center;
    row-gap: var(--token-O5TjkXII_aat);
    height: auto;
    border-top-width: 1px;
    border-top-style: solid;
    column-gap: 0px;
    border-radius: 0px;
    padding: var(--token-O5TjkXII_aat);
  }
}
.frame14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 24px;
}
@media (max-width: 640px) {
  .frame14 {
    flex-direction: row;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
    row-gap: 0px;
    display: none;
  }
}
.logo {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
  justify-content: flex-start;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: var(--token-s1TaIRhT4ThU);
  height: var(--token-s1TaIRhT4ThU);
  display: block;
  position: relative;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text___83B1K {
  display: block;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
}
.freeBox {
  display: block;
  position: relative;
  width: 208px;
  height: 0px;
  flex-shrink: 0;
}
.svg__lvScl {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  transform: scale(1.0000000000000038, 1.0000000000000038)
    rotate(0.0000049783130603797145deg);
  width: 100%;
  height: 2px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-style: preserve-3d;
  min-width: 0;
}
.svg__lvScl * {
  transform-style: preserve-3d;
}
.frame12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
@media (max-width: 640px) {
  .frame12 {
    display: flex;
    flex-direction: row;
    max-width: 757px;
    width: 100%;
    margin-top: 0px;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
    row-gap: 0px;
    min-width: 0;
  }
}
.menuItem2:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 640px) {
  .menuItem2:global(.__wab_instance) {
    max-width: 25%;
    width: 34%;
    height: auto;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
.frame7 {
  width: auto;
  height: auto;
  display: flex;
  position: absolute;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  padding-bottom: var(--token-1KusGK5GePTh);
}
@media (max-width: 640px) {
  .frame7 {
    display: none;
  }
}
.vuesaxLinearLogout {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.vuesaxLinearLogout2 {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg___6Gh6O {
  object-fit: cover;
  max-width: 100%;
  color: #ea5b52;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text__yF3TA {
  display: block;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(234, 91, 82, 1);
  position: relative;
  font-style: normal;
  text-align: left;
  text-transform: none;
  white-space: pre-wrap;
}
