.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-F1vFjKNmAS8s);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__bmcsR {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-F1vFjKNmAS8s);
}
.radio___0Xv8I:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__uWhUs:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__eqwh5:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
