.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5%;
  min-width: 0;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vYz1X {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 50%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
      ellipse 100% 115% at 50% 30%,
      #a580dd 0%,
      #a580dd 58%,
      #56b9ff00 59%
    )
    0% 0% / 100% 100% repeat;
  min-width: 0;
  padding: 8px;
}
.img__sOtPa {
  object-fit: cover;
  max-width: 100%;
  width: 300px;
}
.img__sOtPa > picture > img {
  object-fit: cover;
}
.freeBox__r5GB4 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  box-shadow: none;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 16px 16px 24px;
}
.freeBox__r5GB4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__r5GB4 > :global(.__wab_flex-container) > *,
.freeBox__r5GB4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r5GB4 > :global(.__wab_flex-container) > picture > img,
.freeBox__r5GB4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.img__noCaz {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
  display: none;
}
.img__noCaz > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__noCaz {
    width: 100%;
    min-width: 0;
  }
}
.text___2A3GX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 700;
  min-width: 0;
}
.freeBox__m4HCh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__m4HCh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__m4HCh > :global(.__wab_flex-container) > *,
.freeBox__m4HCh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m4HCh > :global(.__wab_flex-container) > picture > img,
.freeBox__m4HCh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__gezoF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 15px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___85V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 15px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__ozDdU {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 15px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__utnP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 15px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__zgLv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__p68Yo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__p68Yo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__p68Yo > :global(.__wab_flex-container) > *,
.freeBox__p68Yo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p68Yo > :global(.__wab_flex-container) > picture > img,
.freeBox__p68Yo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__owf7T {
  text-align: right;
  font-weight: 700;
  background: #f9f9f9;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 18px;
  padding: 8px;
}
.freeBox__lnTt5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 16px;
}
.freeBox__lnTt5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__lnTt5 > :global(.__wab_flex-container) > *,
.freeBox__lnTt5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lnTt5 > :global(.__wab_flex-container) > picture > img,
.freeBox__lnTt5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 640px) {
  .freeBox__lnTt5 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .freeBox__lnTt5 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 640px) {
  .freeBox__lnTt5 > :global(.__wab_flex-container) > *,
  .freeBox__lnTt5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lnTt5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__lnTt5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.text__bZf3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-64O07uLgKimi);
  font-weight: 700;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__bZf3 {
    font-size: var(--token-70Yb0tqelyc1);
  }
}
.freeBox__s9NLf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__ifQj2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__ziwC8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 1px;
  height: auto;
  max-width: 100%;
  padding: 0px;
  border-right: 1px solid var(--token-y50Rafqey4Ec);
}
.text__uScU1 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  text-align: left;
  color: var(--token-64O07uLgKimi);
  font-weight: 700;
  padding-left: 2px;
  padding-right: 2px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 20px;
  height: 20px;
}
.antdInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: left;
  width: 100%;
  height: 100%;
  font-size: 14px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .antdInput:global(.__wab_instance) {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.freeBox__riMmE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__riMmE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__riMmE > :global(.__wab_flex-container) > *,
.freeBox__riMmE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__riMmE > :global(.__wab_flex-container) > picture > img,
.freeBox__riMmE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___1PJL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 16px 0px;
}
.freeBox___1PJL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___1PJL > :global(.__wab_flex-container) > *,
.freeBox___1PJL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1PJL > :global(.__wab_flex-container) > picture > img,
.freeBox___1PJL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
@media (max-width: 640px) {
  .freeBox___1PJL {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .freeBox___1PJL > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 640px) {
  .freeBox___1PJL > :global(.__wab_flex-container) > *,
  .freeBox___1PJL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1PJL > :global(.__wab_flex-container) > picture > img,
  .freeBox___1PJL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.text__esRp2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-64O07uLgKimi);
  font-weight: 700;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__esRp2 {
    font-size: var(--token-70Yb0tqelyc1);
  }
}
.freeBox__mKuph {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg___1WT0X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  width: 100%;
  height: 100%;
  font-size: 14px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .antdInput2:global(.__wab_instance) {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.freeBox__e91Ag {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f9f9f9;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-bottom: 10%;
  min-width: 0;
  padding: 0px 16px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__i3Lhe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6T3GO {
  color: var(--token-R_Rsn0nP9oIv);
  font-weight: 700;
}
.svg__uPyTg {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
