.root {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 20px;
  color: var(--token-y50Rafqey4Ec);
  transform: skew(0deg, 0deg);
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  position: relative;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.1s;
}
.rootup {
  transform: rotate3d(0, 0, 1, 180deg) skew(0deg, 0deg);
}
