.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-ODBUExjR6VEF);
  font-family: var(--token-2lDfJHYaD05G);
  font-size: var(--token-LMEbRDTg0Iix);
  line-height: var(--token-MZ4KWwVSoShs);
  width: 100%;
  column-gap: var(--token-ZvaN7zB_BbvY);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.ariaRadiocustom:global(.__wab_instance) {
  justify-content: space-between;
}
.ariaRadiocustom[data-selected] .slotTargetLabelcustom {
  color: var(--token-SX03PBUzWAqr);
}
.freeBox__he5At {
  display: flex;
  position: relative;
  width: var(--token-i_KeTXgXb5hw);
  height: var(--token-i_KeTXgXb5hw);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-LNIzKl5AGPPT);
}
.ariaRadio[data-selected] .freeBox__he5At {
  background: var(--token-0xHMxyAHbOos);
  border-color: var(--token-0xHMxyAHbOos);
}
.ariaRadio[data-focus-visible] .freeBox__he5At {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-0xHMxyAHbOos);
  outline-width: 2px;
}
.freeBoxcustom__he5AtPrpqq {
  background: var(--token-Y4frplZPI0IJ);
  border-width: 2px;
}
.ariaRadiocustom[data-selected] .freeBoxcustom__he5AtPrpqq {
  align-self: center;
  background: var(--token-SX03PBUzWAqr);
  border-color: var(--token-h0Lrt0a3YiLk);
}
.freeBox__yXu6 {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__yXu6 {
  width: var(--token-3VFsPoJwdkXP);
  height: var(--token-3VFsPoJwdkXP);
  flex-shrink: 0;
  display: block;
}
.ariaRadiocustom[data-selected] .freeBoxcustom__yXu6Prpqq {
  display: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 10px;
  height: 10px;
  color: var(--token-R_Rsn0nP9oIv);
  flex-shrink: 0;
  display: none;
}
.ariaRadiocustom[data-selected] .svgcustom {
  display: block;
}
