.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #818181b5;
}
.rootclick {
  border-width: 2px;
  border-color: #95216a;
}
.freeBox__eDg1A {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  right: auto;
  padding: 0px;
}
.freeBox__msyU3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 8px;
}
.text__qrbsi {
  width: 45%;
  height: auto;
  max-width: 100%;
  padding-top: 0px;
  text-align: right;
  font-weight: 600;
  font-size: 14px;
  white-space: pre;
}
@media (max-width: 640px) {
  .text__qrbsi {
    width: 50%;
  }
}
.textclick__qrbsimGxtU {
  width: 40%;
}
@media (max-width: 640px) {
  .textclick__qrbsimGxtU {
    width: 50%;
  }
}
.freeBox__apZ9L {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBoxclick__apZ9LmGxtU {
  width: 100%;
  min-width: 0;
}
.text__xBk9C {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: flex-end;
  left: auto;
  top: auto;
  z-index: 1;
  text-decoration-line: line-through;
  padding-left: 8px;
  font-size: 16px;
  color: #898989;
}
@media (max-width: 640px) {
  .text__xBk9C {
    left: auto;
    top: auto;
    font-size: 14px;
    padding-left: 10px;
  }
}
.textclick__xBk9CmGxtU {
  left: auto;
  top: auto;
  font-size: 16px;
}
@media (max-width: 640px) {
  .textclick__xBk9CmGxtU {
    font-size: 14px;
  }
}
.text___0AMav {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: var(--token-2xQ-Ews6Hwx4);
  left: auto;
  top: auto;
  z-index: 1;
  align-self: baseline;
}
@media (max-width: 640px) {
  .text___0AMav {
    font-size: 14px;
    align-self: flex-end;
  }
}
.textclick___0AMavmGxtU {
  text-align: left;
  left: auto;
  top: auto;
}
@media (max-width: 640px) {
  .textclick___0AMavmGxtU {
    align-self: flex-end;
  }
}
.freeBox___6WHA {
  display: flex;
  position: sticky;
  width: 30px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 2px;
}
@media (max-width: 640px) {
  .freeBox___6WHA {
    height: 20px;
  }
}
.text__fPwYn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  min-width: 0;
}
