.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: -1px;
  top: 0px;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__qfLcd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg__dmUru {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.text__csBdw {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.freeBox__vQm5S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 70px 12px 12px;
}
@media (max-width: 640px) {
  .freeBox__vQm5S {
    width: 100%;
    row-gap: 16px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__bnEdq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.text__iBl7Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__giORa {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 10px 0px #0000001a;
  column-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__d8T {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__ofZFq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox___4Urbe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__m6UHm {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
}
.freeBox__ygg0S {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: #b3489b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.text__bAAfC {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  color: var(--token-R_Rsn0nP9oIv);
  font-size: 8px;
  min-width: 0;
  min-height: 0;
  padding: 2px 4px;
}
.freeBox__wh8H {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.svg__jJQkG {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DUPkVtvXeJJo);
  height: 1em;
  flex-shrink: 0;
}
.text__cOnc6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  min-width: 0;
}
.svg__jIPp {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  padding-top: 0px;
  min-width: 0;
}
@media (max-width: 640px) {
  .embedHtml:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__eb3Yo {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  display: none;
  padding: 64px 12px 12px;
}
@media (max-width: 640px) {
  .freeBox__eb3Yo {
    width: 100%;
    row-gap: 16px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__yzoBc {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox___3M9YE {
  display: flex;
  width: 100%;
  height: 150px;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__tQbL {
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__rl8Wg {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__y7DuL {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__rmZUg {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__lgQLx {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__fmK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-1KusGK5GePTh);
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__fmK {
    row-gap: 8px;
    column-gap: 0px;
  }
}
.freeBox__oHtfe {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ol6J0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-55cSeNPovQFh);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 50%;
}
@media (max-width: 640px) {
  .button2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__vnN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7Wgot {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-55cSeNPovQFh);
}
.text__mDhTj {
  font-size: 16px;
}
.directDialog2:global(.__wab_instance) {
  max-width: 100%;
}
.selfcare:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.load:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
}
