.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-ODBUExjR6VEF);
  font-family: var(--token-2lDfJHYaD05G);
  font-size: var(--token-LMEbRDTg0Iix);
  line-height: var(--token-MZ4KWwVSoShs);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-F1vFjKNmAS8s);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-moKolTKrMXup);
  line-height: var(--token-WxQxCrq-CTVf);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-cunRwTCjQp3O);
  line-height: var(--token-ptaGdVRCD4vt);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-fn6i10-y5r1L);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-IdKt2w2aRFZS);
  display: block;
}
