.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.rootdarkMod {
  background: #0f0f0f;
}
@media (max-width: 640px) {
  .rootdarkMod {
    background: #0f0f0f;
  }
}
.favIcone:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pullToRefresh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wDwFp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__wDwFp {
    width: 100%;
    min-width: 0;
    padding: 8px 0px;
  }
}
.lottie__hAx7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 300px;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.getUserInfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__eEobE {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  overflow: visible;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__eEobE {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__emsRk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__emsRk {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.freeBox__zvNi4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #ffffff;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 8px 8px 8px 0px;
}
.freeBoxdarkMod__zvNi4Ufe6J {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__m48I {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__a28Xv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__a28Xv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__a28Xv > :global(.__wab_flex-container) > *,
.freeBox__a28Xv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a28Xv > :global(.__wab_flex-container) > picture > img,
.freeBox__a28Xv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__dpb6E {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 0;
  font-size: 18px;
}
@media (max-width: 640px) {
  .text__dpb6E {
    font-size: 16px;
  }
}
.textdarkMod__dpb6Eufe6J {
  color: var(--token-jgohepLVeKvh);
}
.text___1GY86 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  font-size: 18px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
}
@media (max-width: 640px) {
  .text___1GY86 {
    font-size: 16px;
    margin-left: calc(0px + 8px) !important;
  }
}
.textdarkMod___1GY86Ufe6J {
  color: var(--token-jgohepLVeKvh);
  margin-left: calc(0px + 8px) !important;
}
.lottie___8YIng:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 150px;
  align-self: auto;
  margin-top: -20px;
}
.freeBox___97GMx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.text__vd6X {
  background: #fffbff;
  text-align: center;
  font-size: 17px;
  border-radius: 8px;
  padding: 4px 6px;
  border: 1px dashed #8254c6;
}
@media (max-width: 640px) {
  .text__vd6X {
    font-size: 15px;
  }
}
.textdarkMod__vd6Xufe6J {
  background: var(--token-sN1yASr7oAvM);
}
.freeBox__v60A0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__s9Gsj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #535353;
  font-weight: 700;
  margin-top: 12px;
  font-size: 17px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__s9Gsj {
    font-size: 16px;
  }
}
.textdarkMod__s9Gsjufe6J {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__e4FxZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  background: #8254c6;
  border-radius: 8px;
  padding: 8px;
}
.img__sZjK {
  object-fit: cover;
  max-width: 100%;
  margin-right: 0px;
  width: 18px;
  margin-left: 8px;
  flex-shrink: 0;
}
.img__sZjK > picture > img {
  object-fit: cover;
}
.text__gk9Gl {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #fffbff;
  background: none;
  font-size: 18px;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__gk9Gl {
    font-size: 15px;
  }
}
.freeBox__rAHjD {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px;
}
.freeBox__jZlpA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBoxdarkMod__jZlpAufe6J {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox___9IUdz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.text__thdHn {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  color: var(--token-0xHMxyAHbOos);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__thdHn {
    font-size: 18px;
  }
}
.textdarkMod__thdHNufe6J {
  color: #8254c6;
}
.text__kzHfn {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 8px;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__kzHfn {
    font-size: 16px;
  }
}
.textdarkMod__kzHfNufe6J {
  color: var(--token-jgohepLVeKvh);
}
.lottie__tAvf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.freeBox__nXywN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__nXywN {
    padding: 0px;
  }
}
.freeBox__vrIZa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__vrIZa {
    padding: 0px;
  }
}
.freeBox__d9SWy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: none;
  min-height: 0;
  padding: 8px;
}
.freeBox__d9SWy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__d9SWy > :global(.__wab_flex-container) > *,
.freeBox__d9SWy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__d9SWy > :global(.__wab_flex-container) > picture > img,
.freeBox__d9SWy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (max-width: 640px) {
  .freeBox__d9SWy {
    display: flex;
    flex-direction: column;
    padding: 4px;
  }
}
@media (max-width: 640px) {
  .freeBox__d9SWy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__d9SWy > :global(.__wab_flex-container) > *,
  .freeBox__d9SWy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__d9SWy > :global(.__wab_flex-container) > picture > img,
  .freeBox__d9SWy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__aHp9W {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353e0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  padding: 0px;
}
.text___9F6Y {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353;
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__gx0Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  min-height: 0;
  padding: 0px;
}
.text__obYn {
  width: auto;
  height: 100%;
  max-width: 100%;
  background: none;
  color: var(--token-R_Rsn0nP9oIv);
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  min-height: 0;
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid var(--token-0xHMxyAHbOos);
}
@media (max-width: 640px) {
  .text__obYn {
    font-size: 12px;
    padding: 2px 6px;
  }
}
.freeBox__lRqo4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 4px 8px 0px;
}
.text__aN8H {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353e0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  padding: 0px;
}
.text__eyc0W {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353;
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__tF0Fh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-_Tqr-iwbEpLO);
  margin-top: 12px;
  border-radius: 8px;
  padding: 4px 8px;
  border: 1px solid var(--token-55cSeNPovQFh);
}
.freeBox__tF0Fh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__tF0Fh > :global(.__wab_flex-container) > *,
.freeBox__tF0Fh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tF0Fh > :global(.__wab_flex-container) > picture > img,
.freeBox__tF0Fh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__x3PIo {
  color: var(--token-55cSeNPovQFh);
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 0px;
}
.switchbest:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__koDmg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__koDmg {
    padding: 0px;
  }
}
.freeBox__pB6J9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__pB6J9 {
    padding: 0px;
  }
}
.freeBox__o5Bx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: none;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__o5Bx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__o5Bx > :global(.__wab_flex-container) > *,
.freeBox__o5Bx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o5Bx > :global(.__wab_flex-container) > picture > img,
.freeBox__o5Bx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (max-width: 640px) {
  .freeBox__o5Bx {
    display: flex;
    flex-direction: column;
    padding: 4px;
  }
}
@media (max-width: 640px) {
  .freeBox__o5Bx > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__o5Bx > :global(.__wab_flex-container) > *,
  .freeBox__o5Bx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__o5Bx > :global(.__wab_flex-container) > picture > img,
  .freeBox__o5Bx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__aqOe5 {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  padding: 0px;
}
.text__krwZ {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353;
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__fcFt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  min-height: 0;
  padding: 0px;
}
.text__sdaXx {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: var(--token-mjj-ONNCZx4S);
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid var(--token-mjj-ONNCZx4S);
}
@media (max-width: 640px) {
  .text__sdaXx {
    font-size: 12px;
    padding: 2px 6px;
  }
}
.freeBox__ey9Kc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  margin-top: 8px;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
.freeBoxdarkMod__ey9KCufe6J {
  background: var(--token-w7oYmzqeGvkw);
}
.text__wz3Kt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  color: #dd911e;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__wz3Kt {
    font-size: 18px;
  }
}
.freeBox__rnlCt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 8px 0px 0px;
}
.text__qSwY4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__qSwY4 {
    font-size: 15px;
  }
}
.textdarkMod__qSwY4Ufe6J {
  color: var(--token-jgohepLVeKvh);
}
.progress:global(.__wab_instance) {
  object-fit: cover;
  text-align: left;
  align-self: auto;
  width: 100%;
  margin-top: 8px;
  min-width: 0;
  padding: 0px;
}
.progressdarkMod:global(.__wab_instance) {
  color: var(--token-jgohepLVeKvh);
}
.lottie__l1La:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.freeBox___8D342 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: none;
  min-width: 0;
  padding: 0px 16px 8px;
}
.img__tbvhy {
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  border-radius: 8px;
}
.img__tbvhy > picture > img {
  object-fit: cover;
}
.freeBox__yVds {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__yVds {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.freeBox__qiXxS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__uhglr {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 0px 8px 8px;
}
.freeBox__uhglr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__uhglr > :global(.__wab_flex-container) > *,
.freeBox__uhglr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uhglr > :global(.__wab_flex-container) > picture > img,
.freeBox__uhglr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.tabWeek:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___0X033 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 4px 16px 0px #12121214;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___03PKv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBoxdarkMod___03PKvufe6J {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__v5Q7S {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0% 0px 0px 20px;
}
.freeBox___8Izkh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox___8Izkh {
    padding: 0px;
  }
}
.freeBox__sG8Ky {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__sG8Ky {
    top: auto;
    left: auto;
    padding: 4px;
  }
}
.text__ias9T {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8254c6;
  font-size: 25px;
  font-weight: 700;
  white-space: pre;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__ias9T {
    font-size: 21px;
  }
}
.img__pFLjb {
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  margin: -5px;
}
.img__pFLjb > picture > img {
  object-fit: contain;
}
@media (max-width: 640px) {
  .img__pFLjb {
    width: 15px;
    flex-shrink: 0;
    margin: -2px;
  }
}
.freeBox__cy0G {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__cy0G {
    top: auto;
    left: auto;
  }
}
.text___55KoE {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #a082cb;
  font-size: 20px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text___55KoE {
    font-size: 16px;
  }
}
.text__czStb {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #a082cb;
  font-size: 18px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
  display: none;
}
@media (max-width: 640px) {
  .text__czStb {
    font-size: 13px;
  }
}
.freeBox__bFY0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__gROtT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__gROtT {
    font-size: 15px;
  }
}
.textdarkMod__gROtTufe6J {
  color: var(--token-jgohepLVeKvh);
}
.text__vree2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__vree2 {
    font-size: 15px;
  }
}
.textdarkMod__vree2Ufe6J {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__jdhAb {
  display: flex;
  position: relative;
  width: 220px;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 0px;
  flex-shrink: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__jdhAb {
    width: auto;
  }
}
.img__wp04Q {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  border-radius: 100%;
  margin: 0px;
  border: 8px solid #8254c64d;
}
.img__wp04Q > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__wp04Q {
    margin: 0px 10px;
  }
}
.freeBox__ggHtl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px 16px;
  margin: 8px 0px 0px;
}
@media (max-width: 640px) {
  .freeBox__ggHtl {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }
}
.freeBox__s7Wbx {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  background: var(--token-_Tqr-iwbEpLO);
  box-shadow: 0px 4px 16px 0px #12121214;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px dashed var(--token-55cSeNPovQFh);
}
.freeBox__s7Wbx > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__s7Wbx > :global(.__wab_flex-container) > *,
.freeBox__s7Wbx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s7Wbx > :global(.__wab_flex-container) > picture > img,
.freeBox__s7Wbx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.text__vqzwO {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-55cSeNPovQFh);
  font-size: 16px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__vqzwO {
    font-size: 15px;
    white-space: pre-wrap;
  }
}
.text__vZqqX {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-55cSeNPovQFh);
  color: var(--token-41VRhDKfihhY);
  font-size: 15px;
  border-radius: 8px;
  padding: 4px 16px 2px;
}
@media (max-width: 640px) {
  .text__vZqqX {
    font-size: 12px;
    padding: 2px 6px 0px;
  }
}
.freeBox__jBlBx {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  overflow: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-right: 32px;
  display: none;
  padding: 0px 0px 0px 8px;
}
@media (max-width: 640px) {
  .freeBox__jBlBx {
    justify-content: flex-start;
    align-items: center;
  }
}
.freeBox___7DblD {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  background: #ffffff;
  align-self: stretch;
  box-shadow: 0px 4px 16px 0px #12121214;
  min-width: auto;
  min-height: 0;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0px 0px 0px 8px;
}
.freeBox___7DblD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox___7DblD > :global(.__wab_flex-container) > *,
.freeBox___7DblD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7DblD > :global(.__wab_flex-container) > picture > img,
.freeBox___7DblD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBoxdarkMod___7DblDufe6J {
  background: #212121;
}
.img__pgOr5 {
  object-fit: contain;
  max-width: 100%;
}
.img__pgOr5 > picture > img {
  object-fit: contain;
}
@media (max-width: 640px) {
  .img__pgOr5 {
    object-fit: none;
    max-width: auto;
  }
}
@media (max-width: 640px) {
  .img__pgOr5 > picture > img {
    object-fit: none;
  }
}
.text___8R95D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  user-select: text;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textdarkMod___8R95Dufe6J {
  color: #ffffff;
}
.freeBox__q1Esw {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 0px 4px;
  margin: 16px 0px;
}
@media (max-width: 640px) {
  .freeBox__q1Esw {
    padding: 0px 12px;
  }
}
.freeBox__eoOem {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: none;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBoxdarkMod__eoOemufe6J {
  background: var(--token-w7oYmzqeGvkw);
}
.collapseAdvice:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__lah7O {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
}
.text__wavPr {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__wavPr {
    font-size: 18px;
  }
}
.textdarkMod__wavPrufe6J {
  color: #8254c6;
}
.text__g8Bzo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  background: var(--token-pyhDq7s0RTkz);
  padding-right: 8px;
  padding-left: 8px;
  color: var(--token-DFwge94Hey3F);
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding-top: 4px;
  border-radius: 16px;
}
.freeBox__q4ARa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.text__r86Ye {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: -10px;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__r86Ye {
    font-size: 16px;
  }
}
.textdarkMod__r86YEufe6J {
  color: var(--token-jgohepLVeKvh);
}
.lottie___6SRq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.freeBox__rfwwy {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__l8KqB {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__l8KqB > picture > img {
  object-fit: cover;
}
.img__fd7F0 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__fd7F0 > picture > img {
  object-fit: cover;
}
.freeBox__ugByv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 16px 0px 0px;
}
.todoList:global(.__wab_instance) {
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2px;
}
.freeBox__wpmG9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseBaby:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.freeBox___7U0Mh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___2GdTh {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.text__l2Yf0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  background: var(--token-Pxe4wDL2kJpb);
  padding-right: 8px;
  padding-left: 8px;
  color: var(--token-DFwge94Hey3F);
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  border-radius: 16px;
}
.text__iIjuK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: -10px;
  font-size: 15px;
  min-width: 0;
}
.freeBox__n4O8V {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___7W0K5 {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img___7W0K5 > picture > img {
  object-fit: cover;
}
.img__jRzo {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__jRzo > picture > img {
  object-fit: cover;
}
.freeBox___0Ha3N {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseMother:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.freeBox__fyElr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__tbp7B {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.text__fxZvz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  background: var(--token-Pxe4wDL2kJpb);
  padding-right: 8px;
  padding-left: 8px;
  color: var(--token-DFwge94Hey3F);
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  border-radius: 16px;
}
.text__fjUCt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  min-width: 0;
  margin: -10px;
}
.freeBox__kO6Ie {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__roMe2 {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__roMe2 > picture > img {
  object-fit: cover;
}
.img__jT5Se {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__jT5Se > picture > img {
  object-fit: cover;
}
.freeBox__ymC3Z {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 17px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseHealth:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.freeBox__qfuEk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__v90N2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.text__qPrLj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  background: var(--token-Pxe4wDL2kJpb);
  padding-right: 8px;
  padding-left: 8px;
  color: var(--token-DFwge94Hey3F);
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  border-radius: 16px;
}
.text__pvUij {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  min-width: 0;
  margin: -10px;
}
.freeBox__euSlw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__tkXko {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__tkXko > picture > img {
  object-fit: cover;
}
.img___0Wy8Z {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img___0Wy8Z > picture > img {
  object-fit: cover;
}
.buySub2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.buySub2__modal :global(.ant-modal-content) {
  outline: none;
  padding: 12px;
}
@media (max-width: 640px) {
  .buySub2__modal :global(.ant-modal-content) {
    outline: none;
    margin: 0px 35px;
  }
}
.freeBox___5Ttgk {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 0;
  padding: 8px;
}
.freeBox___5Ttgk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - var(--token-IGCvYUvm1NWs));
  height: calc(100% + var(--token-IGCvYUvm1NWs));
}
.freeBox___5Ttgk > :global(.__wab_flex-container) > *,
.freeBox___5Ttgk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Ttgk > :global(.__wab_flex-container) > picture > img,
.freeBox___5Ttgk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-IGCvYUvm1NWs);
}
.img___79KNr {
  object-fit: cover;
  max-width: 100%;
  height: 250px;
  flex-shrink: 0;
}
.img___79KNr > picture > img {
  object-fit: cover;
}
.text__coWsw {
  position: relative;
  width: 100%;
  text-align: right;
  min-width: 0;
}
.text__a1R7V {
  width: 100%;
  text-align: right;
  font-size: 19px;
  font-weight: 700;
  padding-right: 30px;
  min-width: 0;
}
.freeBox__ww1VE {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__ww1VE > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ww1VE > :global(.__wab_flex-container) > *,
.freeBox__ww1VE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ww1VE > :global(.__wab_flex-container) > picture > img,
.freeBox__ww1VE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__d2XtE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-55cSeNPovQFh);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.text__obRmO {
  padding-left: 0px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.freeBox__xJcso {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-LN1YkB123lXQ);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.text__iyutu {
  padding-left: 0px;
  width: 100%;
  text-align: center;
  min-width: 0;
}
