.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  position: relative;
  align-content: flex-start;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: var(--token-B5WvIYiqPJW-);
}
@media (max-width: 640px) {
  .root {
    height: auto;
    box-shadow: none;
    padding: 0px;
    border-width: 0px;
  }
}
.rootresalt {
  background: var(--token-pi_amP1jS-3_);
  display: flex;
  flex-direction: column;
  row-gap: var(--token-uOLZE7OyOW-J);
  box-shadow: 0px 4px 16px 0px #613ba12e;
  column-gap: 0px;
  padding: var(--token-uOLZE7OyOW-J);
  border-color: var(--token-GEppKCdlxgWK);
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: var(--token-ZuffvoxgS-gS);
  font-weight: 300;
  color: var(--token-bQEloS1hWiDI);
  align-self: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .text {
    color: var(--token-bQEloS1hWiDI);
  }
}
.textresalt {
  color: #251047;
  font-size: var(--token-Wa5tmrNKVUYF);
}
@media (max-width: 640px) {
  .textresalt {
    text-align: right;
  }
}
.freeBox {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-uOLZE7OyOW-J);
  grid-column-gap: var(--token-uOLZE7OyOW-J);
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.link___77C0 {
  display: flex;
  flex-direction: column;
}
.img__wt7Mk {
  object-fit: cover;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.img__wt7Mk > picture > img {
  object-fit: cover;
}
.link___8J6Ek {
  display: flex;
  flex-direction: column;
}
.img__fjmc {
  object-fit: cover;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.img__fjmc > picture > img {
  object-fit: cover;
}
.link__b6DrW {
  display: flex;
  flex-direction: column;
}
.img__v1Q0F {
  object-fit: cover;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.img__v1Q0F > picture > img {
  object-fit: cover;
}
.link__tfbcn {
  display: flex;
  flex-direction: column;
}
.img__erh6D {
  object-fit: cover;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.img__erh6D > picture > img {
  object-fit: cover;
}
