.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  padding: 0px;
}
.rootcolor_red {
  background: none;
}
.rootcolor_yellow {
  background: none;
}
.rootcolor_pms {
  background: none;
}
.freeBox__zg8Bk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  background: none;
  min-width: 0;
}
.freeBoxsize_small__zg8BKyQij9 {
  display: none;
}
.freeBoxreport__zg8Bk7KnbM {
  display: none;
}
.slotTargetSlot {
  text-align: center;
  font-size: 12px;
}
.freeBox__cxVuc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  padding: 0px;
}
.freeBoxcurrentWeek__cxVucMNoLj {
  width: auto;
  background: none;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  padding: 0px;
}
.freeBoxcolor_red__cxVuc5ZDul {
  background: var(--token-OcmIk9oDogWZ);
}
.freeBoxcolor_yellow__cxVuc2Ss7K {
  background: var(--token-AIwAzeyxiz1x);
}
.freeBoxcolor_pms__cxVuckTqgi {
  background: var(--token-WxyGMLCV1Pdq);
}
.freeBoxstartend_start__cxVucsuJr1 {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.freeBoxstartend_end__cxVuc8Tetb {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.freeBox__z7MRq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: auto;
  max-width: 100%;
  background: none;
  box-shadow: none;
  transform: skew(0deg, 0deg);
  transition-property: all;
  transition-duration: 0.3s;
  transform-style: preserve-3d;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 0px;
  padding: 10px;
}
.freeBox__z7MRq * {
  transform-style: preserve-3d;
}
.freeBoxselected__z7MRqBlp4 {
  background: none;
  outline-width: thin;
  outline-style: solid;
  outline-offset: -2px;
  outline-color: var(--token-ODBUExjR6VEF);
  transform-style: preserve-3d;
  border-radius: 100px;
}
.freeBoxselected__z7MRqBlp4 * {
  transform-style: preserve-3d;
}
.freeBoxdark__z7MRqwBfVe {
  background: var(--token-w7oYmzqeGvkw);
  transform-style: preserve-3d;
}
.freeBoxdark__z7MRqwBfVe * {
  transform-style: preserve-3d;
}
.freeBoxdarkSelected__z7MRqkEYvD {
  background: var(--token-w7oYmzqeGvkw);
  transform-style: preserve-3d;
  border: 1px solid var(--token-SX03PBUzWAqr);
}
.freeBoxdarkSelected__z7MRqkEYvD * {
  transform-style: preserve-3d;
}
.freeBoxcurrentWeek__z7MRqMNoLj {
  box-shadow: none;
  background: none;
  outline-width: thin;
  outline-style: solid;
  outline-color: var(--token-7kGpohB21SKn);
  outline-offset: -2px;
  transform-style: preserve-3d;
  border-radius: 100px;
}
.freeBoxcurrentWeek__z7MRqMNoLj * {
  transform-style: preserve-3d;
}
.freeBoxhaveData__z7MRqDmqlu {
  transform-style: preserve-3d;
}
.freeBoxhaveData__z7MRqDmqlu * {
  transform-style: preserve-3d;
}
.freeBoxcolor_red__z7MRq5ZDul {
  background: none;
  transform-style: preserve-3d;
}
.freeBoxcolor_red__z7MRq5ZDul * {
  transform-style: preserve-3d;
}
.freeBoxcolor_yellow__z7MRq2Ss7K {
  background: none;
  transform-style: preserve-3d;
}
.freeBoxcolor_yellow__z7MRq2Ss7K * {
  transform-style: preserve-3d;
}
.freeBoxcolor_pms__z7MRqkTqgi {
  background: none;
  transform-style: preserve-3d;
}
.freeBoxcolor_pms__z7MRqkTqgi * {
  transform-style: preserve-3d;
}
.freeBoxstartend_start__z7MRqsuJr1 {
  transform-style: preserve-3d;
}
.freeBoxstartend_start__z7MRqsuJr1 * {
  transform-style: preserve-3d;
}
.freeBoxstartend_end__z7MRq8Tetb {
  transform-style: preserve-3d;
}
.freeBoxstartend_end__z7MRq8Tetb * {
  transform-style: preserve-3d;
}
.freeBoxsize_small__z7MRqyQij9 {
  transform-style: preserve-3d;
  padding: 2px;
}
.freeBoxsize_small__z7MRqyQij9 * {
  transform-style: preserve-3d;
}
.freeBoxreport__z7MRq7KnbM {
  width: auto;
  transform-style: preserve-3d;
}
.freeBoxreport__z7MRq7KnbM * {
  transform-style: preserve-3d;
}
.freeBoxcurrentWeek_selected__z7MRqMNoLjBlp4 {
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  outline-color: var(--token-ODBUExjR6VEF);
  transform-style: preserve-3d;
}
.freeBoxcurrentWeek_selected__z7MRqMNoLjBlp4 * {
  transform-style: preserve-3d;
}
.freeBoxcolor_red_selected__z7MRq5ZDulBlp4 {
  outline-color: var(--token-4RAe7M2gInqR);
  transform-style: preserve-3d;
}
.freeBoxcolor_red_selected__z7MRq5ZDulBlp4 * {
  transform-style: preserve-3d;
}
.freeBoxcolor_yellow_selected__z7MRq2Ss7KBlp4 {
  outline-color: var(--token-2ObYh10hZuCh);
  transform-style: preserve-3d;
}
.freeBoxcolor_yellow_selected__z7MRq2Ss7KBlp4 * {
  transform-style: preserve-3d;
}
.freeBoxselected_color_pms__z7MRqBlp4KTqgi {
  outline-color: var(--token-SX03PBUzWAqr);
  transform-style: preserve-3d;
}
.freeBoxselected_color_pms__z7MRqBlp4KTqgi * {
  transform-style: preserve-3d;
}
.freeBoxreport_selected__z7MRq7KnbMBlp4 {
  width: auto;
  background: var(--token-R_Rsn0nP9oIv);
  outline-style: solid;
  outline-color: var(--token-rGxK1TpZE_rW);
  transform-style: preserve-3d;
}
.freeBoxreport_selected__z7MRq7KnbMBlp4 * {
  transform-style: preserve-3d;
}
.text__gJiGf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.textselected__gJiGfBlp4 {
  color: var(--token-SX03PBUzWAqr);
}
.textdark__gJiGfwBfVe {
  color: #8f8f8f;
}
.textdarkSelected__gJiGfkEYvD {
  color: var(--token-SX03PBUzWAqr);
}
.textcolor_yellow__gJiGf2Ss7K {
  color: var(--token-Bjjq_24AWhes);
}
.freeBox__xlwI1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.slotTargetChildren {
  font-size: 14px;
  color: #8f8f8f;
  text-align: center;
  font-weight: 700;
}
.slotTargetChildrendarkSelected {
  color: var(--token-SX03PBUzWAqr);
}
.slotTargetChildrencolor_red {
  color: var(--token-4RAe7M2gInqR);
}
.slotTargetChildrencolor_yellow {
  color: var(--token-MAnhFXGh8Ir8);
}
.slotTargetChildrencolor_pms {
  color: var(--token-55cSeNPovQFh);
}
.text__oQsdd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  display: none;
}
.textcurrentWeek__oQsddMNoLj {
  margin-right: -4px;
  display: block;
}
.freeBox__bK0Ni {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  max-width: 100%;
  background: linear-gradient(145deg, #7345b6 0%, #c34991 93%) 0% 0% / 100% 100%
    repeat;
  left: auto;
  top: -2px;
  right: 2px;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
