.root {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #535353;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 400;
  text-align: right;
  position: relative;
  display: inline-block;
}
