.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  box-shadow: none;
  row-gap: var(--token-1KusGK5GePTh);
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: var(--token-uOLZE7OyOW-J);
}
@media (max-width: 640px) {
  .root {
    background: none;
    box-shadow: none;
    border-radius: 0px;
  }
}
.rootselect {
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: var(--token-uOLZE7OyOW-J);
  border-width: 1px;
  border-color: var(--token-qvl81LxkOSoe);
}
.rootshopBox {
  row-gap: var(--token-uOLZE7OyOW-J);
  column-gap: 0px;
}
.rootverticalBox {
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-radius: var(--token-O5TjkXII_aat);
  border-width: 1px;
}
.rootselect_shopBox {
  border-left-width: 0px;
  border-bottom-width: 1px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-color: var(--token-rGxK1TpZE_rW);
  border-radius: 0px;
}
.freeBox__bU7CT {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBoxverticalBox__bU7CTs8Cq {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  column-gap: 0px;
}
.img {
  object-fit: fill;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img > picture > img {
  object-fit: fill;
}
.freeBox__uTcN {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__znRxc {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  text-align: right;
  min-width: 0;
}
.textverticalBox__znRxcs8Cq {
  text-align: center;
}
.text__clZsJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-ZuffvoxgS-gS);
  text-align: right;
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.textverticalBox__clZsJs8Cq {
  display: none;
}
.freeBox__rdM86 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__avnAo {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-self: auto;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__dE2Fh {
  display: flex;
  position: sticky;
  width: auto;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
  margin: 0px;
}
.freeBoxshopBox__dE2FhuUcIv {
  display: none;
}
.text__dObvC {
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__abuQz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  row-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__l9D5S {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.text__e5Ppv {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-OuIr9F3wieyv);
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___6UhE0 {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 8px;
  right: 0;
  bottom: 0;
  border-top-width: 1px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-10deg);
  padding: 0px;
  border-style: solid;
  border-color: var(--token-ANZoaQ584ilJ);
}
.text__kEoQf {
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__reTb9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.freeBoxverticalBox__reTb9S8Cq {
  display: none;
}
.text___37ZpM {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
}
.textshopBox___37ZpMuUcIv {
  display: none;
}
.freeBox__uskKn {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-O5TjkXII_aat);
  padding: 0px;
}
.freeBoxverticalBox__uskKNs8Cq {
  display: none;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.button2select:global(.__wab_instance) {
  display: flex;
}
.freeBox__zOm1Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0.4rem;
}
.svg__e82Ys {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DFwge94Hey3F);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__pMsMp {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.button4select:global(.__wab_instance) {
  display: flex;
}
.freeBox__aIlW8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0.4rem;
}
.svg__lFjmF {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DFwge94Hey3F);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__gjMag {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
}
.button3select:global(.__wab_instance) {
  display: none;
}
.button3shopBox:global(.__wab_instance) {
  display: none;
}
.svg__pDclw {
  position: relative;
  object-fit: cover;
  width: 15px;
  height: 15px;
  color: var(--token-DFwge94Hey3F);
}
.text__rGdMq {
  color: var(--token-DFwge94Hey3F);
}
.svg__yg1Ja {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
