.group40 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  column-gap: 8px;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.freeBox__arOz4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 8px 0px;
}
.rectangle21 {
  background: var(--token-55cSeNPovQFh);
  width: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
  border-radius: 12px;
}
.freeBox__xfiwk {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBoxselected__xfiwKcNw0J {
  display: flex;
  flex-direction: column;
  column-gap: 0px;
  padding: 0px;
}
.freeBox__pXj6R {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  padding: 0px;
}
.freeBoxselected__pXj6RcNw0J {
  top: auto;
  left: auto;
  background: #7444bc1a;
  justify-content: flex-start;
  width: 100%;
  column-gap: 8px;
  row-gap: 0px;
  min-width: 0;
  border-radius: 8px 8px 0px 0px;
  padding: 8px;
}
.group20 {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.svg___2Nl9Z {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: 36px;
  height: 36px;
  display: block;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 1s;
}
.freeBox__hzvwh {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  left: auto;
  top: 4px;
  z-index: 1;
  right: auto;
  bottom: auto;
  display: flex;
  flex-direction: row;
}
.slotTargetChildren {
  font-size: 20px;
  font-weight: 700;
  color: #535353;
}
.slotTargetChildrenselected {
  color: var(--token-R_Rsn0nP9oIv);
}
.text__tEfRt {
  display: block;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: var(--token-55cSeNPovQFh);
  position: relative;
  top: auto;
  left: auto;
}
.textselected__tEfRtcNw0J {
  left: auto;
  top: auto;
  align-self: center;
}
.frame39 {
  width: auto;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 16px;
  min-height: 0;
}
.frame4 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.group4 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.page3 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__vCufz {
  object-fit: cover;
  max-width: 100%;
  color: #863ed5;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.svgselected__vCufZcNw0J {
  display: block;
}
.frame5 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.group5 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.page4 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__eoKUf {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-SX03PBUzWAqr);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.svgselected__eoKUfcNw0J {
  display: block;
}
.frame6 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.group6 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.layer3 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.bookmark2 {
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.svg__g0O4G {
  object-fit: cover;
  max-width: 100%;
  color: #863ed5;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
.svgselected__g0O4GcNw0J {
  display: block;
}
.freeBox__hgUbL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  top: auto;
  left: auto;
  row-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.freeBoxselected__hgUbLcNw0J {
  left: auto;
  top: auto;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
}
.text__yGxNs {
  display: block;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 100%;
  color: var(--token-55cSeNPovQFh);
  position: relative;
  top: auto;
  left: auto;
}
.textselected__yGxNscNw0J {
  display: none;
}
.text___3T0U0 {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 100%;
  color: var(--token-BIuTS8zmWD0f);
  display: none;
}
.textselected___3T0U0CNw0J {
  font-size: 16px;
  color: var(--token-EmQk5DERlmjM);
  display: block;
}
.text__ttPi6 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: var(--token-64O07uLgKimi);
  display: none;
}
.textselected__ttPi6CNw0J {
  display: block;
}
.text__bJqRr {
  display: block;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: var(--token-64O07uLgKimi);
  align-self: auto;
}
.textselected__bJqRrcNw0J {
  width: 100%;
  text-align: right;
  border-top-width: 1px;
  border-top-style: solid;
  padding-top: 8px;
  font-weight: 700;
  min-width: 0;
}
