.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootdark {
  background: #0f0f0f;
}
.rootdark > * {
  grid-column: 4;
}
.embedHtml__gbe1J:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.embedHtml__yKwX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.freeBox__gtTgm {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  display: none;
  padding: 8px 16px;
}
@media (max-width: 640px) {
  .freeBox__gtTgm {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBoxdark__gtTgmWxKc {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__xncuu {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  display: none;
  padding: 0px 8px;
}
.img__ndRvM {
  object-fit: fill;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img__ndRvM > picture > img {
  object-fit: fill;
}
.text__ztJk {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-BIuTS8zmWD0f);
  white-space: pre-wrap;
  min-height: 0;
  padding: 8px 8px 0px 16px;
}
.textdark__ztJkWxKc {
  color: var(--token-BIuTS8zmWD0f);
}
.freeBox__iYjR {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 92vh;
  max-width: 100%;
  overflow: auto;
  background: none;
  min-width: 0;
  padding: 16px 0px 8px;
}
@media (max-width: 640px) {
  .freeBox__iYjR {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___8Nyjy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox___7E4Xg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___7E4Xg {
    left: auto;
    top: auto;
    bottom: auto;
    right: auto;
    width: 100%;
    min-width: 0;
    margin: 0px;
  }
}
.freeBox__zqrQp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  background: var(--token-jgohepLVeKvh);
  margin-top: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__zqrQp {
    box-shadow: none;
    margin: 0px;
  }
}
.freeBox__ni1LU {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__ni1LU {
    width: auto;
  }
}
.img__np8V2 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  border-radius: 100%;
  margin: 0px;
  border: 6px solid #fffbff;
}
.img__np8V2 > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__np8V2 {
    margin: 0px 10px;
    border-width: 4px;
  }
}
.freeBox__i2S2Z {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-_Tqr-iwbEpLO);
  margin-top: 12px;
  row-gap: 16px;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
  border: 1px dashed var(--token-55cSeNPovQFh);
}
@media (max-width: 640px) {
  .freeBox__i2S2Z {
    width: 100%;
    min-width: 0;
  }
}
.text__kIe9H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--token-55cSeNPovQFh);
  min-width: 0;
}
.freeBox__wwPwF {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  margin-top: 8px;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__vF5Zh {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0% 0px 0px;
}
.freeBox__lBkoh {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 4px;
  border-bottom: 1px solid var(--token-rGxK1TpZE_rW);
}
@media (max-width: 640px) {
  .freeBox__lBkoh {
    padding: 0px;
  }
}
.freeBox__tmwm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__tmwm {
    top: auto;
    left: auto;
    padding: 4px;
  }
}
.text__dd7Uy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  font-size: 22px;
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.freeBox__wkQRw {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 6px;
  min-width: 0;
  padding: 0px;
  border-bottom: 1px solid #e5e7eb;
}
@media (max-width: 640px) {
  .freeBox__wkQRw {
    top: auto;
    left: auto;
  }
}
.text__l4Fj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8lqFm4pa_96a);
  font-weight: 700;
  font-size: 18px;
  text-align: right;
  min-width: 0;
}
.freeBox__orysH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  column-gap: 16px;
  min-width: 0;
  padding: 8px 0px 0px;
}
@media (max-width: 640px) {
  .freeBox__orysH {
    display: flex;
  }
}
.freeBox__oV5Xj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px dashed var(--token-55cSeNPovQFh);
}
@media (max-width: 640px) {
  .freeBox__oV5Xj {
    width: 100%;
    min-width: 0;
  }
}
.svg__wUpJ {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  height: 50px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__wUpJ {
    height: 40px;
    flex-shrink: 0;
  }
}
.text__rJ5Bn {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  color: var(--token-55cSeNPovQFh);
  background: none;
  font-weight: 700;
  padding: 0px;
}
.freeBox__urD9W {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  row-gap: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px dashed var(--token-55cSeNPovQFh);
}
@media (max-width: 640px) {
  .freeBox__urD9W {
    width: 100%;
    min-width: 0;
  }
}
.svg__wfFwu {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  height: 50px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__wfFwu {
    height: 40px;
    flex-shrink: 0;
  }
}
.text___9C7Dq {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  color: var(--token-55cSeNPovQFh);
  background: none;
  font-weight: 700;
  padding: 0px;
}
.text__vjVc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  margin-top: 16px;
  min-width: 0;
}
.freeBox__zylr0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseMother:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.freeBox__iq8JH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__q1XSl {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__wyq2C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin: -10px;
}
.lottie__me6Q:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.lineClomp2:global(.__wab_instance) {
  max-width: 100%;
}
.text__kC5U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: right;
  min-width: 0;
}
.freeBox__pnzMs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1fa14f;
  margin-top: 12px;
  margin-bottom: 10px;
  row-gap: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__o21R4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.text__yYsbE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.img__fwKQo {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scale3d(-1, 1, 1);
  transform-style: preserve-3d;
  margin: -20px 0px 0px;
}
.img__fwKQo > picture > img {
  object-fit: cover;
}
.img__fwKQo * {
  transform-style: preserve-3d;
}
.img__hvI8Q {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__hvI8Q > picture > img {
  object-fit: cover;
}
.freeBox__j48G4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseBaby:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.freeBox__yJiOw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  padding: 0px;
}
.text__qcLqs {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__gwxwh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: -10px;
  min-width: 0;
}
.lineClomp:global(.__wab_instance) {
  max-width: 100%;
}
.text__ssVk {
  text-align: right;
}
.freeBox__ndH2B {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px;
}
.lottie__yuAIy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.freeBox__eNwLc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1fa14f;
  margin-top: 12px;
  margin-bottom: 10px;
  row-gap: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__cEi7X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.text__trthQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.img___2P4Bt {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scale3d(-1, 1, 1);
  transform-style: preserve-3d;
  margin: -20px 0px 0px;
}
.img___2P4Bt > picture > img {
  object-fit: cover;
}
.img___2P4Bt * {
  transform-style: preserve-3d;
}
.img__tnjFv {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__tnjFv > picture > img {
  object-fit: cover;
}
.freeBox__jvxzP {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  min-width: 0;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__jvxzP {
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.freeBox__nfrV {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50%;
}
@media (max-width: 640px) {
  .freeBox__nfrV {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__jbisP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__jbisP {
    max-width: none;
    width: 100%;
    padding-left: 0px;
    min-width: 0;
  }
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___7Nkmu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__znm6K {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__hucxs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__hucxs {
    width: auto;
  }
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__cJRjQ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___9OoJ {
  color: var(--token-ANZoaQ584ilJ);
}
.svg__zMl7L {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
