.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0px 9px;
  border-style: solid;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__v5VDg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 8px 0px;
}
.section__fKamc {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__fKamc > * {
  grid-column: 4;
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  position: relative;
  height: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__fnC1S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
}
.img__rWa8Z {
  object-fit: fill;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img__rWa8Z > picture > img {
  object-fit: fill;
}
.freeBox__f0Ap {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-jgohepLVeKvh);
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 100px 0px 0px;
}
.freeBox__utoeo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__oUuo3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-left: 0px;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px 0px 0px;
}
.img__jZmxt {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 50%;
  border-width: 1px;
}
.img__jZmxt > picture > img {
  object-fit: cover;
}
.freeBox__iV3Z6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: 67px;
  max-width: 100%;
  margin-left: 0px;
  padding: 8px 5px 8px 0px;
}
.freeBox__iV3Z6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.freeBox__iV3Z6 > :global(.__wab_flex-container) > *,
.freeBox__iV3Z6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iV3Z6 > :global(.__wab_flex-container) > picture > img,
.freeBox__iV3Z6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.text__zv2Av {
  position: relative;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  padding-left: 0px;
  white-space: pre;
}
.text__zdN81 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  font-size: 8px;
  text-align: center;
  white-space: pre;
  min-width: 0;
}
.freeBox__qtk4Z {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 5px;
}
.freeBox__h8Wt9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  border-radius: 8px;
  padding: 0px;
  border-width: 1px;
}
.text__gQyB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  white-space: pre;
  color: var(--token-fn6i10-y5r1L);
  font-size: 12px;
  min-width: 0;
}
.freeBox__uC3N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 8px 8px 16px;
}
.freeBox__lYbCo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 51px;
  height: auto;
  max-width: 100%;
  padding: 16px 12px 8px 0px;
}
.uploudeTime:global(.__wab_instance) {
  position: relative;
}
.text__mgUia {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  color: #535353;
  text-align: center;
  min-width: 0;
}
.freeBox__tfdqU {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px 8px 8px 4px;
}
.freeBox__tfdqU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__tfdqU > :global(.__wab_flex-container) > *,
.freeBox__tfdqU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tfdqU > :global(.__wab_flex-container) > picture > img,
.freeBox__tfdqU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.popover2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 19px;
}
.svg__jVevt {
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 20px;
}
.freeBox__yPEo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__yPEo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__yPEo > :global(.__wab_flex-container) > *,
.freeBox__yPEo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yPEo > :global(.__wab_flex-container) > picture > img,
.freeBox__yPEo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__cwZ6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__cwZ6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__cwZ6 > :global(.__wab_flex-container) > *,
.freeBox__cwZ6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cwZ6 > :global(.__wab_flex-container) > picture > img,
.freeBox__cwZ6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__zjOdC {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-fn6i10-y5r1L);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__hOmR {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  color: var(--token-LNIzKl5AGPPT);
  min-width: 0;
}
.freeBox__hDk3O {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__hDk3O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__hDk3O > :global(.__wab_flex-container) > *,
.freeBox__hDk3O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hDk3O > :global(.__wab_flex-container) > picture > img,
.freeBox__hDk3O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg___0PVa8 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text___1WtFf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  min-width: 0;
}
.freeBox__s93L3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__s93L3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__s93L3 > :global(.__wab_flex-container) > *,
.freeBox__s93L3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s93L3 > :global(.__wab_flex-container) > picture > img,
.freeBox__s93L3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__y63MI {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__fyy9R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
.freeBox__rtTu9 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rtTu9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__rtTu9 > :global(.__wab_flex-container) > *,
.freeBox__rtTu9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rtTu9 > :global(.__wab_flex-container) > picture > img,
.freeBox__rtTu9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg__glwb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text___309O9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  text-align: right;
  font-size: 18px;
  min-width: 0;
}
.freeBox__nqtIu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nqtIu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__nqtIu > :global(.__wab_flex-container) > *,
.freeBox__nqtIu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nqtIu > :global(.__wab_flex-container) > picture > img,
.freeBox__nqtIu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg___1YUks {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__zc10M {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  font-size: 18px;
  text-align: right;
  min-width: 0;
}
.freeBox__n58C2 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__n58C2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__n58C2 > :global(.__wab_flex-container) > *,
.freeBox__n58C2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n58C2 > :global(.__wab_flex-container) > picture > img,
.freeBox__n58C2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.svg___3KB7O {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text___7KYcf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-LNIzKl5AGPPT);
  font-size: 18px;
  min-width: 0;
}
.freeBox__fiSpi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-7kGpohB21SKn);
  border-radius: 50%;
  padding: 4px;
}
.svg___2Yunl {
  object-fit: cover;
  max-width: 100%;
  width: 14px;
  height: 14px;
  color: #535353;
  flex-shrink: 0;
}
.post:global(.__wab_instance) {
  position: relative;
}
.freeBox___03Hh9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.reactionBar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.like2:global(.__wab_instance) {
  position: relative;
}
.freeBox__j8Fxf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0px;
  padding: 8px;
}
.svg__aGDjN {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__qeuue {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox__o60Q {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.svg___5NYq0 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__mUyto {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: center;
  min-width: 0;
}
.save:global(.__wab_instance) {
  position: relative;
}
.freeBox__iRoM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.svg__qcFwa {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__eiBcm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.freeBox___6AbeA {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  left: auto;
  top: auto;
  z-index: 0;
  min-width: 0;
  padding: 8px;
}
.freeBox___6AbeA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___6AbeA > :global(.__wab_flex-container) > *,
.freeBox___6AbeA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6AbeA > :global(.__wab_flex-container) > picture > img,
.freeBox___6AbeA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__xagh6 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__xagh6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__xagh6 > :global(.__wab_flex-container) > *,
.freeBox__xagh6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xagh6 > :global(.__wab_flex-container) > picture > img,
.freeBox__xagh6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.svg__dDsbb {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: right;
}
.text__ft6Ek {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: right;
  font-weight: 700;
  font-size: 16px;
}
.freeBox__ptukc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 16px;
}
.text___8Homq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
.freeBox__es2Oy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 16px;
}
.text__eoSs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  font-size: 16px;
  min-width: 0;
}
.freeBox__sB24Y {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 20px 16px 0px;
}
.freeBox__sB24Y > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__sB24Y > :global(.__wab_flex-container) > *,
.freeBox__sB24Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sB24Y > :global(.__wab_flex-container) > picture > img,
.freeBox__sB24Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.comment:global(.__wab_instance) {
  position: relative;
}
.coment {
  position: relative;
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  white-space: pre-wrap;
  text-transform: none;
  user-select: text;
  width: 100%;
  min-width: 0;
}
.img__jdjYt {
  object-fit: cover;
  max-width: 100%;
  width: 48px;
  height: 48px;
  border-radius: 50px;
}
.img__jdjYt > picture > img {
  object-fit: cover;
}
.freeBox__sKm3J {
  display: flex;
  flex-direction: row;
  position: relative;
  height: auto;
  max-width: 100%;
  width: auto;
  padding: 8px;
}
.freeBox__sKm3J > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__sKm3J > :global(.__wab_flex-container) > *,
.freeBox__sKm3J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sKm3J > :global(.__wab_flex-container) > picture > img,
.freeBox__sKm3J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.text___4DGKq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  font-weight: 700;
  white-space: pre;
  font-size: 10px;
  text-align: right;
}
.text__xwU5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 8px;
}
.section__l5Nnd {
  position: fixed;
  padding-right: 0;
  padding-left: 0;
  width: auto;
  justify-items: center;
  align-content: flex-start;
  display: grid;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__l5Nnd > * {
  grid-column: 4;
}
.freeBox__dnSli {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  border-top-style: solid;
  border-top-width: 2px;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  border-radius: 5px;
  padding: 8px;
}
.svg__vNfKk {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.freeBox___8LXcp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__o8F2W {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.getInfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__kaQmx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__zgkMo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
