.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootdark {
  background: #0f0f0f;
}
.rootdark > * {
  grid-column: 4;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___5RU9A {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 8px;
  margin: 0px 0px 16px;
}
@media (max-width: 640px) {
  .freeBox___5RU9A {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__in55E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px 16px;
}
.freeBoxdark__in55ExWYo {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__qaXv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  padding: 0px 8px;
}
.img {
  object-fit: fill;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: fill;
}
.text__bQqRx {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-BIuTS8zmWD0f);
  white-space: pre-wrap;
  min-height: 0;
  padding: 8px 8px 0px 16px;
}
.textdark__bQqRXxWYo {
  color: var(--token-BIuTS8zmWD0f);
}
.freeBox__rwdf8 {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  background: #ffffff;
  display: none;
  padding: 0px 16px;
}
.freeBoxdark__rwdf8XWYo {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__w2VU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-SX03PBUzWAqr);
  border-radius: 8px;
  padding: 0px;
}
.text__eqpIi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  color: var(--token-jgohepLVeKvh);
  padding: 8px;
}
.textdark__eqpIixWYo {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__x2Yz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 16px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__x2Yz {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 12px;
  }
}
.freeBox__x3Ulx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
.freeBoxdark__x3UlXxWYo {
  background: var(--token-w7oYmzqeGvkw);
}
.text__caAfI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.textdark__caAfIxWYo {
  color: #ffffff;
}
.text___1JSm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 4px;
  font-weight: 500;
  min-width: 0;
}
.textdark___1JSmXWYo {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__tils4 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.dateOfBirthBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___2IuFl {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px;
}
.text__leS5V {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  min-width: 0;
}
.textdark__leS5VxWYo {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__laPtZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.lastTimeBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___5Q7ST {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  color: var(--token-DFwge94Hey3F);
  padding-top: 2px;
  min-width: 0;
}
.textdark___5Q7STxWYo {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__k1AoY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px;
}
.text__ewpe1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  min-width: 0;
}
.textdark__ewpe1XWYo {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__vihkL {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.lastTimeBox3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__htZw2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__tBj3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 8px;
}
.text__r0Tbw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  min-width: 0;
}
.textdark__r0TbwxWYo {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__aWgwv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.lastTimeBox2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__j5429 {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 0px;
  margin: 0px;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px;
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__xVbHf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__xVbHf {
    max-width: 100%;
  }
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__mxtSd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__ag56L {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.getUserInfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___7OBs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__uepdu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.pickers:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zT9HB {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__zT9HB > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__zT9HB > :global(.__wab_flex-container) > *,
.freeBox__zT9HB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zT9HB > :global(.__wab_flex-container) > picture > img,
.freeBox__zT9HB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__dN0S {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__p5Jb {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__msRti {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__nlheK {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__djKco {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.pickers2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qpMm7 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__qpMm7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__qpMm7 > :global(.__wab_flex-container) > *,
.freeBox__qpMm7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qpMm7 > :global(.__wab_flex-container) > picture > img,
.freeBox__qpMm7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__hcxnp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__omCyy {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__p2Zkv {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__spwSz {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__y5GP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.freeBox__jCjcg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__jS0LN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  text-decoration-line: underline;
  color: var(--token-DFwge94Hey3F);
  font-size: 16px;
  font-weight: 500;
  min-width: 0;
  padding: 8px;
}
.datePickers2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #000000;
  height: 250px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___8ByAt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-left: 16px;
  min-width: 0;
}
.svg__gx4A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__naqHv {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__klYf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__efy91 {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.dialog4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___6Tyke {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.freeBox__xvhx8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.datePickers3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #000000;
  height: 250px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__mwUWr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-left: 16px;
  min-width: 0;
}
.svg__p0Oa {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hs00 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__rfvJh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__m4CVa {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
