.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootdark {
  background: #0f0f0f;
}
.rootdark > * {
  grid-column: 4;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.favIcone:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__fKYih {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  display: none;
  padding: 8px 16px;
}
@media (max-width: 640px) {
  .freeBox__fKYih {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBoxdark__fKYihOOgpk {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox___6PuWs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  padding: 0px 8px;
}
.img {
  object-fit: fill;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: fill;
}
.text__cdeaf {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-BIuTS8zmWD0f);
  white-space: pre-wrap;
  min-height: 0;
  padding: 8px 8px 0px 16px;
}
.textdark__cdeafOOgpk {
  color: var(--token-BIuTS8zmWD0f);
}
.freeBox__fX9Pk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow: auto;
  background: none;
  min-width: 0;
  padding: 0px 0px 8px;
  margin: 0px 0px 16px;
}
@media (max-width: 640px) {
  .freeBox__fX9Pk {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox___3U3CK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox___3U3CK {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.freeBox___9IxYp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox___9IxYp {
    padding: 0px 16px;
  }
}
.freeBox__slUgV {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px 0px 16px;
}
.freeBoxdark__slUgVoOgpk {
  background: var(--token-w7oYmzqeGvkw);
}
.dateModal:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1111;
  position: fixed;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
}
.dateModaldark:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__w4Jxj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.datePickers:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #000000;
  height: 250px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__x2Xqr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-left: 16px;
  min-width: 0;
}
.svg__fn4Tj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___36UuW {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__fMr9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text___089Yg {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.text__qutWj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  padding-left: 16px;
  padding-top: 16px;
  padding-right: 16px;
  min-width: 0;
}
.textdark__qutWjOOgpk {
  color: #ffffff;
}
.text___3Tink {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #5353531a;
  min-width: 0;
  display: none;
}
.freeBox__yuOqA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  column-gap: 8px;
  min-width: 0;
  padding: 8px;
}
.freeBox___7BmYn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__uuEi {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  color: var(--token-_Tqr-iwbEpLO);
  min-width: 0;
  border-radius: 8px;
  border: 1px solid var(--token-55cSeNPovQFh);
}
.text__drCXr {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-55cSeNPovQFh);
  color: var(--token-R_Rsn0nP9oIv);
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 0;
  display: none;
  border-radius: 8px;
}
.freeBox__h0Udw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__srPlk {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
  border-radius: 8px;
  border: 1px solid var(--token-55cSeNPovQFh);
}
.text__eWTxl {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-55cSeNPovQFh);
  color: var(--token-R_Rsn0nP9oIv);
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
  display: none;
  border-radius: 8px;
}
.freeBox__atV2T {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 4px;
  row-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
}
.text__hZqRx {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.textdark__hZqRxOOgpk {
  color: var(--token-jgohepLVeKvh);
}
.freeBox___8ZAzi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.dateOfBirthBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__wcung {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 0;
  display: none;
  padding: 0px;
}
.text__rut6J {
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  min-width: 0;
  border-width: 1px;
}
.text__ePtXp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 8px;
  margin-right: 8px;
}
.text__oSoi7 {
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  min-width: 0;
  border-width: 1px;
}
.freeBox__c4PA2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 0px;
  row-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
}
.text__pZrDs {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.textdark__pZrDsoOgpk {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__sjniF {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #d9d9d9;
}
.lastTimeBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__oyxk {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: auto;
  top: auto;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__oyxk {
    left: 0;
    top: auto;
    bottom: 0;
    right: 0;
    width: auto;
  }
}
.freeBox__g5QmI {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: auto;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__g5QmI {
    max-width: none;
    width: 100%;
    min-width: 0;
  }
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__h1YZ0 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xtDko {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
