.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .root {
    padding: 0px;
  }
}
.freeBox__uy8D7 {
  display: flex;
  height: 100%;
  background: #f8f8f8;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  min-height: 0;
}
@media (max-width: 640px) {
  .freeBox__uy8D7 {
    width: 100%;
    min-width: 0;
  }
}
.freeBoxdarkMod__uy8D7OQOo {
  background: #0f0f0f;
}
@media (max-width: 640px) {
  .freeBoxdarkMod__uy8D7OQOo {
    background: #0f0f0f;
  }
}
.favIcone:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pullToRefresh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___34Wg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___34Wg {
    width: 100%;
    min-width: 0;
    padding: 8px 0px;
  }
}
.lottie__wUfw3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 300px;
}
.timer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.getUserInfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__z49Xy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  overflow: visible;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__z49Xy {
    width: 100%;
    min-width: 0;
    display: flex;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qqMWg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__qqMWg {
    padding-left: 4px;
    padding-right: 4px;
  }
}
.freeBox__ntnB {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  flex-wrap: nowrap;
  align-content: stretch;
  background: #ffffff;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 8px 8px 8px 0px;
}
.freeBoxdarkMod__ntnBoQOo {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__b6F1Z {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__tB5TF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__tB5TF > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__tB5TF > :global(.__wab_flex-container) > *,
.freeBox__tB5TF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tB5TF > :global(.__wab_flex-container) > picture > img,
.freeBox__tB5TF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__oYhii {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  flex-shrink: 0;
  flex-basis: auto;
  flex-grow: 0;
  font-size: 18px;
}
@media (max-width: 640px) {
  .text__oYhii {
    font-size: 16px;
  }
}
.textdarkMod__oYhiioQOo {
  color: var(--token-jgohepLVeKvh);
}
.text__oOri2 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  font-size: 18px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
}
@media (max-width: 640px) {
  .text__oOri2 {
    font-size: 16px;
    margin-left: calc(0px + 8px) !important;
  }
}
.textdarkMod__oOri2OQOo {
  color: var(--token-jgohepLVeKvh);
  margin-left: calc(0px + 8px) !important;
}
.lottie__gJrgK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 150px;
  align-self: auto;
  margin-top: -20px;
}
.freeBox___3EX3U {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.text__vIHxo {
  background: #fffbff;
  text-align: center;
  font-size: 17px;
  border-radius: 8px;
  padding: 4px 6px;
  border: 1px dashed #8254c6;
}
@media (max-width: 640px) {
  .text__vIHxo {
    font-size: 15px;
  }
}
.textdarkMod__vIHxoOQOo {
  background: var(--token-sN1yASr7oAvM);
}
.freeBox__ge6XU {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lCre {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #535353;
  font-weight: 700;
  margin-top: 12px;
  font-size: 17px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__lCre {
    font-size: 16px;
  }
}
.textdarkMod__lCreOQOo {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__s3C0F {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  background: #8254c6;
  border-radius: 8px;
  padding: 8px;
}
.img__tpF1 {
  object-fit: cover;
  max-width: 100%;
  margin-right: 0px;
  width: 18px;
  margin-left: 8px;
  flex-shrink: 0;
}
.img__tpF1 > picture > img {
  object-fit: cover;
}
.text__xfyK0 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #fffbff;
  background: none;
  font-size: 18px;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__xfyK0 {
    font-size: 15px;
  }
}
.freeBox__r3Lbc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px;
}
.freeBox___2Q9Dq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBoxdarkMod___2Q9DqOQOo {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__thUcO {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.text___87SG2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  color: var(--token-0xHMxyAHbOos);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___87SG2 {
    font-size: 18px;
  }
}
.textdarkMod___87SG2OQOo {
  color: #8254c6;
}
.text__sa683 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 8px;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__sa683 {
    font-size: 16px;
  }
}
.textdarkMod__sa683OQOo {
  color: var(--token-jgohepLVeKvh);
}
.lottie___5NsZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.freeBox__e4MeM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__e4MeM {
    padding: 0px;
  }
}
.freeBox__anXyd {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__anXyd {
    padding: 0px;
  }
}
.freeBox__jFCl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: none;
  min-height: 0;
  padding: 8px;
}
.freeBox__jFCl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__jFCl > :global(.__wab_flex-container) > *,
.freeBox__jFCl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jFCl > :global(.__wab_flex-container) > picture > img,
.freeBox__jFCl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (max-width: 640px) {
  .freeBox__jFCl {
    display: flex;
    flex-direction: column;
    padding: 4px;
  }
}
@media (max-width: 640px) {
  .freeBox__jFCl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__jFCl > :global(.__wab_flex-container) > *,
  .freeBox__jFCl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jFCl > :global(.__wab_flex-container) > picture > img,
  .freeBox__jFCl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text___29GzI {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353e0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  padding: 0px;
}
.text__fZiIw {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353;
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__swRnX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  min-height: 0;
  padding: 0px;
}
.text__ekOvx {
  width: auto;
  height: 100%;
  max-width: 100%;
  background: none;
  color: var(--token-R_Rsn0nP9oIv);
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  min-height: 0;
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid var(--token-0xHMxyAHbOos);
}
@media (max-width: 640px) {
  .text__ekOvx {
    font-size: 12px;
    padding: 2px 6px;
  }
}
.freeBox__fuRwW {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 4px 8px 0px;
}
.text__sxoJx {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353e0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  padding: 0px;
}
.text___9GcI9 {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353;
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  border-radius: 8px;
  padding: 0px;
}
.freeBox___7Rejf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-_Tqr-iwbEpLO);
  margin-top: 12px;
  border-radius: 8px;
  padding: 4px 8px;
  border: 1px solid var(--token-55cSeNPovQFh);
}
.freeBox___7Rejf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___7Rejf > :global(.__wab_flex-container) > *,
.freeBox___7Rejf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7Rejf > :global(.__wab_flex-container) > picture > img,
.freeBox___7Rejf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.text__e67NZ {
  color: var(--token-55cSeNPovQFh);
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 0px;
}
.switchbest:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__bcQKk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__bcQKk {
    padding: 0px;
  }
}
.freeBox__eGaBd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__eGaBd {
    padding: 0px;
  }
}
.freeBox__ekpIz {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: none;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__ekpIz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ekpIz > :global(.__wab_flex-container) > *,
.freeBox__ekpIz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ekpIz > :global(.__wab_flex-container) > picture > img,
.freeBox__ekpIz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (max-width: 640px) {
  .freeBox__ekpIz {
    display: flex;
    flex-direction: column;
    padding: 4px;
  }
}
@media (max-width: 640px) {
  .freeBox__ekpIz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__ekpIz > :global(.__wab_flex-container) > *,
  .freeBox__ekpIz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ekpIz > :global(.__wab_flex-container) > picture > img,
  .freeBox__ekpIz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text___3J0TA {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  padding: 0px;
}
.text__gxMd {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: #535353;
  text-align: right;
  font-weight: 300;
  font-size: 15px;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__bcFt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  min-height: 0;
  padding: 0px;
}
.text__putVl {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  color: var(--token-mjj-ONNCZx4S);
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid var(--token-mjj-ONNCZx4S);
}
@media (max-width: 640px) {
  .text__putVl {
    font-size: 12px;
    padding: 2px 6px;
  }
}
.freeBox__hl6BM {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  margin-top: 8px;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
.freeBoxdarkMod__hl6BMoQOo {
  background: var(--token-w7oYmzqeGvkw);
}
.text__r55Mz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  color: #dd911e;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__r55Mz {
    font-size: 18px;
  }
}
.freeBox__vSrpC {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 8px 0px 0px;
}
.text__nDlQy {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__nDlQy {
    font-size: 15px;
  }
}
.textdarkMod__nDlQyOQOo {
  color: var(--token-jgohepLVeKvh);
}
.progress:global(.__wab_instance) {
  object-fit: cover;
  text-align: left;
  align-self: auto;
  width: 100%;
  margin-top: 8px;
  min-width: 0;
  padding: 0px;
}
.progressdarkMod:global(.__wab_instance) {
  color: var(--token-jgohepLVeKvh);
}
.lottie__zRy1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.freeBox__d05E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: none;
  min-width: 0;
  padding: 0px 16px 8px;
}
.img__bski5 {
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  border-radius: 8px;
}
.img__bski5 > picture > img {
  object-fit: cover;
}
.freeBox__d784V {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__d784V {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.freeBox__a7SOc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__brt1W {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  display: none;
  padding: 0px 8px 8px;
}
.freeBox__brt1W > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__brt1W > :global(.__wab_flex-container) > *,
.freeBox__brt1W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__brt1W > :global(.__wab_flex-container) > picture > img,
.freeBox__brt1W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.tabWeek:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__j56U7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0px 4px 16px 0px #12121214;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__hrMgY {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBoxdarkMod__hrMgYoQOo {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__eX259 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0% 0px 0px 20px;
}
.freeBox__g8VH {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__g8VH {
    padding: 0px;
  }
}
.freeBox__coHup {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__coHup {
    top: auto;
    left: auto;
    padding: 4px;
  }
}
.text__xOWaI {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8254c6;
  font-size: 25px;
  font-weight: 700;
  white-space: pre;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__xOWaI {
    font-size: 21px;
  }
}
.img__uy5Yr {
  object-fit: contain;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  margin: -5px;
}
.img__uy5Yr > picture > img {
  object-fit: contain;
}
@media (max-width: 640px) {
  .img__uy5Yr {
    width: 15px;
    flex-shrink: 0;
    margin: -2px;
  }
}
.freeBox__j66VY {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__j66VY {
    top: auto;
    left: auto;
  }
}
.text__qrcJv {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #a082cb;
  font-size: 20px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__qrcJv {
    font-size: 16px;
  }
}
.text__x5OqB {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #a082cb;
  font-size: 18px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
  display: none;
}
@media (max-width: 640px) {
  .text__x5OqB {
    font-size: 13px;
  }
}
.freeBox__qzbQg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__p5XJx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__p5XJx {
    font-size: 15px;
  }
}
.textdarkMod__p5XJxOQOo {
  color: var(--token-jgohepLVeKvh);
}
.text__osmaP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__osmaP {
    font-size: 15px;
  }
}
.textdarkMod__osmaPoQOo {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__d0BMm {
  display: flex;
  position: relative;
  width: 220px;
  height: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-top: 0px;
  flex-shrink: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__d0BMm {
    width: auto;
  }
}
.img___4CVyi {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  border-radius: 100%;
  margin: 0px;
  border: 8px solid #8254c64d;
}
.img___4CVyi > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img___4CVyi {
    margin: 0px 10px;
  }
}
.freeBox__ytpw0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px 16px;
  margin: 8px 0px 0px;
}
@media (max-width: 640px) {
  .freeBox__ytpw0 {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin-top: 8px;
    padding-right: 12px;
    padding-left: 12px;
  }
}
.freeBox__ev9TG {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  background: var(--token-_Tqr-iwbEpLO);
  box-shadow: 0px 4px 16px 0px #12121214;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px dashed var(--token-55cSeNPovQFh);
}
.freeBox__ev9TG > :global(.__wab_flex-container) {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.freeBox__ev9TG > :global(.__wab_flex-container) > *,
.freeBox__ev9TG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ev9TG > :global(.__wab_flex-container) > picture > img,
.freeBox__ev9TG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
}
.text__oKaxs {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-55cSeNPovQFh);
  font-size: 16px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__oKaxs {
    font-size: 15px;
    white-space: pre-wrap;
  }
}
.text___2Shyc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-55cSeNPovQFh);
  color: var(--token-41VRhDKfihhY);
  font-size: 15px;
  border-radius: 8px;
  padding: 4px 16px 2px;
}
@media (max-width: 640px) {
  .text___2Shyc {
    font-size: 12px;
    padding: 2px 6px 0px;
  }
}
.freeBox__wxfFc {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  overflow: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  margin-right: 32px;
  display: none;
  padding: 0px 0px 0px 8px;
}
@media (max-width: 640px) {
  .freeBox__wxfFc {
    justify-content: flex-start;
    align-items: center;
  }
}
.freeBox__rfrx1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  background: #ffffff;
  align-self: stretch;
  box-shadow: 0px 4px 16px 0px #12121214;
  min-width: auto;
  min-height: 0;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0px 0px 0px 8px;
}
.freeBox__rfrx1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__rfrx1 > :global(.__wab_flex-container) > *,
.freeBox__rfrx1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rfrx1 > :global(.__wab_flex-container) > picture > img,
.freeBox__rfrx1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBoxdarkMod__rfrx1OQOo {
  background: #212121;
}
.img__t3Ygq {
  object-fit: contain;
  max-width: 100%;
}
.img__t3Ygq > picture > img {
  object-fit: contain;
}
@media (max-width: 640px) {
  .img__t3Ygq {
    object-fit: none;
    max-width: auto;
  }
}
@media (max-width: 640px) {
  .img__t3Ygq > picture > img {
    object-fit: none;
  }
}
.text___3K6Nw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  user-select: text;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textdarkMod___3K6NwoQOo {
  color: #ffffff;
}
.freeBox__mQHgs {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 0px 4px;
  margin: 16px 0px;
}
@media (max-width: 640px) {
  .freeBox__mQHgs {
    padding: 0px 12px;
  }
}
.freeBox___58Ir2 {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: none;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  display: none;
  border-radius: 8px;
  padding: 0px;
}
.freeBoxdarkMod___58Ir2OQOo {
  background: var(--token-w7oYmzqeGvkw);
}
.collapseAdvice:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__m6S56 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
}
.text__apNe {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  color: #000000;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__apNe {
    font-size: 18px;
  }
}
.textdarkMod__apNeoQOo {
  color: #8254c6;
}
.text__jDh45 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  background: var(--token-pyhDq7s0RTkz);
  padding-right: 8px;
  padding-left: 8px;
  color: var(--token-DFwge94Hey3F);
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  padding-top: 4px;
  border-radius: 16px;
}
.freeBox__ijTql {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.text__ihsOz {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: -10px;
  font-size: 15px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__ihsOz {
    font-size: 16px;
  }
}
.textdarkMod__ihsOzOQOo {
  color: var(--token-jgohepLVeKvh);
}
.lottie___8EZ3P:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.freeBox__heSqQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__kWrhQ {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__kWrhQ > picture > img {
  object-fit: cover;
}
.img__cIk6V {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__cIk6V > picture > img {
  object-fit: cover;
}
.freeBox__diDkn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
}
.todoList:global(.__wab_instance) {
  width: 100%;
  height: auto;
  min-width: 0;
  margin: 2px;
}
.freeBox__mKW {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseBaby:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
  display: none;
}
.freeBox__sLph {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text___1SHcs {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.text__wo3Or {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  background: var(--token-Pxe4wDL2kJpb);
  padding-right: 8px;
  padding-left: 8px;
  color: var(--token-DFwge94Hey3F);
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  border-radius: 16px;
}
.text__ghfVc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: -10px;
  font-size: 15px;
  min-width: 0;
}
.freeBox__i6CBe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___61GPq {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img___61GPq > picture > img {
  object-fit: cover;
}
.img__w2MuI {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__w2MuI > picture > img {
  object-fit: cover;
}
.freeBox__wcbU2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseMother:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
  display: none;
}
.freeBox__tCobt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__gVw8Q {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.text__x99N2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  background: var(--token-Pxe4wDL2kJpb);
  padding-right: 8px;
  padding-left: 8px;
  color: var(--token-DFwge94Hey3F);
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  border-radius: 16px;
}
.text__wx2FW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  min-width: 0;
  margin: -10px;
}
.freeBox__uTmAc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__wX3Zo {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__wX3Zo > picture > img {
  object-fit: cover;
}
.img__lkPvi {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__lkPvi > picture > img {
  object-fit: cover;
}
.freeBox__iIjHa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 17px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.collapseHealth:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
  display: none;
}
.freeBox__vbtvw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__lexW8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.text__b6LT {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  background: var(--token-Pxe4wDL2kJpb);
  padding-right: 8px;
  padding-left: 8px;
  color: var(--token-DFwge94Hey3F);
  font-size: 13px;
  font-weight: 400;
  padding-top: 4px;
  border-radius: 16px;
}
.text__fZm1M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  min-width: 0;
  margin: -10px;
}
.freeBox__cUcvG {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__kbpj5 {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__kbpj5 > picture > img {
  object-fit: cover;
}
.img___454Nn {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img___454Nn > picture > img {
  object-fit: cover;
}
.buySub2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.buySub2__modal :global(.ant-modal-content) {
  outline: none;
  padding: 12px;
}
@media (max-width: 640px) {
  .buySub2__modal :global(.ant-modal-content) {
    outline: none;
    margin: 0px 35px;
  }
}
.freeBox__hwUm8 {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  min-height: 0;
  padding: 8px;
}
.freeBox__hwUm8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;
  margin-top: calc(0px - var(--token-IGCvYUvm1NWs));
  height: calc(100% + var(--token-IGCvYUvm1NWs));
}
.freeBox__hwUm8 > :global(.__wab_flex-container) > *,
.freeBox__hwUm8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hwUm8 > :global(.__wab_flex-container) > picture > img,
.freeBox__hwUm8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-IGCvYUvm1NWs);
}
.img__jgTS {
  object-fit: cover;
  max-width: 100%;
  height: 250px;
  flex-shrink: 0;
}
.img__jgTS > picture > img {
  object-fit: cover;
}
.text___9U8Mq {
  position: relative;
  width: 100%;
  text-align: right;
  min-width: 0;
}
.text__ddguj {
  width: 100%;
  text-align: right;
  font-size: 19px;
  font-weight: 700;
  padding-right: 30px;
  min-width: 0;
}
.freeBox__j7VXe {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__j7VXe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__j7VXe > :global(.__wab_flex-container) > *,
.freeBox__j7VXe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j7VXe > :global(.__wab_flex-container) > picture > img,
.freeBox__j7VXe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__bwPmw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-55cSeNPovQFh);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.text__jhFg {
  padding-left: 0px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.freeBox__rgiNn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 35px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-LN1YkB123lXQ);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.text__by2N {
  padding-left: 0px;
  width: 100%;
  text-align: center;
  min-width: 0;
}
