.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  background: var(--token-R_Rsn0nP9oIv);
  border-radius: 50px;
  padding: 8px;
  border: 1px solid var(--token-rGxK1TpZE_rW);
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
