.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox___13YdZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  min-width: 0;
}
.freeBox___46Bd3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__qy4Jx {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__qy4Jx {
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.textdarkMod__qy4Jxkgh4P {
  color: var(--token-jgohepLVeKvh);
}
.text___01IeR {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: var(--token-DFwge94Hey3F);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  background: var(--token-Pxe4wDL2kJpb);
  border-radius: 16px;
  padding: 4px 8px 0px;
}
.textdarkMod___01IeRkgh4P {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__jThwy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 1408px;
  height: auto;
  max-width: 100%;
  background: none;
  box-shadow: none;
  border-radius: 8px;
  padding: 0px 8px;
}
@media (max-width: 640px) {
  .freeBox__jThwy {
    width: 100%;
    min-width: 0;
  }
}
.freeBoxdarkMod__jThwyKgh4P {
  background: var(--token-w7oYmzqeGvkw);
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  width: 100px;
  align-self: center;
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__gT1Zi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 0px 8px 8px;
  margin: 0px;
}
.freeBox__wPm7B {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 2px 8px 8px;
}
.text__y5IhO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 17px;
  font-weight: 700;
  font-style: normal;
  color: #898989;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__iTkxe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #898989;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.buyComponenct:global(.__wab_instance) {
  max-width: 100%;
}
.img___6Hv {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img___6Hv > picture > img {
  object-fit: cover;
}
.img___4JxkN {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  margin-top: -20px;
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}
.img___4JxkN > picture > img {
  object-fit: cover;
}
.img___4JxkN * {
  transform-style: preserve-3d;
}
