.frame49 {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 564px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 0;
  border-radius: 24px;
  padding: var(--token-uOLZE7OyOW-J);
}
.frame25 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: var(--token-O5TjkXII_aat);
  align-items: center;
  justify-content: center;
  min-width: 0;
}
.svg__mI4Mm {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  align-self: flex-start;
  color: #6b6a6a;
  flex-shrink: 0;
}
.freeBox___29EE {
  display: flex;
  position: relative;
  align-self: center;
  flex-direction: row;
  width: auto;
}
.slotTargetChildren {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--token-EBGyLHrpfttb);
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  line-height: 100%;
  letter-spacing: 0em;
  white-space: pre;
}
.freeBox___3X6Nt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__fkilX {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #000000;
  flex-shrink: 0;
  margin: 8px;
}
.svg__nKSoo {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #000000;
  flex-shrink: 0;
  margin: 8px 0px 8px 8px;
}
.svg__mIaRa {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: #000000;
  flex-shrink: 0;
  margin: 0px 0px 0px 15px;
}
.frame48 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox___5Zz74 {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.svg___9WpV {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  transform: scale(1.0000000000000038, 1.0000000000000038)
    rotate(0.0000049783130603797145deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-style: preserve-3d;
  min-width: 0;
  border-width: 1px;
}
.svg___9WpV * {
  transform-style: preserve-3d;
}
.dataUser:global(.__wab_instance) {
  max-width: 100%;
}
