.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootdark {
  background: #0f0f0f;
}
.rootdark > * {
  grid-column: 4;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__nXb93 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px 0px 8px;
  margin: 0px 0px 16px;
}
@media (max-width: 640px) {
  .freeBox__nXb93 {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.section__mc0T7 {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__mc0T7 > * {
  grid-column: 4;
}
.freeBox__xg7PM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  min-width: 0;
  padding: 8px 16px;
}
@media (max-width: 640px) {
  .freeBox__xg7PM {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBoxdark__xg7PMRm0PC {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__bJf1E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  padding: 0px 8px;
}
.img {
  object-fit: fill;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: fill;
}
.text___3F9Q5 {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-BIuTS8zmWD0f);
  white-space: pre-wrap;
  min-height: 0;
  padding: 8px 8px 0px 16px;
}
.textdark___3F9Q5Rm0PC {
  color: var(--token-BIuTS8zmWD0f);
}
.freeBox__y4YKu {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  background: #ffffff;
  display: none;
  padding: 0px 16px;
}
.freeBoxdark__y4YKuRm0PC {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox___7Dbc3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-SX03PBUzWAqr);
  border-radius: 8px;
  padding: 0px;
}
.text___1QoRw {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 400;
  font-size: 16px;
  color: var(--token-jgohepLVeKvh);
  padding: 8px;
}
.textdark___1QoRwRm0PC {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__xJmH {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__xJmH {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 12px;
  }
}
.freeBox__uTvo8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  row-gap: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
.freeBoxdark__uTvo8Rm0PC {
  background: var(--token-w7oYmzqeGvkw);
}
.text__xUyu4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.textdark__xUyu4Rm0PC {
  color: #ffffff;
}
.freeBox__dpVxh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;
  min-width: 0;
  padding: 8px 0px 0px;
  margin: 0px;
}
.text__rmIq3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.textdark__rmIq3Rm0PC {
  color: var(--token-jgohepLVeKvh);
}
.freeBox___8F3Cm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.dateOfBirthBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__crw4C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__zrS5C {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.textdark__zrS5CRm0PC {
  color: var(--token-jgohepLVeKvh);
}
.freeBox___43BY2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.lastTimeBox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__fdESa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  color: var(--token-DFwge94Hey3F);
  padding-top: 2px;
  min-width: 0;
}
.textdark__fdESaRm0PC {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__nQ7IJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 4px;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.text__yuIbI {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  min-width: 0;
}
.textdark__yuIbIRm0PC {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__hMqpq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.lastTimeBox3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___7Gvg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.text__visWp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 500;
  min-width: 0;
}
.textdark__visWpRm0PC {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__asH2G {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-Pxe4wDL2kJpb);
}
.lastTimeBox2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zlb1C {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  top: auto;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  padding: 0px;
  margin: 0px;
}
.section__bQTjF {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px;
}
.section__bQTjF > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section__bQTjF {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 640px) {
  .section__bQTjF > * {
    grid-column: 4;
  }
}
.freeBox__xfVt4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__xfVt4 {
    max-width: 100%;
  }
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__yTxR {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__lWrAj {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__qNb2W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.pickers:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__x6Kf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___5HcjO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jdSdr {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__jqBv9 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__emYky {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text___4Y9Cx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.pickers2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__omNnr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oF4H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cnfTp {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__nCqeu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__csfKs {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.dialog3:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__vawji {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.pickers3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__eD {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.svg___3OchM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pk68Q {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__zxxkU {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  align-self: center;
  min-height: 0;
  border-radius: 6px;
  padding: 8px;
}
.text__m7GJq {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.dialog4:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.text__iud0D {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.pickers4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rba9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-left: 16px;
  min-width: 0;
}
.svg__cnaDy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__mkqLr {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__zjlE7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Xzi5OT07e2_1);
  border-radius: 6px;
  padding: 8px;
}
.text__hdaBm {
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  border-radius: 6px;
}
.backHandler:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
