.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f7;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__l2VNg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__l2VNg {
    width: auto;
    justify-self: flex-start;
  }
}
.freeBox__kQaHu {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: var(--token-VmvIyNmCXbhh);
  margin-right: var(--token-VmvIyNmCXbhh);
  margin-left: var(--token-VmvIyNmCXbhh);
  background: #ffffff;
  min-width: 0;
  border-radius: var(--token-81l0SCMdhZN_);
}
@media (max-width: 640px) {
  .freeBox__kQaHu {
    border-radius: 12px;
    padding: 20px;
  }
}
.link__f1TwP {
  text-align: right;
  align-self: flex-start;
  padding-top: var(--token-8irlKe4dtuKs);
  padding-right: var(--token-_8m4SPxiIjg9);
  padding-left: var(--token-_8m4SPxiIjg9);
  color: #9551ff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .link__f1TwP {
    font-size: 16px;
    color: var(--token-55cSeNPovQFh);
    padding: 0px;
  }
}
.freeBox__eeRlb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: none;
  margin-top: var(--token-_8m4SPxiIjg9);
  margin-bottom: var(--token-_8m4SPxiIjg9);
  min-width: 0;
  padding: 8px;
}
.freeBox__eeRlb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__eeRlb > :global(.__wab_flex-container) > *,
.freeBox__eeRlb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eeRlb > :global(.__wab_flex-container) > picture > img,
.freeBox__eeRlb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (max-width: 640px) {
  .freeBox__eeRlb > :global(.__wab_flex-container) {
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__eeRlb > :global(.__wab_flex-container) > *,
  .freeBox__eeRlb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eeRlb > :global(.__wab_flex-container) > picture > img,
  .freeBox__eeRlb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.freeBox__mB5CK {
  display: flex;
  position: sticky;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: none;
  width: 90px;
  height: 90px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 30px) !important;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__mB5CK {
    justify-content: space-evenly;
    margin-left: calc(0px + 20px) !important;
    margin-top: calc(0px + 0px) !important;
  }
}
.text__i9991 {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 25px;
  z-index: 1;
  text-align: center;
  user-select: text;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__i9991 {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__zd6RW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
  display: none;
}
@media (max-width: 640px) {
  .text__zd6RW {
    display: block;
  }
}
.freeBox__euqJ7 {
  display: flex;
  position: sticky;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: none;
  width: 90px;
  height: 90px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 30px) !important;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__euqJ7 {
    justify-content: space-evenly;
    margin-left: calc(0px + 20px) !important;
    margin-top: calc(0px + 0px) !important;
  }
}
.text___5Kkag {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 25px;
  z-index: 1;
  text-align: center;
  user-select: text;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___5Kkag {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__n2Lt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__n2Lt {
    display: block;
  }
}
.freeBox__vmLw3 {
  display: flex;
  position: sticky;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: none;
  width: 90px;
  height: 90px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 30px) !important;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__vmLw3 {
    margin-left: calc(0px + 20px) !important;
    margin-top: calc(0px + 0px) !important;
  }
}
.text___6YrHy {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 25px;
  z-index: 1;
  text-align: center;
  user-select: text;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___6YrHy {
    position: relative;
    left: auto;
    top: auto;
  }
}
.text__o2VP9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__o2VP9 {
    display: block;
  }
}
.freeBox__zqEyN {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  background: #8254c64d;
  padding-right: var(--token-8irlKe4dtuKs);
  padding-left: var(--token-8irlKe4dtuKs);
  border-radius: 30px;
}
@media (max-width: 640px) {
  .freeBox__zqEyN {
    background: #8254c64d;
  }
}
.p__wBrRt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-2xQ-Ews6Hwx4);
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: var(--token-9EfSOc8y7ano) var(--token-8irlKe4dtuKs);
}
.p__xLc5O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-2xQ-Ews6Hwx4);
  font-weight: 700;
  font-family: "Trispace", sans-serif;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: var(--token-9EfSOc8y7ano) var(--token-8irlKe4dtuKs);
}
.freeBox___6Kw2M {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  align-self: center;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  margin: var(--token-9EfSOc8y7ano) var(--token-8irlKe4dtuKs);
}
.text___3Hd4I {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__kcgv6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-bottom: var(--token-mZAl1RAwSIao);
  margin-top: var(--token-81l0SCMdhZN_);
  min-width: 0;
  padding: 8px;
}
.text__omFzt {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 1;
  font-size: var(--token-7WXNdURMr8wH);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.link__tcL6R {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 1;
  font-size: var(--token-2xQ-Ews6Hwx4);
  font-weight: 700;
  color: #973eff;
  font-family: "B Yekan";
  align-self: auto;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .link__tcL6R {
    color: var(--token-55cSeNPovQFh);
  }
}
.text__dQjfV {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 1;
  align-self: auto;
  font-size: var(--token-7WXNdURMr8wH);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__q8Qw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-bottom: var(--token-81l0SCMdhZN_);
  margin-top: var(--token-81l0SCMdhZN_);
  min-width: 0;
  padding: 8px;
}
.freeBox__q8Qw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox__q8Qw {
    left: auto;
    top: auto;
    margin-right: var(--token-9EfSOc8y7ano);
    margin-bottom: var(--token-9EfSOc8y7ano);
    margin-left: var(--token-9EfSOc8y7ano);
  }
}
@media (max-width: 640px) {
  .freeBox__q8Qw > :global(.__wab_flex-container) {
    justify-content: space-between;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__q8Qw > :global(.__wab_flex-container) > *,
  .freeBox__q8Qw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__q8Qw > :global(.__wab_flex-container) > picture > img,
  .freeBox__q8Qw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (max-width: 640px) {
  .button2:global(.__wab_instance) {
    display: flex;
  }
}
.svg__naBy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___4Ow2J {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .button3:global(.__wab_instance) {
    display: flex;
  }
}
.svg__dJfgt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__icgn {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__dx6At {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  min-width: 0;
  border-radius: var(--token-81l0SCMdhZN_);
  margin: var(--token-VmvIyNmCXbhh);
}
@media (max-width: 640px) {
  .freeBox__dx6At {
    border-radius: 12px;
  }
}
.freeBox__eoCeA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-bottom: var(--token-81l0SCMdhZN_);
  margin-top: var(--token-81l0SCMdhZN_);
  padding: 8px;
  border-bottom: 1px solid #a471ff;
}
@media (max-width: 640px) {
  .freeBox__eoCeA {
    width: 100%;
    min-width: 0;
  }
}
.h2 {
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 1;
  align-self: flex-start;
  font-size: var(--token-tjteaUKFnUfH);
  padding-right: var(--token-VmvIyNmCXbhh);
  padding-left: var(--token-VmvIyNmCXbhh);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .h2 {
    font-size: 18px;
    padding: 0px;
  }
}
.freeBox___4Cio4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: var(--token-oYI7ebdZitcv) var(--token-VmvIyNmCXbhh)
    var(--token-VmvIyNmCXbhh);
}
@media (max-width: 640px) {
  .freeBox___4Cio4 {
    left: auto;
    top: auto;
    margin-right: var(--token-9EfSOc8y7ano);
    margin-bottom: var(--token-9EfSOc8y7ano);
    margin-left: var(--token-9EfSOc8y7ano);
  }
}
.ul {
  display: flex;
  flex-direction: column;
  color: #6d00ff;
  list-style-type: disc;
  list-style-position: outside;
  width: 100%;
  align-self: baseline;
  padding-right: 30px;
  padding-left: 0px;
  min-width: 0;
}
.ul > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  min-width: 0;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-9EfSOc8y7ano));
  height: calc(100% + var(--token-9EfSOc8y7ano));
}
.ul > :global(.__wab_flex-container) > *,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul > :global(.__wab_flex-container) > picture > img,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-9EfSOc8y7ano);
}
@media (max-width: 640px) {
  .ul {
    font-size: 12px;
  }
}
.li__u9LKw {
  color: #2e2e2e;
  text-align: right;
  font-size: var(--token-hYndcje43OGL);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .li__u9LKw {
    font-size: 14px;
  }
}
.li__woGd {
  color: #2e2e2e;
  text-align: right;
  font-size: var(--token-hYndcje43OGL);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .li__woGd {
    font-size: 14px;
  }
}
.li___3Xx7K {
  color: #2e2e2e;
  text-align: right;
  font-size: var(--token-hYndcje43OGL);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .li___3Xx7K {
    font-size: 14px;
  }
}
.li__mwxvF {
  color: #2e2e2e;
  text-align: right;
  font-size: var(--token-hYndcje43OGL);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .li__mwxvF {
    font-size: 14px;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 381px;
  margin-bottom: 0px;
  border-top-right-radius: var(--token-dT-owZu8-6an);
  border-top-left-radius: var(--token-dT-owZu8-6an);
  flex-shrink: 0;
}
.freeBox__mQrqu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
.text__yuDgb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__dy9NU {
  font-size: var(--token-UXPBeNJ4rrVx);
  text-align: right;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: auto;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 381px;
  margin-bottom: 0px;
  border-top-right-radius: var(--token-dT-owZu8-6an);
  border-top-left-radius: var(--token-dT-owZu8-6an);
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .modal2:global(.__wab_instance) {
    margin-bottom: 0px;
  }
}
.freeBox__tG5NS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  overflow: visible;
  min-width: 0;
}
.freeBox__b6E7T {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.freeBox__b6E7T > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__b6E7T > :global(.__wab_flex-container) > *,
.freeBox__b6E7T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__b6E7T > :global(.__wab_flex-container) > picture > img,
.freeBox__b6E7T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (max-width: 640px) {
  .freeBox__b6E7T {
    padding: 0px;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  transition-property: all;
  transition-duration: 1s;
  width: 100%;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg___38Ba {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__kOzv {
  padding-top: 0px;
  font-size: 20px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg___7Xlcs {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button__ynTz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  background: none;
  font-size: 20px;
  min-height: 0;
  border-width: 1px;
  border-style: none;
}
@media (max-width: 640px) {
  .button__ynTz:global(.__wab_instance) {
    background: none;
  }
}
.text__hnZ3K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #8254c6;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.text__fdfw1 {
  font-size: var(--token-UXPBeNJ4rrVx);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
