.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  background: var(--token-Y4frplZPI0IJ);
  height: auto;
  width: auto;
  border-radius: 8px;
  padding: 8px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-fn6i10-y5r1L);
  font-weight: 700;
  text-align: center;
  white-space: pre;
  min-width: 0;
}
