.root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-uOLZE7OyOW-J);
  position: relative;
  min-width: 0;
  padding: 0px;
}
.rootsize_mini {
  column-gap: var(--token-O5TjkXII_aat);
  row-gap: 0px;
}
.rootdirection_v {
  display: flex;
  flex-direction: column;
  row-gap: var(--token-uOLZE7OyOW-J);
  column-gap: 0px;
}
.radioGrop__xDgqn:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
  width: auto;
  min-width: 100px;
}
.radioGropunnamedVariant__xDgqnpN4Io:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.radioGropsize_small__xDgqnqO86K:global(.__wab_instance) {
  height: 40px;
}
.radioGropsize_mini__xDgqnaMdd:global(.__wab_instance) {
  height: 35px;
  min-width: auto;
  width: auto;
}
.radioGropmoulty__xDgqnQublj:global(.__wab_instance) {
  display: none;
}
.radioGropicon__xDgqn9MoHd:global(.__wab_instance) {
  height: 100px;
  width: 150px;
  flex-shrink: 0;
}
.radioGropdirection_v__xDgqnmR1Io:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__h0Hhj {
  font-weight: 500;
}
.textsize_small__h0HhjqO86K {
  font-size: 14px;
}
.textsize_mini__h0HhjaMdd {
  font-size: 14px;
}
.text___2KgJ1 {
  font-weight: 500;
  color: var(--token-AwpLXbw5AmtS);
  font-size: var(--token-ZuffvoxgS-gS);
}
.textsize_small___2KgJ1QO86K {
  font-size: 14px;
}
.textsize_mini___2KgJ1AMdd {
  font-size: 14px;
}
.menuIcon:global(.__wab_instance) {
  max-width: 100%;
  margin-bottom: var(--token-O5TjkXII_aat);
  display: none;
}
.menuIconicon:global(.__wab_instance) {
  display: block;
}
.radioGrop__zHtyZ:global(.__wab_instance) {
  max-width: 100%;
  height: 50px;
  width: auto;
  min-width: 100px;
}
.radioGropunnamedVariant__zHtyZpN4Io:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.radioGropsize_small__zHtyZqO86K:global(.__wab_instance) {
  height: 40px;
}
.radioGropsize_mini__zHtyZaMdd:global(.__wab_instance) {
  height: 40px;
}
.radioGropmoulty__zHtyZqublj:global(.__wab_instance) {
  display: flex;
}
.text___9BoMi {
  font-weight: 500;
}
.textsize_small___9BoMIqO86K {
  font-size: 14px;
}
.textsize_mini___9BoMIaMdd {
  font-size: 14px;
}
.svg__c0OuU {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
