.root {
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 130px;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  border-radius: var(--token-81l0SCMdhZN_);
  padding: 10px;
  border: 2px solid var(--token-4RAe7M2gInqR);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 5px;
}
@media (max-width: 640px) {
  .root {
    width: 130px;
    height: 130px;
    max-width: 100%;
    background: #ffffff;
    flex-direction: column;
    border-radius: var(--token-81l0SCMdhZN_);
    padding: 10px;
    border: 2px solid var(--token-4RAe7M2gInqR);
  }
}
@media (max-width: 640px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (max-width: 640px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.text__iaPw6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-2xQ-Ews6Hwx4);
  font-weight: 600;
  color: #00c371;
  text-align: center;
  background: #00c37133;
  border-radius: 50%;
  padding: 2px;
}
@media (max-width: 640px) {
  .text__iaPw6 {
    background: #eb464a33;
  }
}
.text__wESlb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: var(--token-2xQ-Ews6Hwx4);
  color: var(--token-4RAe7M2gInqR);
  min-width: 0;
}
@media (max-width: 640px) {
  .text__wESlb {
    font-size: 13px;
  }
}
.text___9KdTf {
  position: absolute;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  left: 0px;
  top: 94px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___9KdTf {
    width: 100%;
    height: auto;
    max-width: 100%;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    min-width: 0;
  }
}
