.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__fhfV {
  position: relative;
  height: 1em;
}
.svg__oJkm {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-R_Rsn0nP9oIv);
  display: block;
  color: var(--token-ODBUExjR6VEF);
  font-family: var(--token-2lDfJHYaD05G);
  font-size: var(--token-LMEbRDTg0Iix);
  line-height: var(--token-MZ4KWwVSoShs);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-zSh3nOEaBBWl);
}
.pcls_nN9sAs_iuekX {
  background: var(--token--AiIiH6B786R);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  overflow: hidden;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.ariaHeadingDeprecated:global(.__wab_instance) {
  flex-shrink: 0;
  padding: var(--token-0yRlsfoDOnrZ);
  margin: 0rem;
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-0yRlsfoDOnrZ);
  padding-right: var(--token-0yRlsfoDOnrZ);
}
.freeBox___1AuyU {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: var(--token-IGCvYUvm1NWs);
}
.text___1LR8X {
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-0yRlsfoDOnrZ);
}
.freeBox__dcCyw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg___5Vw3K {
  position: relative;
  height: 1em;
}
.text__nPmqd {
  padding-left: 0px;
}
.svg__skhBj {
  position: relative;
  height: 1em;
}
