.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 0px 0px 8px;
}
.rootselect {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 0px 0px 8px;
}
.freeBox___4R0QH {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  column-gap: var(--token-uOLZE7OyOW-J);
  background: none;
  min-width: 0;
  min-height: 0;
  border-radius: 0px;
  padding: var(--token-uOLZE7OyOW-J);
}
.freeBoxselect___4R0QHp3TGe {
  outline-width: 2px;
  outline-color: var(--token-qvl81LxkOSoe);
  outline-offset: -2px;
  outline-style: solid;
  border-radius: var(--token-O5TjkXII_aat);
  border-width: 0px;
}
.freeBoxdisable___4R0QHm6Su {
  opacity: 0.5;
}
.freeBox__mQuuA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: var(--token-38wfsm-OP2Vm);
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__tSh4J {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-O5TjkXII_aat);
  padding: 0px;
}
.freeBox__gRlB {
  animation: none;
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-gonRSCNFEy7u);
  column-gap: var(--token-uOLZE7OyOW-J);
  border-radius: 500px;
  padding: var(--token-O5TjkXII_aat);
}
@media (max-width: 640px) {
  .freeBox__gRlB {
    animation: none;
  }
}
._3DIcon:global(.__wab_instance) {
  position: relative;
}
.freeBox__eXpcu {
  animation: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text__tdMTw {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  text-align: right;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__tdMTw {
    animation: none;
  }
}
.freeBox__zEeJ {
  animation: none;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__zEeJ {
    animation: none;
  }
}
.slotTargetChildren {
  font-family: "Roboto", sans-serif;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  font-style: normal;
  color: var(--token-DFwge94Hey3F);
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.freeBox__qJyF {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__xl0Yl {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  text-align: right;
  white-space: pre;
  column-gap: var(--token-B5WvIYiqPJW-);
  padding: 0px var(--token-uOLZE7OyOW-J) 0px 0px;
}
.freeBoxselect__xl0YlP3TGe {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-B5WvIYiqPJW-);
  row-gap: 0px;
}
.text__w10Uk {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-DFwge94Hey3F);
  text-align: right;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: none;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__w10Uk {
    animation: none;
  }
}
.text__oOec {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  left: auto;
  top: auto;
}
.textselect__oOecP3TGe {
  left: auto;
  top: auto;
  display: block;
}
.text__qk4An {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  left: auto;
  top: auto;
}
.textselect__qk4AnP3TGe {
  left: auto;
  top: auto;
  display: block;
}
.freeBox___7SeSq {
  animation: none;
  display: flex;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
}
.button4:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  display: none;
}
.button4select:global(.__wab_instance) {
  display: flex;
}
.freeBox__xuhp7 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 32px;
  height: 32px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4rem;
}
.svg__ydzWo {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DFwge94Hey3F);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__bzJnp {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button3:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
}
.button3select:global(.__wab_instance) {
  display: none;
}
.svg__mqVIg {
  animation: none;
  position: relative;
  object-fit: cover;
  width: 15px;
  height: 15px;
  color: var(--token-DFwge94Hey3F);
}
.svgsend__mqVIgU6NHs {
  color: var(--token-R_Rsn0nP9oIv);
}
.svgsend_disable__mqVIgU6NHsM6Su {
  color: var(--token--AiIiH6B786R);
}
.text__oqVXw {
  animation: none;
  color: var(--token-DFwge94Hey3F);
}
.textsend__oqVXwU6NHs {
  color: var(--token-R_Rsn0nP9oIv);
}
.textsend_disable__oqVXwU6NHsM6Su {
  color: var(--token--AiIiH6B786R);
}
.svg__eefRq {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
