.root {
  box-shadow: 0px 4px 16px 0px #c0bcbc14;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-uOLZE7OyOW-J);
  background: var(--token-KrBMMqlPClZi);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 8px;
  border-top-width: 0px;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-uOLZE7OyOW-J);
  border-style: solid;
  border-color: var(--token-vqcOHM8uNy8z);
}
.freeBox {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__uDzSr {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-ZuffvoxgS-gS);
  text-align: right;
  font-weight: 400;
  color: var(--token-u4fYwhaU4wrg);
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__a5F0E {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__t0Usj {
  padding: var(--token-38wfsm-OP2Vm) var(--token-O5TjkXII_aat);
}
.svg__tM76W {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-2ObYh10hZuCh);
  flex-shrink: 0;
}
