.frame49 {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 564px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 0;
  border-radius: 24px;
  padding: var(--token-uOLZE7OyOW-J);
}
.frame25 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: 64px;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 0;
}
.text___7Qc37 {
  display: block;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame48 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox__e5Rd7 {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  transform: scale(1.0000000000000038, 1.0000000000000038)
    rotate(0.0000049783130603797145deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
  transform-style: preserve-3d;
  min-width: 0;
  border-width: 1px;
}
.svg * {
  transform-style: preserve-3d;
}
.frame50 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox___1CUiz {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 12px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox___1CUiz {
    overflow: auto;
  }
}
.freeBox__mNf9I {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__jWDxd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-cunRwTCjQp3O);
  min-width: 0;
}
.freeBox__jpyX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.svg__f2WdI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 234px;
}
.svg__fp42 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___1YrX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 30px;
  min-width: 0;
  padding: 0px 8px 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg__fIlRp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___4ZCu5 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
}
.svg__eedfd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__bQoQ {
  color: #8400dc;
}
.svg__urEc7 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__oOgBr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.antdInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
