.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f7;
  grid-row-gap: 18px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__fs7Iu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-top: 24px;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox__fs7Iu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__fs7Iu > :global(.__wab_flex-container) > *,
.freeBox__fs7Iu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fs7Iu > :global(.__wab_flex-container) > picture > img,
.freeBox__fs7Iu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
@media (max-width: 640px) {
  .freeBox__fs7Iu {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .freeBox__fs7Iu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 5px);
    height: calc(100% + 5px);
  }
}
@media (max-width: 640px) {
  .freeBox__fs7Iu > :global(.__wab_flex-container) > *,
  .freeBox__fs7Iu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fs7Iu > :global(.__wab_flex-container) > picture > img,
  .freeBox__fs7Iu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 5px;
  }
}
.freeBox__vuErL {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__vuErL {
    justify-content: center;
    align-items: center;
  }
}
.freeBox___60Gba {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nmThf {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__nmThf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__nmThf > :global(.__wab_flex-container) > *,
.freeBox__nmThf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nmThf > :global(.__wab_flex-container) > picture > img,
.freeBox__nmThf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (max-width: 640px) {
  .freeBox__nmThf > :global(.__wab_flex-container) {
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__nmThf > :global(.__wab_flex-container) > *,
  .freeBox__nmThf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nmThf > :global(.__wab_flex-container) > picture > img,
  .freeBox__nmThf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
    margin-top: 0px;
  }
}
.svg__m38Yr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4RAe7M2gInqR);
  width: 100%;
  height: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .svg__m38Yr {
    width: 20px;
    height: 20px;
    align-self: auto;
    flex-shrink: 0;
  }
}
.text__d86Cv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-hb610yGAurc2);
  font-weight: 700;
  font-size: 16px;
  align-self: flex-start;
  min-width: 0;
}
.text__fyuNt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-hb610yGAurc2);
  font-weight: 700;
  font-size: 24px;
  min-width: 0;
}
.freeBox__k2IDx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__nu4J {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 100px;
  color: var(--token-G-IZ_XhVdlqp);
  flex-shrink: 0;
}
.freeBox__qIkHa {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__oejfd {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__oejfd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox__oejfd > :global(.__wab_flex-container) > *,
.freeBox__oejfd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oejfd > :global(.__wab_flex-container) > picture > img,
.freeBox__oejfd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 640px) {
  .freeBox__oejfd {
    padding-right: 0px;
    padding-left: 0px;
  }
}
.text___3QnIo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-hb610yGAurc2);
  font-weight: 700;
  font-size: 16px;
  align-self: flex-start;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___3QnIo {
    padding-left: 0px;
    font-size: 12px;
  }
}
.svg__xt4NX {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4RAe7M2gInqR);
  width: 100%;
  height: 100%;
  align-self: flex-end;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .svg__xt4NX {
    display: none;
  }
}
.text___9Bomd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-hb610yGAurc2);
  font-weight: 700;
  font-size: 24px;
  min-width: 0;
}
.text__ml43R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-hb610yGAurc2);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 148px;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  flex-shrink: 0;
}
.modal__modal :global(.ant-modal-content) {
  background: #f7f7f7;
  outline: none;
  border-radius: 0px;
}
.freeBox__r8Aa9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__r8Aa9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__r8Aa9 > :global(.__wab_flex-container) > *,
.freeBox__r8Aa9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r8Aa9 > :global(.__wab_flex-container) > picture > img,
.freeBox__r8Aa9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.text__lWtp7 {
  font-size: 16px;
  font-weight: 700;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
}
.freeBox___6D7Rw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox___6D7Rw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox___6D7Rw > :global(.__wab_flex-container) > *,
.freeBox___6D7Rw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6D7Rw > :global(.__wab_flex-container) > picture > img,
.freeBox___6D7Rw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox___6Cza9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.svg__yIEn {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.freeBox__kuNex {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.text__glAi3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.text__t1Yjs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  text-align: right;
  min-width: 0;
}
.freeBox___5Rc1A {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox___5Rc1A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___5Rc1A > :global(.__wab_flex-container) > *,
.freeBox___5Rc1A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Rc1A > :global(.__wab_flex-container) > picture > img,
.freeBox___5Rc1A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.tick:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__qTzrp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.freeBox__qTzrp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__qTzrp > :global(.__wab_flex-container) > *,
.freeBox__qTzrp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qTzrp > :global(.__wab_flex-container) > picture > img,
.freeBox__qTzrp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__usOcU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.svg__ydD5E {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.freeBox__adUVp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.text__d422Z {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.text__tk2Co {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  text-align: right;
  min-width: 0;
}
.freeBox__r8If3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__r8If3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__r8If3 > :global(.__wab_flex-container) > *,
.freeBox__r8If3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r8If3 > :global(.__wab_flex-container) > picture > img,
.freeBox__r8If3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__x7JKl {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__rt7BT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.svg___855L {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-55cSeNPovQFh);
  flex-shrink: 0;
}
.freeBox__zzT3S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.svg___44Zw1 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.freeBox__eo4P2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.text__yllgP {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.text__sJzSp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 11px;
  text-align: right;
  min-width: 0;
}
.freeBox__iv7Jz {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__iv7Jz > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__iv7Jz > :global(.__wab_flex-container) > *,
.freeBox__iv7Jz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iv7Jz > :global(.__wab_flex-container) > picture > img,
.freeBox__iv7Jz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__qGHpK {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__gtvk4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.svg__rWyLt {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-55cSeNPovQFh);
  flex-shrink: 0;
}
.freeBox__oaMby {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
.svg__cohEh {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.freeBox__euqVx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 10px 0px 0px;
}
.text__utlsh {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.text__z7JlE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: right;
  min-width: 0;
}
.freeBox__lqEhT {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__lqEhT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__lqEhT > :global(.__wab_flex-container) > *,
.freeBox__lqEhT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lqEhT > :global(.__wab_flex-container) > picture > img,
.freeBox__lqEhT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg___1Yn2Y {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__wHeHo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.svg__k9O3X {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-55cSeNPovQFh);
  flex-shrink: 0;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-top: calc(10px + 5px) !important;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  min-width: 0;
}
.svg__ziDp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cCbA0 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
  color: var(--token-55cSeNPovQFh);
}
