.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: linear-gradient(
    0deg,
    var(--token-jgohepLVeKvh) 0%,
    #e0d8f1 55%,
    #8254c6cc 100%
  );
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 32px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__k9FFd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__h1Sjj {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
}
.img__h1Sjj > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__h1Sjj {
    width: 100px;
  }
}
.text__c7Pzm {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  min-width: 0;
}
@media (max-width: 640px) {
  .text__c7Pzm {
    font-size: 18px;
  }
}
.freeBox__laGek {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__laGek > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__laGek > :global(.__wab_flex-container) > *,
.freeBox__laGek > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__laGek > :global(.__wab_flex-container) > picture > img,
.freeBox__laGek
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .freeBox__laGek {
    padding: 0px;
  }
}
.img__sp7Oz {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 320px;
}
.img__sp7Oz > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 640px) {
  .img__sp7Oz {
    width: 250px;
  }
}
.img__nK0A {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 320px;
  display: none !important;
}
.img__nK0A > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 640px) {
  .img__nK0A {
    width: 300px;
  }
}
.img___5Wg2D {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 320px;
  display: none !important;
}
.img___5Wg2D > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 640px) {
  .img___5Wg2D {
    width: 300px;
  }
}
.text___1P3IJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___1P3IJ {
    text-align: justify;
    font-size: 16px;
  }
}
.freeBox__iCvx9 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__iCvx9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__iCvx9 > :global(.__wab_flex-container) > *,
.freeBox__iCvx9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iCvx9 > :global(.__wab_flex-container) > picture > img,
.freeBox__iCvx9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .freeBox__iCvx9 {
    padding: 0px;
  }
}
.img__d69Jc {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 320px;
  display: none !important;
}
.img__d69Jc > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 640px) {
  .img__d69Jc {
    width: 300px;
  }
}
.img__y7LC {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 320px;
}
.img__y7LC > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 640px) {
  .img__y7LC {
    width: 250px;
  }
}
.img__kxn6W {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 320px;
  display: none !important;
}
.img__kxn6W > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 640px) {
  .img__kxn6W {
    width: 300px;
  }
}
.text__i0XsN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__i0XsN {
    text-align: justify;
    font-size: 16px;
  }
}
.freeBox__mGssn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__mGssn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__mGssn > :global(.__wab_flex-container) > *,
.freeBox__mGssn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mGssn > :global(.__wab_flex-container) > picture > img,
.freeBox__mGssn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 640px) {
  .freeBox__mGssn {
    padding: 0px;
  }
}
.img__b5XRr {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 320px;
  display: none !important;
}
.img__b5XRr > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 640px) {
  .img__b5XRr {
    width: 300px;
  }
}
.img__aiZ1J {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 320px;
  display: none !important;
}
.img__aiZ1J > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 640px) {
  .img__aiZ1J {
    width: 300px;
  }
}
.img__kjy5 {
  object-fit: cover;
  max-width: 100%;
  object-position: 50% 50%;
  width: 320px;
}
.img__kjy5 > picture > img {
  object-fit: cover;
  object-position: 50% 50%;
}
@media (max-width: 640px) {
  .img__kjy5 {
    width: 250px;
  }
}
.text__pmql3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__pmql3 {
    text-align: justify;
    font-size: 16px;
  }
}
.freeBox__nGlzo {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__nGlzo > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__nGlzo > :global(.__wab_flex-container) > *,
.freeBox__nGlzo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nGlzo > :global(.__wab_flex-container) > picture > img,
.freeBox__nGlzo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 640px) {
  .freeBox__nGlzo {
    padding: 0px;
  }
}
.button11:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oG0E9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jEtYi {
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
}
@media (max-width: 640px) {
  .text__jEtYi {
    font-weight: 500;
    color: var(--token-jgohepLVeKvh);
    font-size: 14px;
    padding: 4px;
  }
}
.svg__a4WFg {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button12:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
  display: none;
}
@media (max-width: 640px) {
  .button12:global(.__wab_instance) {
    width: auto;
    display: none;
  }
}
.svg__nhvWm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jshbf {
  font-weight: 700;
  color: #7444bc;
  font-size: 18px;
}
@media (max-width: 640px) {
  .text__jshbf {
    font-weight: 500;
    color: var(--token-55cSeNPovQFh);
    font-size: 14px;
    padding: 4px;
  }
}
.svg___7BEvu {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox__rmy4S {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  min-width: 0;
  padding: 8px 8px 24px;
}
.freeBox__rmy4S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__rmy4S > :global(.__wab_flex-container) > *,
.freeBox__rmy4S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rmy4S > :global(.__wab_flex-container) > picture > img,
.freeBox__rmy4S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button13:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  position: absolute;
  left: auto;
  top: -16px;
  right: 8px;
}
@media (max-width: 640px) {
  .button13:global(.__wab_instance) {
    width: auto;
  }
}
.svg__pdAt4 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__jyoN {
  font-weight: 700;
  color: #7444bc;
  font-size: 16px;
}
@media (max-width: 640px) {
  .text__jyoN {
    font-weight: 500;
    color: var(--token-55cSeNPovQFh);
    font-size: 14px;
    padding: 4px;
  }
}
.svg__ui2KG {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 0px;
  right: 8px;
}
.svg___3W9Ri {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__j0V1A {
  color: var(--token-55cSeNPovQFh);
  padding-bottom: 0px;
  font-weight: 700;
}
.svg__seGy {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__twHqb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__twHqb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__twHqb > :global(.__wab_flex-container) > *,
.freeBox__twHqb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__twHqb > :global(.__wab_flex-container) > picture > img,
.freeBox__twHqb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__oUZm {
  display: block;
  width: 40px;
  height: 10px;
  max-width: 100%;
  background: var(--token-_Tqr-iwbEpLO);
  transition-property: all;
  transition-duration: 0.3s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__oUZm {
    width: 30px;
    flex-shrink: 0;
  }
}
.freeBox__boi5L {
  display: block;
  position: relative;
  width: 40px;
  height: 10px;
  max-width: 100%;
  background: var(--token-_Tqr-iwbEpLO);
  transition-property: all;
  transition-duration: 0.3s;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__boi5L {
    width: 30px;
    flex-shrink: 0;
  }
}
.freeBox__pHr7Z {
  display: block;
  position: relative;
  width: 40px;
  height: 10px;
  max-width: 100%;
  background: var(--token-SX03PBUzWAqr);
  transition-property: all;
  transition-duration: 0.3s;
  transform: none;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  border-radius: 100px;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__pHr7Z {
    width: 30px;
    flex-shrink: 0;
  }
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 8px;
  top: 0px;
}
.svg__i8Y9I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__sb4Z8 {
  color: var(--token-LNIzKl5AGPPT);
  font-weight: 400;
}
.svg__oLMp {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.dialog:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 5;
}
.shop:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__hkQt0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__cOpha {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}
.text__qR4Z1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nFtal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox__bA6GH {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
.freeBox__bA6GH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - var(--token-uOLZE7OyOW-J));
  height: calc(100% + var(--token-uOLZE7OyOW-J));
}
.freeBox__bA6GH > :global(.__wab_flex-container) > *,
.freeBox__bA6GH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bA6GH > :global(.__wab_flex-container) > picture > img,
.freeBox__bA6GH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: var(--token-uOLZE7OyOW-J);
}
.freeBox__g17O8 {
  width: 100px;
  height: 6px;
  max-width: 100%;
  background: var(--token-y50Rafqey4Ec);
  flex-shrink: 0;
  display: none;
  border-radius: 100px;
  padding: 2px;
}
.dialogTitle:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: calc(0px + var(--token-uOLZE7OyOW-J)) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 8px) !important;
}
.h5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  min-width: 0;
}
.text__dGzur {
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  font-style: normal;
  color: var(--token-g4c3GPshSjp1);
  text-align: right;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "Roboto", sans-serif;
}
.freeBox__vpMn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-top: var(--token-uOLZE7OyOW-J);
  min-width: 0;
}
.freeBox__vpMn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__vpMn > :global(.__wab_flex-container) > *,
.freeBox__vpMn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vpMn > :global(.__wab_flex-container) > picture > img,
.freeBox__vpMn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__zOBN {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 400;
  font-style: normal;
  color: var(--token-g4c3GPshSjp1);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  font-family: "Roboto", sans-serif;
  align-self: flex-start;
  min-width: 0;
}
.freeBox__u5XtQ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__hB3Iq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: none;
  left: auto;
  top: auto;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border: 1px solid #d2d2d2;
}
.freeBox__hB3Iq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__hB3Iq > :global(.__wab_flex-container) > *,
.freeBox__hB3Iq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hB3Iq > :global(.__wab_flex-container) > picture > img,
.freeBox__hB3Iq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBox__tIkf2 {
  display: block;
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: #7444bc33;
  left: 8px;
  top: -170px;
  z-index: 1;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3px 8px 2px;
}
.text__y44Cf {
  position: sticky;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  font-weight: 500;
  z-index: 1;
  min-width: 0;
  min-height: 0;
}
.freeBox__kkm1I {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__kkm1I {
    justify-content: space-between;
  }
}
.text___774Wc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: justify;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___774Wc {
    width: auto;
  }
}
.freeBox__plloH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__plloH {
    justify-content: flex-end;
    align-items: center;
    width: auto;
    padding: 0px;
  }
}
.freeBox___0Vvmp {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___0Vvmp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox___0Vvmp {
    display: flex;
    flex-direction: row;
    width: auto;
  }
}
@media (max-width: 640px) {
  .freeBox___0Vvmp > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: calc(0px - 8px);
    width: calc(100% + 8px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox___0Vvmp > :global(.__wab_flex-container) > *,
  .freeBox___0Vvmp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0Vvmp > :global(.__wab_flex-container) > picture > img,
  .freeBox___0Vvmp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 8px;
    margin-top: 0px;
  }
}
.text__nnTrr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: line-through;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__nnTrr {
    width: auto;
    padding: 0px;
  }
}
.text__ha9Xw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__ha9Xw {
    width: auto;
  }
}
.freeBox__fbllt {
  display: flex;
  position: sticky;
  width: 40px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
}
.text__khwW2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__khwW2 {
    font-weight: 700;
  }
}
.text__b5Brz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  cursor: pointer;
  align-self: flex-start;
  padding-right: 10px;
  padding-left: 10px;
  color: #8254c6;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.freeBox__cUNv {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-top: calc(8px + 5px) !important;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-radius: 8px;
  padding: 0px;
}
.freeBox__cUNv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cUNv > :global(.__wab_flex-container) > *,
.freeBox__cUNv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cUNv > :global(.__wab_flex-container) > picture > img,
.freeBox__cUNv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox___3Uh8C {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 10px) !important;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  border-width: 2px;
  border-style: solid;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg___92Qe1 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #8254c6;
}
.freeBox___9YNd5 {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 5;
  background: #00c37133;
  min-width: 0;
  min-height: 0;
  border-radius: 5px;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 40%;
}
.svg__axI25 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hctl4 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__jVrAf {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 8px;
  margin-left: 8px;
}
.svg___5UOPi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rrJFl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg__nYxIw {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.p__rf8Ho {
  text-align: center;
  font-size: 14px;
  color: #898989;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.p__upWkI {
  text-align: center;
  font-size: 12px;
  color: #898989;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: none;
  text-decoration-line: none;
  text-overflow: clip;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: none;
}
.dialog2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  z-index: 10;
}
.freeBox__jtkZ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 16px 16px 0px;
}
.freeBox__jtkZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jtkZ > :global(.__wab_flex-container) > *,
.freeBox__jtkZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jtkZ > :global(.__wab_flex-container) > picture > img,
.freeBox__jtkZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.subscription:global(.__wab_instance) {
  max-width: 100%;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 8px;
  margin-left: 8px;
}
.svg___0O6EP {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__lei1W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  font-family: "Roboto", sans-serif;
  min-width: 0;
}
.svg__egsL0 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20%;
  color: var(--token-zy6xhYnWF8Y7);
}
.user:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
