.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ffffff;
  justify-self: flex-start;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #c8c7c1;
}
.rootselected {
  background: #7444bcb3;
  border-width: 0px;
}
.rootselectedLine {
  border-color: var(--token-55cSeNPovQFh);
}
.rootdisable {
  background: var(--token-7kGpohB21SKn);
}
.rootstyle2_line {
  border-width: 0px;
}
.rootstyle2_grayBackgerand {
  background: var(--token-Y4frplZPI0IJ);
  border-style: none;
}
.rootsize_mini {
  padding: 4px;
}
.rootchoise {
  background: var(--token-RfhqiwT2YAVo);
  border-radius: 50px;
  border-color: var(--token-ODBUExjR6VEF);
}
.rootcomingSoon {
  background: none;
}
.rooticon {
  display: flex;
  flex-direction: column;
  column-gap: 0px;
}
.rootstyle3_circle {
  padding-right: var(--token-B5WvIYiqPJW-);
  padding-left: var(--token-B5WvIYiqPJW-);
  border-radius: 10rem;
}
.rootstyle3_radio {
  background: none;
  border-width: 0px;
}
.rootdirection_v {
  display: flex;
  flex-direction: row;
  column-gap: var(--token-O5TjkXII_aat);
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: var(--token-O5TjkXII_aat);
  border-left-width: 0px;
  row-gap: 0px;
  padding: 16px;
}
.rootcolor_light_selected {
  background: var(--token-xZSjH46lB6C3);
}
.rootstyle2_lineligt_selected {
  background: var(--token-lIvc0WM5-V4N);
  border-width: 1px;
  border-color: var(--token-55cSeNPovQFh);
}
.rootchoise_selected {
  background: var(--token-qvl81LxkOSoe);
  border-width: 1px;
  border-style: solid;
}
.rootcomingSoon_style2_grayBackgerand {
  background: none;
}
.rootstyle2_lineligt_icon {
  box-shadow: none;
  border-color: var(--token-Y4frplZPI0IJ);
}
.rootcomingSoon_style3_radio {
  border-width: 1px;
}
.rootstyle2_grayBackgerand_color_light_selected {
  background: var(--token-IlR0iqdnKI_m);
}
.rootcomingSoon_style2_grayBackgerand_color_light {
  background: none;
}
.rootcomingSoon_style2_grayBackgerand_size_mini_color_light {
  background: none;
}
.rootstyle2_grayBackgerand_style3_radio_size_mini_color_light {
  background: none;
}
.rootcomingSoon_style2_grayBackgerand_style3_radio_size_mini {
  background: var(--token-Y4frplZPI0IJ);
}
.rootcomingSoon_style2_grayBackgerand_style3_radio_size_mini_color_light {
  background: none;
  border-width: 0px;
}
.svg__fC0D {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox {
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
}
.freeBoxcomingSoon {
  opacity: 0.6;
}
.freeBoxstyle3_radio {
  column-gap: var(--token-38wfsm-OP2Vm);
  row-gap: 0px;
}
.freeBoxdirection_v {
  justify-content: flex-start;
  align-items: center;
}
.svg__bBffU {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: #535353;
  flex-shrink: 0;
  display: none;
}
.svgstyle3_radio__bBffUbPzba {
  width: 18px;
  height: 18px;
  color: var(--token-AwpLXbw5AmtS);
  flex-shrink: 0;
  display: block;
}
.svgstyle3_radio_selected__bBffUbPzbaZ6Q2T {
  color: var(--token-qvl81LxkOSoe);
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  white-space: pre;
}
.slotTargetChildrenselected {
  color: var(--token-jgohepLVeKvh);
}
.slotTargetChildrensize_mini {
  font-size: 12px;
}
.slotTargetChildrencolor_light_selected {
  color: var(--token-SX03PBUzWAqr);
}
.slotTargetChildrenstyle2_lineligt_selected {
  color: #535353;
}
.slotTargetChildrenchoise_selected {
  color: var(--token-R_Rsn0nP9oIv);
}
.slotTargetChildrenstyle3_radio_selected {
  color: #535353;
}
.slotTargetChildrenstyle2_grayBackgerand_color_light_selected {
  color: var(--token-dqshVX6SoHxS);
}
.svg__mjZCn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-47ovROB-Xr2C);
  width: 20px;
  height: 20px;
  align-self: flex-start;
  flex-shrink: 0;
  display: none;
}
.svgpair__mjZCntDuAx {
  display: block;
}
