.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-tSCEojfAiHXN);
  padding-bottom: 0px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  border-radius: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootmoreshow > * {
  grid-column: 4;
}
.freeBox__g01Z {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.asli {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  row-gap: var(--token-uOLZE7OyOW-J);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  justify-self: flex-start;
  transition-property: all;
  transition-duration: 3s;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 3s;
  border-radius: var(--token-1KusGK5GePTh);
  padding: 1rem 1rem 0rem;
  margin: 0px;
}
@media (max-width: 640px) {
  .asli {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 821px;
  display: none;
  margin: 0px;
}
.svg__qWg78 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-LNIzKl5AGPPT);
}
.freeBox___1Bfft {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-38wfsm-OP2Vm);
  cursor: pointer;
  box-shadow: 0px 4px 16px 0px var(--token-Hk2bXGFNiuQX);
  min-width: 0;
  border-radius: 25px;
  padding: 8px 16px 8px 8px;
  border: 1px solid var(--token-v6uqRA2o3QLf);
}
.svg___6MVjW {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-LNIzKl5AGPPT);
  flex-shrink: 0;
}
.freeBox__o9MoQ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-O5TjkXII_aat);
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.text__ckBzr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: var(--token-R96bVFQ-7pJj);
  padding-top: var(--token-38wfsm-OP2Vm);
  padding-left: var(--token-O5TjkXII_aat);
  padding-right: var(--token-O5TjkXII_aat);
  text-align: right;
  white-space: pre;
  border-radius: var(--token-O5TjkXII_aat);
}
.text__lzd4Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: right;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  min-width: 0;
}
.freeBox__mBunP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-38wfsm-OP2Vm);
  cursor: pointer;
  box-shadow: 0px 4px 16px 0px var(--token-Hk2bXGFNiuQX);
  margin-top: 0px;
  min-width: 0;
  border-radius: 25px;
  padding: 8px 16px 8px 8px;
  border: 1px solid var(--token-v6uqRA2o3QLf);
}
.svg__urAuX {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-LNIzKl5AGPPT);
  flex-shrink: 0;
}
.text__jLay9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-y50Rafqey4Ec);
  font-size: 16px;
  align-self: center;
  position: relative;
  min-width: 0;
}
.freeBox___0C5Sg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-O5TjkXII_aat);
  overflow: auto;
  min-width: 0;
  padding: 0px;
}
.text___1K5Nl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  align-self: center;
  background: var(--token-R96bVFQ-7pJj);
  padding-top: var(--token-38wfsm-OP2Vm);
  padding-left: var(--token-O5TjkXII_aat);
  padding-right: var(--token-O5TjkXII_aat);
  text-align: right;
  white-space: pre;
  border-radius: var(--token-O5TjkXII_aat);
}
.freeBox__oYkxe {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  left: 0px;
  top: 0px;
  z-index: 1;
  min-width: 0;
  border-radius: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: none;
}
.freeBox__poB2S {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-B5WvIYiqPJW-);
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 1;
  margin-bottom: 10px;
  min-width: 0;
  padding: 10px var(--token-B5WvIYiqPJW-) 0px;
}
.freeBox__i46So {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 0px;
  padding: 0px;
}
.sex:global(.__wab_instance) {
  width: 120px;
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  padding-bottom: 4px;
  padding-top: 4px;
  height: auto;
  padding-left: 8px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  text-align: justify;
  margin-left: 0px;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000014;
  align-items: center;
  justify-content: space-around;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 1;
  margin-top: 2px;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 5rem;
}
.freeBox__enH1 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  left: 21px;
  top: 8px;
  padding: 0px;
}
.svg__r3Bwn {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.freeBox___8Mi40 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.job:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  height: auto;
  padding-left: 8px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  width: 120px;
  margin-left: 0px;
  box-shadow: 0px 4px 16px 0px #00000014;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 5rem;
}
.freeBox__gP5L8 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  left: 13px;
  top: 6px;
  padding: 2px;
}
.svg__mnau5 {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.freeBox__uSj8P {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.maritalStatus:global(.__wab_instance) {
  width: 120px;
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  height: auto;
  padding-left: 8px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 4px 16px 0px #00000014;
  margin-right: 0px;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 5rem;
}
.freeBox___8QhRm {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 20px;
  top: 8px;
  background: #ffffff;
  padding: 0px;
}
.svg__udyuQ {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  height: 1em;
}
.freeBox__a8Wf7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.education:global(.__wab_instance) {
  width: 120px;
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  height: auto;
  padding-left: 8px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  margin-right: 0px;
  box-shadow: 0px 4px 16px 0px #00000014;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 5rem;
}
.freeBox__kczL {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 11px;
  top: 8px;
  background: #ffffff;
  padding: 0px;
}
.svg__qckne {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__tJY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.age2:global(.__wab_instance) {
  width: 120px;
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  height: auto;
  padding-left: 8px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  margin-right: 0px;
  box-shadow: 0px 4px 16px 0px #00000014;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 5rem;
}
.freeBox__ubtd {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  left: 26px;
  top: 15px;
  z-index: 1;
  padding: 0px;
}
.svg__gUIq {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.freeBox__jkp55 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.height2:global(.__wab_instance) {
  width: 120px;
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  height: auto;
  padding-left: 8px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  margin-right: 0px;
  box-shadow: 0px 4px 16px 0px #00000014;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 5rem;
}
.freeBox__mqPsw {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  left: 24px;
  top: 15px;
  z-index: 1;
  padding: 0px;
}
.svg__icOVd {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.freeBox__uc4K4 {
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  transition-property: all;
  transition-duration: 3s;
  margin-top: 0px;
  min-width: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 3s;
  border-radius: 25px;
  padding: 0px 8px 8px;
  border-width: 1px;
  border-style: solid;
}
.freeBoxmoreshow__uc4K42KYct {
  display: flex;
}
.freeBox___7PJs0 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 0;
  padding: 0px;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  align-self: auto;
  width: 8px;
  margin-bottom: 0px;
  height: 11px;
  margin-top: 10px;
  flex-shrink: 0;
}
.svg__bsMmO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___0Wwhb {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 19px;
  color: var(--token-IdKt2w2aRFZS);
  align-self: flex-start;
}
.svg___5UvDr {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.text__qTgw3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: #535353;
  text-align: right;
  margin-bottom: 0px;
  position: relative;
  min-width: 0;
  padding: 10px 0px 0px;
}
.freeBox__oPlwP {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-Hk2bXGFNiuQX);
  min-width: 0;
  border-radius: 1.25rem;
  padding: 8px 10px;
  border-width: 1px;
  border-style: solid;
}
.freeBox__lwrHu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
.rangeSlider:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.sliderThumb:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-F1vFjKNmAS8s);
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 30px;
  transform: skew(0deg, 0deg);
  transform-style: preserve-3d;
  min-width: 0;
  flex-shrink: 0;
  margin: 0px;
}
.button2 * {
  transform-style: preserve-3d;
}
.svg__tOrx3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___69E8Q {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 20px;
  color: var(--token-y50Rafqey4Ec);
  transition-property: all;
  transition-duration: 0.3s;
  transform: rotate3d(0, 0, 1, 180deg);
  transform-style: preserve-3d;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
}
.svg___69E8Q * {
  transform-style: preserve-3d;
}
.svgmoreshow___69E8Q2KYct {
  transform: skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.svgmoreshow___69E8Q2KYct * {
  transform-style: preserve-3d;
}
.svg__uDthA {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  height: 31px;
  width: 15rem;
  transition-property: all;
  transition-duration: 0.33s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.33s;
  margin: 0px 0px 20px;
}
.svg__fR6M {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__pDEyb {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__xOEts {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
  row-gap: 5px;
  margin-top: 31px;
  min-width: 0;
  padding: 0px;
}
.freeBox__lQi46 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 1.25rem;
  padding: 14px;
}
.freeBox__w9GZk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 5px;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.freeBox___2CtTt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 8px;
  border-width: 5px;
  border-style: solid;
}
.text__teqx0 {
  position: relative;
  width: 100%;
  height: 19px;
  max-width: 100%;
  color: var(--token-R_Rsn0nP9oIv);
  font-weight: 700;
  text-align: center;
  min-width: 0;
}
.nameUsername {
  flex-direction: column;
  position: relative;
  width: 40%;
  height: 60px;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  display: none;
  padding: 0px 20px 8px 8px;
}
.text__rrvTz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  min-width: 0;
}
.text___8KRph {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__suXlF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  align-self: center;
  min-width: 0;
}
.freeBox___9Xbbu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  align-self: flex-start;
  min-height: 0;
  padding: 0px;
}
.text__aD9Lt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  margin-right: 0px;
  align-self: flex-start;
  min-width: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  padding-bottom: 0px;
  border-radius: var(--token-B5WvIYiqPJW-);
}
.modal__modal :global(.ant-modal-content) {
  outline: none;
  border-radius: var(--token-O5TjkXII_aat);
}
@media (max-width: 640px) {
  .modal:global(.__wab_instance) {
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    right: 0;
    padding-bottom: 0px;
    margin: 0px;
  }
}
@media (max-width: 640px) {
  .modal__modal :global(.ant-modal-content) {
    outline: none;
    border-radius: 0px;
    margin: 0px;
  }
}
.diseareVer {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .diseareVer {
    height: auto;
    padding: 0px;
  }
}
.freeBox___9FpqV {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-O5TjkXII_aat);
  overflow: auto;
  min-width: 0;
  padding: 8px 0px 8px 8px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___9FpqV {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    overflow: auto;
    height: 100vh;
    flex-shrink: 0;
  }
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 2px;
}
.svg__mtRs1 {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.freeBox__av4Fr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__tbwUf {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
  border-radius: 25px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 433px;
  margin-left: 0px;
  align-self: center;
}
@media (max-width: 640px) {
  .input:global(.__wab_instance) {
    width: 324px;
  }
}
.svg__y2I6 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-LNIzKl5AGPPT);
}
.modal3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  padding-bottom: 0px;
  border-radius: var(--token-B5WvIYiqPJW-);
}
.modal3__modal :global(.ant-modal-content) {
  outline: none;
  border-radius: var(--token-O5TjkXII_aat);
}
@media (max-width: 640px) {
  .modal3:global(.__wab_instance) {
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    right: 0;
    padding-bottom: 0px;
    margin: 0px;
  }
}
@media (max-width: 640px) {
  .modal3__modal :global(.ant-modal-content) {
    outline: none;
    border-radius: 0px;
    margin: 0px;
  }
}
.diseareVer2 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .diseareVer2 {
    height: auto;
    padding: 0px;
  }
}
.freeBox___5M7P3 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: var(--token-O5TjkXII_aat);
  overflow: auto;
  min-width: 0;
  padding: 8px 0px 8px 8px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___5M7P3 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    overflow: auto;
    height: 100vh;
    flex-shrink: 0;
  }
}
.checkbox3:global(.__wab_instance) {
  max-width: 100%;
  margin-right: 2px;
}
.svg__dp3Hr {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.freeBox___6Wxao {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
  padding: 0px;
}
.freeBox__ytfWa {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 85%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 0px;
  border-width: 1px;
}
.input4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 513px;
  align-self: center;
  flex-shrink: 0;
  margin: 0px;
}
.svg___6TbK2 {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-LNIzKl5AGPPT);
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 821px;
}
.svg__n4Qnf {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  color: var(--token-LNIzKl5AGPPT);
}
.freeBox__w8Do6 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: 112px;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
}
.text__k37Mc {
  color: #514f4f;
}
.text__yqIua {
  text-align: center;
}
.modal4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  height: 332px;
  background: #ffffff;
  margin-bottom: 0px;
  border-radius: var(--token-DVOPg3wGxQIJ);
  border-width: 1px;
  border-style: none;
}
.freeBox__gQ9Wi {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  border-radius: var(--token-1KusGK5GePTh);
  padding: 8px;
  border-width: 1px;
}
.freeBox__zfKz7 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 181px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  border-radius: var(--token-1KusGK5GePTh);
  padding: 8px 8px 0px;
}
.freeBox__r2KCy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__uJuRa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  row-gap: var(--token-1KusGK5GePTh);
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.text___9VXBh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.text__qHf21 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.text__btOy4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__fdbdq {
  width: 100%;
  height: auto;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.freeBox__shYBo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  row-gap: var(--token-1KusGK5GePTh);
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
}
.text__mjPk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__usk8A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__nytAk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__sk7Pf {
  width: 100%;
  height: auto;
  text-align: right;
  min-width: 0;
}
.freeBox__nJil {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 240px;
  max-width: 100%;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px;
}
.freeBox__ko8BK {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 138px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox__j67Lj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-1KusGK5GePTh);
  min-width: 0;
  padding: 8px;
}
.text__botW3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.text__np2Vg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.text__wugmY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__xwUR {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 138px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: var(--token-1KusGK5GePTh);
  margin-bottom: 11px;
  min-width: 0;
  padding: 8px;
}
.text__dhly6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__cvE3A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.text__hoiek {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
.freeBox__goLMi {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 4px;
  min-width: 0;
  padding: 8px 16px 8px 8px;
}
.freeBox__byzEn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__byzEn {
    justify-content: center;
    align-items: center;
  }
}
.text__nynCb {
  position: relative;
  height: auto;
  max-width: 100%;
  text-align: right;
  width: 70px;
  font-weight: 700;
  left: auto;
  top: auto;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 25px;
  border-width: 1px;
  border-style: none;
}
.freeBox___0QVuv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  max-height: 140px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox___0QVuv {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__xyBBy {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-row-gap: 0px;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__xyBBy {
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    align-self: center;
  }
}
.text__x40Ln {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R96bVFQ-7pJj);
  text-align: center;
  white-space: pre;
  color: #ffffff;
  font-weight: 400;
  font-size: var(--token-moKolTKrMXup);
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-38wfsm-OP2Vm) var(--token-38wfsm-OP2Vm)
    var(--token-38wfsm-OP2Vm) 0rem;
  margin: var(--token-O5TjkXII_aat);
}
.freeBox__chU8 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__chU8 {
    justify-content: flex-start;
    align-items: center;
  }
}
.text__gGsf {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  margin-left: 45px;
  padding: 0px 3px 0px 0px;
}
@media (max-width: 640px) {
  .text__gGsf {
    text-align: right;
    width: 54px;
    padding-right: 0px;
    left: auto;
    top: auto;
    z-index: 1;
    position: relative;
    margin-left: 0px;
    flex-shrink: 0;
  }
}
.freeBox__o0Bpr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__o0Bpr {
    width: 100%;
    align-items: center;
    justify-content: center;
    min-width: 0;
  }
}
.freeBox__zCmaz {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-gap: 5px;
  min-width: 0;
  padding: 0px;
}
.text__y9Boe {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R96bVFQ-7pJj);
  text-align: center;
  white-space: pre;
  color: #ffffff;
  font-size: var(--token-moKolTKrMXup);
  font-weight: 400;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: var(--token-38wfsm-OP2Vm);
  margin: 0.5rem;
}
@media (max-width: 640px) {
  .text__y9Boe {
    font-size: var(--token-moKolTKrMXup);
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.text__jmlGc {
  text-align: center;
  border-radius: var(--token-1KusGK5GePTh);
  border-width: 1px;
  border-style: solid;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
