.root {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background:
    url("/plasmic/liom_hamyar/images/group111Svg2.svg") top 50% left 50% / cover repeat,
    #f7f7f7;
  position: relative;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.chat {
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
}
@media (max-width: 640px) {
  .chat {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.top {
  width: auto;
  height: auto;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  background: #ffffff;
  z-index: 1;
  right: 0;
  bottom: auto;
  column-gap: 8px;
  padding: 16px;
}
.svg__h4BiE {
  object-fit: cover;
  max-width: 100%;
  color: #222b45;
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.image {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  -webkit-mask-image: url("/plasmic/liom_hamyar/images/imagePlaceholder4.svg");
  -webkit-mask-size: 40px 40px;
  -webkit-mask-repeat: no-repeat;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.lineClomp:global(.__wab_instance) {
  max-width: 100%;
}
.text__hd0Pr {
  display: block;
  font-size: 18px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.266px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: right;
  align-self: auto;
  font-weight: 700;
  min-width: 0;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
}
.svg__dzq3Q {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-R_Rsn0nP9oIv);
}
.text___5KVhV {
  font-weight: 700;
  align-self: center;
}
.svg___72CXi {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__tujJc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: auto;
  min-height: 100vh;
  row-gap: 8px;
  min-width: 0;
  padding: 80px 15px;
}
.reveal__jSuX:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.helloDoctorIBel {
  display: block;
  font-size: 14px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.233px;
  line-height: 18px;
  color: var(--token-_wos1hXSjLbY);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: justify;
  min-width: 0;
}
.freeBox__gH4I {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  column-gap: 0px;
  min-width: 0;
  padding: 0px;
}
.seen:global(.__wab_instance) {
  max-width: 100%;
  align-self: center;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .seen:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.text__eJf9X {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.2px;
  line-height: 100%;
  color: var(--token-WxvvgatuPYoJ);
}
.bottomInput {
  width: auto;
  height: auto;
  display: flex;
  position: fixed;
  top: auto;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background: var(--token-jgohepLVeKvh);
  box-shadow: 0px 4px 16px 0px #0000001a;
  column-gap: 5px;
  padding: 15px;
}
.freeBox___6F2Zv {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.reveal___77Rhm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__cZhY {
  object-fit: cover;
  max-width: 100%;
  align-self: auto;
  width: 30px;
  height: 30px;
  color: var(--token-SX03PBUzWAqr);
  pointer-events: auto;
  cursor: pointer;
}
.textArea:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__n0Gzt {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-WxvvgatuPYoJ);
  width: 30px;
  height: 30px;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
  display: none;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
.text__toUa0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__toUa0 {
    font-size: 12px;
  }
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  padding: 0px;
  margin: 0px;
}
.modal__modal :global(.ant-modal-content) {
  background: #f5f5f5;
  outline: none;
  border-radius: 0px;
}
.top2 {
  width: auto;
  height: auto;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  background: #ffffff;
  z-index: 1;
  right: 0;
  column-gap: 10px;
  padding: 16px;
}
.svg___1ZRsQ {
  object-fit: cover;
  max-width: 100%;
  color: #222b45;
  width: 30px;
  height: 30px;
  display: block;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
}
.text__pKYvm {
  display: block;
  font-size: 18px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.266px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: right;
  align-self: auto;
  font-weight: 700;
  min-width: 0;
}
.freeBox__wenK {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.apiRequest:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__pNaoR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  padding: 8px;
}
.svg__zZm1E {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}
.freeBox__yntRu {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  row-gap: 16px;
  min-width: 0;
  padding: 60px 0px;
}
.text___7Ifvm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  color: var(--token-ODBUExjR6VEF);
  min-width: 0;
}
.freeBox__mfIwu {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.textArea2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__slJht {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.radioGroup2:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  row-gap: 4px;
  min-width: 0;
  padding: 8px;
}
.freeBox__oh4QW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.radioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 8px;
}
.freeBox___03PYq {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: #f3f3f3;
  column-gap: 8px;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__hwyeS {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___9VUaY {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__r7M1B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wMPs {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__mnG0B {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.svg__cJgH {
  object-fit: cover;
  max-width: 100%;
  width: 0px;
  height: 25px;
}
.modal2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 40%;
  z-index: 1;
  position: fixed;
  transform: none;
  display: block;
  justify-self: center;
  right: 0;
  bottom: auto;
  padding: 16px;
  margin: 0px;
}
.modal2__modal :global(.ant-modal-content) {
  background: #f4ecff;
  outline: none;
}
.freeBox__eAcJ0 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 16px;
  min-width: 0;
  padding: 8px 32px;
}
@media (max-width: 640px) {
  .freeBox__eAcJ0 {
    padding: 16px;
  }
}
.freeBox__nCxz4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #0000001a;
  column-gap: 4px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 32px;
}
@media (max-width: 640px) {
  .freeBox__nCxz4 {
    justify-content: space-between;
    padding: 16px;
  }
}
.star:global(.__wab_instance) {
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .star:global(.__wab_instance) {
    width: 30px;
    flex-shrink: 0;
  }
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oSciV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__a245 {
  font-weight: 700;
  font-size: 16px;
}
.svg__tfFN {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.text__gJfJr {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  background: #f4ecff;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__cvRuu {
  object-fit: cover;
  max-width: 100%;
  width: 0px;
  height: 0px;
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__jdFgA {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100vh;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  padding: 8px;
}
.svg__hKd4G {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}
.freeBox__kpvrj {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100vh;
  max-width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  right: 0;
  padding: 8px;
}
.text__b93F2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-DFwge94Hey3F);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
  padding: 16px;
}
.pullToRefresh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
