.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 8px 16px;
}
.freeBox__ej0Pr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: none;
  box-shadow: 0px 4px 16px 0px #12121214;
  row-gap: 6px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__kM61V {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px 0px;
}
.text__yfIw {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  font-weight: 700;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__qoH7V {
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  text-align: right;
  padding: 0px;
}
.freeBox__yshm8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__vHEq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-height: 40px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__vHEq {
    justify-content: space-between;
    column-gap: 0px;
    row-gap: 0px;
    padding: 4px;
  }
}
.text__jjKj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 16px;
}
@media (max-width: 640px) {
  .text__jjKj {
    width: 100%;
    min-width: 0;
  }
}
.btn3:global(.__wab_instance) {
  max-width: 100%;
}
.text__nhBol {
  display: none;
}
.freeBox__dzSt5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 16px;
  min-height: 40px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__dzSt5 {
    justify-content: space-between;
    column-gap: 0px;
    row-gap: 0px;
    padding: 4px;
  }
}
.text__p0I7S {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
}
@media (max-width: 640px) {
  .text__p0I7S {
    width: 100%;
    text-align: center;
    min-width: 0;
  }
}
.btn4:global(.__wab_instance) {
  max-width: 100%;
}
.text__ikzhw {
  display: none;
}
