.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-0xHMxyAHbOos);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-ZvaN7zB_BbvY);
  font-family: var(--token-2lDfJHYaD05G);
  font-size: var(--token-LMEbRDTg0Iix);
  line-height: var(--token-MZ4KWwVSoShs);
  outline-style: none;
  border-radius: var(--token-3VFsPoJwdkXP);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-VjHVHKRQhLFo);
  outline-offset: 1px;
  outline-color: var(--token-0xHMxyAHbOos);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-bQEloS1hWiDI);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-Cs_o7G0XBXp9);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-mjj-ONNCZx4S);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-bZhLbadoELTb);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-IdKt2w2aRFZS);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-WxQxCrq-CTVf);
  font-size: var(--token-moKolTKrMXup);
  column-gap: var(--token-VjHVHKRQhLFo);
  row-gap: 0px;
  border-radius: var(--token-F1vFjKNmAS8s);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-moKolTKrMXup);
  line-height: var(--token-WxQxCrq-CTVf);
  column-gap: var(--token-F1vFjKNmAS8s);
  row-gap: 0px;
  border-radius: var(--token-F1vFjKNmAS8s);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-cunRwTCjQp3O);
  line-height: var(--token-ptaGdVRCD4vt);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-cunRwTCjQp3O);
  line-height: var(--token-ptaGdVRCD4vt);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-WlOzlXUQG5Z-);
  border-radius: var(--token-3VFsPoJwdkXP);
}
.softBackgroundcolor_neutral {
  background: var(--token-dHZ9HKse8qLM);
}
.softBackgroundcolor_muted {
  background: var(--token-tSCEojfAiHXN);
}
.softBackgroundcolor_success {
  background: var(--token-Gne_lZD4DyXd);
}
.softBackgroundcolor_warning {
  background: var(--token-rz0Www87A_DW);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-OcmIk9oDogWZ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-3VFsPoJwdkXP);
  border: 0px solid var(--token-3dazbAYR1ZtY);
}
.bordercolor_neutral {
  border-color: var(--token-MXQJ7FMDrox6);
}
.bordercolor_muted {
  border-color: var(--token-rGxK1TpZE_rW);
}
.bordercolor_success {
  border-color: var(--token-IHTDqyAjm0W1);
}
.bordercolor_warning {
  border-color: var(--token-NpCTZzcPWAzt);
}
.bordercolor_errorDestructive {
  border-color: var(--token-qdG4xMYo9nNo);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-3VFsPoJwdkXP);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Hk2bXGFNiuQX);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-dwAjeO8F2RLo);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-7kGpohB21SKn);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___2TsKn {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-3VFsPoJwdkXP) var(--token-cZA5sZsrFzOz);
}
.freeBox___2TsKn > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-3VFsPoJwdkXP));
  width: calc(100% + var(--token-3VFsPoJwdkXP));
}
.freeBox___2TsKn > :global(.__wab_flex-container) > *,
.freeBox___2TsKn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2TsKn > :global(.__wab_flex-container) > picture > img,
.freeBox___2TsKn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-3VFsPoJwdkXP);
}
.freeBoxsize_extraSmall___2TsKNnogUa {
  padding: var(--token-F1vFjKNmAS8s) var(--token-3VFsPoJwdkXP);
}
.freeBoxsize_small___2TsKNhj8O {
  padding: var(--token-3VFsPoJwdkXP) var(--token-ZvaN7zB_BbvY);
}
.freeBoxsize_large___2TsKnmmdAl {
  padding-top: var(--token-F1vFjKNmAS8s);
  padding-bottom: var(--token-F1vFjKNmAS8s);
}
.freeBoxsize_extraLarge___2TsKntqn5S {
  padding-left: var(--token-IGCvYUvm1NWs);
  padding-right: var(--token-IGCvYUvm1NWs);
}
.freeBoxroundedFull___2TsKnDe1Lj {
  padding-right: var(--token-IGCvYUvm1NWs);
  padding-left: var(--token-IGCvYUvm1NWs);
}
.freeBox__ylHff {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__ylHffBw7XO {
  display: flex;
}
.slotTargetStart {
  color: var(--token-hBbVVSmAB0oc);
}
.slotTargetStartcolor_neutral {
  color: var(--token-UJjVC8bVZisx);
}
.slotTargetStartcolor_muted {
  color: var(--token-ux_iYB4XYqQ0);
}
.slotTargetStartcolor_success {
  color: var(--token-wanfdaz51TKl);
}
.slotTargetStartcolor_warning {
  color: var(--token-QNU32zUTO31z);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-a_KTy2aVqqMR);
}
.slotTargetStarttype_soft {
  color: var(--token-7fkkqjqo9aea);
}
.slotTargetStarttype_bordered {
  color: var(--token-7fkkqjqo9aea);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-moKolTKrMXup);
}
.slotTargetStartsize_small {
  font-size: var(--token-moKolTKrMXup);
}
.slotTargetStartsize_large {
  font-size: var(--token-cunRwTCjQp3O);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-cunRwTCjQp3O);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-H4v6ikjh82qk);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-H4v6ikjh82qk);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-ANZoaQ584ilJ);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-ANZoaQ584ilJ);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-9ZLfeYvkiwTC);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-9ZLfeYvkiwTC);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-u4fYwhaU4wrg);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-u4fYwhaU4wrg);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-IOGUNMetjA3U);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-IOGUNMetjA3U);
}
.svg___2Bkr6 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-hBbVVSmAB0oc);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-UJjVC8bVZisx);
}
.slotTargetLabelcolor_muted {
  color: var(--token-ux_iYB4XYqQ0);
}
.slotTargetLabelcolor_success {
  color: var(--token-wanfdaz51TKl);
}
.slotTargetLabelcolor_warning {
  color: var(--token-QNU32zUTO31z);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-a_KTy2aVqqMR);
}
.slotTargetLabeltype_soft {
  color: var(--token-7fkkqjqo9aea);
}
.slotTargetLabeltype_bordered {
  color: var(--token-7fkkqjqo9aea);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-H4v6ikjh82qk);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-ANZoaQ584ilJ);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-H4v6ikjh82qk);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-9ZLfeYvkiwTC);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-ANZoaQ584ilJ);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-u4fYwhaU4wrg);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-9ZLfeYvkiwTC);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-IOGUNMetjA3U);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-u4fYwhaU4wrg);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-IOGUNMetjA3U);
}
.text___8O4Wx {
  white-space: pre;
}
.freeBox___1RQv {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd___1RQvBfpur {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-hBbVVSmAB0oc);
}
.slotTargetEndcolor_neutral {
  color: var(--token-UJjVC8bVZisx);
}
.slotTargetEndcolor_muted {
  color: var(--token-ux_iYB4XYqQ0);
}
.slotTargetEndcolor_success {
  color: var(--token-wanfdaz51TKl);
}
.slotTargetEndcolor_warning {
  color: var(--token-QNU32zUTO31z);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-a_KTy2aVqqMR);
}
.slotTargetEndtype_soft {
  color: var(--token-7fkkqjqo9aea);
}
.slotTargetEndtype_bordered {
  color: var(--token-7fkkqjqo9aea);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-moKolTKrMXup);
}
.slotTargetEndsize_small {
  font-size: var(--token-moKolTKrMXup);
}
.slotTargetEndsize_large {
  font-size: var(--token-cunRwTCjQp3O);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-cunRwTCjQp3O);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-H4v6ikjh82qk);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-H4v6ikjh82qk);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-ANZoaQ584ilJ);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-ANZoaQ584ilJ);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-9ZLfeYvkiwTC);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-9ZLfeYvkiwTC);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-u4fYwhaU4wrg);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-u4fYwhaU4wrg);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-IOGUNMetjA3U);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-IOGUNMetjA3U);
}
.svg__xaffA {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
