.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.halamanUtama {
  background: none;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  row-gap: 16px;
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
@media (max-width: 640px) {
  .halamanUtama {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    padding: 16px;
  }
}
.freeBox__ggEJ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  background: var(--token-5OZEb1MGGCI4);
  box-shadow: 0px 4px 16px 0px #00000014;
  min-width: 0;
  border-radius: 8px;
  padding: 16px;
}
.freeBox__mcPtg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 8px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__crqnW {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-6Lhw5mK6wolF);
  align-self: center;
  flex-shrink: 0;
}
.text__cdcuc {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-R_Rsn0nP9oIv);
  font-size: 32px;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__cdcuc {
    font-size: 24px;
  }
}
.text___7GueD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-R_Rsn0nP9oIv);
  text-align: right;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___7GueD {
    font-size: 16px;
  }
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__cBi {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__y613I {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.img__dzZGh {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  mix-blend-mode: normal;
  filter: contrast(120%);
  flex-shrink: 0;
}
.img__dzZGh > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__dzZGh {
    width: 150px;
    flex-shrink: 0;
  }
}
.text__mPwwe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  text-align: right;
  font-weight: 700;
  color: var(--token-55cSeNPovQFh);
  padding-right: 4px;
  min-width: 0;
}
.freeBox__vu1Qr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
  max-width: 100%;
  column-gap: 16px;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__wGn1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBox___1A3Gl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 55%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.text__anIl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__h7WIm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 45%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.text___0Isee {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__hbLYm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__hbLYm {
    width: 100%;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.img__qizC6 {
  object-fit: cover;
  max-width: 100%;
  width: 100px;
  height: 80px;
  flex-shrink: 0;
}
.img__qizC6 > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__qizC6 {
    width: 50px;
    position: absolute;
    left: 0;
    top: -23px;
    bottom: 0;
    height: auto;
  }
}
.freeBox__rithk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBox__cvRP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 45%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.text__gk5SX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__o8OpC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 55%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #00000014;
  min-width: 0;
  border-radius: 12px;
  padding: 16px;
}
.text__w0AJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
.info:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__mx1V {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  min-width: 0;
  padding: 16px 8px 8px;
}
@media (max-width: 640px) {
  .freeBox__mx1V {
    height: 100%;
    min-height: 0;
  }
}
.text__stxkR {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  font-size: 16px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__lQpGb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__yqfl7 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
