.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.progress:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-DUPkVtvXeJJo);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.textavg_good {
  color: var(--token-G-IZ_XhVdlqp);
}
@media (max-width: 640px) {
  .textavg_good {
    font-size: 14px;
  }
}
.textavg_bad {
  color: var(--token-4RAe7M2gInqR);
}
@media (max-width: 640px) {
  .textavg_bad {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .textavg_alert {
    font-size: 14px;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: var(--token-47ovROB-Xr2C);
  position: absolute;
  left: auto;
  top: 30%;
  z-index: 1;
  right: auto;
  flex-shrink: 0;
}
.svgavg_good {
  color: var(--token-G-IZ_XhVdlqp);
}
.svgavg_bad {
  color: var(--token-4RAe7M2gInqR);
}
