.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.swiperSlider:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__u4DXd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.introComponent__mnQGe:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .introComponent__mnQGe:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__jVFuV {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.introComponent__zPgI:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .introComponent__zPgI:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__iCrU {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.introComponent___5PhuJ:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
.freeBox__pPc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.introComponent__ibO44:global(.__wab_instance) {
  max-width: 100%;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .introComponent__ibO44:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.freeBox__nte5V {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.signsComponent:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___2Wo28 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.hamyarAddComponent:global(.__wab_instance) {
  max-width: 100%;
}
