.root {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__pRjkZ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  bottom: auto;
  column-gap: var(--token-uOLZE7OyOW-J);
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  padding: var(--token-O5TjkXII_aat);
  border-top: 2px solid var(--token-qvl81LxkOSoe);
}
@media (max-width: 640px) {
  .freeBox__pRjkZ {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg {
  object-fit: cover;
  max-width: 100%;
  width: 2.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox___0LHP {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-38wfsm-OP2Vm);
  min-width: 0;
  padding: 0px;
}
.text__bdUS {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  text-align: right;
  min-width: 0;
}
.text__yrlJ3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-ZuffvoxgS-gS);
  text-align: right;
  min-width: 0;
}
.button10:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
  height: auto;
}
.svg__jHvjh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__j8CPf {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
