.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 400px;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-O5TjkXII_aat);
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .root {
    height: 400px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__qiL2 {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: none;
  row-gap: var(--token-B5WvIYiqPJW-);
  left: auto;
  top: auto;
  z-index: 1;
  right: auto;
  min-width: 0;
  padding: var(--token-uOLZE7OyOW-J);
  border-bottom: var(--token-O5TjkXII_aat) solid var(--token-MC6PcZje01vY);
}
.freeBox__kUlDd {
  animation: none;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-O5TjkXII_aat);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  min-width: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  padding: 0px;
}
.htmlInput {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 45px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  align-self: flex-start;
  min-width: 0;
  border-radius: var(--token-O5TjkXII_aat);
  padding: 8px;
}
.reveal:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.svg {
  animation: none;
  position: relative;
  object-fit: cover;
  width: 40px;
  height: 40px;
  color: var(--token-qvl81LxkOSoe);
}
.text___266Yl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-cunRwTCjQp3O);
  text-align: center;
  min-width: 0;
}
.freeBox__xYEpS {
  animation: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
  padding: 0px;
}
.sort:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  margin-left: 0px;
}
.freeBox__kuwFr {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  row-gap: var(--token-B5WvIYiqPJW-);
  overflow: hidden;
  left: auto;
  top: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: var(--token-uOLZE7OyOW-J) var(--token-uOLZE7OyOW-J) 100px;
}
.freeBox___4D4Y {
  animation: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.freeBox__j3Dgd {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__xGlTn {
  animation: none;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-oauBtmzr8uOQ);
  font-weight: 700;
  min-width: 0;
}
.freeBox__a5IIo {
  animation: none;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  min-width: 0;
  padding: 0px 0px var(--token-ZvaN7zB_BbvY);
}
.radioGroupLiom2:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
