.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  min-width: 0;
  padding: 0px 8px 16px;
}
.freeBox___13YdZ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.freeBox__jThwy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 1408px;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #12121233;
  border-radius: 8px;
  padding: 16px;
}
@media (max-width: 640px) {
  .freeBox__jThwy {
    width: 100%;
    min-width: 0;
  }
}
.freeBoxdarkMod__jThwyKgh4P {
  background: var(--token-w7oYmzqeGvkw);
}
.text__qy4Jx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 13px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 4px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textdarkMod__qy4Jxkgh4P {
  color: var(--token-jgohepLVeKvh);
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: center;
  width: 100px;
  align-self: center;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  user-select: text;
  flex-grow: 0;
  margin-bottom: 8px;
  align-self: flex-start;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.freeBox__mE9Sn {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.text__wJuU4 {
  text-decoration-line: none;
  text-align: right;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.textdarkMod__wJuU4Kgh4P {
  color: var(--token-jgohepLVeKvh);
}
.text__mCiwA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textdarkMod__mCiwAkgh4P {
  color: var(--token-Pxe4wDL2kJpb);
}
.checkbox2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__wPm7B {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.text__gopP3 {
  text-decoration-line: none;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-overflow: clip;
}
.text__y5IhO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
