.root {
  object-fit: cover;
  max-width: 100%;
  color: #757575;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
}
.rootselect {
  color: var(--token-55cSeNPovQFh);
}
.rooticons_occasion {
  color: var(--token-R_Rsn0nP9oIv);
}
.rooticons_birthday {
  color: var(--token-R_Rsn0nP9oIv);
}
.rooticons_love {
  color: var(--token-R_Rsn0nP9oIv);
}
.rooticons_alert {
  color: var(--token-R_Rsn0nP9oIv);
}
.rooticons_medicineTime {
  color: #757575;
}
.rootcolor_waite {
  color: var(--token-R_Rsn0nP9oIv);
}
.rootcolor_blue {
  color: var(--token-0xHMxyAHbOos);
}
.rootcolor_green {
  color: var(--token-G-IZ_XhVdlqp);
}
.rootcolor_warning {
  color: var(--token-EueuB3d74YKA);
}
.rootcolor_fuchsia {
  color: var(--token-4yyaCJT6oTu5);
}
.rootsize__25 {
  width: 25px;
  height: 25px;
}
