.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 12px;
}
.freeBox__tlDKw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 16px;
  padding: 0px 0px 0px 8px;
}
.svg__lyXjc {
  object-fit: cover;
  max-width: 100%;
  cursor: pointer;
  height: 1em;
}
.text__xj0O6 {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  color: #919191;
  white-space: pre;
  min-height: 0;
  padding: 8px 8px 0px 16px;
}
.freeBox__t17Fm {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  padding: 0px;
}
.drawer:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.drawer__drawer :global(.ant-drawer-title) {
  outline: none;
  padding: 0px;
  margin: 0px;
}
.drawer__drawer :global(.ant-drawer-header) {
  outline: none;
  padding: 0px;
}
.drawer__drawer :global(.ant-drawer-body) {
  box-shadow: none;
  outline: none;
  padding: 0px;
}
.drawer__drawer :global(.ant-drawer-close) {
  width: 0px;
  height: 0px;
  outline: none;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .drawer:global(.__wab_instance) {
    width: 80%;
  }
}
.freeBox__kyVHq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__b3Xdd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 24px;
  min-width: 0;
  padding: 54px 16px 8px;
}
.freeBox__v9VFd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(90deg, #03c175 0%, #5c76f6 100%);
  cursor: pointer;
  min-width: 0;
  border-radius: 16px;
  padding: 8px 8px 16px;
}
.freeBox__xcm9E {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.svg__jw7Zc {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-R_Rsn0nP9oIv);
  flex-shrink: 0;
}
.text__rt55J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-R_Rsn0nP9oIv);
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  height: auto;
}
.svg__pt5X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__pjbda {
  font-weight: 300;
  color: var(--token-55cSeNPovQFh);
  font-size: 13px;
  padding: 2px 8px;
}
.svg__rIyLi {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__uiHmz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBoxhamyar__uiHmzs1T6S {
  display: none;
}
.svg__hSoM5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__tsCgJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: #535353;
  font-size: 16px;
  align-self: center;
  min-width: 0;
}
.svg___3OeW0 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-LNIzKl5AGPPT);
  flex-shrink: 0;
}
.freeBox__nngrk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.freeBoxhamyar__nngrks1T6S {
  display: none;
}
.svg__yq9O {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__nh9B5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: #535353;
  font-size: 16px;
  align-self: center;
  min-width: 0;
}
.svg__yasxJ {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-LNIzKl5AGPPT);
  flex-shrink: 0;
}
.embedHtml__xr84P:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__pk8S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.svg__f8NU {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text___1IMnQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: #535353;
  font-size: 16px;
  align-self: center;
  padding-right: 0px;
  min-width: 0;
}
.svg__v0Is6 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-LNIzKl5AGPPT);
  flex-shrink: 0;
}
.freeBox__sLwd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.svg__f53AR {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-LNIzKl5AGPPT);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__xkR9L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: #535353;
  font-size: 16px;
  align-self: center;
  min-width: 0;
}
.svg__qoZqU {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  color: var(--token-LNIzKl5AGPPT);
  flex-shrink: 0;
}
.freeBox__yGyS {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 8px 16px;
}
.embedHtml___3Onig:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___0Wkzo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  column-gap: 16px;
  min-width: 0;
  padding: 8px 0px;
}
.svg__zvo7P {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4RAe7M2gInqR);
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.text__eMuU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  color: var(--token-4RAe7M2gInqR);
  font-size: 16px;
  align-self: center;
  min-width: 0;
}
.freeBox__yxJdj {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 120px;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    120deg,
    var(--token-55cSeNPovQFh) 0%,
    var(--token-IOGUNMetjA3U) 100%
  );
  min-width: 0;
  padding: 16px;
}
.freeBox__qO33Y {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  margin-top: 50px;
  left: 38px;
  top: 89px;
  z-index: 1;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border-width: 1px;
}
.freeBox__pywp4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
.freeBox__aMfd1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__yvPVb {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.text__j6RPw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 12px;
  text-align: right;
  color: var(--token-DFwge94Hey3F);
  font-weight: 300;
  min-width: 0;
}
.freeBox__iSqL {
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border-width: 1px;
}
.svg__bTKo {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 15px;
  height: 15px;
  color: var(--token-DFwge94Hey3F);
  flex-shrink: 0;
}
.embedHtml__mao6I:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  height: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__nq9Fh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.svg__l51C0 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text__xyhef {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  min-width: 0;
}
.text__azfXx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  color: var(--token-G-IZ_XhVdlqp);
  min-width: 0;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 40vh;
  z-index: 1;
  position: fixed;
  right: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .modal:global(.__wab_instance) {
    padding: 32px;
  }
}
.freeBox__ixvfL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__tFs5S {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
  min-width: 0;
  padding: 0px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__q22Z6 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yotZi {
  color: var(--token-64O07uLgKimi);
}
.svg__nk5Ng {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__cHmbd {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___05X3Z {
  color: var(--token-64O07uLgKimi);
}
.svg__pHct {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__wmghd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.svg__bK9T {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 25px;
  height: 25px;
  color: var(--token-EueuB3d74YKA);
  flex-shrink: 0;
}
.text__i3NoB {
  align-self: center;
  font-size: 16px;
  font-weight: 700;
}
