.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootglobal_theme_dark > * {
  grid-column: 4;
}
.rootdarkMod {
  background: #0f0f0f;
}
.rootdarkMod > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .rootdarkMod {
    background: #0f0f0f;
  }
}
@media (max-width: 640px) {
  .rootdarkMod > * {
    grid-column: 4;
  }
}
.favIcone:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.getInfo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__z49Xy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-self: center;
  overflow: auto;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__z49Xy {
    width: 100%;
    justify-self: flex-start;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: flex;
  }
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qqMWg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ntnB {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  justify-content: flex-start;
  width: 70%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  flex-wrap: nowrap;
  align-content: stretch;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 8px;
}
.freeBox__b6F1Z {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__whQxm {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__whQxm {
    font-size: 14px;
  }
}
.text__oOri2 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  font-size: 16px;
  margin-top: 4px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__oOri2 {
    font-size: 14px;
  }
}
.lottie__gJrgK:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 150px;
  align-self: auto;
  margin-top: -20px;
}
.freeBox___3EX3U {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.text__vIHxo {
  background: #fffbff;
  text-align: center;
  border-radius: 8px;
  padding: 4px 6px;
  border: 1px solid #8254c6;
}
@media (max-width: 640px) {
  .text__vIHxo {
    font-size: 12px;
  }
}
.freeBox__ge6XU {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__lCre {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #535353;
  font-weight: 700;
  margin-top: 8px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__lCre {
    font-size: 13px;
  }
}
.text__xfyK0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #fffbff;
  background: #8254c6;
  margin-top: 8px;
  border-radius: 8px;
  padding: 4px 8px;
}
@media (max-width: 640px) {
  .text__xfyK0 {
    font-size: 12px;
  }
}
.freeBox__r3Lbc {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px;
}
.freeBox___2Q9Dq {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__urlxn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  color: #35006f;
  font-weight: 700;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__urlxn {
    font-size: 16px;
  }
}
.freeBox__es419 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
.text__vzKjM {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__vzKjM {
    font-size: 12px;
  }
}
.lottie__oawi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 200px;
  height: 80px;
  flex-shrink: 0;
}
.freeBox__hl6BM {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #12121214;
  margin-top: 8px;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.text__r55Mz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  flex-shrink: 1;
  flex-basis: auto;
  flex-grow: 0;
  color: #dd911e;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__r55Mz {
    font-size: 16px;
  }
}
.freeBox__vSrpC {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 8px 0px 0px;
}
.text__nDlQy {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__nDlQy {
    font-size: 12px;
  }
}
.progress:global(.__wab_instance) {
  object-fit: cover;
  text-align: left;
  align-self: auto;
  width: 100%;
  min-width: 0;
  padding: 0px;
}
.sliderCarousel:global(.__wab_instance) {
  width: 300px;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  display: none;
}
.freeBox__yFMi {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #12121214;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__mADy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__eIwGl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
.text__pOxke {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8254c6;
  font-size: 25px;
  font-weight: 700;
  top: auto;
  left: auto;
  white-space: pre;
  user-select: text;
  z-index: 1;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__pOxke {
    font-size: 18px;
    left: auto;
    top: auto;
  }
}
.freeBox___0GtD {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox___0GtD {
    top: auto;
    left: auto;
  }
}
.text__xzNgB {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #a082cb;
  font-size: 18px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__xzNgB {
    font-size: 15px;
  }
}
.freeBox__jyDs6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__x9U5M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text__ahj8S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox__jy7Bt {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 160px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.img__eerRs {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 100%;
  margin: 0px 20px;
  border: 8px solid #8254c64d;
}
.img__eerRs > picture > img {
  object-fit: cover;
}
.freeBox__aubpY {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #12121214;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__hhxo7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__gVlwx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
.text__gy75R {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8254c6;
  font-size: 25px;
  font-weight: 700;
  top: auto;
  left: auto;
  white-space: pre;
  user-select: text;
  z-index: 1;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__gy75R {
    font-size: 18px;
    left: auto;
    top: auto;
  }
}
.freeBox__doQbf {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__doQbf {
    top: auto;
    left: auto;
  }
}
.text___8Xn6O {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #a082cb;
  font-size: 18px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text___8Xn6O {
    font-size: 15px;
  }
}
.freeBox__hAsvs {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__a00Jq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.text___9Go8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.freeBox___3PtIx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 160px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.img__vQzcE {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 100%;
  margin: 0px 20px;
  border: 8px solid #8254c64d;
}
.img__vQzcE > picture > img {
  object-fit: cover;
}
.freeBox__d784V {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  padding: 0px 16px 16px;
  margin: 0px;
}
.freeBox__hrMgY {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px #12121214;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__eX259 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__g8VH {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  padding: 8px;
}
.text__xOWaI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #8254c6;
  font-size: 25px;
  font-weight: 700;
  top: auto;
  left: auto;
  white-space: pre;
  user-select: text;
  z-index: 1;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__xOWaI {
    font-size: 16px;
    left: auto;
    top: auto;
  }
}
.freeBox__j66VY {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 6px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__j66VY {
    top: auto;
    left: auto;
  }
}
.text__qrcJv {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: #a082cb;
  font-size: 18px;
  font-weight: 700;
  white-space: pre-wrap;
  user-select: text;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__qrcJv {
    font-size: 13px;
  }
}
.freeBox__qzbQg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.text__p5XJx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__p5XJx {
    font-size: 12px;
  }
}
.text__osmaP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__osmaP {
    font-size: 12px;
  }
}
.freeBox__d0BMm {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 160px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__d0BMm {
    width: 170px;
    flex-shrink: 0;
  }
}
.img___4CVyi {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 100%;
  margin: 0px 20px;
  border: 8px solid #8254c64d;
}
.img___4CVyi > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img___4CVyi {
    margin: 0px 10px;
  }
}
.freeBox__wxfFc {
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100px;
  max-width: 100%;
  margin-top: 0px;
  overflow: auto;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-shrink: 0;
  display: none;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__wxfFc {
    justify-content: flex-start;
    align-items: center;
  }
}
.freeBox__rfrx1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: 100%;
  background: #ffffff;
  align-self: stretch;
  box-shadow: 0px 4px 16px 0px #12121214;
  min-width: auto;
  min-height: 0;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0px 8px;
}
.freeBox__rfrx1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__rfrx1 > :global(.__wab_flex-container) > *,
.freeBox__rfrx1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rfrx1 > :global(.__wab_flex-container) > picture > img,
.freeBox__rfrx1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.freeBoxdarkMod__rfrx1OQOo {
  background: #212121;
}
.img__t3Ygq {
  object-fit: contain;
  max-width: 100%;
}
.img__t3Ygq > picture > img {
  object-fit: contain;
}
@media (max-width: 640px) {
  .img__t3Ygq {
    object-fit: none;
    max-width: auto;
  }
}
@media (max-width: 640px) {
  .img__t3Ygq > picture > img {
    object-fit: none;
  }
}
.text___3K6Nw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  user-select: text;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.textdarkMod___3K6NwoQOo {
  color: #ffffff;
}
.todoList:global(.__wab_instance) {
  position: relative;
}
.getAdvice:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.getTask:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___34Wg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
  margin: 0px;
}
.lottie__wUfw3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 300px;
}
