.butWithNote {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  justify-self: flex-start;
  background: none;
  row-gap: 0px;
  padding: 0px;
}
.butBox {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  width: 60px;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 10px;
  padding: 8px;
}
.butBoxselect {
  background:
    linear-gradient(var(--token-my-eDT9W5v2h), var(--token-my-eDT9W5v2h)),
    var(--token-R_Rsn0nP9oIv);
  border-radius: 8px;
  border: 1px solid var(--token-_ZJXI4jrgWEl);
}
.butBoxshaoe_circle {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border-width: 1px;
}
.butBoxshaoe_rectangle {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 16px;
  border-width: 1px;
}
.butBoxselect_shaoe_circle {
  background:
    linear-gradient(var(--token-dqshVX6SoHxS), var(--token-dqshVX6SoHxS)),
    var(--token-R_Rsn0nP9oIv);
  border-width: 0px;
}
.butBoxselect_shaoe_rectangle {
  background: var(--token-dqshVX6SoHxS);
  border-width: 0px;
}
.butBoxselect_shaoe_rectangle_shaoe_circle {
  background: linear-gradient(#552f96, #552f96), var(--token-R_Rsn0nP9oIv);
}
.svg__klQw5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svgshaoe_rectangle__klQw5NmugW {
  display: none;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
}
.textshaoe_rectangle {
  text-align: center;
  font-size: 12px;
  display: block;
}
.textselect_shaoe_rectangle {
  color: var(--token-R_Rsn0nP9oIv);
  white-space: pre-wrap;
  text-align: center;
  font-size: 12px;
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.freeBoxshaoe_rectangle {
  display: none;
}
.slotTargetChildren {
  text-align: center;
}
