.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  padding-top: 16px;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__vrjas {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  overflow: auto;
  min-width: 0;
  padding: 8px 8px 80px;
}
.freeBox___1XH0I {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("/plasmic/liom_hamyar/images/image56.jpg") top 50% left 50% / cover repeat;
  outline-color: #8254c633;
  outline-style: solid;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox___1XH0I {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.freeBox__xr4BV {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 60%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
  margin: 0px;
}
@media (max-width: 640px) {
  .freeBox__xr4BV {
    background: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 0;
    padding: 8px;
    margin: 8px;
  }
}
.text__go9Yl {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--token-64O07uLgKimi);
}
@media (max-width: 640px) {
  .text__go9Yl {
    color: #8254c6;
    font-size: 20px;
  }
}
.freeBox__oszIx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__oszIx {
    padding: 0px;
  }
}
.text__hp5Dl {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  font-size: 48px;
  font-weight: 700;
  padding: 0px;
}
@media (max-width: 640px) {
  .text__hp5Dl {
    color: var(--token-55cSeNPovQFh);
    font-size: 32px;
    width: auto;
    height: auto;
    padding: 0px;
  }
}
.text__grted {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  font-style: normal;
  margin: 0px;
}
@media (max-width: 640px) {
  .text__grted {
    color: var(--token-R96bVFQ-7pJj);
    font-size: 16px;
  }
}
.subscription2:global(.__wab_instance) {
  max-width: 100%;
  width: 255px;
}
@media (max-width: 640px) {
  .subscription2:global(.__wab_instance) {
    height: 45px;
    margin-right: 0px;
    width: 160px;
    flex-shrink: 0;
  }
}
.freeBox__bUoAp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .freeBox__bUoAp {
    align-self: center;
  }
}
.text__tnYlK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  align-self: flex-end;
  left: auto;
  top: auto;
  z-index: 1;
  text-decoration-line: line-through;
  padding-left: 20px;
  font-size: 16px;
}
@media (max-width: 640px) {
  .text__tnYlK {
    font-size: 12px;
    align-self: center;
    padding-left: 8px;
  }
}
.text___5C9Oo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-weight: 700;
  font-size: var(--token-2xQ-Ews6Hwx4);
  left: auto;
  top: auto;
  z-index: 1;
  align-self: baseline;
}
@media (max-width: 640px) {
  .text___5C9Oo {
    font-size: 14px;
    align-self: center;
  }
}
.freeBox__wgCu {
  display: flex;
  position: sticky;
  width: 30px;
  height: 25px;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #ff0303;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 2px;
}
@media (max-width: 640px) {
  .freeBox__wgCu {
    height: 20px;
  }
}
.text__rFzdH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  min-width: 0;
}
.text__jqgab {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  background: var(--token-RfhqiwT2YAVo);
  color: var(--token-64O07uLgKimi);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 24px 0px 12px;
}
@media (max-width: 640px) {
  .text__jqgab {
    background: none;
  }
}
.freeBox___5U1Z3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___5U1Z3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___5U1Z3 > :global(.__wab_flex-container) > *,
.freeBox___5U1Z3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5U1Z3 > :global(.__wab_flex-container) > picture > img,
.freeBox___5U1Z3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__pbmjc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 70px;
  height: 70px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.img__oxnKi {
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
  flex-shrink: 0;
}
.img__oxnKi > picture > img {
  object-fit: cover;
}
.freeBox__o0Hbg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__o0Hbg {
    padding: 0px;
  }
}
.text___5TWC {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 6px;
  font-size: 17px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___5TWC {
    font-size: 16px;
  }
}
.text__odsAp {
  text-align: right;
}
@media (max-width: 640px) {
  .text__odsAp {
    display: block;
  }
}
.freeBox__curiS {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__is9Ui {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  min-width: 0;
  padding: 1px;
  border-bottom: 3px dashed var(--token-Tjd5zvqBokaV);
}
.freeBox__hHd5Z {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__hHd5Z > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__hHd5Z > :global(.__wab_flex-container) > *,
.freeBox__hHd5Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hHd5Z > :global(.__wab_flex-container) > picture > img,
.freeBox__hHd5Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__lthq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__lthq {
    padding: 0px;
  }
}
.text__vFvyy {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 17px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__vFvyy {
    font-size: 16px;
  }
}
.text__jO7B {
  text-align: right;
}
@media (max-width: 640px) {
  .text__jO7B {
    display: block;
  }
}
.freeBox__dEa3S {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 70px;
  height: 70px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.img__mqLRd {
  object-fit: contain;
  max-width: 100%;
  width: 80px;
  height: 100%;
  transform: translateX(20px) translateY(0px) translateZ(0px) scaleX(1.5)
    scaleY(1.5) scaleZ(1);
  flex-shrink: 0;
  min-height: 0;
}
.img__mqLRd > picture > img {
  object-fit: contain;
}
.freeBox__aZbr5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__r43LM {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  max-width: 100%;
  min-width: 0;
  padding: 1px;
  border-bottom: 3px dashed var(--token-Tjd5zvqBokaV);
}
.freeBox___2Da6N {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___2Da6N > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox___2Da6N > :global(.__wab_flex-container) > *,
.freeBox___2Da6N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Da6N > :global(.__wab_flex-container) > picture > img,
.freeBox___2Da6N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__n0E2H {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 70px;
  height: 70px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.img__oY1Z {
  object-fit: cover;
  max-width: 100%;
  width: 80px;
  transform: scaleX(1.1) scaleY(1.1) scaleZ(1);
  flex-shrink: 0;
}
.img__oY1Z > picture > img {
  object-fit: cover;
}
.freeBox__xb9Mk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__zUpFa {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  padding-top: 6px;
  font-size: 16px;
  min-width: 0;
}
.text__n8NP {
  text-align: right;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  left: 0;
  top: auto;
  z-index: 1;
  right: 0;
  bottom: 0;
  background: var(--token-R_Rsn0nP9oIv);
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px;
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
@media (max-width: 640px) {
  .button:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.svg__dp1JM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__vjVwI {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: center;
  background: none;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  padding: 0px;
}
.svg__iTu49 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
