.root:global(.__wab_instance) {
  width: 300px;
  box-sizing: border-box;
  object-fit: cover;
  background: var(--token-R_Rsn0nP9oIv);
  position: relative;
  overflow: auto;
  box-shadow:
    0px 0px 12px 0px #00000040,
    0px 0px 0px 0.5px var(--token-rGxK1TpZE_rW);
  border-radius: var(--token-cZA5sZsrFzOz);
  padding: var(--token-3VFsPoJwdkXP);
}
.ariaListBox:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  outline-style: none;
  min-width: 0;
}
.menuSection__fpfUc:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
