.root {
  display: block;
  width: 40vw;
  height: 10px;
  max-width: 100%;
  background: var(--token-ux_iYB4XYqQ0);
  position: relative;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
  border-radius: 100px;
  padding: 0px;
}
.rootactive {
  background: radial-gradient(
    ellipse 40% 60% at 50% 50%,
    var(--token-ukwKZMvHWx7C) 0%,
    var(--token-0W4hE_aeKQkw) 100%
  );
  width: 60vw;
}
