.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootdark {
  background: #0f0f0f;
}
.rootdark > * {
  grid-column: 4;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.favIcone:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__zfkAg {
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  display: none;
  padding: 8px;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 300px;
}
.freeBox__qDyNj {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  padding: 0px 8px 8px;
}
@media (max-width: 640px) {
  .freeBox__qDyNj {
    padding-right: 0px;
    padding-left: 0px;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__w2AiY {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  min-height: 0;
  padding: 16px;
}
.freeBoxdark__w2AiYXyRv7 {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__gcfAt {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
.img__tElNi {
  object-fit: fill;
  max-width: 100%;
  width: 20px;
  flex-shrink: 0;
  margin: 0px 0px 0px 8px;
}
.img__tElNi > picture > img {
  object-fit: fill;
}
.text__sUv9I {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  text-align: justify;
  font-size: 16px;
  font-weight: 700;
  flex-shrink: 0;
  align-self: auto;
  color: var(--token-BIuTS8zmWD0f);
  min-height: 0;
}
.textdark__sUv9IXyRv7 {
  color: var(--token-BIuTS8zmWD0f);
}
.freeBox___9BnK7 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__khEUf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
.tabWeek:global(.__wab_instance) {
  position: relative;
  margin-left: 8px;
  width: auto;
}
.text__cqBd {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  background: var(--token-RfhqiwT2YAVo);
  font-size: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 2px 6px;
  border: 1px solid var(--token-oCPc5AIJwtEa);
}
.textdark__cqBdXyRv7 {
  color: var(--token-BIuTS8zmWD0f);
  background: var(--token-w7oYmzqeGvkw);
  border-color: var(--token-64O07uLgKimi);
}
.freeBox__skdKs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 16px;
  margin: 0px 0px 8px;
}
@media (max-width: 640px) {
  .freeBox__skdKs {
    margin-left: 8px;
    margin-right: 8px;
  }
}
.freeBox__p84Rg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  box-shadow: 0px 2px 10px 0px #1212121a;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
}
.freeBoxdark__p84RgXyRv7 {
  background: var(--token-w7oYmzqeGvkw);
}
.freeBox__r6HVe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: none;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__uySe8 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 170px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__uySe8 {
    width: 170px;
    flex-shrink: 0;
  }
}
.img__irMrV {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 100%;
  margin: 0px 20px;
  border: 8px solid #8254c64d;
}
.img__irMrV > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__irMrV {
    margin: 0px 10px;
  }
}
.freeBox__qlqYc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 8px;
}
.freeBox__gtrCt {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  padding: 4px;
  border-left: 1px solid #f2f2f2;
}
.freeBox__gtrCt > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__gtrCt > :global(.__wab_flex-container) > *,
.freeBox__gtrCt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gtrCt > :global(.__wab_flex-container) > picture > img,
.freeBox__gtrCt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___3Aqi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-BIuTS8zmWD0f);
  min-width: 0;
}
.text__o6Jcb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kjnzcds1FoVY);
  text-align: center;
  min-width: 0;
}
.textdark__o6JcbXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__tSlBm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  z-index: 1;
  margin-top: 6px;
  min-width: 0;
  padding: 4px;
  border-left: 1px solid #f2f2f2;
}
.freeBox__tSlBm > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__tSlBm > :global(.__wab_flex-container) > *,
.freeBox__tSlBm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tSlBm > :global(.__wab_flex-container) > picture > img,
.freeBox__tSlBm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
@media (max-width: 640px) {
  .freeBox__tSlBm {
    top: auto;
    left: auto;
  }
}
.text__pmB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-BIuTS8zmWD0f);
  min-width: 0;
}
.text__gPoKb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kjnzcds1FoVY);
  text-align: center;
  min-width: 0;
}
.textdark__gPoKbXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__q9GLq {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 4px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 8px 8px 0px;
}
.freeBox__q9GLq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__q9GLq > :global(.__wab_flex-container) > *,
.freeBox__q9GLq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q9GLq > :global(.__wab_flex-container) > picture > img,
.freeBox__q9GLq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__frIaN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-BIuTS8zmWD0f);
  min-width: 0;
}
.text__zr2Df {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kjnzcds1FoVY);
  text-align: center;
  min-width: 0;
}
.textdark__zr2DfXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 640px) {
  .modal:global(.__wab_instance) {
    margin-top: calc(0px + 4px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 16px;
  }
}
.freeBox__egFqK {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__egFqK {
    width: 100%;
    min-width: 0;
  }
}
.text___9Knjt {
  text-align: right;
  margin-top: 12px;
  font-size: 15px;
}
.text__v2Kpk {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 20px;
  color: var(--token-kjnzcds1FoVY);
  min-width: 0;
}
.text___5AGg5 {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__vw52N {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 45px;
  max-width: 100%;
  background: var(--token-SX03PBUzWAqr);
  margin-top: 12px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__vw52N > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vw52N > :global(.__wab_flex-container) > *,
.freeBox__vw52N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vw52N > :global(.__wab_flex-container) > picture > img,
.freeBox__vw52N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text__gTdJu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.freeBox___66Tdp {
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-SX03PBUzWAqr);
  margin-top: calc(0px + 4px) !important;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 4px;
}
.text__fN9Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: center;
  font-weight: 700;
  min-width: 0;
}
.freeBox__gt682 {
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  display: none;
  padding: 8px 16px;
}
@media (max-width: 640px) {
  .freeBox__gt682 {
    margin-right: 8px;
    margin-left: 8px;
  }
}
.freeBox__krpDp {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 8px;
}
.freeBox__krpDp > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__krpDp > :global(.__wab_flex-container) > *,
.freeBox__krpDp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__krpDp > :global(.__wab_flex-container) > picture > img,
.freeBox__krpDp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBoxdark__krpDpXyRv7 {
  background: var(--token-w7oYmzqeGvkw);
}
.img___63OGe {
  object-fit: cover;
  max-width: 100%;
  width: 45px;
}
.img___63OGe > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img___63OGe {
    width: 35px;
  }
}
.text__vsqeh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.textdark__vsqehXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__xriI1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  margin-left: 16px;
  margin-right: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 8px;
}
.freeBox__xriI1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xriI1 > :global(.__wab_flex-container) > *,
.freeBox__xriI1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xriI1 > :global(.__wab_flex-container) > picture > img,
.freeBox__xriI1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBoxdark__xriI1XyRv7 {
  background: var(--token-w7oYmzqeGvkw);
}
.img___8Vta {
  object-fit: cover;
  width: 45px;
}
.img___8Vta > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img___8Vta {
    width: 35px;
  }
}
.text__dpZt6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.textdark__dpZt6XyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__hjoy3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 8px;
}
.freeBox__hjoy3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hjoy3 > :global(.__wab_flex-container) > *,
.freeBox__hjoy3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hjoy3 > :global(.__wab_flex-container) > picture > img,
.freeBox__hjoy3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBoxdark__hjoy3XyRv7 {
  background: var(--token-w7oYmzqeGvkw);
}
.img__j5OE5 {
  object-fit: cover;
  max-width: 100%;
}
.img__j5OE5 > picture > img {
  object-fit: cover;
}
.text__rV3MI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
.textdark__rV3MIXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.freeBox__abCtx {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 8px;
  min-width: 0;
  padding: 0px 16px 8px;
}
.freeBox__mfTy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBoxdark__mfTyXyRv7 {
  background: var(--token-w7oYmzqeGvkw);
}
.collapseBaby:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text__wmaWs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  min-width: 0;
}
.textdark__wmaWsXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.text___5RMnx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 13px;
  min-width: 0;
}
.textdark___5RMnxXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.img__l3Ldq {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__l3Ldq > picture > img {
  object-fit: cover;
}
.img__jrP4H {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__jrP4H > picture > img {
  object-fit: cover;
}
.freeBox___5Onyb {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 16px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBoxdark___5OnybXyRv7 {
  background: var(--token-w7oYmzqeGvkw);
}
.collapseMother:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text___5RsNt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  min-width: 0;
  margin: 0px;
}
.textdark___5RsNtXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.text__zdabM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 13px;
  min-width: 0;
}
.textdark__zdabMXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.img__m9NWm {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__m9NWm > picture > img {
  object-fit: cover;
}
.img__mzl3D {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__mzl3D > picture > img {
  object-fit: cover;
}
.freeBox__lsYmp {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-jgohepLVeKvh);
  margin-top: 17px;
  min-width: 0;
  border-radius: 8px;
  padding: 0px;
}
.freeBoxdark__lsYmpXyRv7 {
  background: var(--token-w7oYmzqeGvkw);
}
.collapseHealth:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  font-size: 12px;
  min-width: 0;
}
.text___2OsqI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 700;
  min-width: 0;
  margin: 0px;
}
.textdark___2OsqIXyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.text__fA154 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  margin-top: 4px;
  font-size: 13px;
  min-width: 0;
}
.textdark__fA154XyRv7 {
  color: var(--token-jgohepLVeKvh);
}
.img__llz9J {
  object-fit: cover;
  max-width: 100%;
  width: 15px;
  transform: scaleX(-1) scaleY(1) scaleZ(1);
  margin: -20px 0px 0px;
}
.img__llz9J > picture > img {
  object-fit: cover;
}
.img__xAvsy {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  margin-top: -15px;
}
.img__xAvsy > picture > img {
  object-fit: cover;
}
.freeBox__arqS1 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1fa14f;
  margin-top: 12px;
  min-width: 0;
  display: none;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__arqS1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__arqS1 > :global(.__wab_flex-container) > *,
.freeBox__arqS1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__arqS1 > :global(.__wab_flex-container) > picture > img,
.freeBox__arqS1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___5KNhh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-jgohepLVeKvh);
  font-weight: 700;
  min-width: 0;
}
.text__hUuxZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jgohepLVeKvh);
  text-align: right;
  min-width: 0;
}
