.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  padding: 8px;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 30%;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}
.freeBox___7TaIm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__wsyyi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  column-gap: 30px;
  min-width: 0;
  min-height: 0;
  padding: 8px 12px 8px 8px;
}
.freeBox__quPu8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-7kGpohB21SKn);
  column-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 10px;
  border-width: 2px;
}
.svg__soiId {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__uZvrB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  white-space: pre;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-ODBUExjR6VEF);
  min-width: 0;
}
.freeBox___3Lzms {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-7kGpohB21SKn);
  column-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 10px;
  border-width: 2px;
}
.svg__fP5W {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__yjBrz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-ODBUExjR6VEF);
  min-width: 0;
}
.freeBox__oKkBn {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  column-gap: 30px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox___4Mph {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-7kGpohB21SKn);
  column-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 10px;
  border-width: 2px;
}
.svg___9JeEy {
  object-fit: cover;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__v47Hn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  white-space: pre;
  font-weight: 700;
  text-decoration-line: none;
  font-size: 16px;
  color: var(--token-ODBUExjR6VEF);
  min-width: 0;
}
.freeBox__ntd6W {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-7kGpohB21SKn);
  column-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 10px;
  border-width: 2px;
}
.svg__hmZde {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
.text__i6GE {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-align: right;
  font-weight: 700;
  font-size: 13px;
  color: var(--token-ODBUExjR6VEF);
}
.freeBox__hTf1M {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  min-width: 0;
  padding: 8px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__rmXa {
  text-align: right;
  font-weight: 700;
  color: var(--token-ODBUExjR6VEF);
}
.svg__mSxo1 {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-ODBUExjR6VEF);
}
.freeBox__waP5W {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.freeBoxmain__waP5Wn9Zts {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  row-gap: 0px;
}
.svg__vsNmA {
  object-fit: cover;
  max-width: 100%;
  width: auto;
  height: 20px;
  color: #8c8c8c;
  flex-shrink: 0;
}
.svgislike__vsNmAm2Mbn {
  color: var(--token-4RAe7M2gInqR);
}
.text__moiNk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #8c8c8c;
  font-size: 16px;
  text-align: center;
  padding-left: 0px;
  min-width: 0;
}
