.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f7;
  overflow: auto;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.rootferstTimepage > * {
  grid-column: 4;
}
.freeBox__l2VNg {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 100px;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__l2VNg {
    width: auto;
    justify-self: flex-start;
    margin-bottom: 80px;
  }
}
.freeBox__mpk5X {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  z-index: 10;
  margin-top: var(--token-VmvIyNmCXbhh);
  margin-left: var(--token-VmvIyNmCXbhh);
  margin-right: var(--token-VmvIyNmCXbhh);
  min-width: 0;
  padding: 0px;
}
.freeBox__kQaHu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  z-index: 10;
  min-width: 0;
  border-radius: var(--token-81l0SCMdhZN_);
}
@media (max-width: 640px) {
  .freeBox__kQaHu {
    box-shadow: 0px 4px 5px 0px #0000001a;
    border-radius: 12px;
    padding: 20px;
  }
}
.p__f1TwP {
  text-align: right;
  align-self: flex-start;
  padding-top: var(--token-8irlKe4dtuKs);
  padding-right: var(--token-_8m4SPxiIjg9);
  padding-left: var(--token-_8m4SPxiIjg9);
  color: #9551ff;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: underline;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .p__f1TwP {
    font-size: 14px;
    color: var(--token-55cSeNPovQFh);
    padding: 0px;
  }
}
.freeBox__kcgv6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-bottom: var(--token-mZAl1RAwSIao);
  margin-top: var(--token-81l0SCMdhZN_);
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__kcgv6 {
    padding: 0px;
  }
}
.freeBoxferstTimepage__kcgv6STpN {
  display: none;
}
.text__omFzt {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text__omFzt {
    text-align: justify;
    font-size: 14px;
    align-self: flex-start;
  }
}
.textferstTimepage__omFztSTpN {
  display: none;
}
.text___5FrJa {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  text-align: center;
  z-index: 1;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .text___5FrJa {
    text-align: justify;
    font-size: 14px;
    align-self: flex-start;
    display: block;
  }
}
.freeBox__eeRlb {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: none;
  margin-top: var(--token-_8m4SPxiIjg9);
  margin-bottom: var(--token-_8m4SPxiIjg9);
  opacity: 1;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__eeRlb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
}
.freeBox__eeRlb > :global(.__wab_flex-container) > *,
.freeBox__eeRlb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eeRlb > :global(.__wab_flex-container) > picture > img,
.freeBox__eeRlb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
}
@media (max-width: 640px) {
  .freeBox__eeRlb {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .freeBox__eeRlb > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__eeRlb > :global(.__wab_flex-container) > *,
  .freeBox__eeRlb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__eeRlb > :global(.__wab_flex-container) > picture > img,
  .freeBox__eeRlb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
.freeBoxferstTimepage__eeRlbSTpN {
  opacity: 0.5;
}
.freeBox__mB5CK {
  display: flex;
  position: sticky;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #8254c61a;
  width: 150px;
  height: 150px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 50px) !important;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border-width: 5px;
}
@media (max-width: 640px) {
  .freeBox__mB5CK {
    justify-content: space-evenly;
    background: var(--token-cjVB4i6JVY6v);
    width: 90px;
    height: 90px;
    margin-left: calc(0px + 15px) !important;
    margin-top: calc(0px + 0px) !important;
    flex-shrink: 0;
    border-width: 0px;
  }
}
.svg__vvztf {
  object-fit: cover;
  max-width: 100%;
  color: #8254c6;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__vvztf {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text__i9991 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  text-align: center;
  user-select: text;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__i9991 {
    position: relative;
    left: auto;
    top: auto;
    font-size: 12px;
    font-weight: 400;
  }
}
.text__zd6RW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__zd6RW {
    font-weight: 700;
    font-size: 14px;
    display: block;
  }
}
.textferstTimepage__zd6RWSTpN {
  display: none;
}
.progress__wpfWg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  background: none;
  box-shadow: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: -5;
  color: #535353;
  display: none;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .progress__wpfWg:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__euqJ7 {
  display: flex;
  position: sticky;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #00c3711a;
  width: 150px;
  height: 150px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 50px) !important;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 1;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border-width: 5px;
}
@media (max-width: 640px) {
  .freeBox__euqJ7 {
    justify-content: space-evenly;
    background: var(--token-cjVB4i6JVY6v);
    width: 90px;
    height: 90px;
    margin-left: calc(0px + 15px) !important;
    margin-top: calc(0px + 0px) !important;
    flex-shrink: 0;
    border-width: 0px;
  }
}
.svg__okNfK {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  color: #00c371;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__okNfK {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text___5Kkag {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  text-align: center;
  user-select: text;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___5Kkag {
    position: relative;
    left: auto;
    top: auto;
    font-size: 12px;
    font-weight: 400;
  }
}
.text__n2Lt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__n2Lt {
    font-weight: 700;
    font-size: 14px;
    display: block;
  }
}
.textferstTimepage__n2LtSTpN {
  display: none;
}
.progress__w4Xr:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  background: none;
  box-shadow: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: -5;
  display: none;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .progress__w4Xr:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__vmLw3 {
  display: flex;
  position: sticky;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: #eb464a1a;
  width: 150px;
  height: 150px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: calc(0px + 50px) !important;
  box-shadow: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
  border-width: 5px;
}
@media (max-width: 640px) {
  .freeBox__vmLw3 {
    background: var(--token-cjVB4i6JVY6v);
    width: 90px;
    height: 90px;
    margin-left: calc(0px + 15px) !important;
    margin-top: calc(0px + 0px) !important;
    flex-shrink: 0;
    border-width: 0px;
  }
}
.svg___2Mzr0 {
  object-fit: cover;
  max-width: 100%;
  color: #eb464a;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg___2Mzr0 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text___6YrHy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  text-align: center;
  user-select: text;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___6YrHy {
    position: relative;
    left: auto;
    top: auto;
    font-size: 12px;
    font-weight: 400;
  }
}
.text__o2VP9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__o2VP9 {
    font-weight: 700;
    font-size: 14px;
    display: block;
  }
}
.textferstTimepage__o2VP9STpN {
  display: none;
}
.progress__njHb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 150px;
  background: #eb464a1a;
  box-shadow: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: -5;
  flex-shrink: 0;
  display: none;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .progress__njHb:global(.__wab_instance) {
    width: auto;
    height: auto;
    background: none;
    display: flex;
  }
}
.freeBox__zqEyN {
  display: flex;
  flex-direction: row;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  background: #8254c64d;
  padding-right: var(--token-8irlKe4dtuKs);
  padding-left: var(--token-8irlKe4dtuKs);
  opacity: 1;
  border-radius: 30px;
}
.freeBox__zqEyN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  .freeBox__zqEyN {
    background: #8254c64d;
    margin-bottom: 20px;
    padding: 8px 20px;
  }
}
@media (max-width: 640px) {
  .freeBox__zqEyN > :global(.__wab_flex-container) {
    justify-content: space-between;
    margin-left: calc(0px - 50px);
    width: calc(100% + 50px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__zqEyN > :global(.__wab_flex-container) > *,
  .freeBox__zqEyN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zqEyN > :global(.__wab_flex-container) > picture > img,
  .freeBox__zqEyN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 50px;
    margin-top: 0px;
  }
}
.freeBoxferstTimepage__zqEyNSTpN {
  opacity: 0.5;
}
.p__wBrRt {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: var(--token-2xQ-Ews6Hwx4);
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding: var(--token-9EfSOc8y7ano) var(--token-8irlKe4dtuKs);
}
@media (max-width: 640px) {
  .p__wBrRt {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    padding: 0px;
  }
}
.text__w30PV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__w30PV {
    font-weight: 700;
    font-size: 14px;
    display: block;
  }
}
.textferstTimepage__w30PVSTpN {
  display: none;
}
.freeBox__q8Qw {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-bottom: var(--token-81l0SCMdhZN_);
  margin-top: var(--token-81l0SCMdhZN_);
  min-width: 0;
  padding: 8px 24px;
}
.freeBox__q8Qw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__q8Qw > :global(.__wab_flex-container) > *,
.freeBox__q8Qw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q8Qw > :global(.__wab_flex-container) > picture > img,
.freeBox__q8Qw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (max-width: 640px) {
  .freeBox__q8Qw {
    left: auto;
    top: auto;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 0px;
    margin: 0px var(--token-9EfSOc8y7ano);
  }
}
@media (max-width: 640px) {
  .freeBox__q8Qw > :global(.__wab_flex-container) {
    justify-content: space-between;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__q8Qw > :global(.__wab_flex-container) > *,
  .freeBox__q8Qw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__q8Qw > :global(.__wab_flex-container) > picture > img,
  .freeBox__q8Qw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 0px;
  }
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__ju5Io {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__wbv24 {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  transition-property: all;
  transition-duration: 1s;
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.svg__u1Enu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__soIJy {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox___1VjHr {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  top: auto;
  left: 0px;
  bottom: -45px;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__wNkZj {
  display: flex;
  position: relative;
  width: 80%;
  height: 50px;
  max-width: 100%;
  background: #8254c6;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  flex-direction: row;
  padding: 8px 8px 5px;
}
.freeBox__wNkZj > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__wNkZj > :global(.__wab_flex-container) > *,
.freeBox__wNkZj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wNkZj > :global(.__wab_flex-container) > picture > img,
.freeBox__wNkZj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.svg__rO5O {
  object-fit: cover;
  max-width: 100%;
  align-self: auto;
  width: 40px;
  height: 35px;
  flex-shrink: 0;
}
.text__mC7Od {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.freeBox__nvPud {
  display: flex;
  position: relative;
  width: 80%;
  height: 50px;
  max-width: 100%;
  background: #ffffff00;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  flex-direction: row;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 8px 8px 5px;
}
.freeBox__nvPud > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nvPud > :global(.__wab_flex-container) > *,
.freeBox__nvPud > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nvPud > :global(.__wab_flex-container) > picture > img,
.freeBox__nvPud
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.freeBox___25XeE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  margin-top: 24px;
  margin-right: var(--token-VmvIyNmCXbhh);
  margin-left: var(--token-VmvIyNmCXbhh);
  background: #ffffff;
  min-width: 0;
  border-radius: var(--token-81l0SCMdhZN_);
  padding: 20px;
}
.freeBox___25XeE > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
}
@media (max-width: 640px) {
  .freeBox___25XeE {
    box-shadow: 0px 4px 5px 0px #0000001a;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 20px;
  }
}
@media (max-width: 640px) {
  .freeBox___25XeE > :global(.__wab_flex-container) {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (max-width: 640px) {
  .freeBox___25XeE > :global(.__wab_flex-container) > *,
  .freeBox___25XeE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___25XeE > :global(.__wab_flex-container) > picture > img,
  .freeBox___25XeE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.text___0JqR3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 0px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___0JqR3 {
    font-size: 14px;
    padding-bottom: 5px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__dNZkX {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.freeBox__dNZkX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__dNZkX > :global(.__wab_flex-container) > *,
.freeBox__dNZkX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dNZkX > :global(.__wab_flex-container) > picture > img,
.freeBox__dNZkX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .freeBox__dNZkX {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 15px) !important;
    padding: 0px;
  }
}
@media (max-width: 640px) {
  .freeBox__dNZkX > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (max-width: 640px) {
  .freeBox__dNZkX > :global(.__wab_flex-container) > *,
  .freeBox__dNZkX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dNZkX > :global(.__wab_flex-container) > picture > img,
  .freeBox__dNZkX
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.freeBox__ptoE6 {
  display: flex;
  max-width: 100%;
  background: none;
  width: 100%;
  height: 100%;
  box-shadow: none;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__ptoE6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .freeBox__ptoE6 {
    background: none;
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
    border-width: 0px;
  }
}
@media (max-width: 640px) {
  .freeBox__ptoE6 > :global(.__wab_flex-container) {
    justify-content: space-evenly;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__ptoE6 > :global(.__wab_flex-container) > *,
  .freeBox__ptoE6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ptoE6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__ptoE6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.freeBox__xRbsJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__xRbsJ {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    background: #7444bc1a;
    flex-shrink: 0;
    border-radius: 50px;
    padding: 0px;
  }
}
.svg__oeBhr {
  object-fit: cover;
  max-width: 100%;
  color: #8254c6;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__oeBhr {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text__a35T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  text-align: right;
  user-select: text;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  color: var(--token-RvPI6LyeIPmd);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 24px;
  align-self: flex-start;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__a35T {
    position: relative;
    left: auto;
    top: auto;
    font-size: 12px;
    font-weight: 500;
    align-self: center;
  }
}
.text__cchpF {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  padding-left: 24px;
  align-self: auto;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__cchpF {
    font-weight: 700;
    font-size: 14px;
    padding-left: 10px;
    align-self: center;
    display: block;
  }
}
.textferstTimepage__cchpFSTpN {
  display: none;
}
.progress__uGHfW:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  background: none;
  box-shadow: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: -5;
  min-width: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .progress__uGHfW:global(.__wab_instance) {
    margin-left: calc(0px + 10px) !important;
    margin-top: calc(0px + 0px) !important;
  }
}
.freeBox__ym8Im {
  display: flex;
  position: sticky;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: none;
  width: 100%;
  height: 100%;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  box-shadow: none;
  flex-direction: row;
  opacity: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__ym8Im > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .freeBox__ym8Im {
    background: none;
    width: 100%;
    height: 100%;
    position: relative;
    left: auto;
    top: auto;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 10px) !important;
    min-width: 0;
    min-height: 0;
    border-width: 0px;
  }
}
@media (max-width: 640px) {
  .freeBox__ym8Im > :global(.__wab_flex-container) {
    justify-content: space-evenly;
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__ym8Im > :global(.__wab_flex-container) > *,
  .freeBox__ym8Im > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ym8Im > :global(.__wab_flex-container) > picture > img,
  .freeBox__ym8Im
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.freeBox__mjRxX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__mjRxX {
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    background: #00af651a;
    flex-shrink: 0;
    border-radius: 50px;
    padding: 0px;
  }
}
.svg__xI3Ba {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: #00c371;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__xI3Ba {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text__dAzd0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  text-align: right;
  user-select: text;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  color: var(--token-RvPI6LyeIPmd);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 24px;
  align-self: flex-start;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__dAzd0 {
    position: relative;
    left: auto;
    top: auto;
    font-size: 12px;
    font-weight: 500;
    align-self: center;
  }
}
.text__nxDsJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  padding-left: 24px;
  align-self: auto;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__nxDsJ {
    font-weight: 700;
    font-size: 14px;
    padding-left: 10px;
    align-self: center;
    display: block;
  }
}
.textferstTimepage__nxDsJSTpN {
  display: none;
}
.progress__sdVpm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  background: none;
  box-shadow: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: -5;
  min-width: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .progress__sdVpm:global(.__wab_instance) {
    height: 100%;
    margin-left: calc(0px + 10px) !important;
    margin-top: calc(0px + 0px) !important;
    min-height: 0;
  }
}
.freeBox__qEiJv {
  display: flex;
  position: sticky;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background: none;
  width: 100%;
  height: 100%;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  box-shadow: none;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.freeBox__qEiJv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  min-width: 0;
  min-height: 0;
}
@media (max-width: 640px) {
  .freeBox__qEiJv {
    background: none;
    width: 100%;
    height: 100%;
    position: relative;
    left: auto;
    top: auto;
    margin-left: calc(0px + 0px) !important;
    margin-top: calc(0px + 10px) !important;
    min-width: 0;
    min-height: 0;
  }
}
@media (max-width: 640px) {
  .freeBox__qEiJv > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__qEiJv > :global(.__wab_flex-container) > *,
  .freeBox__qEiJv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__qEiJv > :global(.__wab_flex-container) > picture > img,
  .freeBox__qEiJv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.freeBox___6IpU {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox___6IpU {
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    background: #eb464a1a;
    flex-shrink: 0;
    border-radius: 50px;
  }
}
.svg__kwIef {
  object-fit: cover;
  max-width: 100%;
  color: #eb464a;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__kwIef {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text__biPM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  text-align: right;
  user-select: text;
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  color: var(--token-RvPI6LyeIPmd);
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  text-decoration-line: none;
  text-overflow: clip;
  padding-right: 24px;
  align-self: flex-start;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__biPM {
    position: relative;
    left: auto;
    top: auto;
    font-size: 12px;
    font-weight: 500;
    align-self: center;
  }
}
.text__yEFtf {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  padding-left: 24px;
  align-self: auto;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__yEFtf {
    font-weight: 700;
    font-size: 14px;
    padding-left: 10px;
    align-self: center;
    display: block;
  }
}
.textferstTimepage__yEFtfSTpN {
  display: none;
}
.progress__pjxt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  align-self: flex-start;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 150px;
  background: none;
  box-shadow: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: -5;
  min-width: 0;
  border-radius: 50%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 640px) {
  .progress__pjxt:global(.__wab_instance) {
    width: 100%;
    height: auto;
    background: none;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: calc(0px + 10px) !important;
    margin-top: calc(0px + 0px) !important;
    min-width: 0;
  }
}
.freeBox__dx6At {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  opacity: 1;
  min-width: 0;
  border-radius: var(--token-81l0SCMdhZN_);
  margin: var(--token-VmvIyNmCXbhh);
}
@media (max-width: 640px) {
  .freeBox__dx6At {
    box-shadow: 0px 4px 5px 0px #0000001a;
    border-radius: 12px;
  }
}
.freeBoxferstTimepage__dx6AtSTpN {
  opacity: 0.5;
}
.freeBox__eoCeA {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  margin-bottom: var(--token-81l0SCMdhZN_);
  margin-top: var(--token-81l0SCMdhZN_);
  min-width: 0;
  padding: 8px;
  border-bottom: 1px solid #a471ff80;
}
@media (max-width: 640px) {
  .freeBox__eoCeA {
    width: 100%;
    border-bottom-color: #a471ff80;
    min-width: 0;
  }
}
.p__tEhpz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  text-align: center;
  z-index: 1;
  align-self: flex-start;
  font-size: var(--token-tjteaUKFnUfH);
  padding-right: var(--token-VmvIyNmCXbhh);
  padding-left: var(--token-VmvIyNmCXbhh);
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-transform: none;
  line-height: 1.1;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (max-width: 640px) {
  .p__tEhpz {
    font-size: 18px;
    padding: 0px;
  }
}
.freeBox___4Cio4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: var(--token-oYI7ebdZitcv) var(--token-VmvIyNmCXbhh)
    var(--token-VmvIyNmCXbhh);
}
@media (max-width: 640px) {
  .freeBox___4Cio4 {
    left: auto;
    top: auto;
    margin-right: var(--token-9EfSOc8y7ano);
    margin-bottom: var(--token-9EfSOc8y7ano);
    margin-left: var(--token-9EfSOc8y7ano);
  }
}
.ul {
  display: flex;
  flex-direction: column;
  color: #6d00ff;
  list-style-type: disc;
  list-style-position: outside;
  width: 100%;
  align-self: baseline;
  padding-right: 30px;
  padding-left: 0px;
  min-width: 0;
}
.ul > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
  min-width: 0;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-9EfSOc8y7ano));
  height: calc(100% + var(--token-9EfSOc8y7ano));
}
.ul > :global(.__wab_flex-container) > *,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.ul > :global(.__wab_flex-container) > picture > img,
.ul > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: var(--token-9EfSOc8y7ano);
}
@media (max-width: 640px) {
  .ul {
    font-size: 12px;
    padding-right: 10px;
  }
}
.ulferstTimepage {
  display: none;
}
.li {
  color: #2e2e2e;
  text-align: right;
  font-size: var(--token-hYndcje43OGL);
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
@media (max-width: 640px) {
  .li {
    font-size: 14px;
    text-align: justify;
  }
}
.lottie:global(.__wab_instance) {
  max-width: 200%;
  object-fit: cover;
  color: #964242;
  background: none;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
}
.slideinModal:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 111111111;
  position: fixed;
  bottom: 0;
  right: 0;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .slideinModal:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.slideinModalferstTimepage:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__qqw6C {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 380px;
  max-width: 100%;
  overflow: auto;
  min-width: 0;
  padding: 24px 10px 10px;
}
.freeBox__qqw6C > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__qqw6C > :global(.__wab_flex-container) > *,
.freeBox__qqw6C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qqw6C > :global(.__wab_flex-container) > picture > img,
.freeBox__qqw6C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__vdlfo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 18px;
  text-align: right;
  font-weight: 700;
  min-width: 0;
}
.text__pvJpc {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: justify;
  font-size: 12px;
  min-width: 0;
  min-height: 0;
}
.slideinModal2:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1111111;
  position: fixed;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .slideinModal2:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.slideinModal2ferstTimepage:global(.__wab_instance) {
  flex-shrink: 0;
}
.freeBox__pzBPo {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text___8SAo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 10px;
  min-width: 0;
}
.datePickers2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #000000;
  height: 250px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox___6AxPh {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox___6AxPh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox___6AxPh > :global(.__wab_flex-container) > *,
.freeBox___6AxPh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6AxPh > :global(.__wab_flex-container) > picture > img,
.freeBox___6AxPh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___8RkI {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__koYbR {
  font-weight: 700;
  color: #ffffff;
}
.svg__lH8Xf {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.biorhythm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.slideinModal3:global(.__wab_instance) {
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 1111111111;
  position: fixed;
  right: 0;
  bottom: 0;
}
.freeBox__dgIxQ {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.text__ayIcY {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  padding-bottom: 10px;
  min-width: 0;
}
.datePickers:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #000000;
  height: 250px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__cmxW3 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__cmxW3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__cmxW3 > :global(.__wab_flex-container) > *,
.freeBox__cmxW3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cmxW3 > :global(.__wab_flex-container) > picture > img,
.freeBox__cmxW3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__vnvQe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wdozi {
  font-weight: 700;
  color: #ffffff;
}
.svg__z1SPe {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
}
.svg__x9YVo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yPvXg {
  font-weight: 700;
  padding-left: 0px;
  color: var(--token-55cSeNPovQFh);
}
.svg___6UrlK {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.pullToRefresh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: none;
}
@media (max-width: 640px) {
  .pullToRefresh:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__nexdh {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  left: 0;
  top: auto;
  z-index: 100;
  right: 0;
  bottom: 0;
  background: #ffffff;
  box-shadow: 0px 3px 5px 5px #0000000d;
  padding: 10px 20px;
}
.freeBox__nexdh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__nexdh > :global(.__wab_flex-container) > *,
.freeBox__nexdh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nexdh > :global(.__wab_flex-container) > picture > img,
.freeBox__nexdh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (max-width: 640px) {
  .freeBox__nexdh {
    z-index: 1;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.freeBox__y2Vrr {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__y2Vrr {
    background: none;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__wDbr {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-RHb8DXPBtDBn);
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__wDbr {
    width: 25px;
    height: 20px;
    flex-shrink: 0;
  }
}
.text__pxVLk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-RHb8DXPBtDBn);
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__pxVLk {
    align-self: center;
    font-size: 12px;
  }
}
.freeBox__osP9Y {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #8254c61a;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__osP9Y {
    background: #8254c61a;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__ghYg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__ghYg {
    width: 25px;
    height: 20px;
    color: var(--token-55cSeNPovQFh);
    flex-shrink: 0;
  }
}
.text__wzccl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-55cSeNPovQFh);
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__wzccl {
    align-self: center;
    color: var(--token-55cSeNPovQFh);
    font-size: 12px;
  }
}
.freeBox__beErA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  cursor: pointer;
  min-width: 0;
  border-radius: 100px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__beErA {
    background: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    border-radius: 50px;
    padding: 5px;
  }
}
.svg__ga59M {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-y50Rafqey4Ec);
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__ga59M {
    width: 25px;
    height: 20px;
    color: var(--token-y50Rafqey4Ec);
    flex-shrink: 0;
  }
}
.text__ckkA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-TpmbTrq5hCAj);
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__ckkA {
    align-self: center;
    color: var(--token-y50Rafqey4Ec);
    font-size: 12px;
  }
}
.favicon:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
