.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  position: relative;
  justify-self: flex-start;
  background: var(--token-R_Rsn0nP9oIv);
  padding: 8px;
}
.svg {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
