.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: -1px;
  top: 0px;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__lhkU2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg__gqwoV {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.text___6RhGs {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__w9D {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 70px 12px 12px;
}
@media (max-width: 640px) {
  .freeBox__w9D {
    width: 100%;
    row-gap: 16px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__bd4J {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.text__faHxq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__kiCuf {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 10px 0px #0000001a;
  column-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox___5FGMk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.img__sws1A {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__sws1A > picture > img {
  object-fit: cover;
}
.freeBox__qWot {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox__frs5N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__qypIn {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
}
.freeBox___1Pahk {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: #b3489b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.text__oX8Yy {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  color: var(--token-R_Rsn0nP9oIv);
  font-size: 8px;
  min-width: 0;
  min-height: 0;
  padding: 2px 4px;
}
.freeBox___89Bzn {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.svg__nqZ5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DUPkVtvXeJJo);
  height: 1em;
  flex-shrink: 0;
}
.text___4F9Rm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  min-width: 0;
}
.svg__gbhln {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.embedHtml__ibtLu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 12px;
  min-width: 0;
}
@media (max-width: 640px) {
  .embedHtml__ibtLu:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox___3PBj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.text__i6OpB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.freeBox__qadSy {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 10px 0px #0000001a;
  column-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__dSmH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.img__zIkLc {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__zIkLc > picture > img {
  object-fit: cover;
}
.freeBox__fWHua {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox__bdgGi {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__xF9K3 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
}
.freeBox___2Qf4I {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: #b3489b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.text__wj4F6 {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  color: var(--token-R_Rsn0nP9oIv);
  font-size: 8px;
  min-width: 0;
  min-height: 0;
  padding: 2px 4px;
}
.freeBox__slOxb {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.svg___421OT {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DUPkVtvXeJJo);
  height: 1em;
  flex-shrink: 0;
}
.text__bjcAj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  min-width: 0;
}
.svg__imC39 {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.embedHtml___2MxRp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-top: 12px;
  min-width: 0;
}
@media (max-width: 640px) {
  .embedHtml___2MxRp:global(.__wab_instance) {
    display: flex;
  }
}
.freeBox__gP4MF {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 12px;
  min-width: 0;
  padding: 0px;
}
.text__wJvMh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  min-width: 0;
}
.freeBox___9H1U {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 10px 0px #0000001a;
  column-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__v1H7A {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 50px;
  height: 50px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 50%;
  padding: 0px;
}
.img__hH9Ux {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__hH9Ux > picture > img {
  object-fit: cover;
}
.freeBox__zamJl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.freeBox___2BsGz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.text__ekMeE {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
}
.freeBox__irQq9 {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: #b3489b;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.text__xOfyO {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: auto;
  top: auto;
  color: var(--token-R_Rsn0nP9oIv);
  font-size: 8px;
  min-width: 0;
  min-height: 0;
  padding: 2px 4px;
}
.freeBox__iCvl {
  display: flex;
  position: relative;
  width: auto;
  height: 14px;
  background: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}
.svg__zD1Xt {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DUPkVtvXeJJo);
  height: 1em;
  flex-shrink: 0;
}
.text__i0E5X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 300;
  font-size: 12px;
  min-width: 0;
}
.svg__q28Cx {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.freeBox__cdaN4 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  display: none;
  padding: 64px 12px 12px;
}
@media (max-width: 640px) {
  .freeBox__cdaN4 {
    width: 100%;
    row-gap: 16px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__dCi3F {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 8px 0px;
}
.freeBox__oTk9L {
  display: flex;
  width: 100%;
  height: 150px;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__ir5Wm {
  display: flex;
  position: relative;
  width: 100%;
  height: 150px;
  max-width: 100%;
  flex-direction: column;
  min-width: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox___5Txv {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__cHv5 {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__edYmm {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__fEcvG {
  display: block;
  position: relative;
  width: 100%;
  height: 60px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.freeBox__gjLqg {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  row-gap: var(--token-1KusGK5GePTh);
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__gjLqg {
    row-gap: 8px;
    column-gap: 0px;
  }
}
.freeBox__jNqeQ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__jcSWb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-55cSeNPovQFh);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 50%;
}
@media (max-width: 640px) {
  .button2:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg___7Deiq {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__w3Vte {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
  color: var(--token-55cSeNPovQFh);
}
.text__kojMv {
  font-size: 16px;
}
.directDialog2:global(.__wab_instance) {
  max-width: 100%;
}
