.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 0px 0px 5px;
}
@media (max-width: 640px) {
  .root {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.rootpage_hamyar {
  padding: 0px 0px 0rem;
}
.rootpage_bot {
  height: 100%;
  min-height: 0;
}
.hamyar2:global(.__wab_instance) {
  max-width: 100%;
  display: none;
  margin: 0px;
}
.hamyar2page_hamyar:global(.__wab_instance) {
  display: grid;
}
.hamyar2page_self:global(.__wab_instance) {
  margin: 0px;
}
.hamyar2haader_page_hamyar:global(.__wab_instance) {
  margin: -60px 0px 0px;
}
.reminder3:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.reminder3page_hamyar:global(.__wab_instance) {
  display: grid;
}
.reminder3page_reminder:global(.__wab_instance) {
  display: grid;
}
.section {
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: 0;
  top: 0;
  z-index: 1;
  right: 0;
  display: none;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.sectionpage_bot {
  display: grid;
}
.sectionpage_bot > * {
  grid-column: 4;
}
.sectionhaader > * {
  grid-column: 4;
}
.sectionhaader_page_bot > * {
  grid-column: 4;
}
.freeBox___350JY {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  top: auto;
  left: auto;
  right: auto;
  z-index: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
  margin: 0rem 0px 0px;
}
@media (max-width: 640px) {
  .freeBox___350JY {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.iframe:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  background: #f8f8f8;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  min-width: 0;
  min-height: 0;
  display: none;
}
.iframepage_bot:global(.__wab_instance) {
  display: flex;
}
@media (max-width: 640px) {
  .iframepage_bot:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.iframehaader:global(.__wab_instance) {
  padding-top: 0rem;
}
.selfCare2:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.selfCare2page_self:global(.__wab_instance) {
  display: grid;
}
.selfCare2haader_page_self:global(.__wab_instance) {
  margin-top: -60px;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__cfliQ {
  display: block;
  position: relative;
  width: 0px;
  height: 0px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.reminder:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.reminderpage_reminder:global(.__wab_instance) {
  display: grid;
}
