.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ffffff;
  justify-self: flex-start;
  width: auto;
  height: auto;
  border-radius: 8px;
  padding: 8px;
}
.rootselected {
  background: #d6baffb3;
  border-width: 0px;
}
.rootselectedLine {
  border-color: var(--token-55cSeNPovQFh);
}
.rootdisable {
  background: var(--token-7kGpohB21SKn);
}
.rootstyle2_line {
  border-width: 0px;
}
.rootstyle2_grayBackgerand {
  background: var(--token-LN1YkB123lXQ);
  border-style: none;
}
.rootselected_color_light {
  background: #8254c680;
}
.freeBox {
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-fn6i10-y5r1L);
  font-weight: 400;
  text-align: center;
  white-space: pre;
  font-family: "Risque";
  min-width: 0;
}
.textselected {
  color: #8254c6;
}
