.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  padding: 0px;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 30%;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
}
.freeBox__fidol {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__fidol > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__fidol > :global(.__wab_flex-container) > *,
.freeBox__fidol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fidol > :global(.__wab_flex-container) > picture > img,
.freeBox__fidol
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.freeBox___9K59D {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px 12px 8px 8px;
}
.freeBox___9K59D > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox___9K59D > :global(.__wab_flex-container) > *,
.freeBox___9K59D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9K59D > :global(.__wab_flex-container) > picture > img,
.freeBox___9K59D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox__t6Jtn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-7kGpohB21SKn);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 10px;
  border-width: 2px;
}
.freeBox__t6Jtn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-B5WvIYiqPJW-));
  width: calc(100% + var(--token-B5WvIYiqPJW-));
}
.freeBox__t6Jtn > :global(.__wab_flex-container) > *,
.freeBox__t6Jtn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t6Jtn > :global(.__wab_flex-container) > picture > img,
.freeBox__t6Jtn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-B5WvIYiqPJW-);
}
.svg__lfyPt {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__yjV3C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  white-space: pre;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-ODBUExjR6VEF);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  min-width: 0;
}
.freeBox__pnAv4 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-7kGpohB21SKn);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 10px;
  border-width: 2px;
}
.freeBox__pnAv4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-B5WvIYiqPJW-));
  width: calc(100% + var(--token-B5WvIYiqPJW-));
}
.freeBox__pnAv4 > :global(.__wab_flex-container) > *,
.freeBox__pnAv4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pnAv4 > :global(.__wab_flex-container) > picture > img,
.freeBox__pnAv4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-B5WvIYiqPJW-);
}
.svg__iN8Tb {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__oj9Dg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-align: right;
  font-weight: 700;
  font-size: 16px;
  color: var(--token-ODBUExjR6VEF);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  min-width: 0;
}
.freeBox__xdZxn {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.freeBox__xdZxn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__xdZxn > :global(.__wab_flex-container) > *,
.freeBox__xdZxn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xdZxn > :global(.__wab_flex-container) > picture > img,
.freeBox__xdZxn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.freeBox__lW395 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-7kGpohB21SKn);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 10px;
  border-width: 2px;
}
.freeBox__lW395 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-B5WvIYiqPJW-));
  width: calc(100% + var(--token-B5WvIYiqPJW-));
}
.freeBox__lW395 > :global(.__wab_flex-container) > *,
.freeBox__lW395 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lW395 > :global(.__wab_flex-container) > picture > img,
.freeBox__lW395
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-B5WvIYiqPJW-);
}
.svg__vMJb8 {
  object-fit: cover;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.text__wJsqq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  white-space: pre;
  font-weight: 700;
  text-decoration-line: none;
  font-size: 16px;
  color: var(--token-ODBUExjR6VEF);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  min-width: 0;
}
.freeBox__jdm7R {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px var(--token-7kGpohB21SKn);
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 10px;
  border-width: 2px;
}
.freeBox__jdm7R > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-B5WvIYiqPJW-));
  width: calc(100% + var(--token-B5WvIYiqPJW-));
}
.freeBox__jdm7R > :global(.__wab_flex-container) > *,
.freeBox__jdm7R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jdm7R > :global(.__wab_flex-container) > picture > img,
.freeBox__jdm7R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-B5WvIYiqPJW-);
}
.svg__cHsN9 {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 40px;
  flex-shrink: 0;
}
.text__xejc0 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  text-align: right;
  font-weight: 700;
  font-size: 13px;
  color: var(--token-ODBUExjR6VEF);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
}
.freeBox__vUbda {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__vUbda > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__vUbda > :global(.__wab_flex-container) > *,
.freeBox__vUbda > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vUbda > :global(.__wab_flex-container) > picture > img,
.freeBox__vUbda
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 70px;
  height: 70px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.text__ji6R8 {
  text-align: right;
  font-weight: 700;
  color: var(--token-ODBUExjR6VEF);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
.svg__jl1Vf {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  color: var(--token-ODBUExjR6VEF);
}
.freeBox__uoAe3 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__uoAe3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.freeBoxmain__uoAe3Xh1Lx {
  display: flex;
  flex-direction: row;
}
.freeBoxmain__uoAe3Xh1Lx > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBoxmain__uoAe3Xh1Lx > :global(.__wab_flex-container) > *,
.freeBoxmain__uoAe3Xh1Lx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBoxmain__uoAe3Xh1Lx > :global(.__wab_flex-container) > picture > img,
.freeBoxmain__uoAe3Xh1Lx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
  margin-top: 0px;
}
.svg__oSoos {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  margin-bottom: 0px;
  color: #8c8c8c;
  flex-shrink: 0;
}
.svgclick__oSoosjqTmi {
  color: var(--token-ADrp2mfNmuLA);
}
.text__alnR6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: #8c8c8c;
  min-width: 0;
}
