.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f7f7f7;
  grid-row-gap: 20px;
  padding-top: 24px;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root {
    padding: 0px;
  }
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.root_1_docters > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root_1_docters > * {
    grid-column: 4;
  }
}
.root_1_docter > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root_1_docter > * {
    grid-column: 4;
  }
}
.root_1_chatviow > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root_1_chatviow > * {
    grid-column: 4;
  }
}
.freeBox__bliL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__bliL > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__bliL > :global(.__wab_flex-container) > *,
.freeBox__bliL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bliL > :global(.__wab_flex-container) > picture > img,
.freeBox__bliL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
@media (max-width: 640px) {
  .freeBox__bliL {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    display: flex;
    padding: 0px;
  }
}
@media (max-width: 640px) {
  .freeBox__bliL > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 640px) {
  .freeBox__bliL > :global(.__wab_flex-container) > *,
  .freeBox__bliL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bliL > :global(.__wab_flex-container) > picture > img,
  .freeBox__bliL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
.freeBox_1_docters__bliLpv2Kd {
  display: none;
}
.freeBox_1_docter__bliL8Ddm8 {
  display: none;
}
@media (max-width: 640px) {
  .freeBox_1_docter__bliL8Ddm8 {
    display: none;
  }
}
.freeBox_1_chatviow__bliLaYJmT {
  display: none;
}
@media (max-width: 640px) {
  .freeBox_1_chatviow__bliLaYJmT {
    display: none;
  }
}
.bg {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
@media (max-width: 640px) {
  .bg {
    padding: 24px 24px 0px;
  }
}
.rectangle2 {
  box-shadow: 0px 4px 10px 0px #0000001a;
  background: var(--token-SX03PBUzWAqr);
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
@media (max-width: 640px) {
  .rectangle2 {
    display: flex;
    flex-direction: column;
    height: 250px;
    flex-shrink: 0;
  }
}
.freeBox__hj9MX {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__hj9MX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__hj9MX > :global(.__wab_flex-container) > *,
.freeBox__hj9MX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hj9MX > :global(.__wab_flex-container) > picture > img,
.freeBox__hj9MX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .freeBox__hj9MX {
    top: auto;
    left: auto;
  }
}
.ا {
  display: block;
  font-size: 24px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: normal;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  text-align: right;
  padding-top: 0px;
  font-weight: 700;
  min-width: 0;
}
@media (max-width: 640px) {
  .ا {
    font-size: 20px;
  }
}
.ا2 {
  display: block;
  font-size: 18px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: normal;
  color: var(--token-pyhDq7s0RTkz);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  text-align: right;
  padding-top: 0px;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 640px) {
  .ا2 {
    left: auto;
    top: auto;
    color: var(--token-pyhDq7s0RTkz);
    z-index: 5;
    font-size: 16px;
  }
}
.img__eYiNj {
  object-fit: cover;
  max-width: 100%;
  width: 200px;
  flex-shrink: 0;
}
.img__eYiNj > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img__eYiNj {
    width: 250px;
    position: absolute;
    left: 10%;
    top: auto;
    z-index: 1;
    bottom: 0px;
  }
}
.freeBox__nTa7N {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__nTa7N {
    padding: 0px 24px;
  }
}
.rectangle {
  background: #ffffff;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #0000001a;
  min-width: 0;
  border-radius: 12px;
  padding: 20px;
}
.freeBox__ygX2U {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.freeBox__ygX2U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__ygX2U > :global(.__wab_flex-container) > *,
.freeBox__ygX2U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ygX2U > :global(.__wab_flex-container) > picture > img,
.freeBox__ygX2U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__vG1Fu {
  display: block;
  font-size: 18px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.266px;
  line-height: 100%;
  color: rgba(34, 54, 76, 1);
  text-align: right;
  font-weight: 500;
}
@media (max-width: 640px) {
  .text__vG1Fu {
    font-size: 16px;
  }
}
.findSuitableSpecia {
  display: block;
  font-size: 14px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.233px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
}
.rectangle3 {
  box-shadow: none;
  background: var(--token-Pxe4wDL2kJpb);
  width: 40px;
  height: 40px;
  display: flex;
  transform-origin: top left;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 10px;
}
.svg___1S0X3 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-WxvvgatuPYoJ);
  width: 16px;
  height: 14px;
  display: block;
  transform-origin: top left;
  position: sticky;
  top: 13px;
  left: 12px;
  z-index: 1;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  flex-shrink: 0;
}
.speciality {
  width: 100%;
  height: 179px;
  display: flex;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
  flex-shrink: 0;
  padding: 5px 0px 0px;
}
.speciality > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.speciality > :global(.__wab_flex-container) > *,
.speciality > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.speciality > :global(.__wab_flex-container) > picture > img,
.speciality
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .speciality {
    height: auto;
    padding-bottom: 5px;
    padding-right: 24px;
  }
}
.text__lJs3X {
  display: block;
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  align-self: flex-start;
  font-weight: 700;
}
@media (max-width: 640px) {
  .text__lJs3X {
    font-size: 18px;
  }
}
.freeBox___6PT6H {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  overflow: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox___6PT6H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.freeBox___6PT6H > :global(.__wab_flex-container) > *,
.freeBox___6PT6H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6PT6H > :global(.__wab_flex-container) > picture > img,
.freeBox___6PT6H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (max-width: 640px) {
  .freeBox___6PT6H {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    right: auto;
    padding: 0px;
  }
}
@media (max-width: 640px) {
  .freeBox___6PT6H > :global(.__wab_flex-container) {
    margin-left: calc(0px - 15px);
    width: calc(100% + 15px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox___6PT6H > :global(.__wab_flex-container) > *,
  .freeBox___6PT6H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6PT6H > :global(.__wab_flex-container) > picture > img,
  .freeBox___6PT6H
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 15px;
    margin-top: 0px;
  }
}
.card4 {
  background: var(--token-jgohepLVeKvh);
  width: 100px;
  height: auto;
  display: flex;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.card4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.card4 > :global(.__wab_flex-container) > *,
.card4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card4 > :global(.__wab_flex-container) > picture > img,
.card4 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .card4 {
    margin-bottom: 10px;
  }
}
.svg__qjZxp {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__qjZxp {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.text___8C9L {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.25px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___8C9L {
    font-size: 14px;
  }
}
.card5 {
  background: var(--token-jgohepLVeKvh);
  width: 100px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.card5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.card5 > :global(.__wab_flex-container) > *,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card5 > :global(.__wab_flex-container) > picture > img,
.card5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .card5 {
    left: auto;
    top: auto;
    margin-bottom: 10px;
  }
}
.svg__gyF8L {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__gyF8L {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.text__toSoa {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.25px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__toSoa {
    font-size: 14px;
  }
}
.card6 {
  background: var(--token-jgohepLVeKvh);
  width: 100px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.card6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.card6 > :global(.__wab_flex-container) > *,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card6 > :global(.__wab_flex-container) > picture > img,
.card6 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .card6 {
    left: auto;
    top: auto;
    margin-bottom: 10px;
  }
}
.svg___9K68Y {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg___9K68Y {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.text___0LZ3U {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.25px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 640px) {
  .text___0LZ3U {
    font-size: 14px;
  }
}
.card7 {
  background: var(--token-jgohepLVeKvh);
  width: 100px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.card7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.card7 > :global(.__wab_flex-container) > *,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card7 > :global(.__wab_flex-container) > picture > img,
.card7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .card7 {
    left: auto;
    top: auto;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: calc(0px + 15px) !important;
  }
}
.svg__shKaO {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__shKaO {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.text__vb924 {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.25px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__vb924 {
    font-size: 14px;
  }
}
.card8 {
  background: var(--token-jgohepLVeKvh);
  width: 100px;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  flex-shrink: 0;
  border-radius: 12px;
  padding: 12px;
}
.card8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.card8 > :global(.__wab_flex-container) > *,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.card8 > :global(.__wab_flex-container) > picture > img,
.card8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .card8 {
    left: auto;
    top: auto;
    margin-bottom: 10px;
  }
}
.svg__xTznG {
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__xTznG {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
  }
}
.text__fiAos {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.25px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  font-weight: 500;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__fiAos {
    font-size: 14px;
  }
}
.freeBox__sm50 {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__sm50 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__sm50 > :global(.__wab_flex-container) > *,
.freeBox__sm50 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sm50 > :global(.__wab_flex-container) > picture > img,
.freeBox__sm50
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox_1_docters__sm50Pv2Kd {
  display: flex;
}
.freeBox_1_chatviow__sm50AYJmT {
  display: none;
}
.freeBox__mkF4X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__lhIg4 {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 30px;
  height: 30px;
  cursor: pointer;
  mix-blend-mode: darken;
  flex-shrink: 0;
}
.text__vli7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.text_1_chatviow__vli7AYJmT {
  text-align: right;
  padding-right: 10px;
  color: var(--token-LqpCVPPZF4_r);
  font-size: 20px;
  align-self: flex-end;
  height: auto;
}
.freeBox__fgNaa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.input:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  padding-right: 40px;
  font-weight: 500;
  color: #000000;
  min-width: 0;
}
.svg__xTNn {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: 0;
  height: 20px;
  width: 20px;
  color: var(--token-2aHIw8xI62Xi);
  flex-shrink: 0;
}
.mensah {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.062);
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 15px;
}
.img__stYx6 {
  object-fit: cover;
  max-width: 100%;
  width: 79px;
  height: 79px;
  position: absolute;
  top: 0%;
  left: 0%;
  flex-shrink: 0;
  display: none !important;
}
.img__stYx6 > picture > img {
  object-fit: cover;
}
.img_1_docters__stYx6Pv2Kd {
  position: relative;
  left: auto;
  top: auto;
  display: block !important;
}
@media (max-width: 640px) {
  .img_1_docters__stYx6Pv2Kd {
    width: 50px;
    height: 50px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid var(--token-TpmbTrq5hCAj);
  }
}
.img_1_chatviow__stYx6AYJmT {
  position: relative;
  left: auto;
  top: auto;
  display: block !important;
}
@media (max-width: 640px) {
  .img_1_chatviow__stYx6AYJmT {
    width: 60px;
    height: 60px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid var(--token-TpmbTrq5hCAj);
  }
}
.freeBox__rzfOh {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__rzfOh > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__rzfOh > :global(.__wab_flex-container) > *,
.freeBox__rzfOh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rzfOh > :global(.__wab_flex-container) > picture > img,
.freeBox__rzfOh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__fqtK5 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.266px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  transform: translate(0.35600000000000165px, -0.058000000000006935px);
  min-width: 0;
}
@media (max-width: 640px) {
  .text_1_docters__fqtK5Pv2Kd {
    font-size: 14px;
    font-weight: 700;
  }
}
@media (max-width: 640px) {
  .text_1_chatviow__fqtK5AYJmT {
    font-size: 14px;
    font-weight: 700;
  }
}
.text__dzttk {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.2px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  width: 100%;
  transform: translate(-0.48300000000000054px, 0.4019999999999868px);
  min-width: 0;
}
@media (max-width: 640px) {
  .text_1_docters__dzttkpv2Kd {
    font-weight: 700;
  }
}
@media (max-width: 640px) {
  .text_1_chatviow__dzttkaYJmT {
    font-weight: 700;
  }
}
.freeBox__c208N {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docters__c208Npv2Kd {
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px) {
  .freeBox_1_docters__c208Npv2Kd {
    align-items: center;
    justify-content: center;
  }
}
.freeBox__v3HUx {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox_1_docters__v3HUxpv2Kd {
  padding: 0px 0px 8px;
}
@media (max-width: 640px) {
  .freeBox_1_docters__v3HUxpv2Kd {
    padding: 0px 0px 8px;
  }
}
.star_1_docters__z4SHkpv2Kd:global(.__wab_instance) {
  display: none;
}
.star_1_chatviow__z4SHkaYJmT:global(.__wab_instance) {
  display: none;
}
.text__gVLkO {
  display: block;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.183px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  width: 100%;
  transform: none;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.freeBox__dh5Mr {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__dh5Mr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__dh5Mr > :global(.__wab_flex-container) > *,
.freeBox__dh5Mr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dh5Mr > :global(.__wab_flex-container) > picture > img,
.freeBox__dh5Mr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.freeBox_1_docters__dh5Mrpv2Kd {
  display: none;
}
.freeBox_1_chatviow__dh5MraYJmT {
  overflow: visible;
  padding-top: 60px;
  display: flex;
}
@media (max-width: 640px) {
  .freeBox_1_chatviow__dh5MraYJmT {
    padding-top: 70px;
  }
}
.freeBox___5Elp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_chatviow___5ElpaYJmT {
  left: 0;
  top: -20px;
  z-index: 1;
  position: fixed;
  right: 0;
  width: auto;
  background: #ffffff;
  justify-content: center;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
@media (max-width: 640px) {
  .freeBox_1_chatviow___5ElpaYJmT {
    left: 0;
    top: -20px;
    z-index: 1;
    position: fixed;
    background: #ffffff;
    right: 0;
    width: auto;
    justify-content: center;
    align-items: center;
  }
}
.svg__zyu6K {
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 30px;
  height: 30px;
  cursor: pointer;
  mix-blend-mode: darken;
  flex-shrink: 0;
}
.svg_1_chatviow__zyu6KaYJmT {
  align-self: auto;
}
@media (max-width: 640px) {
  .svg_1_chatviow__zyu6KaYJmT {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
}
.text___5WrPp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  min-width: 0;
}
.text_1_chatviow___5WrPpaYJmT {
  text-align: right;
  padding-right: 10px;
  color: var(--token-LqpCVPPZF4_r);
  font-size: 20px;
  align-self: flex-end;
  height: auto;
}
@media (max-width: 640px) {
  .text_1_chatviow___5WrPpaYJmT {
    font-size: 18px;
  }
}
.freeBox__kX4E8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_chatviow__kX4E8AYJmT {
  width: auto;
  border-radius: 100px;
  border-width: 1px;
}
@media (max-width: 640px) {
  .freeBox_1_chatviow__kX4E8AYJmT {
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 100px;
    padding: 5px;
    margin: 0px;
    border-width: 1px;
  }
}
.svg__vIVk {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.svg_1_chatviow__vIVKaYJmT {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg_1_chatviow__vIVKaYJmT {
    width: 20px;
    height: 20px;
    transform: none;
    flex-shrink: 0;
    border-radius: 100px;
  }
}
.freeBox__v9Uib {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox_1_docters__v9Uibpv2Kd {
  display: flex;
}
.freeBox_1_chatviow__v9UibaYJmT {
  display: none;
}
@media (max-width: 640px) {
  .freeBox_1_chatviow__v9UibaYJmT {
    display: none;
  }
}
.input2:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  padding-right: 40px;
  font-weight: 500;
  color: #000000;
  min-width: 0;
}
.svg___8QAfw {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: 0;
  height: 20px;
  width: 20px;
  color: var(--token-2aHIw8xI62Xi);
  flex-shrink: 0;
}
.mensah2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.062);
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  border-radius: 12px;
  padding: 15px;
}
.mensah2_1_chatviow {
  padding: 5px;
}
@media (max-width: 640px) {
  .mensah2_1_chatviow {
    padding-right: 10px;
  }
}
.img___5GhNp {
  object-fit: cover;
  max-width: 100%;
  width: 79px;
  height: 79px;
  position: absolute;
  top: 0%;
  left: 0%;
  flex-shrink: 0;
  display: none !important;
}
.img___5GhNp > picture > img {
  object-fit: cover;
}
.img_1_docters___5GhNPpv2Kd {
  position: relative;
  left: auto;
  top: auto;
  display: block !important;
}
@media (max-width: 640px) {
  .img_1_docters___5GhNPpv2Kd {
    width: 60px;
    height: 60px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
    border-radius: 50px;
    border: 2px solid var(--token-TpmbTrq5hCAj);
  }
}
.img_1_chatviow___5GhNPaYJmT {
  position: relative;
  left: auto;
  top: auto;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  display: block !important;
}
@media (max-width: 640px) {
  .img_1_chatviow___5GhNPaYJmT {
    width: 40px;
    height: 40px;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
    border-radius: 50px;
  }
}
.freeBox__gusno {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__gusno > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__gusno > :global(.__wab_flex-container) > *,
.freeBox__gusno > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gusno > :global(.__wab_flex-container) > picture > img,
.freeBox__gusno
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.text__nBn0 {
  display: block;
  font-size: 16px;
  text-align: right;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.266px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  transform: translate(0.35600000000000165px, -0.058000000000006935px);
  min-width: 0;
}
@media (max-width: 640px) {
  .text_1_docters__nBn0Pv2Kd {
    font-size: 14px;
    font-weight: 700;
  }
}
.text_1_chatviow__nBn0AYJmT {
  font-weight: 700;
}
@media (max-width: 640px) {
  .text_1_chatviow__nBn0AYJmT {
    font-size: 14px;
    font-weight: 700;
  }
}
.text__oLwL {
  display: block;
  font-size: 12px;
  text-align: right;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.2px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  width: 100%;
  transform: translate(-0.48300000000000054px, 0.4019999999999868px);
  min-width: 0;
}
@media (max-width: 640px) {
  .text_1_docters__oLwLpv2Kd {
    font-weight: 700;
  }
}
@media (max-width: 640px) {
  .text_1_chatviow__oLwLaYJmT {
    font-weight: 700;
  }
}
.freeBox__ku7Xf {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  position: relative;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docters__ku7Xfpv2Kd {
  display: flex;
}
.freeBox_1_chatviow__ku7XfaYJmT {
  display: none;
}
.freeBox__unrkr {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.star_1_docters__aycr4Pv2Kd:global(.__wab_instance) {
  display: none;
}
.star_1_chatviow__aycr4AYJmT:global(.__wab_instance) {
  display: none;
}
.text__cbbPn {
  display: block;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.183px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  width: 100%;
  transform: none;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.doctorsDetails {
  background: rgba(255, 255, 255, 1);
  width: 414px;
  height: 1100px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.doctorsDetails > :global(.__wab_flex-container) {
  flex-direction: column;
}
.doctorsDetails_1_docter {
  width: 100%;
  background: none;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.doctorsDetails_1_docter > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.doctorsDetails_1_docter > :global(.__wab_flex-container) > *,
.doctorsDetails_1_docter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.doctorsDetails_1_docter > :global(.__wab_flex-container) > picture > img,
.doctorsDetails_1_docter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 20px;
}
@media (max-width: 640px) {
  .doctorsDetails_1_docter {
    height: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    padding: 24px;
  }
}
@media (max-width: 640px) {
  .doctorsDetails_1_docter > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
.doctorsDetails_1_chatviow {
  width: 100%;
  background: none;
  flex-direction: column;
  min-width: 0;
  display: none;
}
.doctorsDetails_1_chatviow > :global(.__wab_flex-container) {
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: stretch;
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.doctorsDetails_1_chatviow > :global(.__wab_flex-container) > *,
.doctorsDetails_1_chatviow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.doctorsDetails_1_chatviow > :global(.__wab_flex-container) > picture > img,
.doctorsDetails_1_chatviow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 20px;
}
@media (max-width: 640px) {
  .doctorsDetails_1_chatviow {
    height: 100%;
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
    min-height: 0;
    padding: 24px;
  }
}
@media (max-width: 640px) {
  .doctorsDetails_1_chatviow > :global(.__wab_flex-container) {
    min-height: 0;
  }
}
.svg__coMsb {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
  flex-shrink: 0;
}
.svg_1_docter__coMsb8Ddm8 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: auto;
  top: -10px;
  transform: none;
  right: 0px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg_1_docter__coMsb8Ddm8 {
    right: 24px;
    top: 8px;
  }
}
.svg_1_chatviow__coMsBaYJmT {
  width: 30px;
  height: 30px;
  position: absolute;
  left: auto;
  top: -10px;
  transform: none;
  right: 0px;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg_1_chatviow__coMsBaYJmT {
    right: 24px;
    top: 8px;
  }
}
.bg2 {
  background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(251, 249, 249, 1) 99.99%
      )
      0% 0% / 100% 100% no-repeat,
    rgba(31, 64, 197, 1);
  width: 414px;
  height: 470px;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  flex-direction: column;
  flex-shrink: 0;
}
.bg2 > :global(.__wab_flex-container) {
  flex-direction: column;
}
.bg2_1_docter {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: none;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.bg2_1_docter > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.bg2_1_docter > :global(.__wab_flex-container) > *,
.bg2_1_docter > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bg2_1_docter > :global(.__wab_flex-container) > picture > img,
.bg2_1_docter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 20px;
}
@media (max-width: 640px) {
  .bg2_1_docter {
    width: auto;
  }
}
.bg2_1_chatviow {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: none;
  height: auto;
  left: auto;
  top: auto;
  min-width: 0;
}
.bg2_1_chatviow > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.bg2_1_chatviow > :global(.__wab_flex-container) > *,
.bg2_1_chatviow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bg2_1_chatviow > :global(.__wab_flex-container) > picture > img,
.bg2_1_chatviow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 20px;
}
@media (max-width: 640px) {
  .bg2_1_chatviow {
    width: auto;
  }
}
.img__fz9MD {
  object-fit: cover;
  max-width: 100%;
  filter: none;
  width: 118px;
  height: 118px;
  display: block !important;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 100px;
  border: 3px solid var(--token-Pxe4wDL2kJpb);
}
.img__fz9MD > picture > img {
  object-fit: cover;
}
.freeBox__c7P9H {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox__c7P9H > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox_1_docter__c7P9H8Ddm8 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
}
.freeBox_1_docter__c7P9H8Ddm8 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox_1_docter__c7P9H8Ddm8 > :global(.__wab_flex-container) > *,
.freeBox_1_docter__c7P9H8Ddm8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox_1_docter__c7P9H8Ddm8 > :global(.__wab_flex-container) > picture > img,
.freeBox_1_docter__c7P9H8Ddm8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 10px;
}
.freeBox_1_chatviow__c7P9HaYJmT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
}
.freeBox_1_chatviow__c7P9HaYJmT > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox_1_chatviow__c7P9HaYJmT > :global(.__wab_flex-container) > *,
.freeBox_1_chatviow__c7P9HaYJmT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox_1_chatviow__c7P9HaYJmT
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox_1_chatviow__c7P9HaYJmT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 10px;
}
.text__h9NXh {
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.333px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
}
.text_1_docter__h9NXh8Ddm8 {
  font-weight: 700;
}
.text_1_chatviow__h9NXHaYJmT {
  font-weight: 700;
}
.text__n75Vw {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.233px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 0px;
  left: 0px;
}
.text_1_docter__n75Vw8Ddm8 {
  position: relative;
  left: auto;
  top: auto;
  font-weight: 700;
  font-size: 16px;
}
.text_1_chatviow__n75VwaYJmT {
  position: relative;
  left: auto;
  top: auto;
  font-weight: 700;
  font-size: 16px;
}
.freeBox__jnhnw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__jnhnw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox_1_docter__jnhnw8Ddm8 {
  display: flex;
  flex-direction: row;
}
.freeBox_1_docter__jnhnw8Ddm8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox_1_docter__jnhnw8Ddm8 > :global(.__wab_flex-container) > *,
.freeBox_1_docter__jnhnw8Ddm8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox_1_docter__jnhnw8Ddm8 > :global(.__wab_flex-container) > picture > img,
.freeBox_1_docter__jnhnw8Ddm8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 0px;
}
.freeBox_1_chatviow__jnhnwaYJmT {
  display: flex;
  flex-direction: row;
}
.freeBox_1_chatviow__jnhnwaYJmT > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox_1_chatviow__jnhnwaYJmT > :global(.__wab_flex-container) > *,
.freeBox_1_chatviow__jnhnwaYJmT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox_1_chatviow__jnhnwaYJmT
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox_1_chatviow__jnhnwaYJmT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 0px;
}
.patients {
  width: 110px;
  height: 130px;
  display: block;
  flex-shrink: 0;
}
.patients_1_docter {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  border-radius: 12px;
}
@media (max-width: 640px) {
  .patients_1_docter {
    width: 90px;
    flex-shrink: 0;
  }
}
.patients_1_chatviow {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  border-radius: 12px;
}
@media (max-width: 640px) {
  .patients_1_chatviow {
    width: 90px;
    flex-shrink: 0;
  }
}
.group {
  width: 49px;
  height: 63px;
  display: block;
  position: absolute;
  top: 0px;
  left: 31px;
}
.group_1_docter {
  position: relative;
  left: auto;
  top: auto;
}
.group_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
}
.rectangle14 {
  background: #ffc53d4d;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}
.svg__ja7Ew {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
  color: var(--token-bASdKwkcGC-_);
  flex-shrink: 0;
}
.freeBox__byAR {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 80px;
  left: 28.18%;
  min-width: 0;
  padding: 8px 8px 16px;
}
.freeBox_1_docter__byAR8Ddm8 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
}
.freeBox_1_chatviow__byARaYJmT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
}
.text__w1R8V {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.517px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  transform: translate(-0.5px, 0px);
}
.text__osTTt {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.365px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 104px;
  left: 29.09%;
}
.text_1_docter__osTTt8Ddm8 {
  position: relative;
  left: auto;
  top: auto;
}
.text_1_chatviow__osTTtaYJmT {
  position: relative;
  left: auto;
  top: auto;
}
.patients2 {
  width: 110px;
  height: 130px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
}
.patients2_1_docter {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (max-width: 640px) {
  .patients2_1_docter {
    width: 90px;
    flex-shrink: 0;
  }
}
.patients2_1_chatviow {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (max-width: 640px) {
  .patients2_1_chatviow {
    width: 90px;
    flex-shrink: 0;
  }
}
.group2 {
  width: 49px;
  height: 63px;
  display: block;
  position: absolute;
  top: 0px;
  left: 31px;
}
.group2_1_docter {
  position: relative;
  left: auto;
  top: auto;
}
.group2_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
}
.rectangle15 {
  background: #8254c633;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}
.svg__vt3C {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
  color: var(--token-SX03PBUzWAqr);
  flex-shrink: 0;
}
.freeBox__pFjEn {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 80px;
  left: 28.18%;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docter__pFjEn8Ddm8 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
}
.freeBox_1_chatviow__pFjEnaYJmT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
}
.text___3CNf1 {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.517px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  transform: translate(-0.5px, 0px);
}
.text__dEuTn {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.365px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 104px;
  left: 29.09%;
}
.text_1_docter__dEuTn8Ddm8 {
  position: relative;
  left: auto;
  top: auto;
}
.text_1_chatviow__dEuTnaYJmT {
  position: relative;
  left: auto;
  top: auto;
}
.patients3 {
  width: 110px;
  height: 130px;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
}
.patients3_1_docter {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (max-width: 640px) {
  .patients3_1_docter {
    width: 90px;
    flex-shrink: 0;
  }
}
.patients3_1_chatviow {
  background: var(--token-jgohepLVeKvh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 120px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 0;
  border-radius: 12px;
}
@media (max-width: 640px) {
  .patients3_1_chatviow {
    width: 90px;
    flex-shrink: 0;
  }
}
.group3 {
  width: 49px;
  height: 63px;
  display: block;
  position: absolute;
  top: 0px;
  left: 31px;
}
.group3_1_docter {
  position: relative;
  left: auto;
  top: auto;
}
.group3_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
}
.rectangle16 {
  background: #00c3714d;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
}
.svg__uODi3 {
  object-fit: cover;
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  width: 25px;
  height: 25px;
  color: var(--token-G-IZ_XhVdlqp);
  flex-shrink: 0;
}
.freeBox__m6SF5 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: 80px;
  left: 28.18%;
  min-width: 0;
  padding: 8px;
}
.freeBox_1_docter__m6SF58Ddm8 {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
}
.freeBox_1_chatviow__m6SF5AYJmT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
}
.text__sRaD8 {
  display: block;
  font-size: 17px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.517px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  transform: translate(-0.5px, 0px);
}
.text__m5IrK {
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.365px;
  line-height: 100%;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 104px;
  left: 29.09%;
}
.text_1_docter__m5IrK8Ddm8 {
  position: relative;
  left: auto;
  top: auto;
}
.text_1_chatviow__m5IrKaYJmT {
  position: relative;
  left: auto;
  top: auto;
}
.freeBox___0B37E {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 8px;
}
.freeBox___0B37E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox_1_docter___0B37E8Ddm8 {
  left: 27px;
  top: 0px;
  z-index: 1;
  position: sticky;
  display: flex;
  flex-direction: column;
  height: auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
}
.freeBox_1_docter___0B37E8Ddm8 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox_1_docter___0B37E8Ddm8 > :global(.__wab_flex-container) > *,
.freeBox_1_docter___0B37E8Ddm8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox_1_docter___0B37E8Ddm8 > :global(.__wab_flex-container) > picture > img,
.freeBox_1_docter___0B37E8Ddm8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 20px;
}
.freeBox_1_chatviow___0B37EaYJmT {
  left: 27px;
  top: 0px;
  z-index: 1;
  position: sticky;
  display: flex;
  flex-direction: column;
  height: auto;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
}
.freeBox_1_chatviow___0B37EaYJmT > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox_1_chatviow___0B37EaYJmT > :global(.__wab_flex-container) > *,
.freeBox_1_chatviow___0B37EaYJmT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.freeBox_1_chatviow___0B37EaYJmT
  > :global(.__wab_flex-container)
  > picture
  > img,
.freeBox_1_chatviow___0B37EaYJmT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 20px;
}
.about {
  width: 100%;
  height: 134px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  min-width: 0;
  flex-shrink: 0;
}
.about > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
}
.about_1_docter {
  height: auto;
  display: flex;
  flex-direction: column;
}
.about_1_docter > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.about_1_docter > :global(.__wab_flex-container) > *,
.about_1_docter > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.about_1_docter > :global(.__wab_flex-container) > picture > img,
.about_1_docter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 10px;
}
.about_1_chatviow {
  height: auto;
  display: flex;
  flex-direction: column;
}
.about_1_chatviow > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.about_1_chatviow > :global(.__wab_flex-container) > *,
.about_1_chatviow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.about_1_chatviow > :global(.__wab_flex-container) > picture > img,
.about_1_chatviow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 10px;
}
.text__w4IPz {
  display: block;
  font-size: 18px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.3px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: relative;
  top: auto;
  left: auto;
}
.text_1_docter__w4IPz8Ddm8 {
  text-align: right;
  font-size: 20px;
  left: auto;
  top: auto;
  font-weight: 700;
}
.text_1_chatviow__w4IPZaYJmT {
  text-align: right;
  font-size: 20px;
  left: auto;
  top: auto;
  font-weight: 700;
}
.drBellamyNicholas {
  display: block;
  font-size: 14px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.233px;
  line-height: 20px;
  color: rgba(106, 118, 154, 1);
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
}
.drBellamyNicholas_1_docter {
  text-align: justify;
  left: auto;
  top: auto;
}
@media (max-width: 640px) {
  .drBellamyNicholas_1_docter {
    text-align: justify;
  }
}
.drBellamyNicholas_1_chatviow {
  text-align: justify;
  left: auto;
  top: auto;
}
@media (max-width: 640px) {
  .drBellamyNicholas_1_chatviow {
    text-align: justify;
  }
}
.workingTime {
  width: 360px;
  height: 54px;
  display: block;
  position: absolute;
  top: 677px;
  left: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.workingTime_1_docter {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 0;
}
.workingTime_1_docter > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.workingTime_1_docter > :global(.__wab_flex-container) > *,
.workingTime_1_docter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.workingTime_1_docter > :global(.__wab_flex-container) > picture > img,
.workingTime_1_docter
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 10px;
}
.workingTime_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 0;
}
.workingTime_1_chatviow > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.workingTime_1_chatviow > :global(.__wab_flex-container) > *,
.workingTime_1_chatviow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > *,
.workingTime_1_chatviow > :global(.__wab_flex-container) > picture > img,
.workingTime_1_chatviow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 10px;
}
.text__ok0Mx {
  display: block;
  font-size: 18px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.3px;
  line-height: 100%;
  color: rgba(33, 42, 68, 1);
  position: absolute;
  top: 0px;
  left: 0.27%;
}
.text_1_docter__ok0Mx8Ddm8 {
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
  font-weight: 700;
  height: auto;
  line-height: 30px;
}
.text_1_chatviow__ok0MxaYJmT {
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
  font-weight: 700;
  height: auto;
  line-height: 30px;
}
.monSat0830Am {
  display: block;
  font-size: 14px;
  font-family: "Museo Sans Cyrl";
  letter-spacing: 0.233px;
  line-height: 20px;
  color: rgba(106, 118, 154, 1);
  position: absolute;
  top: 62.96%;
  left: 0%;
  width: 100%;
}
.monSat0830Am_1_docter {
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
}
.monSat0830Am_1_chatviow {
  position: relative;
  left: auto;
  top: auto;
  text-align: right;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg___0KdLw {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text_1_docter___1UZth8Ddm8 {
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 640px) {
  .text_1_docter___1UZth8Ddm8 {
    color: var(--token-jgohepLVeKvh);
    font-size: 16px;
    font-weight: 700;
  }
}
.text_1_chatviow___1UZthaYJmT {
  font-weight: 700;
  font-size: 16px;
}
@media (max-width: 640px) {
  .text_1_chatviow___1UZthaYJmT {
    color: var(--token-jgohepLVeKvh);
    font-size: 16px;
    font-weight: 700;
  }
}
.svg__eAfZ {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
