.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__sMj2B {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__hvQeb {
  color: #eb464a;
}
.svg__x6H5G {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.modal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  justify-self: center;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px;
}
@media (max-width: 640px) {
  .modal:global(.__wab_instance) {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    margin: 0px;
  }
}
.apiRequest2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__mDl60 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__l5Bx {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-55cSeNPovQFh);
  height: 40px;
  width: 40px;
  flex-shrink: 0;
}
.freeBox__tvyK6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff00;
  min-width: 0;
  min-height: 0;
  border-radius: 50px;
  padding: var(--token-O5TjkXII_aat);
}
.freeBox__tvyK6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - var(--token-O5TjkXII_aat));
  height: calc(100% + var(--token-O5TjkXII_aat));
}
.freeBox__tvyK6 > :global(.__wab_flex-container) > *,
.freeBox__tvyK6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tvyK6 > :global(.__wab_flex-container) > picture > img,
.freeBox__tvyK6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-O5TjkXII_aat);
}
@media (max-width: 640px) {
  .freeBox__tvyK6 {
    height: 100%;
    background: #ffffff00;
    border-radius: 30px;
    padding: var(--token-O5TjkXII_aat);
  }
}
@media (max-width: 640px) {
  .freeBox__tvyK6 > :global(.__wab_flex-container) {
    justify-content: space-between;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-O5TjkXII_aat));
    height: calc(100% + var(--token-O5TjkXII_aat));
  }
}
@media (max-width: 640px) {
  .freeBox__tvyK6 > :global(.__wab_flex-container) > *,
  .freeBox__tvyK6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tvyK6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__tvyK6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-O5TjkXII_aat);
  }
}
.freeBox___0Ra8W {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox___0Ra8W {
    height: 100%;
    min-height: 0;
  }
}
.svg__ks6I {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  color: var(--token-4RAe7M2gInqR);
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg__ks6I {
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
  }
}
.freeBox__dzVh {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__dzVh {
    height: 100%;
    min-height: 0;
  }
}
.text__syMOz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-JDv1HFq3SNmi);
  color: var(--token-G-IZ_XhVdlqp);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__syMOz {
    font-size: var(--token-JDv1HFq3SNmi);
    padding-bottom: 10px;
  }
}
.text__nbtOr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-d0xmvBfBUlz_);
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__nbtOr {
    font-size: var(--token-ZuffvoxgS-gS);
    text-align: justify;
    padding: 0px 0px 20px;
  }
}
.text___5EpBd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (max-width: 640px) {
  .text___5EpBd {
    text-align: center;
    font-weight: 700;
    text-decoration-line: none;
    color: var(--token-55cSeNPovQFh);
    font-size: 12px;
    display: none;
  }
}
.freeBox___24Mu {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 20px;
}
.freeBox___24Mu > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox___24Mu > :global(.__wab_flex-container) > *,
.freeBox___24Mu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___24Mu > :global(.__wab_flex-container) > picture > img,
.freeBox___24Mu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 640px) {
  .freeBox___24Mu {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 640px) {
  .freeBox___24Mu > :global(.__wab_flex-container) {
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox___24Mu > :global(.__wab_flex-container) > *,
  .freeBox___24Mu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___24Mu > :global(.__wab_flex-container) > picture > img,
  .freeBox___24Mu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  z-index: 5;
  min-width: 0;
}
.svg__u3DYb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wTzSm {
  font-size: var(--token-Wa5tmrNKVUYF);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
@media (max-width: 640px) {
  .text__wTzSm {
    font-size: var(--token-Wa5tmrNKVUYF);
  }
}
.svg__zfL6Q {
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 150%;
  color: var(--token-jgohepLVeKvh);
}
.shop2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vaw16 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff00;
  z-index: 200;
  min-width: 0;
  min-height: 0;
  border-radius: 50px;
  padding: var(--token-O5TjkXII_aat);
}
.freeBox__vaw16 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - var(--token-O5TjkXII_aat));
  height: calc(100% + var(--token-O5TjkXII_aat));
}
.freeBox__vaw16 > :global(.__wab_flex-container) > *,
.freeBox__vaw16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vaw16 > :global(.__wab_flex-container) > picture > img,
.freeBox__vaw16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-O5TjkXII_aat);
}
@media (max-width: 640px) {
  .freeBox__vaw16 {
    height: 100%;
    background: #ffffff00;
    border-radius: 30px;
    padding: var(--token-O5TjkXII_aat);
  }
}
@media (max-width: 640px) {
  .freeBox__vaw16 > :global(.__wab_flex-container) {
    justify-content: space-between;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-O5TjkXII_aat));
    height: calc(100% + var(--token-O5TjkXII_aat));
  }
}
@media (max-width: 640px) {
  .freeBox__vaw16 > :global(.__wab_flex-container) > *,
  .freeBox__vaw16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vaw16 > :global(.__wab_flex-container) > picture > img,
  .freeBox__vaw16
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-O5TjkXII_aat);
  }
}
.freeBox__t0T7U {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__t0T7U {
    height: 100%;
    min-height: 0;
  }
}
.svg___23TKh {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  color: var(--token-4RAe7M2gInqR);
  min-width: 0;
  flex-shrink: 0;
}
@media (max-width: 640px) {
  .svg___23TKh {
    height: 5rem;
    width: 5rem;
    flex-shrink: 0;
  }
}
.freeBox__kfGot {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 640px) {
  .freeBox__kfGot {
    height: 100%;
    min-height: 0;
  }
}
.text__pgAt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-JDv1HFq3SNmi);
  color: var(--token-4RAe7M2gInqR);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__pgAt {
    font-size: var(--token-JDv1HFq3SNmi);
    padding-bottom: 10px;
  }
}
.text__wimZe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: var(--token-Wa5tmrNKVUYF);
  color: var(--token-d0xmvBfBUlz_);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  padding: 20px;
}
@media (max-width: 640px) {
  .text__wimZe {
    font-size: var(--token-ZuffvoxgS-gS);
    text-align: justify;
    padding: 0px 0px 20px;
  }
}
.text__nfX1Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
  display: none;
}
@media (max-width: 640px) {
  .text__nfX1Q {
    text-align: center;
    font-weight: 700;
    text-decoration-line: none;
    color: var(--token-55cSeNPovQFh);
    font-size: 12px;
    display: none;
  }
}
.freeBox__pw2Dt {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 20px;
}
.freeBox__pw2Dt > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__pw2Dt > :global(.__wab_flex-container) > *,
.freeBox__pw2Dt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pw2Dt > :global(.__wab_flex-container) > picture > img,
.freeBox__pw2Dt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (max-width: 640px) {
  .freeBox__pw2Dt {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 640px) {
  .freeBox__pw2Dt > :global(.__wab_flex-container) {
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (max-width: 640px) {
  .freeBox__pw2Dt > :global(.__wab_flex-container) > *,
  .freeBox__pw2Dt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pw2Dt > :global(.__wab_flex-container) > picture > img,
  .freeBox__pw2Dt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.buttonLiom8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___2Fay1 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__svFhp {
  font-size: var(--token-Wa5tmrNKVUYF);
  padding-left: 0px;
  font-weight: 700;
  padding-bottom: 0px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
.svg__t6Kuc {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-jgohepLVeKvh);
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  right: auto;
  transform: none;
}
.freeBox__vIpHu {
  width: auto;
  height: auto;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  background: var(--token-R_Rsn0nP9oIv);
  display: none;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__vIpHu {
    display: block;
  }
}
.freeBox__meIye {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  width: var(--plsmc-standard-width);
  height: 100%;
  max-width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  background: #000000a6;
  min-width: 0;
  min-height: 0;
  border-radius: 8px;
  padding: 8px;
  margin: 0px;
}
.freeBox__rFH {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px 8px;
}
.freeBox__oSgO7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-tSCEojfAiHXN);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.img {
  object-fit: cover;
  width: 40%;
}
.img > picture > img {
  object-fit: cover;
}
.text__y5Mxg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ODBUExjR6VEF);
  text-align: center;
  font-size: 17px;
  margin-top: 8px;
  background: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  min-width: 0;
}
.buttonLiom:global(.__wab_instance) {
  max-width: 100%;
  width: 150px;
  margin-top: 16px;
}
@media (max-width: 640px) {
  .buttonLiom:global(.__wab_instance) {
    width: 200px;
  }
}
.svg__raWvO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text___6EJz3 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #ededec;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  padding: 2px 8px;
}
.svg__isH7R {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
