.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 0px;
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.profile:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.reveal:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.revealpage_calendar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.revealpage_self:global(.__wab_instance) {
  display: none;
}
.revealpage_reminder:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.reminder:global(.__wab_instance) {
  max-width: 100%;
  display: none;
}
.reminderpage_reminder:global(.__wab_instance) {
  display: grid;
}
.reminderApi:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.category:global(.__wab_instance) {
  animation: none;
  max-width: 100%;
  object-fit: cover;
}
.mobileDialog:global(.__wab_instance) {
  max-width: 100%;
}
.dialogTooltip:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.dialog:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--token-AupbASVTnAsv);
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  min-height: 0;
  padding: 8px;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 70%;
}
