.root {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 0;
  border-radius: 12px;
  padding: 0px;
}
.rootseen {
  background: #ffffff80;
  opacity: 0.8;
  box-shadow: 0px 4px 16px 0px #00000014;
}
.rootdelet {
  display: none;
}
.collapse:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___5FqYh {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox___5FqYh {
    padding: 0px;
  }
}
.freeBoxseen___5FqYhofXyw {
  justify-content: center;
  align-items: center;
}
.img__llEtj {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.img__llEtj > picture > img {
  object-fit: cover;
}
.freeBox__lpV3T {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 12px;
}
@media (max-width: 640px) {
  .freeBox__lpV3T {
    padding-left: 0px;
  }
}
.freeBoxseen__lpV3TofXyw {
  opacity: 0.8;
}
.freeBox__d92Y7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__nFhjh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 70%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-hCgNygAysIbb);
  min-width: 0;
}
@media (max-width: 640px) {
  .text__nFhjh {
    font-size: var(--token-2xQ-Ews6Hwx4);
  }
}
.textseen__nFhjhofXyw {
  color: #535353b3;
  font-size: var(--token-tjteaUKFnUfH);
}
@media (max-width: 640px) {
  .textseen__nFhjhofXyw {
    font-size: var(--token-2xQ-Ews6Hwx4);
  }
}
.text___6Tjo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 30%;
  font-weight: 500;
  font-size: var(--token-BlA-iDkaAWvO);
  min-width: 0;
}
@media (max-width: 640px) {
  .text___6Tjo {
    font-size: 10px;
    text-align: left;
  }
}
.textseen___6TjoOfXyw {
  color: #535353b3;
}
.text__ifEqi {
  text-align: right;
  font-size: 16px;
}
.button__zf9Wf:global(.__wab_instance) {
  max-width: 100%;
}
.svg__voO2A {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___5NUxm {
  object-fit: cover;
  max-width: 100%;
  width: 150%;
  height: 150%;
}
.freeBox__cebvZ {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  max-width: 100%;
  background: var(--token-55cSeNPovQFh);
  left: -6px;
  top: -6px;
  z-index: 1;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 8px;
}
@media (max-width: 640px) {
  .freeBox__cebvZ {
    width: 10px;
    height: 10px;
    top: -4px;
    left: -4px;
    flex-shrink: 0;
    padding: 0px;
  }
}
.freeBoxseen__cebvZofXyw {
  background: var(--token-2aHIw8xI62Xi);
  display: none;
}
.svg__t65Sq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4RAe7M2gInqR);
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
  flex-shrink: 0;
  display: none;
}
.svgseen_forAll__t65SQofXywQ4BdZ {
  display: none;
}
@media (max-width: 640px) {
  .svgseen_forAll__t65SQofXywQ4BdZ {
    width: 15px;
    height: 16px;
    flex-shrink: 0;
  }
}
.svg__v6Bn5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-4RAe7M2gInqR);
  width: 30px;
  height: 30px;
  left: 8px;
  top: 20px;
  z-index: 1;
  position: absolute;
  flex-shrink: 0;
  display: none;
}
.rootseen_forAll:hover .svgseen_forAll__v6Bn5OfXywQ4BdZ {
  display: block;
}
