.frame49 {
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 564px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-width: 0;
  border-radius: 24px;
  padding: var(--token-uOLZE7OyOW-J);
}
.frame25 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  column-gap: var(--token-O5TjkXII_aat);
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
}
.freeBox__wYxmJ {
  display: flex;
  position: relative;
  align-self: flex-end;
  flex-direction: row;
  width: auto;
}
.slotTargetChildren {
  font-family: "Ubuntu", sans-serif;
  font-size: var(--token-UXPBeNJ4rrVx);
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  line-height: 100%;
  letter-spacing: 0em;
  white-space: pre;
}
.frame48 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 16px;
  min-width: 0;
}
.freeBox__xaz6S {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.svg__oPc6Z {
  object-fit: cover;
  max-width: 100%;
  color: #f4f4f4;
  transform: scale(1.0000000000000038, 1.0000000000000038)
    rotate(0.0000049783130603797145deg);
  width: 100%;
  height: 1px;
  display: block;
  transform-origin: top left;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 0;
  border-width: 1px;
}
.frame47 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 8px;
  min-width: 0;
}
@media (max-width: 640px) {
  .frame47 {
    overflow: auto;
  }
}
.freeBox___5OOpX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: var(--token-1KusGK5GePTh);
  min-width: 0;
  padding: 0px;
}
.freeBox__c0Kjn {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__k515Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  min-width: 0;
}
.freeBox__mmSfz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img__hIf8O {
  object-fit: cover;
  max-width: 100%;
  opacity: 0.3;
  filter: blur(4px);
}
.img__hIf8O > picture > img {
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 40%;
  right: auto;
  bottom: auto;
}
.svg__mzygN {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__s7VcO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.svg__cmGwL {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text__jJ6Cj {
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.svg__ongRn {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.fragmentChart__vpBBm:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
  padding: 0px;
}
.freeBox__csmYx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__aABe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  min-width: 0;
}
.freeBox__vsPA {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__dwXXl {
  object-fit: cover;
  max-width: 100%;
  filter: blur(6px);
  opacity: 0.4;
}
.img__dwXXl > picture > img {
  object-fit: cover;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: auto;
  top: 40%;
  right: auto;
}
.svg__hhTx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__c8Ipf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.svg___94Y {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.text__nwkQr {
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.svg__dl9Zb {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.fragmentChart__benNv:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.frame50 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: var(--token-B5WvIYiqPJW-);
  min-width: 0;
}
@media (max-width: 640px) {
  .frame50 {
    overflow: auto;
  }
}
.freeBox__rBw2N {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: space-between;
  width: auto;
  height: 100%;
  max-width: 100%;
  background: #f7f7f7;
  row-gap: var(--token-O5TjkXII_aat);
  min-height: 0;
  border-radius: var(--token-uOLZE7OyOW-J);
  padding: var(--token-B5WvIYiqPJW-);
}
.freeBox__qT68T {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__r2GXa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
  bottom: auto;
}
.svg__ynxsv {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__sOnzJ {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: var(--token-O5TjkXII_aat);
  min-width: 0;
  padding: 0px;
}
.text___53Mvc {
  font-weight: 700;
  font-size: var(--token-Wa5tmrNKVUYF);
}
.svg__kXbxa {
  object-fit: cover;
  max-width: 100%;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__xuMdy {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox___6MzkJ {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
