.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f8f8f8;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .root > * {
    grid-column: 4;
  }
}
.sideEffect:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.section {
  display: grid;
  position: fixed;
  align-content: flex-start;
  justify-items: center;
  width: auto;
  padding-left: 0;
  padding-right: 0;
  left: -1px;
  top: 0px;
  z-index: 1;
  right: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
@media (max-width: 640px) {
  .section {
    left: 0;
    top: 0;
    right: 0;
    width: auto;
  }
}
@media (max-width: 640px) {
  .section > * {
    grid-column: 4;
  }
}
.headerLiom:global(.__wab_instance) {
  max-width: 100%;
}
@media (max-width: 640px) {
  .headerLiom:global(.__wab_instance) {
    width: 100%;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__sauTb {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: 35px;
  max-width: 100%;
  column-gap: 12px;
  padding: 0px 0px 0px 8px;
}
.svg__pBure {
  object-fit: cover;
  max-width: 100%;
  width: 22px;
  height: 22px;
  align-self: center;
  flex-shrink: 0;
}
.text__azbDv {
  position: relative;
  width: auto;
  height: 100%;
  max-width: 100%;
  white-space: pre-wrap;
  text-align: center;
  color: #919191;
  font-weight: 700;
  font-size: 16px;
  min-height: 0;
  padding: 8px 0px 0px 16px;
}
.hamyarList:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__iCc9A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 64px 12px 12px;
}
@media (max-width: 640px) {
  .freeBox__iCc9A {
    width: 100%;
    row-gap: 16px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__sm2Ku {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #00000014;
  row-gap: 10px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 16px 24px;
}
.freeBox__emSkm {
  display: block;
  position: relative;
  width: 30%;
  height: 24px;
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__rXinr {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__ra5M5 {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__z6DJi {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__qxwgP {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__mgLUt {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.number2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.number2__modal :global(.ant-modal-content) {
  outline: none;
  border-radius: 16px;
  padding: 0px;
}
@media (max-width: 640px) {
  .number2:global(.__wab_instance) {
    left: 0;
    top: auto;
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 12px;
  }
}
.freeBox__mnTo6 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox__h6NgG {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 8px 16px;
}
@media (max-width: 640px) {
  .freeBox__h6NgG {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.text__td4JB {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-64O07uLgKimi);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__td4JB {
    font-size: var(--token-70Yb0tqelyc1);
  }
}
.freeBox___5CYz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
}
.svg__gOkm5 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__yzpcH {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 1px;
  height: auto;
  max-width: 100%;
  padding: 0px;
  border-right: 1px solid var(--token-y50Rafqey4Ec);
}
.text__gYfUi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-bottom: 0px;
  text-align: left;
  color: var(--token-64O07uLgKimi);
  font-weight: 700;
  padding-left: 2px;
  padding-right: 2px;
}
.svg__fvBa {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 20px;
  height: 20px;
}
.antdInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: left;
  width: 100%;
  height: 100%;
  font-size: 14px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .antdInput:global(.__wab_instance) {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.freeBox__njPvf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f9f9f9;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  min-width: 0;
  padding: 16px;
}
.button2:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__oCnzU {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__mVIjF {
  color: var(--token-R_Rsn0nP9oIv);
  font-weight: 700;
}
.svg__eiQcY {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.text__er2MV {
  text-align: right;
  font-weight: 500;
  background: #f9f9f9;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 16px;
}
.name2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.name2__modal :global(.ant-modal-content) {
  outline: none;
  border-radius: 16px;
  padding: 0px;
}
@media (max-width: 640px) {
  .name2:global(.__wab_instance) {
    left: 0;
    top: auto;
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 12px;
  }
}
.freeBox___5Exa8 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.freeBox___0Vial {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 8px 16px 0px;
}
@media (max-width: 640px) {
  .freeBox___0Vial {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.text__yEjlJ {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-64O07uLgKimi);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__yEjlJ {
    font-size: var(--token-70Yb0tqelyc1);
  }
}
.freeBox___4DwHk {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.textInput2:global(.__wab_instance) {
  max-width: 100%;
}
.svg__iBoAf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.antdInput2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  text-align: right;
  width: 100%;
  height: 100%;
  font-size: 14px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (max-width: 640px) {
  .antdInput2:global(.__wab_instance) {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
.freeBox__t1Fww {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 8px;
  min-width: 0;
  padding: 0px 16px 8px;
}
@media (max-width: 640px) {
  .freeBox__t1Fww {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.text__fXhte {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-64O07uLgKimi);
  font-weight: 700;
  font-size: 16px;
  min-width: 0;
}
@media (max-width: 640px) {
  .text__fXhte {
    font-size: var(--token-70Yb0tqelyc1);
  }
}
.freeBox__aprqE {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.radioGrop:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.text__kfOxD {
  white-space: pre;
  user-select: none;
  padding-right: 4px;
  padding-left: 4px;
  text-align: center;
}
.svg___061F0 {
  object-fit: cover;
  max-width: 100%;
  height: 1em;
}
.freeBox__vSiEp {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f9f9f9;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  min-width: 0;
  padding: 16px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__gjyC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rvz35 {
  color: var(--token-R_Rsn0nP9oIv);
  font-weight: 700;
}
.svg__olxYd {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.text__puznu {
  text-align: right;
  font-weight: 500;
  background: #f9f9f9;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 16px;
}
.sms:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  padding: 0px;
}
.sms__modal :global(.ant-modal-content) {
  background: var(--token-7tIJuaQ820ys);
  outline: none;
  border-radius: 16px;
  padding: 8px;
}
@media (max-width: 640px) {
  .sms:global(.__wab_instance) {
    left: 0;
    top: auto;
    z-index: 1;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 12px;
  }
}
.freeBox__ihKTo {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px 16px;
}
.freeBox__ah5IW {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-R_Rsn0nP9oIv);
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--token-RHb8DXPBtDBn);
}
@media (max-width: 640px) {
  .freeBox__ah5IW {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    column-gap: 0px;
  }
}
.text__cs8YT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  min-width: 0;
}
.freeBox__oyXk {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  row-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.button4:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___1DBn {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__uceUp {
  color: var(--token-R_Rsn0nP9oIv);
  font-weight: 700;
}
.svg__te2Mt {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button5:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__jvzPo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yk9I {
  color: var(--token-55cSeNPovQFh);
  font-weight: 300;
}
.svg__xgo2 {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.text___4K6Nb {
  text-align: right;
  font-weight: 500;
  background: var(--token-7tIJuaQ820ys);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 16px 16px 0px;
}
.remove:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0px;
}
.remove__modal :global(.ant-modal-content) {
  background: var(--token-7tIJuaQ820ys);
  outline: none;
  border-radius: 16px;
  padding: 8px;
}
@media (max-width: 640px) {
  .remove:global(.__wab_instance) {
    left: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 0;
    column-gap: 0px;
    padding: 24px;
  }
}
@media (max-width: 640px) {
  .remove__modal :global(.ant-modal-content) {
    outline: none;
    border-radius: 8px;
    padding: 8px;
  }
}
.freeBox__z1KFv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 8px;
  min-width: 0;
  padding: 0px 36px;
}
@media (max-width: 640px) {
  .freeBox__z1KFv {
    padding-left: 8px;
  }
}
.text__u4WeR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 14px;
  min-width: 0;
}
.freeBox__ovDxF {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  column-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.removeBtn:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__vElW {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__iaKjk {
  color: var(--token-64O07uLgKimi);
  font-weight: 700;
}
.svg__lSzMk {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button9:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__x9Uxt {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__yk8Xc {
  color: var(--token-64O07uLgKimi);
  font-weight: 700;
}
.svg__v3FLv {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__iCdfj {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-7tIJuaQ820ys);
  min-width: 0;
  padding: 8px 8px 0px;
}
.svg__oe9Ho {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 30px;
  color: var(--token-47ovROB-Xr2C);
  flex-shrink: 0;
}
.text___8D9Gn {
  text-align: right;
  font-weight: 700;
  background: none;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 16px;
  color: var(--token-kjnzcds1FoVY);
  padding: 8px;
}
.directDialog2:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox___4B9Em {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 66px 12px 12px;
}
@media (max-width: 640px) {
  .freeBox___4B9Em {
    width: 100%;
    row-gap: 16px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__kHgoE {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #00000014;
  row-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 16px 24px;
}
.text___0Cs0C {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  line-height: 1.8;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___9HLdC {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wAY {
  font-size: 16px;
  font-weight: 700;
  color: var(--token-R_Rsn0nP9oIv);
}
.svg__m0Yaz {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.vigetLiom:global(.__wab_instance) {
  position: relative;
}
.text__sK8W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  color: var(--token-kjnzcds1FoVY);
  min-width: 0;
  padding: 0px;
}
.embedHtml___0DzHz:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__uH41B {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 4px;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
.freeBox__vkwjR {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  column-gap: 4px;
  min-width: 0;
  padding: 0px;
}
.text__ryj9 {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: right;
  white-space: pre;
  font-weight: 700;
  color: var(--token-DFwge94Hey3F);
}
.text__inBq9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: justify;
  white-space: pre;
  font-size: 12px;
  color: var(--token-DFwge94Hey3F);
  min-width: 0;
}
.popover:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.svg__feOog {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-DFwge94Hey3F);
  width: 20px;
  height: 20px;
}
.freeBox___7WG {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 8px;
  min-width: 0;
  padding: 0px;
}
.button6:global(.__wab_instance) {
  max-width: 100%;
  width: auto;
}
.svg__gNq5H {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-DFwge94Hey3F);
}
.text__gqCdA {
  color: var(--token-DFwge94Hey3F);
}
.svg__gzi4F {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.button7:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg___7RXc4 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  color: var(--token-DFwge94Hey3F);
}
.text__exNo {
  color: var(--token-DFwge94Hey3F);
}
.svg___1BhHi {
  object-fit: cover;
  max-width: 100%;
  width: 40px;
  height: 50px;
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  color: var(--token-jgohepLVeKvh);
  right: auto;
  bottom: auto;
  display: none;
}
.freeBox__gztJa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__oMzwZ {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  color: var(--token-DFwge94Hey3F);
  align-self: center;
  min-width: 0;
}
.freeBox__yqgTw {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 100px;
  padding: 4px 8px;
  border-width: 1px;
}
.text__ydQlg {
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: right;
  font-size: 12px;
  align-self: center;
  color: #535353;
  min-width: 0;
  padding: 0px;
}
.switchbest:global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  left: 16px;
  top: -3px;
}
.embedHtml__u7Wp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  margin-top: 8px;
  min-width: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 50%;
  opacity: 0.6;
}
.img > picture > img {
  object-fit: cover;
}
@media (max-width: 640px) {
  .img {
    width: 100%;
    min-width: 0;
  }
}
.freeBox__cxARf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #d62a76;
  column-gap: 8px;
  min-width: 0;
  border-radius: 8px;
  padding: 12px;
}
.svg__dg90C {
  object-fit: cover;
  max-width: 100%;
  align-self: center;
  width: 20px;
  height: 20px;
  color: var(--token-R_Rsn0nP9oIv);
  flex-shrink: 0;
}
.text__u412X {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 16px;
}
.freeBox__iPrYx {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  row-gap: 16px;
  min-width: 0;
  padding: 64px 12px 12px;
}
@media (max-width: 640px) {
  .freeBox__iPrYx {
    width: 100%;
    row-gap: 16px;
    column-gap: 0px;
    grid-column-start: 1 !important;
    grid-column-end: -1 !important;
  }
}
.freeBox__tQsAj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--token-R_Rsn0nP9oIv);
  box-shadow: 0px 4px 16px 0px #00000014;
  row-gap: 10px;
  min-width: 0;
  border-radius: 8px;
  padding: 16px 16px 24px;
}
.freeBox__gloN4 {
  display: block;
  position: relative;
  width: 30%;
  height: 24px;
  max-width: 100%;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox___6OAtk {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__eegaF {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox___1FEwb {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__d21Xo {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.freeBox__ujQUu {
  display: block;
  position: relative;
  width: 100%;
  height: 24px;
  max-width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  padding: 8px;
}
.load:global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.shopClice {
  position: relative;
  width: 0px;
  height: 0px;
  max-width: 100%;
}
