.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  padding: 10px 15px;
}
.freeBox__yMz2 {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: stretch;
  justify-content: flex-start;
  top: 14px;
  left: 15px;
}
.freeBoxstate_singularLeft__yMz2GcpLn {
  left: 15px;
}
.text__wb9Ti {
  color: var(--token-aPMgnD4sVFAM);
}
.freeBox__vn1Aa {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: center;
  column-gap: 20px;
}
.toggleButton__yyTOt:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  align-self: flex-start;
}
.toggleButton___4QkhY:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  align-self: flex-start;
}
.toggleButton__aTmT1:global(.__wab_instance) {
  position: relative;
  width: auto;
  flex-grow: 0;
  flex-shrink: 1;
  height: auto;
  align-self: flex-start;
}
.text__wpIty {
  position: absolute;
  color: var(--token-aPMgnD4sVFAM);
  left: 371px;
  top: 14px;
  cursor: pointer;
}
.textstate_hasCompleted__wpItyud2M {
  left: auto;
  right: 15px;
}
.footerContainer .text__wpIty:hover {
  text-decoration-line: underline;
}
