@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C900%3B1%2C300%3B1%2C400%3B1%2C500%3B1%2C700%3B1%2C900&family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Vazirmatn%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-gCi4wau0q9pg: rgba(175, 47, 47, 0.15);
  --plasmic-token-header: var(--token-gCi4wau0q9pg);
  --token-MC6PcZje01vY: rgb(245, 245, 245);
  --plasmic-token-page-bg: var(--token-MC6PcZje01vY);
  --token-yL32ChWVky0P: #ffffff;
  --plasmic-token-app-bg: var(--token-yL32ChWVky0P);
  --token-R96bVFQ-7pJj: rgb(230, 230, 230);
  --plasmic-token-unselected-chevron: var(--token-R96bVFQ-7pJj);
  --token-xZSjH46lB6C3: rgb(230, 230, 230);
  --plasmic-token-input-placeholder: var(--token-xZSjH46lB6C3);
  --token-aPMgnD4sVFAM: rgb(119, 119, 119);
  --plasmic-token-footer-text: var(--token-aPMgnD4sVFAM);
  --token-_wos1hXSjLbY: rgb(34, 34, 34);
  --plasmic-token-app-bg-dark: var(--token-_wos1hXSjLbY);
  --token-5y4d7NaFjl0r: rgb(0, 0, 0);
  --plasmic-token-page-bg-dark: var(--token-5y4d7NaFjl0r);
  --token-x037-m55noce: rgb(113, 101, 101);
  --plasmic-token-header-dark: var(--token-x037-m55noce);
  --token-oCPc5AIJwtEa: rgb(230, 230, 230);
  --plasmic-token-border-gray-light: var(--token-oCPc5AIJwtEa);
  --token-d0xmvBfBUlz_: rgb(48, 48, 48);
  --plasmic-token-border-gray-light-dark: var(--token-d0xmvBfBUlz_);
  --token-DFwge94Hey3F: var(--token-aPMgnD4sVFAM);
  --plasmic-token-task-text: var(--token-DFwge94Hey3F);
  --token-gonRSCNFEy7u: rgb(234, 234, 234);
  --plasmic-token-task-text-dark: var(--token-gonRSCNFEy7u);
  --token-Tjd5zvqBokaV: rgb(230, 230, 230);
  --plasmic-token-task-text-dim: var(--token-Tjd5zvqBokaV);
  --token-64O07uLgKimi: rgb(79, 79, 79);
  --plasmic-token-task-text-dim-dark: var(--token-64O07uLgKimi);
  --token-NvjhYtqAYhiP: rgb(230, 230, 230);
  --plasmic-token-placeholder: var(--token-NvjhYtqAYhiP);
  --token-EmQk5DERlmjM: rgb(79, 79, 79);
  --plasmic-token-placeholder-dark: var(--token-EmQk5DERlmjM);
  --token-VmvIyNmCXbhh: var(--antd-marginLG);
  --plasmic-token-system-margin-lg: var(--token-VmvIyNmCXbhh);
  --token-tjteaUKFnUfH: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4: var(--token-tjteaUKFnUfH);
  --token-8irlKe4dtuKs: var(--antd-margin);
  --plasmic-token-system-margin-m: var(--token-8irlKe4dtuKs);
  --token-81l0SCMdhZN_: var(--antd-marginSM);
  --plasmic-token-system-margin-sm: var(--token-81l0SCMdhZN_);
  --token-8PISgdrHznbv: var(--antd-fontSizeHeading4);
  --plasmic-token-system-heading-4-2: var(--token-8PISgdrHznbv);
  --token-P3rKN-lxH5a0: var(--antd-marginSM);
  --plasmic-token-system-margin-sm-2: var(--token-P3rKN-lxH5a0);
  --token-zBqorBrdaMNr: var(--antd-fontSize);
  --plasmic-token-system-m: var(--token-zBqorBrdaMNr);
  --token-2xQ-Ews6Hwx4: var(--antd-fontSizeHeading5);
  --plasmic-token-system-heading-5: var(--token-2xQ-Ews6Hwx4);
  --token-7WXNdURMr8wH: var(--antd-fontSizeSM);
  --plasmic-token-system-sm: var(--token-7WXNdURMr8wH);
  --token-HgOK3Qz1NWYR: var(--antd-fontSizeSM);
  --plasmic-token-system-sm-2: var(--token-HgOK3Qz1NWYR);
  --token-55cSeNPovQFh: #7444bc;
  --plasmic-token-purple: var(--token-55cSeNPovQFh);
  --token-_Tqr-iwbEpLO: #8254c61a;
  --plasmic-token-light-purple: var(--token-_Tqr-iwbEpLO);
  --token-G-IZ_XhVdlqp: #00c371;
  --plasmic-token-green: var(--token-G-IZ_XhVdlqp);
  --token-4RAe7M2gInqR: #eb464a;
  --plasmic-token-red: var(--token-4RAe7M2gInqR);
  --token-Pgu9NqBtA3c7: #91654c;
  --plasmic-token-aaa: var(--token-Pgu9NqBtA3c7);
  --token-w7oYmzqeGvkw: #212121;
  --plasmic-token-back-card-dark: var(--token-w7oYmzqeGvkw);
  --token-sN1yASr7oAvM: #fffbff;
  --plasmic-token-surface: var(--token-sN1yASr7oAvM);
  --token-SX03PBUzWAqr: #8254c6;
  --plasmic-token-primary: var(--token-SX03PBUzWAqr);
  --token-RfhqiwT2YAVo: #f8edff;
  --plasmic-token-serface: var(--token-RfhqiwT2YAVo);
  --token-BIuTS8zmWD0f: #8f8f8f;
  --plasmic-token-hint: var(--token-BIuTS8zmWD0f);
  --token-kjnzcds1FoVY: #1d1b1e;
  --plasmic-token-title: var(--token-kjnzcds1FoVY);
  --token-oauBtmzr8uOQ: 1.125rem;
  --plasmic-token-large: var(--token-oauBtmzr8uOQ);
  --token-B5WvIYiqPJW-: 1rem;
  --plasmic-token-4: var(--token-B5WvIYiqPJW-);
  --token-uOLZE7OyOW-J: 0.75rem;
  --plasmic-token-3: var(--token-uOLZE7OyOW-J);
  --token-Wa5tmrNKVUYF: 1rem;
  --plasmic-token-base: var(--token-Wa5tmrNKVUYF);
  --token-g4c3GPshSjp1: #2b2f33;
  --plasmic-token-dark: var(--token-g4c3GPshSjp1);
  --token-ZvaN7zB_BbvY: 0.5rem;
  --plasmic-token-size-8: var(--token-ZvaN7zB_BbvY);
  --token-ODBUExjR6VEF: #030712;
  --plasmic-token-basic-text-primary: var(--token-ODBUExjR6VEF);
  --token-2lDfJHYaD05G: Inter;
  --plasmic-token-sans-serif: var(--token-2lDfJHYaD05G);
  --token-LMEbRDTg0Iix: 1rem;
  --plasmic-token-font-md: var(--token-LMEbRDTg0Iix);
  --token-MZ4KWwVSoShs: 1.25;
  --plasmic-token-line-height-md: var(--token-MZ4KWwVSoShs);
  --token-i_KeTXgXb5hw: 1.25rem;
  --plasmic-token-size-20: var(--token-i_KeTXgXb5hw);
  --token-LNIzKl5AGPPT: #9ca3af;
  --plasmic-token-basic-ring: var(--token-LNIzKl5AGPPT);
  --token-0xHMxyAHbOos: #2563eb;
  --plasmic-token-brand-brand: var(--token-0xHMxyAHbOos);
  --token-3VFsPoJwdkXP: 0.375rem;
  --plasmic-token-size-6: var(--token-3VFsPoJwdkXP);
  --token-ZuffvoxgS-gS: 0.875rem;
  --plasmic-token-small: var(--token-ZuffvoxgS-gS);
  --token-R_Rsn0nP9oIv: #ffffff;
  --plasmic-token-basic-container-background: var(--token-R_Rsn0nP9oIv);
  --token-zSh3nOEaBBWl: 1rem;
  --plasmic-token-size-16: var(--token-zSh3nOEaBBWl);
  --token--AiIiH6B786R: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token--AiIiH6B786R);
  --token-0yRlsfoDOnrZ: 1.5rem;
  --plasmic-token-size-24: var(--token-0yRlsfoDOnrZ);
  --token-IGCvYUvm1NWs: 0.75rem;
  --plasmic-token-size-12: var(--token-IGCvYUvm1NWs);
  --token-bQEloS1hWiDI: #374151;
  --plasmic-token-neutral-neutral: var(--token-bQEloS1hWiDI);
  --token-IdKt2w2aRFZS: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-IdKt2w2aRFZS);
  --token-Cs_o7G0XBXp9: #6b7280;
  --plasmic-token-muted-muted: var(--token-Cs_o7G0XBXp9);
  --token-F1vFjKNmAS8s: 0.25rem;
  --plasmic-token-size-4: var(--token-F1vFjKNmAS8s);
  --token-moKolTKrMXup: 0.75rem;
  --plasmic-token-font-sm: var(--token-moKolTKrMXup);
  --token-WxQxCrq-CTVf: 1;
  --plasmic-token-line-height-sm: var(--token-WxQxCrq-CTVf);
  --token-cunRwTCjQp3O: 1.25rem;
  --plasmic-token-font-lg: var(--token-cunRwTCjQp3O);
  --token-ptaGdVRCD4vt: 1.4;
  --plasmic-token-line-height-lg: var(--token-ptaGdVRCD4vt);
  --token-VjHVHKRQhLFo: 0.125rem;
  --plasmic-token-size-2: var(--token-VjHVHKRQhLFo);
  --token-mjj-ONNCZx4S: #16a34a;
  --plasmic-token-success-success: var(--token-mjj-ONNCZx4S);
  --token-bZhLbadoELTb: #facc15;
  --plasmic-token-warning-warning: var(--token-bZhLbadoELTb);
  --token-WlOzlXUQG5Z-: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-WlOzlXUQG5Z-);
  --token-dHZ9HKse8qLM: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-dHZ9HKse8qLM);
  --token-tSCEojfAiHXN: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-tSCEojfAiHXN);
  --token-Gne_lZD4DyXd: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-Gne_lZD4DyXd);
  --token-rz0Www87A_DW: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-rz0Www87A_DW);
  --token-OcmIk9oDogWZ: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-OcmIk9oDogWZ);
  --token-3dazbAYR1ZtY: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-3dazbAYR1ZtY);
  --token-MXQJ7FMDrox6: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-MXQJ7FMDrox6);
  --token-rGxK1TpZE_rW: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-rGxK1TpZE_rW);
  --token-IHTDqyAjm0W1: #86efac;
  --plasmic-token-success-success-border: var(--token-IHTDqyAjm0W1);
  --token-NpCTZzcPWAzt: #fde047;
  --plasmic-token-warning-warning-border: var(--token-NpCTZzcPWAzt);
  --token-qdG4xMYo9nNo: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-qdG4xMYo9nNo);
  --token-Hk2bXGFNiuQX: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-Hk2bXGFNiuQX);
  --token-dwAjeO8F2RLo: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-dwAjeO8F2RLo);
  --token-7kGpohB21SKn: #00000033;
  --plasmic-token-interaction-pressed: var(--token-7kGpohB21SKn);
  --token-cZA5sZsrFzOz: 0.625rem;
  --plasmic-token-size-10: var(--token-cZA5sZsrFzOz);
  --token-hBbVVSmAB0oc: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-hBbVVSmAB0oc);
  --token-UJjVC8bVZisx: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-UJjVC8bVZisx);
  --token-ux_iYB4XYqQ0: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-ux_iYB4XYqQ0);
  --token-7fkkqjqo9aea: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-7fkkqjqo9aea);
  --token-QNU32zUTO31z: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-QNU32zUTO31z);
  --token-wanfdaz51TKl: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-wanfdaz51TKl);
  --token-a_KTy2aVqqMR: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-a_KTy2aVqqMR);
  --token-H4v6ikjh82qk: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-H4v6ikjh82qk);
  --token-ANZoaQ584ilJ: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-ANZoaQ584ilJ);
  --token-9ZLfeYvkiwTC: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-9ZLfeYvkiwTC);
  --token-u4fYwhaU4wrg: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-u4fYwhaU4wrg);
  --token-IOGUNMetjA3U: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-IOGUNMetjA3U
  );
  --token-fn6i10-y5r1L: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-fn6i10-y5r1L);
}

@media (max-width: 640px) {
  .plasmic_tokens {
    --token-G-IZ_XhVdlqp: #00af65;
    --plasmic-token-green: var(--token-G-IZ_XhVdlqp);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-WzkLzR3lM3YC_font-family: "Roboto", sans-serif;
  --mixin-WzkLzR3lM3YC_font-size: 14px;
  --mixin-WzkLzR3lM3YC_font-weight: normal;
  --mixin-WzkLzR3lM3YC_font-style: normal;
  --mixin-WzkLzR3lM3YC_color: #535353;
  --mixin-WzkLzR3lM3YC_text-align: left;
  --mixin-WzkLzR3lM3YC_text-transform: none;
  --mixin-WzkLzR3lM3YC_line-height: 1.5;
  --mixin-WzkLzR3lM3YC_letter-spacing: normal;
  --mixin-WzkLzR3lM3YC_white-space: pre-wrap;
  --mixin-5IShjEuhRZeZ_font-family: "Inter", sans-serif;
  --mixin-5IShjEuhRZeZ_color: #000000;
  --mixin-5IShjEuhRZeZ_font-size: 72px;
  --mixin-5IShjEuhRZeZ_font-weight: 900;
  --mixin-5IShjEuhRZeZ_letter-spacing: -4px;
  --mixin-5IShjEuhRZeZ_line-height: 1;
  --mixin-5IShjEuhRZeZ_white-space: pre-wrap;
  --mixin-IYgKuHv-ZgcV_font-family: "Inter", sans-serif;
  --mixin-IYgKuHv-ZgcV_color: #000000;
  --mixin-IYgKuHv-ZgcV_font-size: 48px;
  --mixin-IYgKuHv-ZgcV_font-weight: 700;
  --mixin-IYgKuHv-ZgcV_letter-spacing: -1px;
  --mixin-IYgKuHv-ZgcV_line-height: 1.1;
  --mixin-IYgKuHv-ZgcV_white-space: pre-wrap;
  --mixin-uiKgPFbvj-vu_font-family: "Inter", sans-serif;
  --mixin-uiKgPFbvj-vu_color: #000000;
  --mixin-uiKgPFbvj-vu_font-size: 32px;
  --mixin-uiKgPFbvj-vu_font-weight: 600;
  --mixin-uiKgPFbvj-vu_letter-spacing: -0.8px;
  --mixin-uiKgPFbvj-vu_line-height: 1.2;
  --mixin-uiKgPFbvj-vu_white-space: pre-wrap;
  --mixin-yj2YC6-Fyhcg_font-family: "Inter", sans-serif;
  --mixin-yj2YC6-Fyhcg_color: #000000;
  --mixin-yj2YC6-Fyhcg_font-size: 24px;
  --mixin-yj2YC6-Fyhcg_font-weight: 600;
  --mixin-yj2YC6-Fyhcg_letter-spacing: -0.5px;
  --mixin-yj2YC6-Fyhcg_line-height: 1.3;
  --mixin-yj2YC6-Fyhcg_white-space: pre-wrap;
  --mixin-zPn8YLU-Z5S5_font-family: "Inter", sans-serif;
  --mixin-zPn8YLU-Z5S5_color: #000000;
  --mixin-zPn8YLU-Z5S5_font-size: 20px;
  --mixin-zPn8YLU-Z5S5_font-weight: 600;
  --mixin-zPn8YLU-Z5S5_letter-spacing: -0.3px;
  --mixin-zPn8YLU-Z5S5_line-height: 1.5;
  --mixin-zPn8YLU-Z5S5_white-space: pre-wrap;
  --mixin-Rgr6TUAkH1V9_font-family: "Inter", sans-serif;
  --mixin-Rgr6TUAkH1V9_color: #000000;
  --mixin-Rgr6TUAkH1V9_font-size: 16px;
  --mixin-Rgr6TUAkH1V9_font-weight: 600;
  --mixin-Rgr6TUAkH1V9_line-height: 1.5;
  --mixin-Rgr6TUAkH1V9_white-space: pre-wrap;
  --mixin-sUjvS1HSill3_color: #0070f3;
  --mixin-sUjvS1HSill3_white-space: pre-wrap;
  --mixin-owzqPnVWe-yn_color: #3291ff;
  --mixin-owzqPnVWe-yn_white-space: pre-wrap;
  --mixin-ZYRoICthJ5b9_border-left-color: #dddddd;
  --mixin-ZYRoICthJ5b9_border-left-style: solid;
  --mixin-ZYRoICthJ5b9_border-left-width: 3px;
  --mixin-ZYRoICthJ5b9_color: #888888;
  --mixin-ZYRoICthJ5b9_padding-left: 10px;
  --mixin-ZYRoICthJ5b9_white-space: pre-wrap;
  --mixin-kTBEzZFqY02y_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-kTBEzZFqY02y_border-bottom-color: #dddddd;
  --mixin-kTBEzZFqY02y_border-bottom-style: solid;
  --mixin-kTBEzZFqY02y_border-bottom-width: 1px;
  --mixin-kTBEzZFqY02y_border-left-color: #dddddd;
  --mixin-kTBEzZFqY02y_border-left-style: solid;
  --mixin-kTBEzZFqY02y_border-left-width: 1px;
  --mixin-kTBEzZFqY02y_border-right-color: #dddddd;
  --mixin-kTBEzZFqY02y_border-right-style: solid;
  --mixin-kTBEzZFqY02y_border-right-width: 1px;
  --mixin-kTBEzZFqY02y_border-top-color: #dddddd;
  --mixin-kTBEzZFqY02y_border-top-style: solid;
  --mixin-kTBEzZFqY02y_border-top-width: 1px;
  --mixin-kTBEzZFqY02y_border-bottom-left-radius: 3px;
  --mixin-kTBEzZFqY02y_border-bottom-right-radius: 3px;
  --mixin-kTBEzZFqY02y_border-top-left-radius: 3px;
  --mixin-kTBEzZFqY02y_border-top-right-radius: 3px;
  --mixin-kTBEzZFqY02y_font-family: "Inconsolata";
  --mixin-kTBEzZFqY02y_padding-bottom: 1px;
  --mixin-kTBEzZFqY02y_padding-left: 4px;
  --mixin-kTBEzZFqY02y_padding-right: 4px;
  --mixin-kTBEzZFqY02y_padding-top: 1px;
  --mixin-kTBEzZFqY02y_white-space: pre-wrap;
  --mixin-Jvn2xtjJ4Qsj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Jvn2xtjJ4Qsj_border-bottom-color: #dddddd;
  --mixin-Jvn2xtjJ4Qsj_border-bottom-style: solid;
  --mixin-Jvn2xtjJ4Qsj_border-bottom-width: 1px;
  --mixin-Jvn2xtjJ4Qsj_border-left-color: #dddddd;
  --mixin-Jvn2xtjJ4Qsj_border-left-style: solid;
  --mixin-Jvn2xtjJ4Qsj_border-left-width: 1px;
  --mixin-Jvn2xtjJ4Qsj_border-right-color: #dddddd;
  --mixin-Jvn2xtjJ4Qsj_border-right-style: solid;
  --mixin-Jvn2xtjJ4Qsj_border-right-width: 1px;
  --mixin-Jvn2xtjJ4Qsj_border-top-color: #dddddd;
  --mixin-Jvn2xtjJ4Qsj_border-top-style: solid;
  --mixin-Jvn2xtjJ4Qsj_border-top-width: 1px;
  --mixin-Jvn2xtjJ4Qsj_border-bottom-left-radius: 3px;
  --mixin-Jvn2xtjJ4Qsj_border-bottom-right-radius: 3px;
  --mixin-Jvn2xtjJ4Qsj_border-top-left-radius: 3px;
  --mixin-Jvn2xtjJ4Qsj_border-top-right-radius: 3px;
  --mixin-Jvn2xtjJ4Qsj_font-family: "Inconsolata";
  --mixin-Jvn2xtjJ4Qsj_padding-bottom: 3px;
  --mixin-Jvn2xtjJ4Qsj_padding-left: 6px;
  --mixin-Jvn2xtjJ4Qsj_padding-right: 6px;
  --mixin-Jvn2xtjJ4Qsj_padding-top: 3px;
  --mixin-Jvn2xtjJ4Qsj_white-space: pre-wrap;
  --mixin-hX1lTnDPbnYQ_display: flex;
  --mixin-hX1lTnDPbnYQ_flex-direction: column;
  --mixin-hX1lTnDPbnYQ_align-items: stretch;
  --mixin-hX1lTnDPbnYQ_justify-content: flex-start;
  --mixin-hX1lTnDPbnYQ_list-style-position: outside;
  --mixin-hX1lTnDPbnYQ_padding-left: 40px;
  --mixin-hX1lTnDPbnYQ_position: relative;
  --mixin-hX1lTnDPbnYQ_list-style-type: decimal;
  --mixin-hX1lTnDPbnYQ_white-space: pre-wrap;
  --mixin-2MrC-1JtaXzq_display: flex;
  --mixin-2MrC-1JtaXzq_flex-direction: column;
  --mixin-2MrC-1JtaXzq_align-items: stretch;
  --mixin-2MrC-1JtaXzq_justify-content: flex-start;
  --mixin-2MrC-1JtaXzq_list-style-position: outside;
  --mixin-2MrC-1JtaXzq_padding-left: 40px;
  --mixin-2MrC-1JtaXzq_position: relative;
  --mixin-2MrC-1JtaXzq_list-style-type: disc;
  --mixin-2MrC-1JtaXzq_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-T7cKHaMQlWhs_box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-T7cKHaMQlWhs_box-shadow);
  --mixin-T7cKHaMQlWhs_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-T7cKHaMQlWhs_white-space
  );
  --mixin-qgTn7WDgeHjo_box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.1);
  --plasmic-mixin-app-shadow_box-shadow: var(--mixin-qgTn7WDgeHjo_box-shadow);
  --mixin-qgTn7WDgeHjo_white-space: pre-wrap;
  --plasmic-mixin-app-shadow_white-space: var(--mixin-qgTn7WDgeHjo_white-space);
  --mixin-qya-RxgKxkym_box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.5);
  --plasmic-mixin-card-shadow-dark_box-shadow: var(
    --mixin-qya-RxgKxkym_box-shadow
  );
  --mixin-qya-RxgKxkym_white-space: pre-wrap;
  --plasmic-mixin-card-shadow-dark_white-space: var(
    --mixin-qya-RxgKxkym_white-space
  );
  --mixin-koCy18GUxpGV_box-shadow: 0px 25px 50px 0px rgba(255, 255, 255, 0.3);
  --plasmic-mixin-app-shadow-dark_box-shadow: var(
    --mixin-koCy18GUxpGV_box-shadow
  );
  --mixin-koCy18GUxpGV_white-space: pre-wrap;
  --plasmic-mixin-app-shadow-dark_white-space: var(
    --mixin-koCy18GUxpGV_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-WzkLzR3lM3YC_font-family);
  font-size: var(--mixin-WzkLzR3lM3YC_font-size);
  font-weight: var(--mixin-WzkLzR3lM3YC_font-weight);
  font-style: var(--mixin-WzkLzR3lM3YC_font-style);
  color: var(--mixin-WzkLzR3lM3YC_color);
  text-align: var(--mixin-WzkLzR3lM3YC_text-align);
  text-transform: var(--mixin-WzkLzR3lM3YC_text-transform);
  line-height: var(--mixin-WzkLzR3lM3YC_line-height);
  letter-spacing: var(--mixin-WzkLzR3lM3YC_letter-spacing);
  white-space: var(--mixin-WzkLzR3lM3YC_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-5IShjEuhRZeZ_font-family);
  color: var(--mixin-5IShjEuhRZeZ_color);
  font-size: var(--mixin-5IShjEuhRZeZ_font-size);
  font-weight: var(--mixin-5IShjEuhRZeZ_font-weight);
  letter-spacing: var(--mixin-5IShjEuhRZeZ_letter-spacing);
  line-height: var(--mixin-5IShjEuhRZeZ_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-IYgKuHv-ZgcV_font-family);
  color: var(--mixin-IYgKuHv-ZgcV_color);
  font-size: var(--mixin-IYgKuHv-ZgcV_font-size);
  font-weight: var(--mixin-IYgKuHv-ZgcV_font-weight);
  letter-spacing: var(--mixin-IYgKuHv-ZgcV_letter-spacing);
  line-height: var(--mixin-IYgKuHv-ZgcV_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-uiKgPFbvj-vu_font-family);
  color: var(--mixin-uiKgPFbvj-vu_color);
  font-size: var(--mixin-uiKgPFbvj-vu_font-size);
  font-weight: var(--mixin-uiKgPFbvj-vu_font-weight);
  letter-spacing: var(--mixin-uiKgPFbvj-vu_letter-spacing);
  line-height: var(--mixin-uiKgPFbvj-vu_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-yj2YC6-Fyhcg_font-family);
  color: var(--mixin-yj2YC6-Fyhcg_color);
  font-size: var(--mixin-yj2YC6-Fyhcg_font-size);
  font-weight: var(--mixin-yj2YC6-Fyhcg_font-weight);
  letter-spacing: var(--mixin-yj2YC6-Fyhcg_letter-spacing);
  line-height: var(--mixin-yj2YC6-Fyhcg_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-zPn8YLU-Z5S5_font-family);
  color: var(--mixin-zPn8YLU-Z5S5_color);
  font-size: var(--mixin-zPn8YLU-Z5S5_font-size);
  font-weight: var(--mixin-zPn8YLU-Z5S5_font-weight);
  letter-spacing: var(--mixin-zPn8YLU-Z5S5_letter-spacing);
  line-height: var(--mixin-zPn8YLU-Z5S5_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-Rgr6TUAkH1V9_font-family);
  color: var(--mixin-Rgr6TUAkH1V9_color);
  font-size: var(--mixin-Rgr6TUAkH1V9_font-size);
  font-weight: var(--mixin-Rgr6TUAkH1V9_font-weight);
  line-height: var(--mixin-Rgr6TUAkH1V9_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-sUjvS1HSill3_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-owzqPnVWe-yn_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-ZYRoICthJ5b9_color);
  padding-left: var(--mixin-ZYRoICthJ5b9_padding-left);
  border-left: var(--mixin-ZYRoICthJ5b9_border-left-width)
    var(--mixin-ZYRoICthJ5b9_border-left-style)
    var(--mixin-ZYRoICthJ5b9_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-kTBEzZFqY02y_font-family);
  border-radius: var(--mixin-kTBEzZFqY02y_border-top-left-radius)
    var(--mixin-kTBEzZFqY02y_border-top-right-radius)
    var(--mixin-kTBEzZFqY02y_border-bottom-right-radius)
    var(--mixin-kTBEzZFqY02y_border-bottom-left-radius);
  padding: var(--mixin-kTBEzZFqY02y_padding-top)
    var(--mixin-kTBEzZFqY02y_padding-right)
    var(--mixin-kTBEzZFqY02y_padding-bottom)
    var(--mixin-kTBEzZFqY02y_padding-left);
  border-top: var(--mixin-kTBEzZFqY02y_border-top-width)
    var(--mixin-kTBEzZFqY02y_border-top-style)
    var(--mixin-kTBEzZFqY02y_border-top-color);
  border-right: var(--mixin-kTBEzZFqY02y_border-right-width)
    var(--mixin-kTBEzZFqY02y_border-right-style)
    var(--mixin-kTBEzZFqY02y_border-right-color);
  border-bottom: var(--mixin-kTBEzZFqY02y_border-bottom-width)
    var(--mixin-kTBEzZFqY02y_border-bottom-style)
    var(--mixin-kTBEzZFqY02y_border-bottom-color);
  border-left: var(--mixin-kTBEzZFqY02y_border-left-width)
    var(--mixin-kTBEzZFqY02y_border-left-style)
    var(--mixin-kTBEzZFqY02y_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Jvn2xtjJ4Qsj_font-family);
  border-radius: var(--mixin-Jvn2xtjJ4Qsj_border-top-left-radius)
    var(--mixin-Jvn2xtjJ4Qsj_border-top-right-radius)
    var(--mixin-Jvn2xtjJ4Qsj_border-bottom-right-radius)
    var(--mixin-Jvn2xtjJ4Qsj_border-bottom-left-radius);
  padding: var(--mixin-Jvn2xtjJ4Qsj_padding-top)
    var(--mixin-Jvn2xtjJ4Qsj_padding-right)
    var(--mixin-Jvn2xtjJ4Qsj_padding-bottom)
    var(--mixin-Jvn2xtjJ4Qsj_padding-left);
  border-top: var(--mixin-Jvn2xtjJ4Qsj_border-top-width)
    var(--mixin-Jvn2xtjJ4Qsj_border-top-style)
    var(--mixin-Jvn2xtjJ4Qsj_border-top-color);
  border-right: var(--mixin-Jvn2xtjJ4Qsj_border-right-width)
    var(--mixin-Jvn2xtjJ4Qsj_border-right-style)
    var(--mixin-Jvn2xtjJ4Qsj_border-right-color);
  border-bottom: var(--mixin-Jvn2xtjJ4Qsj_border-bottom-width)
    var(--mixin-Jvn2xtjJ4Qsj_border-bottom-style)
    var(--mixin-Jvn2xtjJ4Qsj_border-bottom-color);
  border-left: var(--mixin-Jvn2xtjJ4Qsj_border-left-width)
    var(--mixin-Jvn2xtjJ4Qsj_border-left-style)
    var(--mixin-Jvn2xtjJ4Qsj_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-hX1lTnDPbnYQ_display);
  flex-direction: var(--mixin-hX1lTnDPbnYQ_flex-direction);
  align-items: var(--mixin-hX1lTnDPbnYQ_align-items);
  justify-content: var(--mixin-hX1lTnDPbnYQ_justify-content);
  list-style-position: var(--mixin-hX1lTnDPbnYQ_list-style-position);
  padding-left: var(--mixin-hX1lTnDPbnYQ_padding-left);
  position: var(--mixin-hX1lTnDPbnYQ_position);
  list-style-type: var(--mixin-hX1lTnDPbnYQ_list-style-type);
  flex-column-gap: var(--mixin-hX1lTnDPbnYQ_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-2MrC-1JtaXzq_display);
  flex-direction: var(--mixin-2MrC-1JtaXzq_flex-direction);
  align-items: var(--mixin-2MrC-1JtaXzq_align-items);
  justify-content: var(--mixin-2MrC-1JtaXzq_justify-content);
  list-style-position: var(--mixin-2MrC-1JtaXzq_list-style-position);
  padding-left: var(--mixin-2MrC-1JtaXzq_padding-left);
  position: var(--mixin-2MrC-1JtaXzq_position);
  list-style-type: var(--mixin-2MrC-1JtaXzq_list-style-type);
  flex-column-gap: var(--mixin-2MrC-1JtaXzq_flex-column-gap);
}
